﻿@using EMRRSCB.Models
@model EMRPersetujuanPindahKelasViewModel
@{
    var controllerName = "EMRPersetujuanPindahKelas";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @*@Html.HiddenFor(model => model.TTD_Menyatakan)
            @Html.HiddenFor(model => model.TTD_Saksi1)
            @Html.HiddenFor(model => model.TTD_Saksi2)*@

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Saya, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaUmur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaAlamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaAlamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Sebagai keluarga penanggung jawab dari pasien yang ada :</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.PenanggungJawab, StaticModel.SelectListPenanggungHubungan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">NRM</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Saya, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Saya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaUmur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaUmur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaAlamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaAlamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tanggal MRS</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TglMRS, new { htmlAttributes = new { @class = "form-control", Value = (Model.TglMRS != null ? (Model.TglMRS.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TglMRS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kelas</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Kelas, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Kelas, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Atas permintaan pasien/ penanggung jawab dan setelah diberi penjelasan tentang biaya pindah kelas baru, saya setuju pasien tersebut mulai</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tanggal</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TglMulai, new { htmlAttributes = new { @class = "form-control", Value = (Model.TglMulai != null ? (Model.TglMulai.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TglMulai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Jam</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.JamMulai, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamMulai != null ? Model.JamMulai.Value.ToString("HH:mm") : DateTime.Now.ToString("HH:mm")) : DateTime.Now.ToString("HH:mm")) } })
                        @Html.ValidationMessageFor(model => model.JamMulai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pindah Kelas</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KelasPindah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KelasPindah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Menyatakan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Menyatakan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Menyatakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Perawat
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Perawat, Model.Perawat == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Perawat.ToString(), Text = Model.PerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Perawat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Saksi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Saksi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saksi, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
            <label class="col-md-2 control-label">
                Yang Menyatakan
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Menyatakan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Menyatakan, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary pull-right btn-sm @(Model.TTD_Menyatakan != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Saksi 1
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Saksi1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Saksi1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary pull-right btn-sm @(Model.TTD_Saksi1 != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Saksi 2
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Saksi2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Saksi2, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary pull-right btn-sm @(Model.TTD_Saksi2 != null ? "btn-flash" : "")" onclick="clickgambar3()">Tanda Tangan</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                <div class="col-md-12" style="position:inherit">
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-12 text-center">
                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_Menyatakan)" name="IMG_@nameof(Model.TTD_Menyatakan)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_Saksi1)" name="IMG_@nameof(Model.TTD_Saksi1)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_Saksi2)" name="IMG_@nameof(Model.TTD_Saksi2)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>

    //function clickgambar1() {
    //    $('#IMG_TTD_Menyatakan').click()
    //}

    //function clickgambar2() {
    //    $('#IMG_TTD_Saksi1').click()
    //}

    //function clickgambar3() {
    //    $('#IMG_TTD_Saksi2').click()
    //}

    generalDokter("#@formName #Perawat");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    @*var iGambar1;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTD_Menyatakan)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTD_Saksi1)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTD_Saksi2)');

    @if (Model != null)
    {
        if (Model.TTD_Menyatakan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Menyatakan)');
        }
        if (Model.TTD_Saksi1 != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi1)');
        }
        if (Model.TTD_Saksi2 != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi2)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTD_Menyatakan)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTD_Menyatakan');
            iGambar2.convert_V2('TTD_Saksi1');
            iGambar3.convert_V2('TTD_Saksi2');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }*@
</script>


