﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMRMEWS";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Obat
    var d_tbl_MEWS = $"frm_table_detailMEWS";
    int d_idx_MEWS = 0;
    var d_trg_MEWS = $"input_target_detailMEWS";
    if (Model != null)
    {

        if (Model.EMRMEWS_List != null)
        {
            d_idx_MEWS = Model.EMRMEWS_List.Count();
        }
    }
    #endregion
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_MEWS thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_MEWS thead th:nth-child(1),
    #@d_tbl_MEWS tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_MEWS thead th:nth-child(2),
    #@d_tbl_MEWS tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_MEWS thead th:nth-child(3),
    #@d_tbl_MEWS tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_MEWS thead th:nth-child(4),
    #@d_tbl_MEWS tbody td:nth-child(4) {
       display: none;
    }

    #@d_tbl_MEWS thead th:nth-child(5),
    #@d_tbl_MEWS tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_MEWS thead th:nth-child(6),
    #@d_tbl_MEWS tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_MEWS thead th:nth-child(7),
    #@d_tbl_MEWS tbody td:nth-child(7) {
        width: 296px;
    }

    #@d_tbl_MEWS thead th:nth-child(8),
    #@d_tbl_MEWS tbody td:nth-child(8) {
        width: 303px;
    }

    #@d_tbl_MEWS thead th:nth-child(9),
    #@d_tbl_MEWS tbody td:nth-child(9) {
        width: 303px;
    }

    #@d_tbl_MEWS thead th:nth-child(10),
    #@d_tbl_MEWS tbody td:nth-child(10) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEWS thead th:nth-child(11),
    #@d_tbl_MEWS tbody td:nth-child(11) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEWS thead th:nth-child(12),
    #@d_tbl_MEWS tbody td:nth-child(12) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEWS thead th:nth-child(13),
    #@d_tbl_MEWS tbody td:nth-child(13) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_MEWS thead th:nth-child(14),
    #@d_tbl_MEWS tbody td:nth-child(14) {
        text-align: center;
        width: 300px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailmews" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_MEWS">
                        <div class="table-responsive">
                            <table id="@d_tbl_MEWS" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_MEWS')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Jam</th>
                                        <th>Kesadaran</th>
                                        <th>Pernafasan</th>
                                        <th>
                                            Saturasi Oksigen(%)
                                            Dengan Oksigen(lpm)
                                        </th>
                                        <th>Tekanan Darah Sistolik</th>
                                        <th>Heart Rate</th>
                                        <th>Suhu Axilla</th>
                                        <th>Total Skor</th>
                                        <th>Paraf & Nama</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRMEWS_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRMEWS_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRMEWS_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRMEWS_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRMEWS_List[i].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model != null ? (Model.EMRMEWS_List[i].Model.Tanggal != null ? Model.EMRMEWS_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "") } })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRMEWS_List[i].Model.Jam, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model != null ? (Model.EMRMEWS_List[i].Model.Jam != null ? Model.EMRMEWS_List[i].Model.Jam.Value.ToString("HH:mm") : "") : "") } })
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var kesadaran = StaticModel.ListKesadaranMEWS;
                                                                    var item_1 = Model.EMRMEWS_List[i].Model.KesadaranHasil;
                                                                    if (item_1 != null)
                                                                    {
                                                                        kesadaran.FirstOrDefault(x => x.Value == Model.EMRMEWS_List[i].Model.KesadaranHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEWS_List[i].Model.KesadaranHasil, kesadaran, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEWS_List[i].Model.KesadaranSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>

                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var pernafasan = StaticModel.ListPernapasanMEWS;
                                                                    var item_2 = Model.EMRMEWS_List[i].Model.PernapasanHasil;
                                                                    if (item_2 != null)
                                                                    {
                                                                        pernafasan.FirstOrDefault(x => x.Value == Model.EMRMEWS_List[i].Model.PernapasanHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEWS_List[i].Model.PernapasanHasil,
                                                                pernafasan, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEWS_List[i].Model.PernapasanSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var saturasi1 = StaticModel.ListSaturasiMEWS;
                                                                    var item_3 = Model.EMRMEWS_List[i].Model.SaturasiOksigenHasil_1;
                                                                    if (item_3 != null)
                                                                    {
                                                                        saturasi1.FirstOrDefault(x => x.Value == Model.EMRMEWS_List[i].Model.SaturasiOksigenHasil_1).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEWS_List[i].Model.SaturasiOksigenHasil_1,
                                                                saturasi1, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEWS_List[i].Model.SaturasiOksigenSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEWS_List[i].Model.SaturasiOksigenHasil_2, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>

                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var tekanandarah = StaticModel.ListTekananDarahMEWS;
                                                                    var item_4 = Model.EMRMEWS_List[i].Model.TekananDarahHasil;
                                                                    if (item_4 != null)
                                                                    {
                                                                        tekanandarah.FirstOrDefault(x => x.Value == Model.EMRMEWS_List[i].Model.TekananDarahHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEWS_List[i].Model.TekananDarahHasil,
                                                                tekanandarah, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEWS_List[i].Model.TekananDarahSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var denyutjantung = StaticModel.ListDenyutJantungMEWS;
                                                                    var item_5 = Model.EMRMEWS_List[i].Model.HeartRateHasil;
                                                                    if (item_5 != null)
                                                                    {
                                                                        denyutjantung.FirstOrDefault(x => x.Value == Model.EMRMEWS_List[i].Model.HeartRateHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEWS_List[i].Model.HeartRateHasil,
                                                                denyutjantung, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEWS_List[i].Model.HeartRateSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var suhuaxilla = StaticModel.ListSuhuAxillaMEWS;
                                                                    var item_6 = Model.EMRMEWS_List[i].Model.SuhuAxillaHasil;
                                                                    if (item_6 != null)
                                                                    {
                                                                        suhuaxilla.FirstOrDefault(x => x.Value == Model.EMRMEWS_List[i].Model.SuhuAxillaHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEWS_List[i].Model.SuhuAxillaHasil,
                                                                   suhuaxilla, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEWS_List[i].Model.SuhuAxillaSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>

                                                        @Html.EditorFor(model => model.EMRMEWS_List[i].Model.TotalSkor, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"

                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-9">
                                                                @{
                                                                    var _lstObat = new List<SelectListItem>();
                                                                    if (Model.EMRMEWS_List[i].Model != null)
                                                                    {
                                                                        if (Model.EMRMEWS_List[i].Model.Paraf != null)
                                                                        {
                                                                            _lstObat.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.EMRMEWS_List[i].Model.Paraf,
                                                                                Text = Model.EMRMEWS_List[i].Model.ParafNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEWS_List[i].Model.Paraf, _lstObat, new { @class = "form-control input-sm" })
                                                            </div>
                                                            <div class="col-md-3">
                                                                @Html.HiddenFor(model => model.EMRMEWS_List[i].Model.Verifikasi)
                                                                @if (Model.EMRMEWS_List[i].Model.Verifikasi == false)
                                                                {
                                                                    <a class="btn btn-success" onclick="verifikasi('EMRMEWS_List_@(i)__Model_Paraf','EMRMEWS_List_@(i)__Model_Verifikasi')"><i class="icon-checkmark"></i></a>
                                                                }
                                                                else { 
                                                                    <a class="btn btn-success btn-flash" onclick="verifikasi('EMRMEWS_List_@(i)__Model_Paraf','EMRMEWS_List_@(i)__Model_Verifikasi')"><i class="icon-checkmark"></i></a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

        @if (Model != null)
        {
            if (Model.EMRMEWS_List != null)
            {
                for (var i = 0; i < Model.EMRMEWS_List.Count; i++)
                {
                    @:customrowdetailMEWS_Detail(@i, { target: $('#d_tbl_MEWS thead a i')[0] }, '#panel_detailmews', false);
                    @:customrowdetailVerifikasi_Detail(@i, { target: $('#d_tbl_MEWS thead a i')[0] }, '#panel_detailmews', false);
                }

            }
        }


    function customrowdetailMEWS_Detail(index_detail, _this, inputtarget, autofocus) {
        var namaobat = '#panel_detailmews #EMRMEWS_List_' + index_detail +'__Model_Paraf';
        generalDokter(namaobat);
    }

    function customrowdetailVerifikasi_Detail(index_detail, _this, inputtarget, autofocus) {
        var idttd = 'IMG_EMRIntervensi_List_' + index_detail + '__Model_TandaTangan';
        $('#IMG_EMRIntervensi_List_' + index_detail + '__Model_TandaTangan').id = idttd;
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_MEWS') {
            customrowdetailMEWS_Detail(index_detail, _this, inputtarget, autofocus);
            customrowdetailVerifikasi_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>

<script>
    function pilihobat(_this) {
        var valselect = $(_this).text();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(8) textarea').val(valselect);
    }

    @if (Model.MODEVIEW == 1) {
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function totalskorMEWS(t) {
        var tr = $($(t).closest('tr'));
        console.log(tr);
        var kesadaran = tr.find('td:nth-child(7) option:selected').val() || 0;
        var pernafasan = tr.find('td:nth-child(8) option:selected').val() || 0;
        var saturasi = tr.find('td:nth-child(9) option:selected').val() || 0;
        var tekanandarah = tr.find('td:nth-child(10) option:selected').val() || 0;
        var tekananjantung = tr.find('td:nth-child(11) option:selected').val() || 0;
        var suhu = tr.find('td:nth-child(12) option:selected').val() || 0;
        var kesadaranskor = 0;
        var pernafasanskor = 0;
        var saturasiskor = 0;
        var tekanandarahskor = 0;
        var tekananjantungskor = 0;
        var kesadaranskor = 0;
        var suhuskor = 0;



        if (kesadaran == 'Alert') {
            kesadaranskor = 0;
            tr.find('td:nth-child(7) input').val(kesadaranskor);
        } else if (kesadaran == 'Verbal') {
            kesadaranskor = 1;
            tr.find('td:nth-child(7) input').val(kesadaranskor);
        } else if (kesadaran == 'Pain') {
            kesadaranskor = 2;
            tr.find('td:nth-child(7) input').val(kesadaranskor);
        } else if (kesadaran == 'Unresponsive') {
            kesadaranskor = 3;
            tr.find('td:nth-child(7) input').val(kesadaranskor);
        }

        if (pernafasan == '<= 8 x/mnt') {
            pernafasanskor = 3;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        } else if (pernafasan == '9 - 11 x/mnt') {
            pernafasanskor = 1;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        } else if (pernafasan == '12 - 20 x/mnt') {
            pernafasanskor = 0;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        } else if (pernafasan == '21 - 24 x/mnt') {
            pernafasanskor = 2;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        } else if (pernafasan == '>= 25 x/mnt') {
            pernafasanskor = 3;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        }

        if (saturasi == '<= 91%') {
            saturasiskor = 3;
            tr.find('td:nth-child(9) input').val(saturasiskor);
        } else if (saturasi == '92 - 93%') {
            saturasiskor = 2;
            tr.find('td:nth-child(9) input').val(saturasiskor);
        } else if (saturasi == '94 - 95%') {
            saturasiskor = 1;
            tr.find('td:nth-child(9) input').val(saturasiskor);
        } else if (saturasi == '96%') {
            saturasiskor = 0;
            tr.find('td:nth-child(9) input').val(saturasiskor);
        }

        if (tekanandarah == '< 90') {
            tekanandarahskor = 3;
            tr.find('td:nth-child(10) input').val(tekanandarahskor);
        } else if (tekanandarah == '90 - 99') {
            tekanandarahskor = 2;
            tr.find('td:nth-child(10) input').val(tekanandarahskor);
        } else if (tekanandarah == '100 - 109') {
            tekanandarahskor = 1;
            tr.find('td:nth-child(10) input').val(tekanandarahskor);
        } else if (tekanandarah == '110 - 219') {
            tekanandarahskor = 0;
            tr.find('td:nth-child(10) input').val(tekanandarahskor);
        } else if (tekanandarah == '>= 220') {
            tekanandarahskor = 3;
            tr.find('td:nth-child(10) input').val(tekanandarahskor);
        }

        if (tekananjantung == '<= 40') {
            tekananjantungskor = 3;
            tr.find('td:nth-child(11) input').val(tekananjantungskor);
        } else if (tekananjantung == '41 - 50') {
            tekananjantungskor = 1;
            tr.find('td:nth-child(11) input').val(tekananjantungskor);
        } else if (tekananjantung == '50 - 90') {
            tekananjantungskor = 0;
            tr.find('td:nth-child(11) input').val(tekananjantungskor);
        } else if (tekananjantung == '91 - 110') {
            tekananjantungskor = 1;
            tr.find('td:nth-child(11) input').val(tekananjantungskor);
        } else if (tekananjantung == '111 - 130') {
            tekananjantungskor = 2;
            tr.find('td:nth-child(11) input').val(tekananjantungskor);
        } else if (tekananjantung == '>= 131') {
            tekananjantungskor = 3;
            tr.find('td:nth-child(11) input').val(tekananjantungskor);
        }


        if (suhu == '<= 35') {
            suhuskor = 3;
            tr.find('td:nth-child(12) input').val(suhuskor);
        } else if (suhu == '35.1 - 36') {
            suhuskor = 1;
            tr.find('td:nth-child(12) input').val(suhuskor);
        } else if (suhu == '36.1 - 38.0') {
            suhuskor = 0;
            tr.find('td:nth-child(12) input').val(suhuskor);
        } else if (suhu == '38.1 - 39.0') {
            suhuskor = 1;
            tr.find('td:nth-child(12) input').val(suhuskor);
        } else if (suhu == '>= 39.1') {
            suhuskor = 2;
            tr.find('td:nth-child(12) input').val(suhuskor);
        }

        var total = kesadaranskor + pernafasanskor + saturasiskor + tekanandarahskor + tekananjantungskor + suhuskor;
        var hasil = total.toString();
        tr.find('td:nth-child(13) input').val(hasil);
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }
</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.EMRMEWS_List = null;
        }
    }
}
<div id="@d_trg_MEWS" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEWS_List[-1].Remove,
              new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("yyyy-MM-dd") } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.Jam, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("HH':'mm") } })
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">

                @Html.DropDownListFor(model => model.EMRMEWS_List[-1].Model.KesadaranHasil,
StaticModel.ListKesadaranMEWS, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.KesadaranSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">

                @Html.DropDownListFor(model => model.EMRMEWS_List[-1].Model.PernapasanHasil,
StaticModel.ListPernapasanMEWS, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.PernapasanSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEWS_List[-1].Model.SaturasiOksigenHasil_1,
StaticModel.ListSaturasiMEWS, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.SaturasiOksigenSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.SaturasiOksigenHasil_2, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEWS_List[-1].Model.TekananDarahHasil, StaticModel.ListTekananDarahMEWS, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.TekananDarahSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEWS_List[-1].Model.HeartRateHasil, StaticModel.ListDenyutJantungMEWS, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.HeartRateSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEWS_List[-1].Model.SuhuAxillaHasil, StaticModel.ListSuhuAxillaMEWS, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.SuhuAxillaSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEWS_List[-1].Model.TotalSkor, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.EMRMEWS_List[-1].Model.Paraf, new List<SelectListItem>(), new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-3">
            @Html.HiddenFor(model => model.EMRMEWS_List[-1].Model.Verifikasi)
            <a class="btn btn-success" onclick="verifikasi('@Html.IdFor(model => model.EMRMEWS_List[-1].Model.Paraf)','@Html.IdFor(model => model.EMRMEWS_List[-1].Model.Verifikasi)')"><i class="icon-checkmark"></i></a>
        </div>
    </div>

</div>



