﻿@using EMRRSCB.Models
@model EMRPengkajianPasienTahapTerminalDanKeluargaViewModel
@{
    var controllerName = "EMRPengkajianPasienTahapTerminalDanKeluarga";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.VerifikasiDokter)
        @Html.HiddenFor(model => model.TTDKeluarga)
        @Html.HiddenFor(model => model.TTDRohaniawan)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-offset-8 col-md-1">Template</label>
                    <div class="col-md-2">
                        <select id="listTemplateDokumen" class="form-control">
                            <option value="0"></option>
                            @if (Model.ListTemplate != null)
                            {
                                foreach (var x in Model.ListTemplate)
                                {
                                    @: <option value="@x.Value">@x.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Tanggal :
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-md-1">
                        Jam Datang:
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                        @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Suhu
                            </label>
                            @Html.EditorFor(model => model.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Suhu, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                <sup>o</sup>C
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tensi
                            </label>
                            @Html.EditorFor(model => model.Tensi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tensi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                mm/Hg
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Nadi
                            </label>
                            @Html.EditorFor(model => model.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nadi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                x/mnt
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Respirasi
                            </label>
                            @Html.EditorFor(model => model.Respirasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Respirasi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                x/mnt
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">Gejala dan Tanda</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12">a. Kegawatan Pernafasan</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_KesulitanNafas, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Kesuliatan Nafas
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_NafasTidakTeratur, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Nafas Tidak Teratur
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_TerdapatSekret, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Terdapat Sekret
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_NafasCepat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Nafas Cepat
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_NafasMulaiMulut, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Nafas Melalui Mulut
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_SpO2, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    SpO2 2 < 94 %
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_NafasLambat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Nafas Lambat
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_MukosaOral, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Mukosa Oral kering
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_a_TidakTerdapat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Tidak Terdapat kelaianan
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12">b. Kehilangan kekuatan otot</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_Mual, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Mual
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_SulitMenelan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Sulit Menelan
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_GerakTubuh, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Gerakan tubuh berkurang
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_InkontinesiaFeses, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Inkontinesia Feses
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_InkontinesiaUrine, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Inkontinesia Urine
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_PerutKembung, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Perut Kembung
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_SulitBicara, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Sulit bicara
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_SulitBerjalan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Sulit Berjalan
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_b_TidakTerdapat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Tidak Terdapat kelaianan
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12">c. Nyeri</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-3">
                                @Html.DropDownListFor(model => model.Gejala_c_Nyeri, StaticModel.ListYaTidak, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Gejala_c_Nyeri, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 control-label">Lokasi</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Gejala_c_Lokasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Gejala_c_Lokasi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-4 col-md-2">Skala Nyeri</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Gejala_c_SkalaNyeri, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Gejala_c_SkalaNyeri, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12">d. Gangguan Sirkulasi</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_BibirKebiruan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Bibir Kebiruan
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_Jari, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Jari-jari Kebiruan
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_Gelisah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Gelisah
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_Lemes, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Lemes
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_KulitDingin, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Kulit Dingin
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_TekananDarah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Tekanan darah menurun
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_NadaLambat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Nada lambat dan lemah
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_Penurunan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Penurunan Kesadaran
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-1">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Gejala_d_Tidak, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Tidak
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">2. Faktor faktor yang membangkitkan atau meningkatkan gejala fisik</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Faktor_AktifitasFisik, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Aktifitas Fisik
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Faktor_PindahPosisi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Pindah Posisi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Faktor_Lain, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Lainnya
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Faktor_LainKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Faktor_LainKet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">3. Masalah Keperawatan</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_Konstipasi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Konstipasi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_NyeriAkut, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Nyeri Akut
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_NyeriKronis, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Nyeri Kronis
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_PolaNafas, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Pola Nafas tidak efektif
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_Defisit, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Defisit perawatan diri
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_Koping, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Koping tidak efektif
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_Perubahan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Perubahan persepsi sensoris
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_Bersihan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Bersihan jalan nafas tidak efektif
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_Distres, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Distres spiritual
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Masalah_Tidak, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tidak terdapat kelainan
                        </label>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">4. Apakah diperlukan dukungan spiritual untuk pasien dan keluarga</label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.DukunganSpiritual, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DukunganSpiritual, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DukunganSpiritual_Oleh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DukunganSpiritual_Oleh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">5. Urusan dan kebutuhan spiritual paien dan keluarga seperti putus asa, penderitaan, rasa bersalah atau pengampunan</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Perlu Didoakan</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Urusan_Didoakan, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Urusan_Didoakan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Urusan_Didoakan_Oleh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Urusan_Didoakan_Oleh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Perlu bimbingn rohani</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Urusan_Bimbingan, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Urusan_Bimbingan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Urusan_BimbinganOleh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Urusan_BimbinganOleh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Perlu pendampingan rohani</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Urusan_Pendamping, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Urusan_Pendamping, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Urusan_PendampingOleh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Urusan_PendampingOleh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">6. Status psikososial pasien dan keluarga</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12">Apakah ada orang yang dihubungi saat ini?</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.Status_a_Apakah, StaticModel.ListYaTidak, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status_a_Apakah, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 control-label">Nama</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Status_a_Nama, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status_a_Nama, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2">
                                Alamat
                            </label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Status_a_Alamat, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status_a_Alamat, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2">
                                Nomor Telp
                            </label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Status_a_Telp, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status_a_Telp, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2">
                                Hubungan dengan pasien
                            </label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Status_a_Hubungan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status_a_Hubungan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">b. Bagaimana rencana perawatan selanjutnya</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_b_Tetap, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Tetap di rumah sakit
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_b_Perawat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Perawatan dirumah
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12">c. Reaksi pasien atas penyakitnya</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_Marah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Marah
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_Sedih, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Sedih
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_Rasa, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Rasa bersalah
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_Perubahan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Perubahan kebiasaan
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_Penurunan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Penurunan konsetrasi
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_Gangguan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Gangguan tidur
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_TidakSesuai, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Tidak sesuai harapan
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_DIjauhiKeluarga, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Dijuahi oleh keluarga
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Status_c_MenerimaKeadaan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    Menerima Keadaan
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">8. Apakah ada kebutuhan akan alternatif atau tingkat pelayanan lain?</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Alternatif_Autopsi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Autopsi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Alternatif_Donor, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Donor organ
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Alternatif_Tidak, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tidak
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Alternatif_Lainnya, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Lainnya
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alternatif_LainnyaKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alternatif_LainnyaKet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">9. Resiko bagi keluarga yang ditinggalkan</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_Marah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Marah
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_Sedih, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Sedih
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_RasaBersalah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Rasa Bersalah
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_PerubahanKebiasan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Perubahan Kebiasan
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_PenurunanKosentrasi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Penurunan kosentrasi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_GangguanTidur, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Gangguan tidur
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_TidakSesuai, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tidak sesuai harapan
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_Dijauhi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Dijauhi oleh keluarga
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Resiko_Menerima, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Menerima Keadaan
                        </label>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Keluarga</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Keluarga, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Keluarga, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDKeluarga != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Rohaniawan</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Rohaniawan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rohaniawan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDRohaniawan != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter @if (Model.VerifikasiDokter)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Dokter, Model.Dokter == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Dokter.ToString(), Text = Model.DokterNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Dokter)','@nameof(Model.VerifikasiDokter)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTDKeluarga" name="IMG_TTDKeluarga" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTDRohaniawan" name="IMG_TTDRohaniawan" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                            Simpan Template
                        </label>
                        <input type="text" name="@nameof(Model.nama_template)" id="@nameof(Model.nama_template)" class="form-control" value="" />
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }
</script>

<script>
    function clickgambar1() {
        $('#IMG_TTDKeluarga').click();
    }

    function clickgambar2() {
        $('#IMG_TTDRohaniawan').click();
    }

    function ulanggambar1() {
        $('#IMG_TTDKeluarga').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    function ulanggambar2() {
        $('#IMG_TTDRohaniawan').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar;
    var iGambar1;
    var ximg_Gambar = $('#IMG_@nameof(Model.TTDKeluarga)');
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDRohaniawan)');

    @if (Model != null)
    {
        if (Model.TTDKeluarga != null)
        {
            @:ximg_Gambar.attr('src', 'data:image/jpeg;base64,@(Model.TTDKeluarga)');
        }
        if (Model.TTDRohaniawan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDRohaniawan)');
        }
    }

    $(document).ready(function () {
        iGambar = new iPainter_V2(ximg_Gambar);
        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDKeluarga)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar.convert_V2('TTDKeluarga');
            iGambar1.convert_V2('TTDRohaniawan');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    generalDokter("#@formName #Dokter");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoBukti";
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }
</script>


