﻿@using EMRRSCB.Models
@model PengaturanDPJPViewModel
@{
    var controllerName = "PengaturanDPJP";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Detail
    var d_tbl_PDPJP = $"frm_table_detailPengaturanDPJP";
    int d_idx_PDPJP = 0;
    var d_trg_PDPJP = $"input_target_detailPengaturanDPJP";
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            d_idx_PDPJP = Model.Detail_List.Count();
        }
    }
    #endregion
}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_PDPJP thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_PDPJP thead th:nth-child(1),
    #@d_tbl_PDPJP tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_PDPJP thead th:nth-child(2),
    #@d_tbl_PDPJP tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_PDPJP thead th:nth-child(3),
    #@d_tbl_PDPJP tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_PDPJP thead th:nth-child(4),
    #@d_tbl_PDPJP tbody td:nth-child(4) {
       display: none;
    }

    #@d_tbl_PDPJP thead th:nth-child(5),
    #@d_tbl_PDPJP tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_PDPJP thead th:nth-child(6),
    #@d_tbl_PDPJP tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_PDPJP thead th:nth-child(7),
    #@d_tbl_PDPJP tbody td:nth-child(7) {
        width: 130px;
    }

    #@d_tbl_PDPJP thead th:nth-child(8),
    #@d_tbl_PDPJP tbody td:nth-child(8) {
        width: 130px;
    }

    #@d_tbl_PDPJP thead th:nth-child(9),
    #@d_tbl_PDPJP tbody td:nth-child(9) {
        width: 130px;
    }

    #@d_tbl_PDPJP thead th:nth-child(10),
    #@d_tbl_PDPJP tbody td:nth-child(10) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_PDPJP thead th:nth-child(11),
    #@d_tbl_PDPJP tbody td:nth-child(11) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_PDPJP thead th:nth-child(12),
    #@d_tbl_PDPJP tbody td:nth-child(12) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_PDPJP thead th:nth-child(13),
    #@d_tbl_PDPJP tbody td:nth-child(13) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_PDPJP thead th:nth-child(14),
    #@d_tbl_PDPJP tbody td:nth-child(14) {
        text-align: center;
        width: 180px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Noreg)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailPengaturanDPJP" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_PDPJP">
                        <div class="table-responsive">
                            <table id="@d_tbl_PDPJP" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_PDPJP')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Dokter</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Detail_List != null)
                                        {
                                            for (var i = 0; i < Model.Detail_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Detail_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.Detail_List[i].Model.Id, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @{
                                                            var dokter = new List<SelectListItem>();
                                                            if (Model.Detail_List[i].Model != null)
                                                            {
                                                                if (Model.Detail_List[i].Model.DokterId != null)
                                                                {
                                                                    dokter.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.Detail_List[i].Model.DokterId,
                                                                        Text = Model.Detail_List[i].Model.NamaDokter
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        @Html.DropDownListFor(model => model.Detail_List[i].Model.DokterId, dokter, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @{
                                                            var status = new List<SelectListItem>();
                                                            if (Model.Detail_List[i].Model != null)
                                                            {
                                                                if (Model.Detail_List[i].Model.Status != null)
                                                                {
                                                                    status.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.Detail_List[i].Model.Status,
                                                                        Text = Model.Detail_List[i].Model.StatusNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        @Html.DropDownListFor(model => model.Detail_List[i].Model.Status, status, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script type="text/javascript">

        @if (Model != null)
        {
            if (Model.Detail_List != null)
            {
                for (var i = 0; i < Model.Detail_List.Count; i++)
                {
                    @:customrowdetailDPJP_Detail(@i, { target: $('#d_tbl_PDPJP thead a i')[0] }, '#panel_detailPengaturanDPJP', false);
                    @:customrowdetailStatus_Detail(@i, { target: $('#d_tbl_PDPJP thead a i')[0] }, '#panel_detailPengaturanDPJP', false);
                }
            }
        }


    function customrowdetailDPJP_Detail(index_detail, _this, inputtarget, autofocus) {
        var dpjp = '#panel_detailPengaturanDPJP #Detail_List_' + index_detail + '__Model_DokterId';
        generalDokter(dpjp);
    }

    function customrowdetailStatus_Detail(index_detail, _this, inputtarget, autofocus) {
        var status = '#panel_detailPengaturanDPJP #Detail_List_' + index_detail + '__Model_Status';
        generalStatus(status);
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_PDPJP') {
            customrowdetailDPJP_Detail(index_detail, _this, inputtarget, autofocus);
            customrowdetailStatus_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<div id="@d_trg_PDPJP" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Id, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.DokterId,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.Status,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

</div>



