﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMRMonitoringBalanceCairan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    var d_tbl_MonitorBalanceCairan = $"frm_table_monitorBalanceCairan";
    int d_idx_MonitorBalanceCairan = 0;
    var d_trg_MonitorBalanceCairan = $"input_target_monitorBalanceCairan";
    if (Model != null)
    {

        if (Model.EMRMoitoringBalanceCairan_List != null)
        {
            d_idx_MonitorBalanceCairan = Model.EMRMoitoringBalanceCairan_List.Count();
        }
    }
}
<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_MonitorBalanceCairan thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_MonitorBalanceCairan thead th:nth-child(1),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_MonitorBalanceCairan thead th:nth-child(2),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(2) {
        width: 30px;
        text-align: center;

    }

    #@d_tbl_MonitorBalanceCairan thead th:nth-child(3),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_MonitorBalanceCairan thead th:nth-child(4),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(4) {
          display: none;
    }

    #@d_tbl_MonitorBalanceCairan thead th:nth-child(5),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(5) {
        width: 140px;
    }

    #@d_tbl_MonitorBalanceCairan thead th:nth-child(6),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(6) {
        width: 500px;
    }

    #@d_tbl_MonitorBalanceCairan thead th:nth-child(7),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(7) {
        width: 500px;
    }

    #@d_tbl_MonitorBalanceCairan thead th:nth-child(8),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(8) {
        width: 500px;
    }
      #@d_tbl_MonitorBalanceCairan thead th:nth-child(9),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(9) {
        width: 500px;
    }
  #@d_tbl_MonitorBalanceCairan thead th:nth-child(10),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(10) {
        width: 200px;
    }
   #@d_tbl_MonitorBalanceCairan thead th:nth-child(11),
    #@d_tbl_MonitorBalanceCairan tbody td:nth-child(11) {
        width: 200px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken();

        @Html.HiddenFor(Model => Model.NoBukti);

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailMonitorBalanceCairan" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_MonitorBalanceCairan">
                        <div class="table-responsive">
                            <table id="@d_tbl_MonitorBalanceCairan" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>

                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_MonitorBalanceCairan')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th rowspan="2">Jam</th>
                                        <th colspan="2">Minum</th>
                                        <th colspan="2">Intravena</th>
                                        <th colspan="2">Sisa</th>
                                        <th rowspan="2">Jam</th>
                                        <th rowspan="2">Urine</th>
                                        <th rowspan="2">Lain-Lain</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Jenis</th>
                                        <th></th>
                                        <th></th>
                                        <th>Jumlah</th>
                                        <th>Jenis</th>
                                        <th>Jumlah</th>
                                        <th>Jenis</th>
                                        <th>Jumlah</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRMoitoringBalanceCairan_List != null)
                                        {

                                            for (var i = 0; i < Model.EMRMoitoringBalanceCairan_List.Count(); i++)
                                            {
                                    <tr>

                                        <!-- Check -->
                                        <td>
                                            <input type="checkbox" />
                                        </td>

                                        <!-- Delete button -->
                                        <td>
                                            <a class="text-danger-600"
                                               onclick="removetr(this)">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </td>

                                        <!-- Remove Status -->
                                        <td>
                                            @Html.EditorFor(model => model.EMRMoitoringBalanceCairan_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                        </td>

                                        <!-- No -->
                                        <td>
                                            @Html.EditorFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.No, new
                                           {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>
                                        <td>
                                            @*--- JAM --*@
                                            @Html.EditorFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.Jam, new
                                  {
                                      htmlAttributes = new
                                      {
                                          @class = "form-control input-sm",
                                          Value = (Model != null ? (Model.EMRMoitoringBalanceCairan_List[i].Model.Jam != null ? Model.EMRMoitoringBalanceCairan_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                      }
                                  })


                                        </td>

                                        @*--- Minuman Jenis --*@
                                        <td>
                                            @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.MinumJenis, new { @class = "form-control input-sm" })
                                        </td>

                                        @*--- Minuman Jumlah --*@
                                        <td>
                                            @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.MinumJumlah, new { @class = "form-control input-sm" })
                                        </td>

                                        @*--- Intervena Jenis --*@
                                        <td>
                                            @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.IntravenaJenis, new { @class = "form-control input-sm" })
                                        </td>

                                        @*--- Sisa Jumlah --*@
                                        <td>
                                            @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.IntravenaJumlah, new { @class = "form-control input-sm" })
                                        </td>


                                        @*--- Sisa Jenis --*@
                                        <td>
                                            @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.SisaJenis, new { @class = "form-control input-sm" })
                                        </td>

                                        @*--- Intervena Jumlah --*@
                                        <td>
                                            @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.SisaJumlah, new { @class = "form-control input-sm" })
                                        </td>

                                        @*--- JAM1 --*@
                                        <td>
                                            @Html.EditorFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.Jam1, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               Value = (Model != null ? (Model.EMRMoitoringBalanceCairan_List[i].Model.Jam1 != null ? Model.EMRMoitoringBalanceCairan_List[i].Model.Jam1.Value.ToString("HH':'mm") : "") : "")
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.Urine, new { @class = "form-control input-sm" })
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[i].Model.LainLain, new { @class = "form-control input-sm" })
                                        </td>

                                    </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>
    //function pilihobat(_this) {
    //    var valselect = $(_this).text();
    //    console.log(valselect);
    //    var tr = $($(_this).closest('tr'));
    //    tr.find('td:nth-child(8) textarea').val(valselect);
    //}

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>


<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        console.log("Ini X variable");
        console.log(x);
        if (x.length == 0) _this.value = 1
        else {
            var result;
            console.log("Ini result variable");
            console.log(result);
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];

                console.log("Ini z variable");

                console.log(z);
                console.log("Ini result variable");

                console.log(result);
                if (z == undefined) {
                    x = x.prev();
                    console.log("Ini x lagi variable");

                    console.log(x);
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>




<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.EMRMoitoringBalanceCairan_List = null;
        }
    }
}
<div id="@d_trg_MonitorBalanceCairan" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMoitoringBalanceCairan_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>


    @* Jam *@
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    @* MinumJenis *@
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.MinumJenis, new
   {
           @class = "form-control input-sm"
   })
    </div>

    @* MinumJumlah *@
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.MinumJumlah, new
   {
           @class = "form-control input-sm"
   })
    </div>

    @* IntervenaJens *@
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.IntravenaJenis, new
   {
           @class = "form-control input-sm"
   })
    </div>

    @* InterenaJumlah *@
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.IntravenaJumlah, new
   {
           @class = "form-control input-sm"
   })
    </div>


    @* SisaJenis *@
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.SisaJenis, new
   {
           @class = "form-control input-sm"
   })
    </div>

    @* SisaJumlah *@
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.SisaJumlah, new
   {
           @class = "form-control input-sm"
   })
    </div>

    @* Jam1 *@
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.Jam1, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    @* Urine *@
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.Urine, new
   {
           @class = "form-control input-sm"
   })
    </div>

    @* Lain-Lain *@
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMoitoringBalanceCairan_List[-1].Model.LainLain, new
   {
           @class = "form-control input-sm"
   })
    </div>

</div>
