﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMRCatatanPerkembanganPasienSaraf";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Obat
    var d_tbl_PerkembanganPasienSaraf = $"frm_table_detailPerkembanganPasienSaraf";
    int d_idx_PerkembanganPasienSaraf = 0;
    var d_trg_PerkembanganPasienSaraf = $"input_target_detailPerkembanganPasienSaraf";
    if (Model != null)
    {

        if (Model.EMRPekembanganSaraf_List != null)
        {
            d_idx_PerkembanganPasienSaraf = Model.EMRPekembanganSaraf_List.Count();
        }
    }
    #endregion
}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_PerkembanganPasienSaraf thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(1),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(2),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(3),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(4),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(4) {
       display: none;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(5),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(6),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(7),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(7) {
        width: 130px;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(8),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(8) {
        width: 130px;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(9),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(9) {
        width: 130px;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(10),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(10) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(11),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(11) {
        display: none;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(12),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(12) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(13),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(13) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_PerkembanganPasienSaraf thead th:nth-child(14),
    #@d_tbl_PerkembanganPasienSaraf tbody td:nth-child(14) {
        text-align: center;
        width: 180px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailcttperkembanganpasiensaraf" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_PerkembanganPasienSaraf">
                        <div class="table-responsive">
                            <table id="@d_tbl_PerkembanganPasienSaraf" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_PerkembanganPasienSaraf')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Keluhan</th>
                                        <th>Diagnosa</th>
                                        <th>Hasil Penunjang</th>
                                        <th>Terapi</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRPekembanganSaraf_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRPekembanganSaraf_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRPekembanganSaraf_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRPekembanganSaraf_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRPekembanganSaraf_List[i].Model.Tanggal, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.EMRPekembanganSaraf_List[i].Model.Tanggal != null ? Model.EMRPekembanganSaraf_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[i].Model.Keluhan, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[i].Model.Diagnosa, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[i].Model.HasilPenunjang, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[i].Model.Terapi, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[i].Model.Keterangan, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script>
    //function pilihobat(_this) {
    //    var valselect = $(_this).text();
    //    var tr = $($(_this).closest('tr'));
    //    tr.find('td:nth-child(8) textarea').val(valselect);
    //}

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>

<script type="text/javascript">

        @*@if (Model != null)
        {
            if (Model.EMRPekembanganSaraf_List != null)
            {
                for (var i = 0; i < Model.EMRPekembanganSaraf_List.Count; i++)
                {
                    @:customrowdetailObatCttPengobatan_Detail(@i, { target: $('#d_tbl_PerkembanganPasienSaraf thead a i')[0] }, '#panel_detailcttpengobatanokvk', false);
                    @:customrowdetailDPJPCttPengobatan_Detail(@i, { target: $('#d_tbl_PerkembanganPasienSaraf thead a i')[0] }, '#panel_detailcttpengobatanokvk', false);
                }

            }
        }


    function customrowdetailObatCttPengobatan_Detail(index_detail, _this, inputtarget, autofocus) {
        var namaobat = '#panel_detailcttpengobatanokvk #EMRPekembanganSaraf_List_' + index_detail +'__Model_KodeObat';
        generalObat(namaobat);
    }

    function customrowdetailDPJPCttPengobatan_Detail(index_detail, _this, inputtarget, autofocus) {
        var namadpjp = '#panel_detailcttpengobatanokvk #EMRPekembanganSaraf_List_' + index_detail + '__Model_DPJP';
        generalDokter(namadpjp);
    }


    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_PerkembanganPasienSaraf') {
            customrowdetailObatCttPengobatan_Detail(index_detail, _this, inputtarget, autofocus);
            customrowdetailDPJPCttPengobatan_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }*@

</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.EMRPekembanganSaraf_List = null;
        }
    }
}
<div id="@d_trg_PerkembanganPasienSaraf" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRPekembanganSaraf_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRPekembanganSaraf_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRPekembanganSaraf_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[-1].Model.Keluhan, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[-1].Model.Diagnosa, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[-1].Model.HasilPenunjang, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[-1].Model.Terapi, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRPekembanganSaraf_List[-1].Model.Keterangan, new
   {
           @class = "form-control input-sm"
   })
    </div>

</div>



