﻿@using EMRRSCB.Models
@model CPPTViewModel
@{
    var controllerName = "EMRSIMtrSOAP_SerahTerima";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.Petugas_1_TTD)
        @Html.HiddenFor(model => model.Petugas_2_TTD)
        @Html.HiddenFor(model => model.MODEVIEW)

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.Tanggal)
        @Html.HiddenFor(model => model.Tanggal_View)
        @Html.HiddenFor(model => model.Jam)
        @Html.HiddenFor(model => model.Jam_View)
        @Html.HiddenFor(model => model.Profesi)
        @Html.HiddenFor(model => model.CPPT_S)
        @Html.HiddenFor(model => model.CPPT_O)
        @Html.HiddenFor(model => model.CPPT_A)
        @Html.HiddenFor(model => model.CPPT_P)
        @Html.HiddenFor(model => model.CPPT_I)
        @Html.HiddenFor(model => model.DPJP)
        @Html.HiddenFor(model => model.DPJPNama)
        @Html.HiddenFor(model => model.Edit)
        @Html.HiddenFor(model => model.templateName)
        @Html.HiddenFor(model => model.CPPT_OGambar)
        @Html.HiddenFor(model => model.TandaTangan)
        @Html.HiddenFor(model => model.TTDDPJP)
        @Html.HiddenFor(model => model.TTDCPPT)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-12">
                    @*<div class="form-group">
                            <div class="col-md-12">
                                <h5 class="text-center">SERAH TERIMA PASIEN</h5>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label text-center">Petugas 1</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.Petugas_1, Model.Petugas_1 == null ? new List<SelectListItem>() :
                                                        new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas_1.ToString(), Text = Model.Petugas_1_Nama } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Petugas_1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" style="position:inherit">
                                    <div class="form-group" style="position:inherit">
                                        <div class="col-md-12 text-center">
                                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.Petugas_1_TTD)" name="IMG_@nameof(Model.Petugas_1_TTD)" src="~/Theme/images/TTD.PNG" width="100%" style="border:1px solid #ccc" />
                                            <p class="text-muted no-margin no-padding">*) Klik pada images untuk membuat ttd petugas</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label text-center">Petugas 2</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.Petugas_2, Model.Petugas_2 == null ? new List<SelectListItem>() :
                                                        new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas_2.ToString(), Text = Model.Petugas_2_Nama } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Petugas_2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" style="position:inherit">
                                    <div class="form-group" style="position:inherit">
                                        <div class="col-md-12 text-center">
                                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.Petugas_2_TTD)" name="IMG_@nameof(Model.Petugas_2_TTD)" src="~/Theme/images/TTD.PNG" width="100%" style="border:1px solid #ccc" />
                                            <p class="text-muted no-margin no-padding">*) Klik pada images untuk membuat ttd petugas</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right">
                            @if (Model.MODEVIEW == 1)
                            {
                                <button type="submit" class="btn btn-success">Update <i class="icon-arrow-right14 position-right"></i></button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<script>
    generalDokter("#@formName #Petugas_1");
    generalDokter("#@formName #Petugas_2");
    @*@if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("a").closest("th").addClass("hidden");
            $("#@formName").find("a").closest("td").addClass("hidden");
            $("#@formName").find("button").attr("disabled", true);
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }*@
</script>

<script>
    var iGambar;
    var iGambar2;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.Petugas_1_TTD)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.Petugas_2_TTD)');

    @if (Model != null)
    {
        if (Model.Petugas_1_TTD != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.Petugas_1_TTD)');

        }
        if (Model.Petugas_2_TTD != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.Petugas_2_TTD)');

        }
    }

    $(document).ready(function () {

        iGambar = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });

    });

    @*function resetImage() {
        var imges = $('#IMG_@nameof(Model.Petugas_1_TTD)');
        iGambar = new iPainter_V2(imges);
        var imges2 = $('#IMG_@nameof(Model.Petugas_2_TTD)');
        iGambar2 = new iPainter_V2(imges2);
    }*@

    function SubmitForm(e) {
        try {
            iGambar.convert_V2('Petugas_1_TTD');
            iGambar2.convert_V2('Petugas_2_TTD');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }


</script>
