﻿@using EMRRSCB.Models
@model EMRRingkasanPulangViewModel
@{
    var controllerName = "EMRRingkasanPulang";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDDiit)
        @Html.HiddenFor(model => model.VerifikasiDkt)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Tanggal MRS
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TanggalMRS, new { htmlAttributes = new { @class = "form-control", Value = (Model.TanggalMRS != null ? (Model.TanggalMRS.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TanggalMRS, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Jam MRS
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.JamMasuk, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamMasuk != null ? Model.JamMasuk.Value.ToString("HH':'mm") : "") : "") } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Tanggal Keluar
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TanggalKeluar, new { htmlAttributes = new { @class = "form-control", Value = (Model.TanggalKeluar != null ? (Model.TanggalKeluar.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TanggalKeluar, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Jam Keluar
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.JamKeluar, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamKeluar != null ? Model.JamKeluar.Value.ToString("HH':'mm") : "") : "") } })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Keluhan Utama</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.KeluhanUtama, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KeluhanUtama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Alergi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.RiwayatAlergi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RiwayatAlergi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">Pemeriksaan Fisik Saat MRS</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kesan Umum</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanKesanUmum, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanKesanUmum, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tanda Vital</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">TD</label>
                            @Html.EditorFor(model => model.PemeriksaanTD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanTD, "", new { @class = "text-danger" })
                            <label class="input-group-addon">mmHg</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Nadi</label>
                            @Html.EditorFor(model => model.PemeriksaanNadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanNadi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">x/mnt</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Suhu</label>
                            @Html.EditorFor(model => model.PemeriksaanSuhu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanSuhu, "", new { @class = "text-danger" })
                            <label class="input-group-addon"><sup>o</sup>C</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <label class="input-group-addon">Respirasi</label>
                            @Html.EditorFor(model => model.PemeriksaanRespirasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanRespirasi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">Menit</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">GCS : E</label>
                            @Html.EditorFor(model => model.PemeriksaanGCSE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanGCSE, "", new { @class = "text-danger" })
                            <label class="input-group-addon">V</label>
                            @Html.EditorFor(model => model.PemeriksaanGCSV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanGCSV, "", new { @class = "text-danger" })
                            <label class="input-group-addon">M</label>
                            @Html.EditorFor(model => model.PemeriksaanGCSM, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanGCSM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pemeriksaan bermakna
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanFisik, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12 text-bold">Investigasi :(Lab, X-Ray, USG dll)</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Investigasi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Investigasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12 text-bold">Diagnosa</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Diagnosis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Diagnosis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12 text-bold">Konsultasi</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Konsultasi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Konsultasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-12 text-bold">Terapy</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-12 text-bold">Sebelum MRS</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.TerapiSebelum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TerapiSebelum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-12 text-bold">Saat MRS</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.TerapiSaat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TerapiSaat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 text-bold">Perkembangan Penyakit</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PerkembanganPenyakit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PerkembanganPenyakit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12 text-bold">Kondisi Saat Keluar</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tanda Vital</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">TD</label>
                            @Html.EditorFor(model => model.KondisiTD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KondisiTD, "", new { @class = "text-danger" })
                            <label class="input-group-addon">mmHg</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Nadi</label>
                            @Html.EditorFor(model => model.KondisiNadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KondisiNadi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">x/mnt</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Suhu</label>
                            @Html.EditorFor(model => model.KondisiSuhu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KondisiSuhu, "", new { @class = "text-danger" })
                            <label class="input-group-addon"><sup>o</sup>C</label>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <label class="input-group-addon">Respirasi</label>
                            @Html.EditorFor(model => model.KondisiRespirasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KondisiRespirasi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">Menit</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">GCS : E</label>
                            @Html.EditorFor(model => model.KondisiGCSE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KondisiGCSE, "", new { @class = "text-danger" })
                            <label class="input-group-addon">V</label>
                            @Html.EditorFor(model => model.KondisiGCSV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KondisiGCSV, "", new { @class = "text-danger" })
                            <label class="input-group-addon">M</label>
                            @Html.EditorFor(model => model.KondisiGCSM, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KondisiGCSM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KondisiSembuh, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Sembuh
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KondisiMembaik, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Membaik
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KondisiTidakSembuh, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tidak Sembuh
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KondisiKurang48, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Meninggal < 48Jam
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KondisiLebih48, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Meninggal > 48Jam
                        </label>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 text-bold">Prognosis</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">1. Vitality</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PrognosisVitality, StaticModel.ListPrognosis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PrognosisVitality, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">2. Functionally</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PrognosisFunctionaly, StaticModel.ListPrognosis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PrognosisFunctionaly, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">3. Recoverably</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PrognosisRecoverably, StaticModel.ListPrognosis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PrognosisRecoverably, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12 text-bold">Penyebab Langsung Kematian</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.PenyebabKematian, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PenyebabKematian, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label text-bold">Masalah yang masih ada</label>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.MasalahFisik, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Fisik
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.MasalahMental, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Mental
                        </label>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label text-bold">Intruksi untuk dirumah</label>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.InstruksiBolehPulang, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Diperbolehkan Pulang
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.InstruksiKontrol, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Kontrol Kembali Tgl:
                        </label>
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.InstruksiKontrolTgl, new { htmlAttributes = new { @class = "form-control", Value = (Model.InstruksiKontrolTgl != null ? (Model.InstruksiKontrolTgl.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.InstruksiKontrolTgl, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.InstruksiPoli, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Poli
                            </label>
                            @Html.DropDownListFor(model => model.InstruksiPoliKet, Model.InstruksiPoliKet == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.InstruksiPoliKet.ToString(), Text = Model.InstruksiPoliKetNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InstruksiPoliKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.InstruksiDirujuk, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Dirujuk Kepada
                        </label>
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.InstruksiDirujukKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InstruksiDirujukKet, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.InstruksiDr, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Dr yang dituju
                            </label>
                            @Html.DropDownListFor(model => model.InstruksiDrKet, Model.InstruksiDrKet == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.InstruksiDrKet.ToString(), Text = Model.InstruksiDrKetNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InstruksiDrKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.InstruksiObat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Obat Dirumah
                        </label>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.KeterangObatDirumah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KeterangObatDirumah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-5 control-label text-bold text-danger">Pada Saat Emergency Hubungi 0365 40251 / Pelayanan Kesehatan terdekat</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2">
                        Keterangan
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.APS, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.APS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diit</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Diit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Diit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pasien
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.KeluargaPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KeluargaPasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary  btn-sm @(Model.TTDDiit != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter @if (Model.VerifikasiDkt)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.KodeDokter, Model.KodeDokter == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.KodeDokter.ToString(), Text = Model.KodeDokterNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KodeDokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.KodeDokter)','@nameof(Model.VerifikasiDkt)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Note</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDDiit)" name="IMG_@nameof(Model.TTDDiit)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function clickgambar1() {
        $('#IMG_TTDDiit').click()
    }

    function ulanggambar1() {
        $('#IMG_TTDDiit').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDDiit)');

    @if (Model != null)
    {
        if (Model.TTDDiit != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDDiit)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDDiit)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDDiit');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    generalSection("#@formName #InstruksiPoliKet");
    generalDokter("#@formName #KodeDokter");
    generalDokter("#@formName #InstruksiDrKet");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>


