﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMRRekamanAsuhanKeperawatan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Rekaman Asuhan Keperawatan
    var d_tbl_RekamanAsuhanKeperawatan = $"frm_table_detailRekamanAsuhanKeperawatan";
    int d_idx_RekamanAsuhanKeperawatan = 0;
    var d_trg_RekamanAsuhanKeperawatan = $"input_target_detailRekamanAsuhanKeperawatan";
    if (Model != null)
    {

        if (Model.EMRRekamKeperawatan_List != null)
        {
            d_idx_RekamanAsuhanKeperawatan = Model.EMRRekamKeperawatan_List.Count();
        }
    }
    #endregion

}

@*Rekaman Asuhan*@
<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(1),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(2),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(3),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(4),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(5),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(6),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(6) {
        width: 150px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(7),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(7) {
        text-align: center;
        width: 230px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(8),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(8) {
        width: 230px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(9),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(9) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(10),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(11),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(12),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(13),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(13) {
        text-align: center;
        width: 140px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(14),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(14) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(15),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(15) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_RekamanAsuhanKeperawatan thead th:nth-child(16),
    #@d_tbl_RekamanAsuhanKeperawatan tbody td:nth-child(16) {
        text-align: center;
        width: 200px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*Rekaman Asuhan Keperawatan*@
            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailrekamanasuhankeperawatan" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_RekamanAsuhanKeperawatan">
                        <div class="table-responsive">
                            <table id="@d_tbl_RekamanAsuhanKeperawatan" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_RekamanAsuhanKeperawatan')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Jam</th>
                                        <th>Diagnosa Keperawatan</th>
                                        <th>Tindakan Keperawatan</th>
                                        <th>Evaluasi</th>
                                        <th>Nama Perawat</th>
                                        <th>TTD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRRekamKeperawatan_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRRekamKeperawatan_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekamKeperawatan_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekamKeperawatan_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekamKeperawatan_List[i].Model.Tanggal, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.EMRRekamKeperawatan_List[i].Model.Tanggal != null ? Model.EMRRekamKeperawatan_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekamKeperawatan_List[i].Model.Jam, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.EMRRekamKeperawatan_List[i].Model.Jam != null ? Model.EMRRekamKeperawatan_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekamKeperawatan_List[i].Model.DiagnosaKeperawatan, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekamKeperawatan_List[i].Model.TindakanKeperawatan, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekamKeperawatan_List[i].Model.Evaluasi, new { @class = "form-control input-sm" })
                                                    </td>

                                                    @{
                                                        var _lstDokter1 = new List<SelectListItem>();
                                                        if (Model.EMRRekamKeperawatan_List[i].Model != null)
                                                        {
                                                            if (Model.EMRRekamKeperawatan_List[i].Model.DPJP != null)
                                                            {
                                                                _lstDokter1.Add(new SelectListItem()
                                                                {
                                                                    Value = Model.EMRRekamKeperawatan_List[i].Model.DPJP,
                                                                    Text = Model.EMRRekamKeperawatan_List[i].Model.DPJPNama
                                                                });
                                                            }
                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMRRekamKeperawatan_List[i].Model.DPJP, _lstDokter1, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @if (Model.EMRRekamKeperawatan_List[i].Model.TandaTangan == null)
                                                        {
                                                            <div class="img-thumbnail m-10" style="display:none;">
                                                                <img src="~/Theme/images/TandaTangan.png" id="IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" style="width:100%;" alt="Tempat Tanda Tangan" />
                                                            </div>
                                                            <div class="col-md-12 text-center">
                                                                @*<a id="IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" class="btn btn-primary btn-sm IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" onclick="showpanelttd(this)"><i class="icon-pen position-left"></i>Tanda Tangan</a>*@
                                                                <a id="IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" class="btn btn-danger btn-sm IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" onclick="ulanggambar(this)"><i class="icon-eraser position-left"></i>Ulang</a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="img-thumbnail m-10">
                                                                <img src="data:image/jpeg;base64,@(Model.EMRRekamKeperawatan_List[i].Model.TandaTangan)" id="IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" onclick="showpanelttd(this, 'TandaTangan')" style="width:100%;" alt="Tempat Tanda Tangan" />
                                                            </div>
                                                            <div class="col-md-12 text-center">
                                                                @*<a id="IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" src="data:image/jpeg;base64,@(Model.EMRRekamKeperawatan_List[i].Model.TandaTangan)" class="btn-flash btn btn-primary btn-sm IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" ><i class="icon-pen position-left"></i>Tanda Tangan</a>*@
                                                                <a id="IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" class="btn btn-danger btn-sm IMG_EMRRekamKeperawatan_List_@(i)__Model_TandaTangan" onclick="ulanggambar(this)"><i class="icon-eraser position-left"></i>Ulang</a>
                                                            </div>
                                                        }
                                                        @Html.HiddenFor(model => model.EMRRekamKeperawatan_List[i].Model.TandaTangan)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>

        </div>
    }

</div>

<script>
    function pilihobat(_this) {
        var valselect = $(_this).text();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(8) textarea').val(valselect);
    }

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function ulanggambar(_this) {
        var idulang = "";
        idulang = _this.id;
        $("#" + idulang).attr('src', '/Theme/images/TandaTangan.png');
        showpanelttd(_this, name);

        $('.ipainter-ok').attr('onclick', 'savepanelttd()');
    }
</script>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>

<script type="text/javascript">

    @if (Model != null)
    {
        if (Model.EMRRekamKeperawatan_List != null)
        {
            for (var i = 0; i < Model.EMRRekamKeperawatan_List.Count; i++)
            {
                @:customrowdetailDPJPRekamanAsuhanKeperawatan_Detail(@i, { target: $('#d_tbl_RekamanAsuhanKeperawatan thead a i')[0] }, '#panel_detailrekamanasuhankeperawatan', false);
                @:customrowdetailRekamanAsuhanKprwtTTD_Detail(@i, { target: $('#d_tbl_RekamanAsuhanKeperawatan thead a i')[0] }, '#panel_detailrekamanasuhankeperawatan', false);
            }

        }
    }

    function customrowdetailDPJPRekamanAsuhanKeperawatan_Detail(index_detail, _this, inputtarget, autofocus) {
        var namadpjp = '#panel_detailrekamanasuhankeperawatan #EMRRekamKeperawatan_List_' + index_detail + '__Model_DPJP';
        generalDokter(namadpjp);
    }

    function customrowdetailRekamanAsuhanKprwtTTD_Detail(index_detail, _this, inputtarget, autofocus) {
        var idttd = 'IMG_EMRRekamKeperawatan_List_' + index_detail + '__Model_TandaTangan';
        $('#IMG_EMRRekamKeperawatan_List_' + index_detail + '__Model_TandaTangan').id = idttd;
        //$('#panel_detaiforma').find('img')[0].id = idttd;
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_RekamanAsuhanKeperawatan') {
            customrowdetailDPJPRekamanAsuhanKeperawatan_Detail(index_detail, _this, inputtarget, autofocus);
            customrowdetailRekamanAsuhanKprwtTTD_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.EMRRekamKeperawatan_List = null;
        }
    }
}

<!-- Rekaman Asuhan Keperawatan -->
<div id="@d_trg_RekamanAsuhanKeperawatan" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekamKeperawatan_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekamKeperawatan_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekamKeperawatan_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekamKeperawatan_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekamKeperawatan_List[-1].Model.DiagnosaKeperawatan, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekamKeperawatan_List[-1].Model.TindakanKeperawatan, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekamKeperawatan_List[-1].Model.Evaluasi, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMRRekamKeperawatan_List[-1].Model.DPJP,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        <div class="img-thumbnail m-10">
            <div>
                <img id="IMG_EMRRekamKeperawatan_List_-1__Model_TandaTangan" src="~/Theme/images/TandaTangan.png" onclick="showpanelttd(this, 'TandaTangan')" style="width:100%;" alt="Tempat Tanda Tangan" />
            </div>
        </div>
        <div class="col-md-12 text-center">
            <a id="IMG_EMRRekamKeperawatan_List_-1__Model_TandaTangan" class="btn btn-danger btn-sm" onclick="ulanggambar(this)"><i class="icon-eraser position-left"></i>Ulang</a>
            @Html.HiddenFor(model => model.EMRRekamKeperawatan_List[-1].Model.TandaTangan)
        </div>
    </div>
</div>

