﻿@using EMRRSCB.Models
@model AsuhanKeperawatanDewasaIGDViewModel
@{
    var controllerName = "EMRAsuhanKeperawatanDewasaIGD";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    #region ==== Detail
    var d_tbl_EvaluasiPerkembangan = $"frm_table_detailEvaluasiPerkembangan";
    int d_idx_EvaluasiPerkembangan = 0;
    var d_trg_EvaluasiPerkembangan = $"input_target_detailEvaluasiPerkembangan";
    if (Model != null)
    {
        if (Model.Evaluasi_List != null)
        {
            d_idx_EvaluasiPerkembangan = Model.Evaluasi_List.Count();
        }
    }
    #endregion
}

<style>
      #@d_tbl_EvaluasiPerkembangan thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_EvaluasiPerkembangan thead th:nth-child(1),
    #@d_tbl_EvaluasiPerkembangan tbody td:nth-child(1){
        text-align:center;
        display:none;
    }

    #@d_tbl_EvaluasiPerkembangan thead th:nth-child(2),
    #@d_tbl_EvaluasiPerkembangan tbody td:nth-child(2){
        width: 80px;
        text-align:center;
    }
    #@d_tbl_EvaluasiPerkembangan thead th:nth-child(3),
    #@d_tbl_EvaluasiPerkembangan tbody td:nth-child(3){
        display:none;
    }
    #@d_tbl_EvaluasiPerkembangan thead th:nth-child(4),
    #@d_tbl_EvaluasiPerkembangan tbody td:nth-child(4){
        display:none;
    }
    #@d_tbl_EvaluasiPerkembangan thead th:nth-child(5),
    #@d_tbl_EvaluasiPerkembangan tbody td:nth-child(5) {
        width: 110px;
    }
     #@d_tbl_EvaluasiPerkembangan thead th:nth-child(6),
    #@d_tbl_EvaluasiPerkembangan tbody td:nth-child(6) {
        width: 80px;
    }
       #@d_tbl_EvaluasiPerkembangan thead th:nth-child(7),
    #@d_tbl_EvaluasiPerkembangan tbody td:nth-child(7) {
        width: 360px;
    }
     #@d_tbl_EvaluasiPerkembangan thead th:nth-child(8),
    #@d_tbl_EvaluasiPerkembangan tbody td:nth-child(8) {
        width: 180px;
    }


</style>

<label class="text-semibold">EVALUASI</label>
<div class="form-group">
    <div id="panel_detailEvaluasi_@formName" class="panel-body detail collapse in"
         data-index-detail="@d_idx_EvaluasiPerkembangan">
        <div class="table-responsive">
            <table id="@d_tbl_EvaluasiPerkembangan" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" onclick="checkall(this)" />
                        </th>
                        <th class="text-center" rowspan="2">
                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_EvaluasiPerkembangan')">
                                <i class="icon-plus2"></i>
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                        <th>Tanggal</th>
                        <th>Jam</th>
                        <th>Evaluasi Perkembangan Pasien (SOAP)</th>
                        <th>Nama</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        if (Model.Evaluasi_List != null)
                        {
                            for (var i = 0; i < Model.Evaluasi_List.Count(); i++)
                            {
                                <tr>
                                    <!-- Check -->
                                    <td>
                                        <input type="checkbox" />
                                    </td>

                                    <!-- Delete button -->
                                    <td>
                                        <a class="text-danger-600"
                                           onclick="removetr(this)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>

                                    <!-- Remove Status -->
                                    <td>
                                        @Html.EditorFor(model => model.Evaluasi_List[i].Remove,
                                   new { htmlAttributes = new { @class = "disable-reset" } })
                                    </td>

                                    <!-- No -->
                                    <td>
                                        @Html.EditorFor(model => model.Evaluasi_List[i].Model.No, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control input-sm",
                                           @readonly = "readonly"
                                       }
                                   })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Evaluasi_List[i].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model.Evaluasi_List[i].Model.Tanggal != null ? (Model.Evaluasi_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Evaluasi_List[i].Model.Jam, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model.Evaluasi_List[i].Model.Jam != null ? (Model.Evaluasi_List[i].Model.Jam.Value.ToString("HH':'mm")) : "") } })
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(model => model.Evaluasi_List[i].Model.SOAP, new { @class = "form-control input-sm" })
                                    </td>
                                    @{
                                        var _lstobat = new List<SelectListItem>();
                                        if (Model.Evaluasi_List[i].Model != null)
                                        {
                                            if (Model.Evaluasi_List[i].Model.Dokter != null)
                                            {
                                                _lstobat.Add(new SelectListItem()
                                                {
                                                    Value = Model.Evaluasi_List[i].Model.Dokter,
                                                    Text = Model.Evaluasi_List[i].Model.Dokter_Nama
                                                });
                                            }
                                        }
                                    }
                                    <td>
                                        @Html.DropDownListFor(model => model.Evaluasi_List[i].Model.Dokter, _lstobat, new { @class = "form-control input-sm" })
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function autoid_detail_evaluasi(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


    @if (Model != null)
    {
        if (Model.Evaluasi_List != null)
        {
            for (var i = 0; i < Model.Evaluasi_List.Count; i++)
            {
                @:customrowdetail_detail_1_Evaluasi_List(@i, { target: $('#@d_tbl_EvaluasiPerkembangan thead a i')[0] }, '@d_trg_EvaluasiPerkembangan', false);
            }

        }
    }

     function customrowdetail_detail_1_Evaluasi_List(index_detail, _this, inputtarget, autofocus) {
         var namaterang = '#panel_detailEvaluasi_@formName #Evaluasi_List_' + index_detail + '__Model_Dokter';
        generalDokter(namaterang);
    }

</script>

@{
    if (Model != null)
    {
        Model.Evaluasi_List = null;
    }
}

<!--  INPUT TABLE TINDAKAN  -->
<div id="@d_trg_EvaluasiPerkembangan" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Evaluasi_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Evaluasi_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail_evaluasi(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Evaluasi_List[-1].Model.Tanggal,
       new
            {
           htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Today.ToString("yyyy-MM-dd")

           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Evaluasi_List[-1].Model.Jam,
       new
            {
           htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")

           }
       })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Evaluasi_List[-1].Model.SOAP, new
   {
       @class = "form-control input-sm"
   }
        )

    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Evaluasi_List[-1].Model.Dokter,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

</div>

