﻿@using EMRRSCB.Models
@model CPPTViewModel
@{
    var controllerName = "CPPT";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .soap_text {
        font-size: 20px !important;
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model._METHOD)
        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.CPPT_OGambar)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-1">Tanggal</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Tanggal != null ? Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-1">Pukul</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                        @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-1">Dokter DPJP</label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.DPJP, Model.DPJP == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                        { new SelectListItem() { Value = Model.DPJP, Text = Model.DPJPNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DPJP, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Profesi, new { htmlAttributes = new { @class = "form-control text-center", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Profesi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="mb-10">
                <div class="row">
                    <label class="control-label col-md-1 text-semibold soap_text">
                        <h3 class="no-margin text-primary"><strong>S</strong></h3>
                    </label>
                    <div class="col-md-11">
                        @Html.TextAreaFor(model => model.CPPT_S, new { @class = "form-control wysihtml5 wysihtml5-min", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.CPPT_S, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="mb-10">
                <div class="row">
                    <label class="control-label col-md-1 text-semibold soap_text">
                        <h3 class="no-margin text-danger"><strong>O</strong></h3>
                    </label>
                    @if (Request.Cookies["EMRSectionNamaPelayanan"].Value == "POLI SPESIALIS ORTHOPEDI")
                    {
                        <div class="col-md-11">
                            <div class="form-group">
                                <label class="col-md-12">Anatomi</label>
                                <div class="col-md-12" style="position:inherit">
                                    <div class="form-group" style="position:inherit">
                                        <div class="col-md-12 text-center">
                                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.CPPT_OGambar)" name="IMG_@nameof(Model.CPPT_OGambar)" src="~/Theme/images/4.jpg" width="50%" style="border:1px solid #ccc" />
                                            <p class="text-muted no-margin no-padding">*) Klik pada images untuk masuk mode gambar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-11">
                            @Html.TextAreaFor(model => model.CPPT_O, new { @class = "form-control  wysihtml5 wysihtml5-min", @rows = "5" })
                            @Html.ValidationMessageFor(model => model.CPPT_O, "", new { @class = "text-danger" })
                        </div>
                    }
                </div>
            </div>

            <div class="mb-10">
                <div class="row">
                    <label class="control-label col-md-1 text-semibold soap_text">
                        <h3 class="no-margin text-success"><strong>A</strong></h3>
                    </label>
                    <div class="col-md-11">
                        @Html.TextAreaFor(model => model.CPPT_A, new { @class = "form-control", @rows = "2" })
                        @Html.ValidationMessageFor(model => model.CPPT_A, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="mb-10">
                <div class="row">
                    <label class="control-label col-md-1 text-semibold soap_text">
                        <h3 class="no-margin text-warning"><strong>P</strong></h3>
                    </label>
                    <div class="col-md-11">
                        @Html.TextAreaFor(model => model.CPPT_P, new { @class = "form-control wysihtml5 wysihtml5-min", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.CPPT_P, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <hr />
            <div class="col-mb-10">
                <div class="col-md-11">
                    <div class="form-group">
                        <label class="col-md-12">Anatomi</label>
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.CPPT_OGambar)" name="IMG_@nameof(Model.CPPT_OGambar)" src="~/Theme/images/4.jpg" width="50%" style="border:1px solid #ccc" />
                                    <p class="text-muted no-margin no-padding">*) Klik pada images untuk masuk mode gambar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-10">
                <div class="row">
                    <label class="control-label col-md-1 text-semibold" style="text-align:center;">Instruksi</label>
                    <div class="col-md-11">
                        @Html.TextAreaFor(model => model.CPPT_I, new { @class = "form-control  wysihtml5 wysihtml5-min", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.CPPT_I, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script>

    generalDokter("#@formName #DPJP");


    $('#@formName #DPJP').on('select2:select', function (e) {
        var data = e.params.data;
        getProfesi(data.id);
    });

    function getProfesi(idslc2) {
        $.ajax({
            url: '@Url.Action("get_profesi", "CPPT")',
            data: {
                dokter: idslc2
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#@formName #Profesi').val(dt.Data);
                }
            }
        });
    }

</script>

<script>
    var iGambar;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.CPPT_OGambar)');

    @if (Model != null)
    {
        if (Model.CPPT_OGambar != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.CPPT_OGambar)');
        }
    }

    $(document).ready(function () {

        iGambar = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });

    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.CPPT_OGambar)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar.convert_V2('Gambar');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>