﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMRIntervensiDanPengkajianUlangNyeri";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Detail
    var d_tbl_Intervensi = $"frm_table_detailIntervensi";
    int d_idx_Intervensi = 0;
    var d_trg_Intervensi = $"input_target_detailIntervensi";
    if (Model != null)
    {
        if (Model.InterPengkajianNyeri_List != null)
        {
            d_idx_Intervensi = Model.InterPengkajianNyeri_List.Count();
        }
    }
    #endregion
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Intervensi thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Intervensi thead th:nth-child(1),
    #@d_tbl_Intervensi tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Intervensi thead th:nth-child(2),
    #@d_tbl_Intervensi tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_Intervensi thead th:nth-child(3),
    #@d_tbl_Intervensi tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Intervensi thead th:nth-child(4),
    #@d_tbl_Intervensi tbody td:nth-child(4) {
       display: none;
    }

    #@d_tbl_Intervensi thead th:nth-child(5),
    #@d_tbl_Intervensi tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_Intervensi thead th:nth-child(6),
    #@d_tbl_Intervensi tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_Intervensi thead th:nth-child(7),
    #@d_tbl_Intervensi tbody td:nth-child(7) {
        width: 296px;
    }

    #@d_tbl_Intervensi thead th:nth-child(8),
    #@d_tbl_Intervensi tbody td:nth-child(8) {
        width: 303px;
    }

    #@d_tbl_Intervensi thead th:nth-child(9),
    #@d_tbl_Intervensi tbody td:nth-child(9) {
        width: 303px;
    }

    #@d_tbl_Intervensi thead th:nth-child(10),
    #@d_tbl_Intervensi tbody td:nth-child(10) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_Intervensi thead th:nth-child(11),
    #@d_tbl_Intervensi tbody td:nth-child(11) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_Intervensi thead th:nth-child(12),
    #@d_tbl_Intervensi tbody td:nth-child(12) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_Intervensi thead th:nth-child(13),
    #@d_tbl_Intervensi tbody td:nth-child(13) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Intervensi thead th:nth-child(14),
    #@d_tbl_Intervensi tbody td:nth-child(14) {
        text-align: center;
        width: 300px;
    }

    #@d_tbl_Intervensi thead th:nth-child(15),
    #@d_tbl_Intervensi tbody td:nth-child(15) {
        text-align: center;
        width: 300px;
    }

    #@d_tbl_Intervensi thead th:nth-child(16),
    #@d_tbl_Intervensi tbody td:nth-child(16) {
        text-align: center;
        width: 600px;
    }

    #@d_tbl_Intervensi thead th:nth-child(17),
    #@d_tbl_Intervensi tbody td:nth-child(17) {
        text-align: center;
        width: 300px;
    }

    #@d_tbl_Intervensi thead th:nth-child(18),
    #@d_tbl_Intervensi tbody td:nth-child(18) {
        text-align: center;
        width: 300px;
    }

    #@d_tbl_Intervensi thead th:nth-child(19),
    #@d_tbl_Intervensi tbody td:nth-child(19) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Intervensi thead th:nth-child(20),
    #@d_tbl_Intervensi tbody td:nth-child(20) {
        text-align: center;
        width: 300px;
    }

    #@d_tbl_Intervensi thead th:nth-child(21),
    #@d_tbl_Intervensi tbody td:nth-child(21) {
        text-align: center;
        width: 300px;
    }

    #@d_tbl_Intervensi thead th:nth-child(22),
    #@d_tbl_Intervensi tbody td:nth-child(22) {
        text-align: center;
        width: 300px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-3 h6">Skor Nyeri</label>
                    <label class="col-md-3 h6">Pasero Opioid-induced Sedation Scale(POSS)</label>
                    <label class="col-md-3 h6">Intervensi Non Farmakologi</label>
                    <label class="col-md-3 h6">Pengkajian Ulang</label>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="col-md-12">0		:Tdak ada nyen</label>
                        <label class="col-md-12">13	    :Nyen mgan</label>
                        <label class="col-md-12">4-6	:Nyer sedang</label>
                        <label class="col-md-12">7-10	:Nyer beral</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-md-12">S:Tidur,mudah dbangunkan</label>
                        <label class="col-md-12">1:Bangun dan sadar</label>
                        <label class="col-md-12">2:Agak mengantuk,mudah dibangunkan</label>
                        <label class="col-md-12">3:Sering mengantuk,bisa dibangunkan,</label>
                        <label class="col-md-12">4:Somnolent,minimal/idak respon mudah tertidur saat sedang bicara terhadap rangsangan fisik</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-md-12">1:Dingin</label>
                        <label class="col-md-12">2:Panas</label>
                        <label class="col-md-12">3:Posisi</label>
                        <label class="col-md-12">4:Pijat</label>
                        <label class="col-md-12">5:Musk</label>
                        <label class="col-md-12">6:TENS(Transcutaneous elocrical nerve stimulation)</label>
                        <label class="col-md-12">7:Rolaksasi dan pernafasan</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-md-12">1.15 menit setelah intervensi otot injeksi</label>
                        <label class="col-md-12">2.1 jam setelah intervensi obat oral lainnya</label>
                        <label class="col-md-12">3.Setiap 1 jam bila skor nyeri 7-10</label>
                        <label class="col-md-12">4.Setiap 3 jam bila skor 4-6</label>
                        <label class="col-md-12">5.1 kali setiap shift bila skor nyeri 1-3</label>
                        <label class="col-md-12">6.Dihentikan bila skor nyeri 0</label>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailintervensinyeriulang" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_Intervensi">
                        <div class="table-responsive">
                            <table id="@d_tbl_Intervensi" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Intervensi')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th rowspan="2">Tanggal</th>
                                        <th rowspan="2">Jam</th>
                                        <th rowspan="2">Skor Nyeri</th>
                                        <th rowspan="2">Skor Sedasi</th>
                                        <th rowspan="2">Tekanan Darah</th>
                                        <th rowspan="2">Suhu</th>
                                        <th rowspan="2">Respirasi</th>
                                        <th rowspan="2">Nama</th>
                                        <th rowspan="2">Paraf</th>
                                        <th rowspan="2">Tanggal</th>
                                        <th rowspan="2">Jam</th>
                                        <th colspan="3">Intervensi Farmakologi</th>
                                        <th rowspan="2">Intervensi Non Farmakologi</th>
                                        <th rowspan="2">Nama</th>
                                        <th rowspan="2">Paraf</th>
                                        <th rowspan="2">Waktu Pengkajian Ulang</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Nama Obat</th>
                                        <th></th>
                                        <th></th>
                                        <th>Dosis dan Frekuensi</th>
                                        <th>Rute</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.InterPengkajianNyeri_List != null)
                                        {
                                            for (var i = 0; i < Model.InterPengkajianNyeri_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model != null ? (Model.InterPengkajianNyeri_List[i].Model.Tanggal != null ? Model.InterPengkajianNyeri_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "") } })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.Jam, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model != null ? (Model.InterPengkajianNyeri_List[i].Model.Jam != null ? Model.InterPengkajianNyeri_List[i].Model.Jam.Value.ToString("HH:mm") : "") : "") } })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.SkorNyeri, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.SkorSedasi, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.TekananDarah, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.Suhu, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.Respitrasi, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                    <td>

                                                        @{
                                                            var _lstObat = new List<SelectListItem>();
                                                            if (Model.InterPengkajianNyeri_List[i].Model != null)
                                                            {
                                                                if (Model.InterPengkajianNyeri_List[i].Model.Petugas != null)
                                                                {
                                                                    _lstObat.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.InterPengkajianNyeri_List[i].Model.Petugas,
                                                                        Text = Model.InterPengkajianNyeri_List[i].Model.PetugasNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        @Html.DropDownListFor(model => model.InterPengkajianNyeri_List[i].Model.PetugasNama, _lstObat, new { @class = "form-control input-sm" })
                                                    </td>
                                                    <td>
                                                        @Html.HiddenFor(model => model.InterPengkajianNyeri_List[i].Model.VerifikasiPetugas)
                                                        @if (Model.InterPengkajianNyeri_List[i].Model.VerifikasiPetugas == false)
                                                        {
                                                            <a class="btn btn-success" onclick="verifikasi('InterPengkajianNyeri_List_@(i)__Model_Petugas','InterPengkajianNyeri_List_@(i)__Model_VerifikasiPetugas')"><i class="icon-checkmark"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-success btn-flash" onclick="verifikasi('InterPengkajianNyeri_List_@(i)__Model_Petugas','InterPengkajianNyeri_List_@(i)__Model_VerifikasiPetugas')"><i class="icon-checkmark"></i></a>
                                                        }
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.Tgl_Farma, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model != null ? (Model.InterPengkajianNyeri_List[i].Model.Tgl_Farma != null ? Model.InterPengkajianNyeri_List[i].Model.Tgl_Farma.Value.ToString("yyyy-MM-dd") : "") : "") } })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.Jam_Farma, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model != null ? (Model.InterPengkajianNyeri_List[i].Model.Jam_Farma != null ? Model.InterPengkajianNyeri_List[i].Model.Jam_Farma.Value.ToString("HH:mm") : "") : "") } })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.InterPengkajianNyeri_List[i].Model.NamaObat, new { @class = "form-control input-sm" })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.Dosis, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.Rute, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.IntervensiNonFarmakologi, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                    <td>

                                                        @{
                                                            var _lstdokter = new List<SelectListItem>();
                                                            if (Model.InterPengkajianNyeri_List[i].Model != null)
                                                            {
                                                                if (Model.InterPengkajianNyeri_List[i].Model.PetugasNonFarmakologi != null)
                                                                {
                                                                    _lstdokter.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.InterPengkajianNyeri_List[i].Model.PetugasNonFarmakologi,
                                                                        Text = Model.InterPengkajianNyeri_List[i].Model.PetugasNonFarmakologiNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        @Html.DropDownListFor(model => model.InterPengkajianNyeri_List[i].Model.PetugasNonFarmakologi, _lstdokter, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.HiddenFor(model => model.InterPengkajianNyeri_List[i].Model.VerifikasiNonFarmakologi)
                                                        @if (Model.InterPengkajianNyeri_List[i].Model.VerifikasiNonFarmakologi == false)
                                                        {
                                                            <a class="btn btn-success" onclick="verifikasi('InterPengkajianNyeri_List_@(i)__Model_PetugasNonFarmakologi','InterPengkajianNyeri_List_@(i)__Model_VerifikasiNonFarmakologi')"><i class="icon-checkmark"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-success btn-flash" onclick="verifikasi('InterPengkajianNyeri_List_@(i)__Model_PetugasNonFarmakologi','InterPengkajianNyeri_List_@(i)__Model_VerifikasiNonFarmakologi')"><i class="icon-checkmark"></i></a>
                                                        }
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.InterPengkajianNyeri_List[i].Model.WaktuPengkajian, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function pilihobat(_this) {
        var valselect = $(_this).text();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(8) textarea').val(valselect);
    }

    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    @if (Model.MODEVIEW == 1) {
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>

<script type="text/javascript">

    @if (Model != null)
        {
            if (Model.InterPengkajianNyeri_List != null)
            {
                for (var i = 0; i < Model.InterPengkajianNyeri_List.Count; i++)
                {
                    @:customrowdetailIntervensi1_Detail(@i, { target: $('#d_tbl_Intervensi thead a i')[0] }, '#panel_detailintervensinyeriulang', false);
                    @:customrowdetailIntervensi2_Detail(@i, { target: $('#d_tbl_Intervensi thead a i')[0] }, '#panel_detailintervensinyeriulang', false);
                }

            }
        }

    function customrowdetailIntervensi1_Detail(index_detail, _this, inputtarget, autofocus) {
        var dokter1 = '#panel_detailintervensinyeriulang #InterPengkajianNyeri_List_' + index_detail +'__Model_Petugas';
        generalDokter(dokter1);
    }

    function customrowdetailIntervensi2_Detail(index_detail, _this, inputtarget, autofocus) {
        var dokter2 = '#panel_detailintervensinyeriulang #InterPengkajianNyeri_List_' + index_detail + '__Model_PetugasNonFarmakologi';
        generalDokter(dokter2);
    }



    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_Intervensi') {
            customrowdetailIntervensi1_Detail(index_detail, _this, inputtarget, autofocus);
            customrowdetailIntervensi2_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
       
            Model.InterPengkajianNyeri_List = null;
    }
}
<div id="@d_trg_Intervensi" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Remove,
              new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("yyyy-MM-dd") } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.Jam, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("HH':'mm") } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.SkorNyeri, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.SkorSedasi, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.TekananDarah, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.Suhu, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.Respitrasi, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.InterPengkajianNyeri_List[-1].Model.Petugas, new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.HiddenFor(model => model.InterPengkajianNyeri_List[-1].Model.VerifikasiPetugas)
        <a class="btn btn-success" onclick="verifikasi('@Html.IdFor(model => model.InterPengkajianNyeri_List[-1].Model.Petugas)','@Html.IdFor(model => model.InterPengkajianNyeri_List[-1].Model.VerifikasiPetugas)')"><i class="icon-checkmark"></i></a>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.Tgl_Farma, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("yyyy-MM-dd") } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.Jam_Farma, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("HH':'mm") } })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.InterPengkajianNyeri_List[-1].Model.NamaObat, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.Dosis, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.Rute, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.IntervensiNonFarmakologi, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.InterPengkajianNyeri_List[-1].Model.PetugasNonFarmakologi, new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.HiddenFor(model => model.InterPengkajianNyeri_List[-1].Model.VerifikasiNonFarmakologi)
        <a class="btn btn-success" onclick="verifikasi('@Html.IdFor(model => model.InterPengkajianNyeri_List[-1].Model.PetugasNonFarmakologi)','@Html.IdFor(model => model.InterPengkajianNyeri_List[-1].Model.VerifikasiNonFarmakologi)')"><i class="icon-checkmark"></i></a>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.InterPengkajianNyeri_List[-1].Model.WaktuPengkajian, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>
</div>



