﻿@using EMRRSCB.Models
@model EMRSuratBuktiTindakanViewModel
@{
    var controllerName = "EMRSuratBuktiTindakan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDDokter)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Pasien</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Telah melakukan tindakan :</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Tindakan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Tindakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Perjalan penyakit :</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.PerjalananPenyakit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PerjalananPenyakit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Dokter, Model.Dokter == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Dokter.ToString(), Text = Model.Dokter_Nama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDDokter != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1()"><i class="icon-eraser"></i>Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDDokter)" name="IMG_@nameof(Model.TTDDokter)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>

    }
</div>

<script>
     function clickgambar1() {
        $('#IMG_TTDDokter').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDDokter)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDDokter').click()
    }

     generalDokter("#@formName #Dokter");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDDokter)');

     @if (Model != null)
    {
        if (Model.TTDDokter != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDDokter)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDDokter)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDDokter');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

</script>