﻿<!-- Footer -->
<div class="footer text-muted text-center">
    Copyright &copy; 2021 by <a href='http://sanatasystem.com'>Sanata System</a>
</div>

<div id="_loading" class="loading">
    <div class="bubblingG center">
        <span id="bubblingG_1">
        </span>
        <span id="bubblingG_2">
        </span>
        <span id="bubblingG_3">
        </span>
    </div>
</div>
<div id="_modal"></div>
<script>
        var urlroot = '@Url.Content("~/")';
</script>