﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Pelayanan</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/loaders/blockui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/js/core/app.js"></script>

    <script src="~/Theme/js/plugins/visualization/d3/d3.min.js"></script>
    <!-- /theme JS files -->
    <style>
        .app-name {
            font-size: 18px;
            font-weight: bolder;
            letter-spacing: 3px;
            text-align: center;
        }

        .navbar-brand {
            width: 100%;
            padding: 13px;
        }
    </style>
</head>
<body class="login-container">
    <div style="background-image:url(@Url.Content("~/Images/Content/bg-1.png")); position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;"></div>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand text-center" href="@Url.Action("Index", "Home")">
                <span class="app-name">PELAYANAN</span>
            </a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    @RenderBody()
                    @Html.Partial("_Footer")
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <script src="~/Scripts/ihos/ihos.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
