﻿@using EMRRSCB.Models
@model EMRPemeriksaanLakmusViewModel
@{
    var controllerName = "EMRPemeriksaanLakmus";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDDimintaOleh)
        @Html.HiddenFor(model => model.TTDLakmus)
        @Html.HiddenFor(model => model.TTDBidan)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label text-bold">Hasil Pemeriksaan Lakmus</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tanggal</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TanggalManual, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TanggalManual, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Pasien</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Saya, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaUmur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaUmur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaUmur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaJK, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaJK, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.SayaAlamat, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.SayaAlamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diminta Oleh</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Dokter, Model.Dokter == null ? new List<SelectListItem>() :
              new List<SelectListItem>() { new SelectListItem() { Value = Model.Dokter.ToString(), Text = Model.DokterNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDDimintaOleh != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Lakmus</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Lakmus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Lakmus, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDLakmus != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Bidan</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Bidan, Model.Bidan == null ? new List<SelectListItem>() :
              new List<SelectListItem>() { new SelectListItem() { Value = Model.Bidan.ToString(), Text = Model.BidanNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Bidan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDBidan != null ? "btn-flash" : "")" onclick="clickgambar3()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar3()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDDimintaOleh)" name="IMG_@nameof(Model.TTDDimintaOleh)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDLakmus)" name="IMG_@nameof(Model.TTDLakmus)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDBidan)" name="IMG_@nameof(Model.TTDBidan)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>

    generalDokter("#@formName #Dokter");
    generalDokter("#@formName #Bidan");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function clickgambar1() {
        $('#IMG_TTDDimintaOleh').click()
    }

    function clickgambar2() {
        $('#IMG_TTDLakmus').click()
    }

    function clickgambar3() {
        $('#IMG_TTDBidan').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDDimintaOleh)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDDimintaOleh').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDLakmus)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDLakmus').click()
    }

    function ulanggambar3() {
        $('#IMG_@nameof(Model.TTDBidan)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDBidan').click()
    }

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDDimintaOleh)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDLakmus)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTDBidan)');

    @if (Model != null)
    {
        if (Model.TTDDimintaOleh != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDDimintaOleh)');
        }
        if (Model.TTDLakmus != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDLakmus)');
        }
        if (Model.TTDBidan != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTDBidan)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDDimintaOleh)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDDimintaOleh');
            iGambar2.convert_V2('TTDLakmus');
            iGambar3.convert_V2('TTDBidan');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


