﻿@using iHos.MVC.Converter
@using EMRRSCB.Models
@model EMRCeklistPencegahanRisikoJatuhSedangViewModel
@{
    var controllerName = "EMRCeklistPencegahanRisikoJatuhSedang";
    ViewBag.Title = "Ceklist Pencegahan Risiko Jatuh Sedang";
    var formName = $"frm_{controllerName}_history";
    var tableId = $"table_{controllerName}";
    var item = new EMRCeklistPencegahanRisikoJatuhSedangViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.NoBukti);
    column[2] = nameof(item.Tanggal_View);
    column[3] = nameof(item.Tanggal);
    column[4] = nameof(item.Jam);
    column[5] = nameof(item.Diagnosa);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 70px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2){
        text-align:center;
        width: 100px;
    }

    #@tableId tbody td:nth-child(2){
        text-align:center;
    }

    #@tableId thead th:nth-child(3){
        text-align:center;
        width: 150px;
    }

    #@tableId tbody td:nth-child(3){
        text-align:center;
    }

    #@tableId thead th:nth-child(4){
        text-align: center;
        width: 80px;
    }

    #@tableId tbody td:nth-child(4){
        text-align: left;
    }

    #@tableId thead th:nth-child(5){
        text-align: center;
        width: 150px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

     #@tableId thead th:nth-child(6){
        text-align: center;
        width: 700px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

    .filter_list span {
        width : 180px;
    }
</style>

<div class="wall" ng-controller="table" id="list_cprjt"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListCeklistPencegahanRisikoJatuhSedang","EMRCeklistPencegahanRisikoJatuhSedang")';
     init();
     filter[1] = '@ViewBag.NoBukti';
     filter[2] = '@ViewBag.Noreg';
     ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-body">
                <form id="fm_cprjt" method="post" class="form-horizontal" autocomplete="off" , onsubmit="sumitFrmCPRJT(this)">
                    <input type="hidden" id="@nameof(Model.NoBukti)" name="@nameof(Model.NoBukti)" value="@(Model.NoBukti)" />
                    <input type="hidden" id="@nameof(Model.No)" name="@nameof(Model.No)" value="@(Model.No)" />
                    @Html.HiddenFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.VerifikasiPerawat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.TTDPasien, new { htmlAttributes = new { @class = "form-control" } })
                    <input type="hidden" id="_METHOD" name="_METHOD" value="CREATE" />

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nama : </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tgl Lahir : </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.tglLahir, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tglLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">NO CM : </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Diagnosa : </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Diagnosa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Diagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Langkah-Langkah Pencegahan Resiko Jatuh</th>
                                    <th>Dilakukan / Tidak Dilakukan</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1. Pastikan lantai tidak licin, ruangan dan toilet terang </td>
                                    @*<td>1. Anjuran Pasien Untuk Meminta bntuan yang diperlukan </td>*@
                                    <td>
                                        @Html.DropDownListFor(model => model.No1, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No1, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>2. Pasang Bedside Rel </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No2, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No2, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>3. Tempatkan alat bantu tongkat atau walkers dalam jangkauan pasien </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No3, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No3, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>4. Pastikan bahwa jalur ke kamar kecil bebas dari hambatan dan terang </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No4, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No4, "", new { @class = "text-danger" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>5. Pastikan lorong bebas hambatan </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No5, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No5, "", new { @class = "text-danger" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>6. Pastikan lingkungan aman </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No6, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No6, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>7. Edukasi Pasien dan Keluarga </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No7, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No7, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>8. Pertimbangkan efek puncak obat yang diresepkan yang mempengaruhi tingkat kesadaran </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No8, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No8, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>9. Mengamati lingkungan untuk kondisi berpotensi tidak aman dan segera laporkan untuk perbaikan</td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No9, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No9, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>10. Informasikan dan mendididk pasien dan / atau anggota keluarga mengenai rencana perawatan untuk mencegah jatuh</td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No10, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No10, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>11. Berkolaborasi dengan pasien atau keluarga untuk memberi bantuan yang dibutuhkan pasien</td>
                                    <td>
                                        @Html.DropDownListFor(model => model.No11, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.No11, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Paraf Perawat <i class="icon-checkmark-circle text-blue hidden"></i></label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Perawat, Model.Perawat == null ? new List<SelectListItem>() :
                                        new List<SelectListItem>() { new SelectListItem() { Value = Model.Perawat.ToString(), Text = Model.PerawatNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Perawat, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-2 text-right">
                                                <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Perawat)','@nameof(Model.VerifikasiPerawat)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Paraf Pasien / Keluarga</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Pasien, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Pasien, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-1">
                                                <div class="col-md-12" style="position:inherit">
                                                    <div class="form-group" style="position:inherit">
                                                        <div class="col-md-12 text-center">
                                                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <a class="btn btn-primary @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                                            </div>
                                            <div class="col-md-1">
                                                <a class="btn btn-danger" onclick="ulanggambar1()">Ulang</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <div class="col-md-12" style="position:inherit">
                                <div class="form-group" style="position:inherit">
                                    <div class="col-md-12 text-center">
                                        <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*<div class="col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox" name="saveTemplate" value="" id="saveTemplate" onclick="readTemplateName()" /> Save Template
                </label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" readonly id="templateName" name="templateName" value="" />
            </div>*@
                        <div class="col-md-12 text-right">
                            @*<button type="reset" class="btn btn-default">Reset </button>*@
                            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a id="refreshhsitoryresep" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dataTables_scrollHead table-responsive">
                    <table class="table table-bordered dataTable" id="@tableId">
                        <thead>
                            <tr ng-init="sort = '@column[3]'; sorttype = 'asc';">

                                <!-- Column Sort -->
                                <th rowspan="2" class="middle">Action</th>
                                <th ng-click="ordering($event,'@column[3]')" class="sorting">Tanggal</th>
                                <th ng-click="ordering($event,'@column[5]')" class="sorting">Diagnosa</th>

                            </tr>
                        </thead>
                        <tbody class="{{ loading ? 'hide' : '' }}">
                            <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                class="trdata text-center"
                                data-no="{{data.@column[0]}}"
                                data-nobukti="{{data.@column[1]}}">

                                <td style="cursor:default">
                                    <button onclick="editCPRJT(this)" data-target-id="{{data.@column[0]}}" type="button" class="btn-xs btn border-success text-success btn-flat btn-icon btn-rounded">
                                        <i class="icon-pencil7"></i>
                                    </button>
                                    <button ng-click="delete(data.@column[0], '@Url.Action("Batal")')" type="button" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-rounded"><i class="icon-trash"></i></button>
                                </td>
                                <td>{{data.@column[3]_View}}</td>
                                <td>{{data.@column[5]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="datatable-footer">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>
                    </div>
                </div>
                <div ng-init="pagesize = 10;"></div>
            </div>
        </div>
    </div>

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function clickgambar1() {
        $('#IMG_TTDPasien').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPasien').click()
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDPasien)');

    @if (Model != null)
    {
        if (Model.TTDPasien != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
    }

    generalDokter("#Perawat");

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#fm_cprjt' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    angular.element('#@formName').ready(function () {
        var sc = angular.element('#@formName').scope();
            //$('#allperiode').click();
        var nobukti = "@ViewBag.NoBukti";
        angular.element('#list_cprjt').scope().filter[1] = nobukti;
        $('#list_cprjt #refreshhsitoryresep').click();
    });

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

     function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPasien)');
        iGambar1 = new iPainter_V2(imges);
     }

  function editCPRJT(tthis) {
        $.ajax({
            url: '@Url.Action("editCPRJT", "EMRCeklistPencegahanRisikoJatuhSedang")',
            data: {
                id: $(tthis).data('target-id')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("Data tidak ditemukan", 'info');
                }
                else {
                    $('#fm_cprjt #_METHOD').val("UPDATE");
                    $('#fm_cprjt #No').val(dt.Data.No);
                    $('#fm_cprjt #NoBukti').val(dt.Data.NoBukti);
                    $('#fm_cprjt #Jam').val(dt.Data.Jam_View);
                    $('#fm_cprjt #Tanggal').val(dt.Data.Tanggal_View);
                    $('#fm_cprjt #Diagnosa').val(dt.Data.Diagnosa);
                    $('#fm_cprjt #No1').val(dt.Data.No1);
                    $('#fm_cprjt #No2').val(dt.Data.No2);
                    $('#fm_cprjt #No3').val(dt.Data.No3);
                    $('#fm_cprjt #No4').val(dt.Data.No4);
                    $('#fm_cprjt #No5').val(dt.Data.No5);
                    $('#fm_cprjt #No6').val(dt.Data.No6);
                    $('#fm_cprjt #No7').val(dt.Data.No7);
                    $('#fm_cprjt #No8').val(dt.Data.No8);
                    $('#IMG_@nameof(Model.TTDPasien)').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTDPasien);
                    if (dt.Data.VerifikasiPerawat === true) {
                        $('.icon-checkmark-circle').removeClass('hidden');
                    }

                    var newOption = new Option(dt.Data.PerawatNama, dt.Data.Perawat, false, false);
                    $('#Perawat').append(newOption).trigger('change');


                    $('#fm_cprjt #Jam').css("background", "#fbf1a7");
                    $('#fm_cprjt #Tanggal').css("background", "#fbf1a7");
                    $('#fm_cprjt #Diagnosa').css("background", "#fbf1a7");
                    $('#fm_cprjt #No1').css("background", "#fbf1a7");
                    $('#fm_cprjt #No2').css("background", "#fbf1a7");
                    $('#fm_cprjt #No3').css("background", "#fbf1a7");
                    $('#fm_cprjt #No4').css("background", "#fbf1a7");
                    $('#fm_cprjt #No5').css("background", "#fbf1a7");
                    $('#fm_cprjt #No6').css("background", "#fbf1a7");
                    $('#fm_cprjt #No7').css("background", "#fbf1a7");
                    $('#fm_cprjt #No8').css("background", "#fbf1a7");



                    @*$('#fm_cppt_create #@nameof(CPPT.CPPT_O)').val(dt.Data.@nameof(CPPT.CPPT_O));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_A)').val(dt.Data.@nameof(CPPT.CPPT_A));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').val(dt.Data.@nameof(CPPT.CPPT_P));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_I)').val(dt.Data.@nameof(CPPT.CPPT_I));
                    $('#IMG_@nameof(Model.TTDCPPT)').attr('src', '/Theme/images/TandaTangan.png');
                    $('#IMG_@nameof(Model.CPPT_OGambar)').attr('src', 'data:image/jpeg;base64, ' + dt.Data.@nameof(CPPT.CPPT_OGambar));
                    var data = {
                        id: dt.Data.@nameof(CPPT.DPJP),
                        text: dt.Data.@nameof(CPPT.DPJPNama)
                    };
                    var newOption = new Option(data.text, data.id, true, true);
                    $('#fm_cppt_create #@nameof(CPPT.DPJP)').append(newOption).trigger('change');

                    $('#fm_cppt_create #@nameof(CPPT.DPJP)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_S)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_O)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_A)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').css("background", "#fbf1a7");

                    alertpopup("Form edit CPPT "+ dt.Data.@nameof(CPPT.NoBukti), 'success');*@
                }
            }
        });
    }

    function sumitFrmCPRJT(tthis) {
        $('#_loading').css('display', '');

        //var dokter = $("#fm_cppt_create").find("#DPJP").val();
        //if (dokter == null) {
        //    alertpopup("Dokter DPJP tidak boleh kosong,", 'info');
        //    $('#_loading').css('display', 'none');
        //    return;
        //}

        if ($("#saveTemplate").is(":checked")) {
            if ($("#templateName").val() == "" || $("#templateName").val() == null) {
                alertpopup("Nama Template tidak boleh kosong.", 'info');
                $('#_loading').css('display', 'none');
                return;
            }
        }

        @*var convert = "";
        var convert2 = "";
        var section = "@Request.Cookies["EMRSectionNamaPelayanan"].Value";
        if (section == "POLI ORTHOPEDI") {
            var ximg_Gambar1 = $('#IMG_@nameof(Model.CPPT_OGambar)');
            iGambar = new iPainter_V2(ximg_Gambar1);
            convert = iGambar.convert_V2('CPPT_OGambar');
        } else {
            convert = $('#IMG_@nameof(Model.CPPT_OGambar)').attr('src');
            var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDCPPT)');
            iGambar2 = new iPainter_V2(ximg_Gambar2);
            convert2 = iGambar2.convert_V2('TTDCPPT');
        }*@
        iGambar1.convert_V2('TTDPasien');
        $.ajax({
            url: '@Url.Action("SecondCreate", "EMRCeklistPencegahanRisikoJatuhSedang")',
            data:
                $(tthis).serialize()/* + "&img=" + convert + "&imgttd=" + convert2*/,
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("gagal disimpan.", 'info');
                    resetFrmCPPT(tthis);
                    $("#reloadfrmcppt").click();

                    $('#_loading').css('display', 'none');
                    $('#list_cprjt #refreshhsitoryresep').click();
                    $('#fm_cprjt #VerifikasiPerawat').val(false);
                }else {
                    alertpopup("berhasil disimpan.", 'success');
                    resetFrmCPPT(tthis);
                    $("#reloadfrmcppt").click();
                    $('#_loading').css('display', 'none');
                    $('#fm_cprjt #VerifikasiPerawat').val(false);
                    window.location.reload();
                }

                $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');

                @*$('#fm_cppt_create #@nameof(CPPT.DPJP)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.CPPT_S)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.CPPT_O)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.CPPT_A)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').css("background", "#fff");*@

            }
        });
    }

    function resetFrmCPRJT(tthis) {
        $(tthis).trigger("reset")
        //$(tthis).find("#DPJP").val('').trigger('change');
    }
</script>


