﻿<!--@using EMRRSCB.Models
@model EMRPartografViewModel
@{
    var controllerName = "EMRPartograf";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    #region ==== Detail 1
    var d_tbl_detail_1 = $"frm_table_detaildetail_1";
    int d_idx_detail_1 = 0;
    var d_trg_detail_1 = $"input_target_detaildetail_1";
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            d_idx_detail_1 = Model.Detail_List.Count();
        }
    }
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
}
<!--   CSS Table   -->
<!--<style>
         #@d_tbl_detail_1 thead tr th {
            vertical-align: middle;
            text-align: center;
        }

        #@d_tbl_detail_1 thead th:nth-child(1),
        #@d_tbl_detail_1 tbody td:nth-child(1){
            text-align:center;
            width: 100px;
            display:none;
        }

        #@d_tbl_detail_1 thead th:nth-child(2),
        #@d_tbl_detail_1 tbody td:nth-child(2){
            width: 60px;
            text-align:center;
        }

        #@d_tbl_detail_1 thead th:nth-child(3),
        #@d_tbl_detail_1 tbody td:nth-child(3){
            display:none;
        }

        #@d_tbl_detail_1 thead th:nth-child(4),
        #@d_tbl_detail_1 tbody td:nth-child(4){
             width:80px;
        }

        #@d_tbl_detail_1 thead th:nth-child(5),
        #@d_tbl_detail_1 tbody td:nth-child(5){
            width:200px;
        }

        #@d_tbl_detail_1 thead th:nth-child(6),
        #@d_tbl_detail_1 tbody td:nth-child(6){
            width:200px;
        }

        #@d_tbl_detail_1 thead th:nth-child(7),
        #@d_tbl_detail_1 tbody td:nth-child(7){
            width:200px;
        }

        #@d_tbl_detail_1 thead th:nth-child(8),
        #@d_tbl_detail_1 tbody td:nth-child(8){
            width:200px;
        }

        #@d_tbl_detail_1 thead th:nth-child(9),
        #@d_tbl_detail_1 tbody td:nth-child(9){
            width:200px;
        }
        #@d_tbl_detail_1 thead th:nth-child(10),
        #@d_tbl_detail_1 tbody td:nth-child(10){
            width:200px;
        }
        #@d_tbl_detail_1 thead th:nth-child(11),
        #@d_tbl_detail_1 tbody td:nth-child(11){
            width:200px;
        }

        #@d_tbl_detail_1 thead th:nth-child(12),
        #@d_tbl_detail_1 tbody td:nth-child(12){
            width:200px;
        }

        #@d_tbl_detail_1 thead th:nth-child(13),
        #@d_tbl_detail_1 tbody td:nth-child(13){
            width:200px;
        }

        #@d_tbl_detail_1 thead th:nth-child(14),
        #@d_tbl_detail_1 tbody td:nth-child(14){
            width:200px;
        }

        .table {
            table-layout: fixed;
            max-width: 100%;
        }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.NoBukti)
            @Html.HiddenFor(Model => Model.TTDDiserahkan_Perawat)
            @Html.HiddenFor(Model => Model.TTDDiterima_Perawat)

            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    SITUATION
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Indikasi Pindah :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IndikasiPindah, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IndikasiPindah, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Pemindahan Pasien</label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Tanggal:</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">
                    Pukul
                </label>
                <div class="col-md-1">
                    @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.Value.ToString("HH:mm")) : "") } })
                    @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Dari Ruang :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Pemindahan_DariRuang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pemindahan_DariRuang, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Ke Ruang :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Pemindahan_KeRuang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pemindahan_KeRuang, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-12">
                    Dokter yang Merawat :
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">Dr 1</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.DokterRawat_1, Model.DokterRawat_1 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.DokterRawat_1.ToString(), Text = Model.DokterRawat_1Nama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DokterRawat_1, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label">Dr 2</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.DokterRawat_2, Model.DokterRawat_2 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.DokterRawat_2.ToString(), Text = Model.DokterRawat_2Nama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DokterRawat_2, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label">Dr 3</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.DokterRawat_3, Model.DokterRawat_3 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.DokterRawat_3.ToString(), Text = Model.DokterRawat_3Nama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DokterRawat_3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Diagnosa Medis :</label>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">1. </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiagnosaMedis_1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiagnosaMedis_1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">2. </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiagnosaMedis_2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiagnosaMedis_2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">3. </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiagnosaMedis_3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiagnosaMedis_3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Pasien Keluarga Sudah Dijelaskan mengenai diagnosa :</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.PasienDijelaskan, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PasienDijelaskan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Prosedur Pembedahan/invasif yang dilakukan :</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.ProsedurPembedahan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProsedurPembedahan, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Tanggal :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.ProsedurPembedahan_Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.ProsedurPembedahan_Tanggal != null ? (Model.ProsedurPembedahan_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.ProsedurPembedahan_Tanggal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Masalah keperawatan utama saat ini :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.MasalahKeperawatan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MasalahKeperawatan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    BACKGROUND
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-3">Riwayat alergi / Reaksi Obat :</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.RiawayatAlergi, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RiawayatAlergi, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label">Nama Obat:</label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.NamaObat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamaObat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Riwayat rekasi :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RiwayatReaksi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RiwayatReaksi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Intervensi medik / keperawatan :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.IntervensiMedik, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IntervensiMedik, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Hasil Investigasi abnormal :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.HasilInvestigasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HasilInvestigasi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Kewaspadaan / precaution :</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Kewaspadaan, StaticModel.ListKewaspadaan, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Kewaspadaan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    ASSEMENT
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Observasi terakhir pukul:
                </label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.ObservasiTerakhir, new { htmlAttributes = new { @class = "form-control", Value = (Model.ObservasiTerakhir != null ? (Model.ObservasiTerakhir.Value.ToString("HH:mm")) : "") } })
                    @Html.ValidationMessageFor(model => model.ObservasiTerakhir, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2">
                    Tingkat Kesadaran:
                </label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TingkatKesadaran, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TingkatKesadaran, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <label class="input-group-addon">
                            GCS : E
                        </label>
                        @Html.EditorFor(model => model.GCS_E, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TingkatKesadaran, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            V
                        </label>
                        @Html.EditorFor(model => model.GCS_V, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GCS_V, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            M
                        </label>
                        @Html.EditorFor(model => model.GCS_M, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GCS_M, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Pupil & Reaksi cahaya : Kanan
                        </label>
                        @Html.EditorFor(model => model.Pupil_Kanan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pupil_Kanan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            Kiri
                        </label>
                        @Html.EditorFor(model => model.Pupil_Kiri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pupil_Kiri, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            TD
                        </label>
                        @Html.EditorFor(model => model.TD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TD, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            mmHg
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            N
                        </label>
                        @Html.EditorFor(model => model.N, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.N, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/mnt
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            RR
                        </label>
                        @Html.EditorFor(model => model.RR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RR, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/mnt
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            SUHU
                        </label>
                        @Html.EditorFor(model => model.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Suhu, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            <sub>o</sub>C
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Skala Nyeri
                        </label>
                        @Html.EditorFor(model => model.SkalaNyeri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SkalaNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Diet/Nutrisi :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Diet_Oral, new { htmlAttributes = new { } })
                        Oral
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Diet_NGT, new { htmlAttributes = new { } })
                        NGT
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.Diet_BatasanCairan, new { htmlAttributes = new { } })
                            Batasan cairan
                        </label>
                        @Html.EditorFor(model => model.Diet_BatasanCairan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Diet_BatasanCairan_Ket, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            cc
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.Diet_DietKhusus, new { htmlAttributes = new { } })
                            Diet khusus, jelaskan
                        </label>
                        @Html.EditorFor(model => model.Diet_DietKhusus_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Diet_DietKhusus_Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    BAB :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.BAB_Normal, new { htmlAttributes = new { } })
                        Normal
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.BAB_Neustomy, new { htmlAttributes = new { } })
                        Heustomy/colostomy
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.BAB_Inkontinensia, new { htmlAttributes = new { } })
                        Inkontinensia alvi
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    BAK :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.BAK_Normal, new { htmlAttributes = new { } })
                        Normal
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.BAK_Inkontinensia, new { htmlAttributes = new { } })
                        Inkontinensia urine
                    </label>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.BAK_Kateter, new { htmlAttributes = new { } })
                            Kateter, Jenis Kateter
                        </label>
                        @Html.EditorFor(model => model.BAK_Kateter_JenisKateter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BAK_Kateter_JenisKateter, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            No Kateter :
                        </label>
                        @Html.EditorFor(model => model.BAK_Kateter_NoKateter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BAK_Kateter_NoKateter, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Tgl.Pemasangan
                </label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.TglPemasangan, new { htmlAttributes = new { @class = "form-control", Value = (Model.TglPemasangan != null ? (Model.TglPemasangan.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.TglPemasangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Mobilisasi :</label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Mobilisasi_Jalan, new { htmlAttributes = new { } })
                        Jalan
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Mobilisasi_TirahBaring, new { htmlAttributes = new { } })
                        Tirah Baring
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Mobilisasi_Duduk, new { htmlAttributes = new { } })
                        Duduk
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Transfer/ Mobilisasi :</label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Transfer_Mandiri, new { htmlAttributes = new { } })
                        Mandiri
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Transfer_DibantuSebagian, new { htmlAttributes = new { } })
                        Dibantu Sebagian
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Transfer_DibantuPenuh, new { htmlAttributes = new { } })
                        Dibantu Penuh
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Alat Bantu :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AlatBantu_TanpaAlat, new { htmlAttributes = new { } })
                        Tanpa Alat Bantu
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AlatBantu_GigiPalsu, new { htmlAttributes = new { } })
                        Gigi Palsu
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AlatBantu_KacaMata, new { htmlAttributes = new { } })
                        Kaca mata
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AlatBantu_AlatBantuDengar, new { htmlAttributes = new { } })
                        Alat bantu dengar
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AlatBantu_LainLain, new { htmlAttributes = new { } })
                        Lain
                    </label>
                </div>-->
                @*<div class="col-md-2">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Lainnya
                            </label>
                            @Html.EditorFor(model => model.AlatBantu_LainLain, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AlatBantu_LainLain, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
            <!--</div>
            <div class="form-group">
                <label class="col-md-2">Luka Pengobatan :</label>
                <div class="col-md-1">
                    @Html.DropDownListFor(model => model.Luka, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Luka, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">Kondisi</label>
                        @Html.EditorFor(model => model.Luka_Kondisi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Luka_Kondisi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">Lokasi</label>
                        @Html.EditorFor(model => model.Luka_Lokasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Luka_Lokasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">Ukuran</label>
                        @Html.EditorFor(model => model.Luka_Ukuran, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Luka_Ukuran, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Infus :</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.InfusScore, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InfusScore, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2">Tanggal Pemasangan</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.InfusTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.InfusTanggal != null ? (Model.InfusTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.InfusTanggal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Tindakan_ProtokolResiko, new { htmlAttributes = new { } })
                        Protokol Resiko Pasien Jatuh
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.Tindakan_ProtokolRestrain, new { htmlAttributes = new { } })
                        Protokol Restain Perawatan Luka Hygiene
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    Peralatan khusus yang diperlukan
                </label>
                <div class="col-md-9">
                    <div class="input-group">
                        <label class="input-group-addon">1.</label>
                        @Html.EditorFor(model => model.PeralatanKhusus_1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PeralatanKhusus_1, "", new { @class = "text-danger" })
                        <label class="input-group-addon">Lama Penggunaan</label>
                        @Html.EditorFor(model => model.LamaPenggunaan_1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LamaPenggunaan_1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <div class="input-group">
                        <label class="input-group-addon">2.</label>
                        @Html.EditorFor(model => model.PeralatanKhusus_2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PeralatanKhusus_2, "", new { @class = "text-danger" })
                        <label class="input-group-addon">Lama Penggunaan</label>
                        @Html.EditorFor(model => model.LamaPenggunaan_2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LamaPenggunaan_2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <div class="input-group">
                        <label class="input-group-addon">3.</label>
                        @Html.EditorFor(model => model.PeralatanKhusus_3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PeralatanKhusus_3, "", new { @class = "text-danger" })
                        <label class="input-group-addon">Lama Penggunaan</label>
                        @Html.EditorFor(model => model.LamaPenggunaan_3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LamaPenggunaan_3, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Hal- Hal istimewa yang berhubungan dengan kondisi pasien :</label>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.HalIstimewa, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HalIstimewa, "", new { @class = "text-danger" })
                </div>
            </div>-->
            <!--  Table Diagnosa  -->
            <!--<div class="form-group">
                <div id="panel_detailCatatanPasienRSPemindahan" class="panel-body detail collapse in"
                     data-index-detail="@d_idx_detail_1">
                    <div class="table-responsive">
                        <table id="@d_tbl_detail_1" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="checkall(this)" />
                                    </th>
                                    <th class="text-center" rowspan="2">
                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_detail_1')">
                                            <i class="icon-plus2"></i>
                                        </a>
                                    </th>
                                    <th></th>
                                    <th>No</th>
                                    <th>Tanggal</th>
                                    <th>Jam</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Sudah/Belum Teratasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.Detail_List != null)
                                    {
                                        for (var i = 0; i < Model.Detail_List.Count(); i++)
                                        {
                                            <tr>-->
                                                <!-- Check -->
                                                <!--<td>
                                                    <input type="checkbox" />
                                                </td>-->

                                                <!-- Delete button -->
                                                <!--<td>
                                                    <a class="text-danger-600"
                                                       onclick="removetr(this)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </td>-->

                                                <!-- Remove Status -->
                                                <!--<td>
                                                    @Html.EditorFor(model => model.Detail_List[i].Remove,
                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                </td>-->

                                                <!-- No -->
                                                <!--<td>
                                                    @Html.EditorFor(model => model.Detail_List[i].Model.No, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = "readonly"
                                                   }
                                               })
                                                </td>

                                                <td>
                                                    @Html.EditorFor(model => model.Detail_List[i].Model.Tanggal, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.Detail_List[i].Model.Tanggal != null ? Model.Detail_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                   }
                                               })
                                                </td>-->

                                                <!-- 6 -->
                                                <!--<td>
                                                    @Html.EditorFor(model => model.Detail_List[i].Model.Jam, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.Detail_List[i].Model.Jam != null ? Model.Detail_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                   }
                                               })
                                                </td>-->

                                                <!-- Diagnosa -->
                                                <!--<td>
                                                    @Html.EditorFor(model => model.Detail_List[i].Model.DiagnosaKeperawatan, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                </td>-->

                                                <!-- Diagnosaket -->
                                                <!--@{
                                                    var m_1 = StaticModel.ListSudahBelum;
                                                    var item_1 = Model.Detail_List[i].Model.DiagnosaKeperawatan_Ket;
                                                    if (item_1 != null)
                                                    {
                                                        m_1.FirstOrDefault(x => x.Value == Model.Detail_List[i].Model.DiagnosaKeperawatan_Ket).Selected = true;

                                                    }
                                                }-->

                                                <!-- 14 -->
                                                <!--<td>
                                                    @Html.DropDownListFor(model => model.Detail_List[i].Model.DiagnosaKeperawatan_Ket,
                                                    m_1, new { @class = "form-control input-sm" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    RECOMENDATIONS
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Konsultasi:
                </label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Konsultasi, Model.Konsultasi == null ? new List<SelectListItem>() : new List<SelectListItem>()
                   { new SelectListItem() { Value = Model.Konsultasi.ToString(), Text = Model.KonsultasiNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Konsultasi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Rencana Pemeriksaan lab / ladiologi:
                </label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RencanaPemeriksaan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RencanaPemeriksaan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Therapy:
                </label>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Therapy, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Therapy, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Rehabilitasi medik</label>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Rencana tindakan lebih lanjut:
                </label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RencanaTindakLanjut, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RencanaTindakLanjut, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-italic">Note : Jumlah Obat, Barang dan dokumen yang disertakan</label>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-italic text-bold">
                    Note : Jumlah Obat, barang dan dokumen yang disertakan
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Obat-obatan
                        </label>
                        @Html.EditorFor(model => model.Obat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Obat, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            Sesuai kartu
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            MRI
                        </label>
                        @Html.EditorFor(model => model.MRI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MRI, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            ECHO
                        </label>
                        @Html.EditorFor(model => model.ECHO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ECHO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            MRA
                        </label>
                        @Html.EditorFor(model => model.MRA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MRA, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil lab
                        </label>
                        @Html.EditorFor(model => model.HasilLab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HasilLab, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil USG
                        </label>
                        @Html.EditorFor(model => model.HasilUsg, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HasilUsg, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil EKG
                        </label>
                        @Html.EditorFor(model => model.HasilEKG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HasilEKG, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Foto Rontgen
                        </label>
                        @Html.EditorFor(model => model.FotoRontgen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FotoRontgen, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            CT Scan
                        </label>
                        @Html.EditorFor(model => model.CTScan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CTScan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Kacamata
                        </label>
                        @Html.EditorFor(model => model.KacaMata, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KacaMata, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Alat Bantu Dengar
                        </label>
                        @Html.EditorFor(model => model.AlatBantuDengar, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlatBantuDengar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Rekam Medis lama :</label>
                <div class="col-md-1">
                    @Html.DropDownListFor(model => model.RekamMedisLama, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RekamMedisLama, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label">Lain-lain</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LainLain, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LainLain, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Kondisi pasien saat tiba di tempat tujuan :
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KondisiPasien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KondisiPasien, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Kesadaran :</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">GCS : E</label>
                        @Html.EditorFor(model => model.TempatTujuanGCS_E, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TempatTujuanGCS_E, "", new { @class = "text-danger" })
                        <label class="input-group-addon">V</label>
                        @Html.EditorFor(model => model.TempatTujuanGCS_V, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TempatTujuanGCS_V, "", new { @class = "text-danger" })
                        <label class="input-group-addon">M</label>
                        @Html.EditorFor(model => model.TempatTujuanGCS_M, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TempatTujuanGCS_M, "", new { @class = "text-danger" })
                    </div>
                </div>
                <label class="col-md-1 control-label">Pupil</label>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Pupil1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pupil1, "", new { @class = "text-danger" })
                        <label class="input-group-addon">mm</label>
                        @Html.EditorFor(model => model.Pupil2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pupil2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Reflek Cahaya</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ReflekCahaya, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReflekCahaya, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">TD</label>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.EditorFor(model => model.TDTempatTujuan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TDTempatTujuan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">mmHg</label>
                    </div>
                </div>
                <label class="col-md-1 control-label">Nadi</label>
                <div class="col-md-5">
                    <div class="input-group">
                        @Html.EditorFor(model => model.NadiTempatTujuan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NadiTempatTujuan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">x/ menit</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Degurreguler Suhu</label>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.EditorFor(model => model.DegurregulerSuhu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DegurregulerSuhu, "", new { @class = "text-danger" })
                        <label class="input-group-addon"><sup>o</sup>C</label>
                    </div>
                </div>
                <label class="col-md-1 control-label">Pernafasan</label>
                <div class="col-md-5">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Pernafasan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pernafasan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">x/ menit</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">SpO2</label>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.EditorFor(model => model.SpO2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpO2, "", new { @class = "text-danger" })
                        <label class="input-group-addon">%</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Diserahkan
                </label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Diserahkan_Perawat, Model.Diserahkan_Perawat == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.Diserahkan_Perawat.ToString(), Text = Model.Diserahkan_PerawatNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Diserahkan_Perawat, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary pull-left btn-sm @(Model.TTDDiserahkan_Perawat != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                    <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1()">Ulang</a>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Diterima
                </label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Diterima_Perawat, Model.Diterima_Perawat == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.Diterima_Perawat.ToString(), Text = Model.Diterima_PerawatNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Diterima_Perawat, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary pull-left btn-sm @(Model.TTDDiterima_Perawat != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                    <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar2()">Ulang</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDDiserahkan_Perawat)" name="IMG_@nameof(Model.TTDDiserahkan_Perawat)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDDiterima_Perawat)" name="IMG_@nameof(Model.TTDDiterima_Perawat)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>-->
                    @*<a href="@Url.Action("ExportPDFCatatanPemindahanPasienAntarRuangan", new { nobukti = Model.NoBukti })" target="_blank"
                           class="btn btn-default" @(Model.NoBukti == null ? "disabled" : "")>
                            Print PDF
                        </a>*@
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }

</div>

<script>
    function clickgambar1() {
        $('#IMG_TTDDiserahkan_Perawat').click()
    }

    function clickgambar2() {
        $('#IMG_TTDDiterima_Perawat').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDDiserahkan_Perawat)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDDiserahkan_Perawat').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDDiterima_Perawat)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDDiterima_Perawat').click()
    }

     var iGambar1;
    var iGambar2;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDDiserahkan_Perawat)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDDiterima_Perawat)');

    @if (Model != null)
    {
        if (Model.TTDDiserahkan_Perawat != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDDiserahkan_Perawat)');
        }
        if (Model.TTDDiterima_Perawat != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDDiterima_Perawat)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDDiserahkan_Perawat)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDDiserahkan_Perawat');
            iGambar2.convert_V2('TTDDiterima_Perawat');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>

<script type="text/javascript">

    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

</script>

@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<div id="@d_trg_detail_1" class="hidden">-->


    <!-- Check -->
    <!--<div class="input-detail">
        <input type="checkbox" />
    </div>-->

    <!-- Delete button -->
    <!--<div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>-->

    <!-- Remove Status -->
    <!--<div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>-->

    <!-- No -->
    <!--<div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.DiagnosaKeperawatan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.DiagnosaKeperawatan_Ket,
        StaticModel.ListSudahBelum, new { @class = "form-control input-sm" })
    </div>

</div>

<script>
    generalDokter("#@formName #DokterRawat_1");
    generalDokter("#@formName #DokterRawat_2");
    generalDokter("#@formName #DokterRawat_3");
    generalDokter("#@formName #Diserahkan_Perawat");
    generalDokter("#@formName #Diterima_Perawat");
    generalDokter("#@formName #Konsultasi");
</script>-->

