﻿@using EMRRSCB.Models
@model RegistrasiViewModel
@{
    var tableId = $"table_viewobatmodal";
    var item = new HistoryObatViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.NoResep);
    column[2] = nameof(item.Tanggal);
    column[3] = nameof(item.NamaDOkter);
    column[4] = nameof(item.DeskripsiObat);
    column[5] = nameof(item.NoReg);
}


<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 130px;
        text-align: center;
    }
    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width : 100px;
    }
    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        width : 150px;
    }
    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4) {
        width: 210px;
    }

</style>
<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
                target_auto_refresh_edit = '@tableId';
                url = '@Url.Action("List", "HistoryObat")';
                init();
                filter[11]='@Model.NoReg'
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a id="reloadTableHistoryObatModal" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting" style="width: 150px;">No Bukti</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting" style="width: 200px;">Dokter</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Deskripsi</th>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="text-center">
                            <a class="text-info" title="Detail"
                               ng-click="detail_param({ noreg : '@Model.NoReg', id : data.@column[0] }, '@Url.Action("Detail", "HistoryObat")')">
                                <i class="icon-eye"></i>
                            </a>
                            &nbsp;
                            |
                            &nbsp;
                            <a href="@Url.Action("ExportPDFObat", "HistoryObat")?nobukti={{ data.@column[0] }}" target="_blank"
                               title="Report"
                               class="text-success">
                                <i class="icon-printer2"></i>
                            </a>
                            &nbsp;
                            |
                            &nbsp;
                            <a ng-if="data.@column[1]!='-'" ng-click="$parent.ajaxmodal({
                                                url: '@Url.Action("Create", "OrderResep", new { noreg = Model.NoReg })&copy=' + data.@column[1],
                                                header: 'Order Resep',
                                                target_auto_refresh : 'table_resep'
                                                })"
                               title="Copy"
                               class="text-info cursor-pointer">
                                <i class="icon-copy"></i>
                            </a>
                            <a ng-if="data.@column[1]=='-'" ng-click="$parent.ajaxmodal({
                                                url: '@Url.Action("Create", "OrderResep", new { noreg = Model.NoReg })&copy=' + data.@column[0],
                                                header: 'Order Resep',
                                                target_auto_refresh : 'table_resep'
                                                })"
                               title="Copy"
                               class="text-info cursor-pointer">
                                <i class="icon-copy"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@(column[2])_View}}</td>
                        <td>{{data.@column[0]}}</td>
                        <td>{{data.@column[3]}}</td>
                        <td>{{data.@column[4]}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>