﻿@using EMRRSCB.Models
@model RegistrasiViewModel
@{
    var tableId = $"table_hasilbacalabmodal";
    var item = new HasilBacaPenunjangViewModel();
    var columnCount = 50;
    var column = new string[columnCount];
    column[1] = nameof(item.NoBukti);
    column[2] = nameof(item.HasilBaca);
    column[3] = nameof(item.Id_mJenisPenunjang);
    column[4] = nameof(item.Tanggal);
    column[5] = nameof(item.Tanggal_View);
    column[6] = nameof(item.Jam);
    column[7] = nameof(item.Jam_View);
    column[8] = nameof(item.NoReg);
    column[9] = nameof(item.NRM);
    column[10] = nameof(item.SectionID);
    column[11] = nameof(item.NamaPasien);
    column[12] = nameof(item.Alamat);
    column[13] = nameof(item.NoIdentitas);
    column[14] = nameof(item.TglLahir);
    column[15] = nameof(item.UmurThn);
    column[16] = nameof(item.UmurBln);
    column[17] = nameof(item.Pekerjaan);
    column[18] = nameof(item.JenisKelamin);
    column[19] = nameof(item.Id_mJenisPenunjang_Text);
    column[20] = nameof(item.Pemeriksaan);
    column[21] = nameof(item.PemeriksaanNama);
    column[22] = nameof(item.SampleID);
    column[23] = nameof(item.UserIDWeb);
    column[24] = nameof(item.TemplateBaru);
    column[25] = nameof(item.TemplateBaru_Nama);
    column[26] = nameof(item.Template_Name);
    column[27] = nameof(item.Template);
    column[28] = nameof(item.NoBill);
    column[29] = nameof(item.NoBuktiHasil);
    column[30] = nameof(item.NoBuktiPermintaan);
    column[31] = nameof(item.Hasil);
    column[32] = nameof(item.Tipe);
    column[33] = nameof(item.NoOrder);
    column[34] = nameof(item.DiagnosaIndikasi);
    column[35] = nameof(item.LokasiFilePDF);
    column[36] = nameof(item.SectionAsal);
}
<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
                    target_auto_refresh_edit = '@tableId';
                    url = '@Url.Action("ListModal","HistoryLaboratorium")';
                    init();
                    filter[8]='@Model.NoReg'
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a id="filterlabmodal" onclick="togglecheckbox('.filter_listmodallab')"><i class="icon-filter3"></i></a></li>
                    <li><a id="reloadTableHistoryLaboratoriumModal" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_listmodallab" style="display:none">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[38]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[39]" ng-change="getdatas()" />
                    </div>
                    @*<div class="form-group">
                <label>
                    <input type="checkbox" ng-model="filter[14]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                    All Periode
                </label>
            </div>*@
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[28]'; sorttype = 'desc';">
                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[28]')" class="sorting">No Bukti</th>
                        <th ng-click="ordering($event,'@column[33]')" class="sorting">No Order</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[8]')" class="sorting">NoReg</th>
                        <th ng-click="ordering($event,'@column[36]')" class="sorting">Section</th>
                    </tr>
                    <tr class="filter_listmodallab">

                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[28]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[33]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            @*<input ng-model="filter[8]" type="text" class="form-control input-xs" ng-change="getdatas()">*@
                        </td>
                        <td>
                            <input ng-model="filter[36]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="7">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        class="trdata"
                        data-infohasil="{{data.@column[31]}}"
                        data-infonomemo="{{data.@column[33]}}"
                        data-infoid="{{data.@column[28]}}"
                        data-infonobukti="{{data.@column[29]}}">

                        <td @*ng-if="data.@(column[23]) == '5e81f00b-e49d-4bd2-aca0-aee3415fb55d'"*@ class="middle text-center" style="width:130px">
                            <a href="@Url.Action("Detail", "HasilPenunjang")/{{ data.@column[28] }}" ng-if="data.@(column[31]) == 'Sudah'"
                               onclick="return false"
                               ng-click="detail(data.@column[29], '@Url.Action("Detail", "HasilPenunjang")')" title="Info" class="btn">
                                <i class="icon-eye text-info"></i>
                            </a>
                            <a onclick="printhasillabmodal(this)" data-target-lokasi="{{data.@(column[35])}}" class="btn" title="print"><i class="icon-file-pdf"></i></a>
                        </td>


                        <!-- Table Result -->
                        <td style="vertical-align:middle; background-color:bisque" ng-if="data.@(column[31]) == 'Belum'">
                            {{data.@column[28]}}
                        </td>
                        <td style="vertical-align:middle;" ng-if="data.@(column[31]) == 'Sudah'">
                            {{data.@column[28]}}
                        </td>
                        <td title="{{data.@(column[33])}}">{{data.@(column[33])}}</td>
                        <td title="{{data.@(column[4])}}">{{data.@(column[4])_View}}</td>
                        <td title="{{data.@(column[8])}}">{{data.@(column[8])}}</td>
                        <td title="{{data.@(column[36])}}">{{data.@(column[36])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
    angular.element('#@tableId').ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var date2 = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[38] = date;
        sc.filter[39] = date2;
        sc.getdatas();
        $('#filterlabmodal').click();
    });

    function printhasillabmodal(tthis) {
        var path = $(tthis).data("target-lokasi");
        let text = path;
        //let result = text.substring(30).replace(/ /g, "");
        //let result = text.substring(20).replace(/ /g,"");
        let result = text.substring(20);
        $('#modalprintlabmodal').modal();
        $('#embedmodalprintlabmodal').attr('src', result);
    }
</script>

<div id="modalprintlabmodal" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hasil Lab</h4>
            </div>
            <form>
                <div class="modal-body">
                    <embed id="embedmodalprintlabmodal" type="application/pdf" width="100%" height="600px" />
                </div>
            </form>
        </div>
    </div>
</div>