﻿<style>
    .tab-custom .active a {
        background:#fff !important;
    }
</style>
<div class="">
    <div class="tabbable tab-custom">
        <ul class="nav nav-tabs nav-tabs-top nav-justified" style="margin-bottom:0;">
            <li class="active"><a class="text-semibold" href="#panel-5modal" data-toggle="tab" onclick="autorefreshlain('reloadTableHistoryRadiologiModal')">RIWAYAT RADIOLOGI</a></li>
            <li><a class="text-semibold" href="#panel-6modal" data-toggle="tab" onclick="autorefreshlain('reloadTableHistoryLaboratoriumModal')">RIWAYAT LABORATORIUM</a></li>
            <li><a class="text-semibold" href="#panel-7modal" data-toggle="tab" onclick="autorefreshlain('reloadTableHistoryObatModal')">RIWAYAT OBAT</a></li>
        </ul>
    </div>
    <div class="tab-content">

        <div class="tab-pane active" id="panel-5modal">

            @Html.Partial("~/Views/MedicalRecord/HistoryModal/_listAssesmenRiwayatRadiologi.cshtml")

        </div>

        <div class="tab-pane" id="panel-6modal">

            @Html.Partial("~/Views/MedicalRecord/HistoryModal/_listAssesmenRiwayatLaboratorium.cshtml")

        </div>

        <div class="tab-pane" id="panel-7modal">

            @Html.Partial("~/Views/MedicalRecord/HistoryModal/_listAssesmenRiwayatObat.cshtml")

        </div>
    </div>
</div>

