﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMREWS_Detail";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Obat
    var d_tbl_EWS = $"frm_table_detailEWS";
    int d_idx_EWS = 0;
    var d_trg_EWS = $"input_target_detailEWS";
    if (Model != null)
    {

        if (Model.EMREWS_List != null)
        {
            d_idx_EWS = Model.EMREWS_List.Count();
        }
    }
    #endregion
}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_EWS thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_EWS thead th:nth-child(1),
    #@d_tbl_EWS tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_EWS thead th:nth-child(2),
    #@d_tbl_EWS tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_EWS thead th:nth-child(3),
    #@d_tbl_EWS tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_EWS thead th:nth-child(4),
    #@d_tbl_EWS tbody td:nth-child(4) {
       display: none;
    }

    #@d_tbl_EWS thead th:nth-child(5),
    #@d_tbl_EWS tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_EWS thead th:nth-child(6),
    #@d_tbl_EWS tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_EWS thead th:nth-child(7),
    #@d_tbl_EWS tbody td:nth-child(7) {
        width: 130px;
    }

    #@d_tbl_EWS thead th:nth-child(8),
    #@d_tbl_EWS tbody td:nth-child(8) {
        width: 130px;
    }

    #@d_tbl_EWS thead th:nth-child(9),
    #@d_tbl_EWS tbody td:nth-child(9) {
        width: 130px;
    }

    #@d_tbl_EWS thead th:nth-child(10),
    #@d_tbl_EWS tbody td:nth-child(10) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_EWS thead th:nth-child(11),
    #@d_tbl_EWS tbody td:nth-child(11) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_EWS thead th:nth-child(12),
    #@d_tbl_EWS tbody td:nth-child(12) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_EWS thead th:nth-child(13),
    #@d_tbl_EWS tbody td:nth-child(13) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_EWS thead th:nth-child(14),
    #@d_tbl_EWS tbody td:nth-child(14) {
        text-align: center;
        width: 180px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailcttpengobatanokvk" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_EWS">
                        <div class="table-responsive">
                            <table id="@d_tbl_EWS" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_EWS')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Jam</th>
                                        <th>Respirasi</th>
                                        <th>Saturasi Oksigen</th>
                                        <th>Oksigen Tambahan</th>
                                        <th>Tekanan Darah Sistolik</th>
                                        <th>Nadi</th>
                                        <th>Kesadaran</th>
                                        <th>Suhu</th>
                                        <th>Total Skor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMREWS_List != null)
                                        {
                                            for (var i = 0; i < Model.EMREWS_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMREWS_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMREWS_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMREWS_List[i].Model.TanggalManual, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMREWS_List[i].Model.JamManual, new { @class = "form-control input-sm" })
                                                    </td>


                                                    @{
                                                        var res_1 = StaticModel.ListRespirasiEWS;
                                                        var item_1 = Model.EMREWS_List[i].Model.Respirasi;
                                                        if (item_1 != null)
                                                        {
                                                            res_1.FirstOrDefault(x => x.Value == Model.EMREWS_List[i].Model.Respirasi).Selected = true;

                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMREWS_List[i].Model.Respirasi,
                                                        res_1, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
                                                    </td>


                                                    @{
                                                        var sat_1 = StaticModel.ListSaturasiEWS;
                                                        var item_2 = Model.EMREWS_List[i].Model.Saturasi;
                                                        if (item_2 != null)
                                                        {
                                                            sat_1.FirstOrDefault(x => x.Value == Model.EMREWS_List[i].Model.Saturasi).Selected = true;

                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMREWS_List[i].Model.Saturasi,
                                                        sat_1, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
                                                    </td>

                                                    @{
                                                        var oks_1 = StaticModel.ListYaTidak;
                                                        var item_3 = Model.EMREWS_List[i].Model.Oksigen;
                                                        if (item_3 != null)
                                                        {
                                                            oks_1.FirstOrDefault(x => x.Value == Model.EMREWS_List[i].Model.Oksigen).Selected = true;

                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMREWS_List[i].Model.Oksigen,
                                                        oks_1, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
                                                    </td>

                                                    @{
                                                        var tekanan_1 = StaticModel.ListTekananDarahEWS;
                                                        var item_4 = Model.EMREWS_List[i].Model.TekananDarah;
                                                        if (item_4 != null)
                                                        {
                                                            tekanan_1.FirstOrDefault(x => x.Value == Model.EMREWS_List[i].Model.TekananDarah).Selected = true;

                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMREWS_List[i].Model.TekananDarah,
                                                        tekanan_1, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
                                                    </td>

                                                    @{
                                                        var nadi_1 = StaticModel.ListNadiEWS;
                                                        var item_5 = Model.EMREWS_List[i].Model.Nadi;
                                                        if (item_5 != null)
                                                        {
                                                            nadi_1.FirstOrDefault(x => x.Value == Model.EMREWS_List[i].Model.Nadi).Selected = true;

                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMREWS_List[i].Model.Nadi,
                                                        nadi_1, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
                                                    </td>

                                                    @{
                                                        var kesadaran_1 = StaticModel.ListKesadaranEWS;
                                                        var item_6 = Model.EMREWS_List[i].Model.Kesadaran;
                                                        if (item_6 != null)
                                                        {
                                                            kesadaran_1.FirstOrDefault(x => x.Value == Model.EMREWS_List[i].Model.Kesadaran).Selected = true;

                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMREWS_List[i].Model.Kesadaran,
                                                        kesadaran_1, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
                                                    </td>

                                                    @{
                                                        var suhu_1 = StaticModel.ListSuhuEWS;
                                                        var item_7 = Model.EMREWS_List[i].Model.Suhu;
                                                        if (item_7 != null)
                                                        {
                                                            suhu_1.FirstOrDefault(x => x.Value == Model.EMREWS_List[i].Model.Suhu).Selected = true;

                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMREWS_List[i].Model.Suhu,
                                                        suhu_1, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
                                                    </td>

                                                    <td>

                                                        @Html.EditorFor(model => model.EMREWS_List[i].Model.TotalSkor, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"

                                                       }
                                                   })
                                                        <!-- 16 -->
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script>
    function pilihobat(_this) {
        var valselect = $(_this).text();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(8) textarea').val(valselect);
    }

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function totalskorEWS(t) {
        var tr = $($(t).closest('tr'));
        var res = tr.find('td:nth-child(7) option:selected').val() || 0;
        var saturasi = tr.find('td:nth-child(8) option:selected').val() || 0;
        var oksigen = tr.find('td:nth-child(9) option:selected').val() || 0;
        var tekanandarah = tr.find('td:nth-child(10) option:selected').val() || 0;
        var nadi = tr.find('td:nth-child(11) option:selected').val() || 0;
        var kesadaran = tr.find('td:nth-child(12) option:selected').val() || 0;
        var suhu = tr.find('td:nth-child(13) option:selected').val() || 0;
        var resskor = 0;
        var saturasiskor = 0;
        var oksigenskor = 0;
        var tekanandarahskor = 0;
        var nadiskor = 0;
        var kesadaranskor = 0;
        var suhuskor = 0;



        if (res == '<= 8') {
            resskor = 3;
        } else if (res == '9-11') {
            resskor = 1;
        } else if (res == '12-20') {
            resskor = 0;
        } else if (res == '21-24') {
            resskor = 2;
        } else if (res == '>= 25') {
            resskor = 3;
        } 

        if (saturasi == '<= 91') {
            saturasiskor = 3;
        } else if (saturasi == '92-93') {
            saturasiskor = 2;
        } else if (saturasi == '94-95') {
            saturasiskor = 1;
        } else if (saturasi == '>= 95') {
            saturasiskor = 0;
        }

        if (oksigen == 'Ya') {
            oksigenskor = 2;
        } else if (oksigen == 'Tidak') {
            oksigenskor = 0;
        }

        if (tekanandarah == '<= 85') {
            tekanandarahskor = 3;
        } else if (tekanandarah == '86-95') {
            tekanandarahskor = 2;
        } else if (tekanandarah == '96-99') {
            tekanandarahskor = 1;
        } else if (tekanandarah == '100-179') {
            tekanandarahskor = 0;
        } else if (tekanandarah == '180-200') {
            tekanandarahskor = 1;
        } else if (tekanandarah == '201-219') {
            tekanandarahskor = 2;
        } else if (tekanandarah == '>= 220') {
            tekanandarahskor = 3;
        }

        if (nadi == '<= 40') {
            nadiskor = 3;
        } else if (nadi == '41-50') {
            nadiskor = 1;
        } else if (nadi == '51-90') {
            nadiskor = 0;
        } else if (nadi == '91-110') {
            nadiskor = 1;
        } else if (nadi == '111-130') {
            nadiskor = 2;
        } else if (nadi == '>= 131') {
            nadiskor = 3;
        }

        if (kesadaran == 'A(Alert)') {
            kesadaranskor = 0;
        } else if (kesadaran == 'V, P, U(Verbal, Pain, Unresponsive)') {
            kesadaranskor = 3;
        }

        if (suhu == '< 35') {
            suhuskor = 2;
        } else if (suhu == '36,1 - 38,0') {
            suhuskor = 0;
        } else if (suhu == '38,1 - 39,0') {
            suhuskor = 1;
        } else if (suhu == '>= 39,1') {
            suhuskor = 2;
        } 

        var total = resskor + saturasiskor + oksigenskor + tekanandarahskor + nadiskor + kesadaranskor + suhuskor;
        var hasil = total.toString();
        tr.find('td:nth-child(14) input').val(hasil);
    }
</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.EMREWS_List = null;
        }
    }
}
<div id="@d_trg_EWS" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMREWS_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMREWS_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMREWS_List[-1].Model.TanggalManual, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMREWS_List[-1].Model.JamManual, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREWS_List[-1].Model.Respirasi,
      StaticModel.ListRespirasiEWS, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREWS_List[-1].Model.Saturasi,
      StaticModel.ListSaturasiEWS, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREWS_List[-1].Model.Oksigen,
      StaticModel.ListYaTidak, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREWS_List[-1].Model.TekananDarah,
      StaticModel.ListTekananDarahEWS, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREWS_List[-1].Model.Nadi,
      StaticModel.ListNadiEWS, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREWS_List[-1].Model.Kesadaran,
      StaticModel.ListKesadaranEWS, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREWS_List[-1].Model.Suhu,
      StaticModel.ListSuhuEWS, new { @class = "form-control input-sm", onchange = "totalskorEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMREWS_List[-1].Model.TotalSkor, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

</div>



