﻿@using EMRRSCB.Models
@model EMRClinicalPathwaysParuViewModel
@{
    var controllerName = "EMRClinicalPathwaysParu";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Aspek Kerja
    var d_tbl_Aspek = $"frm_table_detailAspek";
    int d_idx_Aspek = 0;
    var d_trg_Aspek = $"input_target_detailAspek";
    if (Model != null)
    {

        if (Model.Aspek_List != null)
        {
            d_idx_Aspek = Model.Aspek_List.Count();
        }
    }
    #endregion

    #region ==== Variasi
    var d_tbl_Variasi = $"frm_table_detailVariasi";
    int d_idx_Variasi = 0;
    var d_trg_Variasi = $"input_target_detailVariasi";
    if (Model != null)
    {
        if (Model != null)
        {
            if (Model.Variasi_List != null)
            {
                d_idx_Variasi = Model.Variasi_List.Count();
            }
        }
    }
    #endregion
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #tablecp thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #tablecp thead th:nth-child(1),
    #tablecp tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
    }

    #tablecp thead th:nth-child(2),
    #tablecp tbody td:nth-child(2) {
        text-align: center;
        width: 100px;
    }

    #tablecp thead th:nth-child(3),
    #tablecp tbody td:nth-child(3) {
        text-align: center;
        width: 100px;
    }

    #tablecp thead th:nth-child(4),
    #tablecp tbody td:nth-child(4) {
        text-align: center;
        width: 100px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Variasi thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Variasi thead th:nth-child(1),
    #@d_tbl_Variasi tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Variasi thead th:nth-child(2),
    #@d_tbl_Variasi tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #@d_tbl_Variasi thead th:nth-child(3),
    #@d_tbl_Variasi tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Variasi thead th:nth-child(4),
    #@d_tbl_Variasi tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_Variasi thead th:nth-child(5),
    #@d_tbl_Variasi tbody td:nth-child(5) {
        width: 170px;
    }

    #@d_tbl_Variasi thead th:nth-child(6),
    #@d_tbl_Variasi tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_Variasi thead th:nth-child(7),
    #@d_tbl_Variasi tbody td:nth-child(7) {
        text-align: center;
        width: 150px;
    }

    #@d_tbl_Variasi thead th:nth-child(8),
    #@d_tbl_Variasi tbody td:nth-child(8) {
        text-align: center;
        width: 150px;
    }

    #@d_tbl_Variasi thead th:nth-child(9),
    #@d_tbl_Variasi tbody td:nth-child(9) {
        text-align: center;
        width: 150px;
    }

    #@d_tbl_Variasi thead th:nth-child(10),
    #@d_tbl_Variasi tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Variasi thead th:nth-child(11),
    #@d_tbl_Variasi tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Variasi thead th:nth-child(12),
    #@d_tbl_Variasi tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Variasi thead th:nth-child(13),
    #@d_tbl_Variasi tbody td:nth-child(13) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Variasi thead th:nth-child(14),
    #@d_tbl_Variasi tbody td:nth-child(14) {
        text-align: center;
        width: 100px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TandaTanganDPJP)
        @Html.HiddenFor(model => model.TandaTanganPPJP)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-offset-8 col-md-1">Template</label>
                    <div class="col-md-2">
                        <select id="listTemplateDokumen" class="form-control">
                            <option value="0"></option>
                            @if (Model.ListTemplate != null)
                            {
                                foreach (var x in Model.ListTemplate)
                                {
                                    @: <option value="@x.Value">@x.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-6 control-label">
                        Berat Badan
                    </label>
                    <div class="col-md-2">
                        <div class="input-group">
                            @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                            <label class="input-group-addon">kg</label>
                        </div>
                    </div>
                    <label class="col-md-1 control-label">
                        Tinggi Badan
                    </label>
                    <div class="col-md-2">
                        <div class="input-group">
                            @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                            <label class="input-group-addon">cm</label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-2 control-label">Tanggal Lahir</div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Tgl Masuk</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Jam</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnosis MRS</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Tgl Keluar</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Jam</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Penyakit Utama</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Kode ICD</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1 control-label">
                        Lama Rawat
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                Hari
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Penyakit Penyerta</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Kode ICD</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Rencana Rawat 5 hari
                    </label>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Komplikasi</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Kode ICD</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">
                        Ruang Rawat
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-9 col-md-1 control-label">
                        Kelas
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-2 control-label">Tindakan</div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1 control-label">Kode ICD</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">
                        Rujukan
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Dietary Counseling and Surveillance
                    </label>
                    <div class="col-md-1 control-label">Kode ICD</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="col-md-2 control-label">Catatan Khusus</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CatatanKhusus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CatatanKhusus, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
            </div>

            <div class="panel-body panel">
                <div class="form-group">
                    <div class="col-md-12">
                        <table id="tablecp" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2">Kegiatan</th>
                                    <th rowspan="2">Uraian Kegiatan</th>
                                    <th colspan="7">Hari Rawat</th>
                                    <th rowspan="2">Keterangan</th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="10" class="text-bold" style="text-align: left;">1. Asesmen Awal</td>
                                </tr>
                                <tr>
                                    <td>a. Asesmen Medis</td>
                                    <td>
                                        @Html.TextAreaFor(model => model.NoBukti,  new { @class = "form-control" } )
                                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <label class="checkbox checkbox-inline ">
                                            @Html.EditorFor(model => model.bool1, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox checkbox-inline ">
                                            @Html.EditorFor(model => model.bool1, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox checkbox-inline ">
                                            @Html.EditorFor(model => model.bool1, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox checkbox-inline ">
                                            @Html.EditorFor(model => model.bool1, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox checkbox-inline ">
                                            @Html.EditorFor(model => model.bool1, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox checkbox-inline ">
                                            @Html.EditorFor(model => model.bool1, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox checkbox-inline ">
                                            @Html.EditorFor(model => model.bool1, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                        </label>
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(model => model.NoBukti, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                                        @*@Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                            Simpan Template
                        </label>
                        <input type="text" name="@nameof(Model.nama_template)" id="@nameof(Model.nama_template)" class="form-control" value="" />
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }

</div>

<script>
    function clickgambar1() {
        $('#IMG_TandaTanganDPJP').click()
    }

    function clickgambar2() {
        $('#IMG_TandaTanganPPJP').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TandaTanganDPJP)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TandaTanganDPJP').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TandaTanganPPJP)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TandaTanganPPJP').click()
    }
    var iGambar1;
    var iGambar2;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TandaTanganDPJP)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TandaTanganPPJP)');

    @if (Model != null)
    {
        if (Model.TandaTanganDPJP != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TandaTanganDPJP)');
        }
        if (Model.TandaTanganPPJP != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TandaTanganPPJP)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TandaTanganDPJP)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TandaTanganDPJP');
            iGambar2.convert_V2('TandaTanganPPJP');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function autoid_detailshari(_this) {
        var x1 = $(_this).closest('tr').prev();
        if (x1.length == 0) _this.value = 1
        else {
            var result1;
            while (result1 == undefined) {
                var z1 = $(x1).find('td:nth-child(5) input')[0];
                if (z1 == undefined) {
                    x1 = x1.prev();
                    if (x1.length == 0) result1 = 0;
                } else {
                    result1 = parseInt(z1.value);
                }
            }
            _this.value = result1 + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.Aspek_List = null;
            Model.Variasi_List = null;
        }
    }
}

<div id="@d_trg_Aspek" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Aspek_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Aspek_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="input-group">
                <label class="input-group-addon">Hari Ke </label>
                @Html.EditorFor(model => model.Aspek_List[-1].Model.Hari, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control  trigger-onblur input-sm text-center",
                           onblur = "autoid_detailshari(this)",
                           @readonly = "readonly"
                       }
                   })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Menilai dan memeriksa kegawatan tanda vital</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MenilaiMemeriksa_1,
    StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Menilai fungsi pernafasan lebih spesifik(Ekspirasi memanjang, suara wheezing, hipersonor, vesikuler menurun)</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MenilaiFungsi_1,
    StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Menilai tingkat kesadaran</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MenilaiTingkatKesadaran_1,
    StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Menilai keparahan simptom</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MenilaiKeparahan_1,
    StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Menilai tanda vital</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MenilaiTanda_2,
   StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Menilai efektivitas pernafasan</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MenilaiEfektivitas_2,
   StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Menilai kesadaran dan kenyamanan pasien</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MenilaiKesadaran_2,
   StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Memeriksa DL</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemeriksaDL_3,
   StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memeriksa BUN/SC</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemeriksaBUN_3,
   StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memeriksa EKG</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemeriksaECG_3,
   StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memeriksa foto throaks</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemeriksaFoto_3,
   StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Memberi terapi oksigen</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemberiTerapi_4,
  StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memasang infus(terapi cairan)</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemasangInfus_4,
  StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Melepas Infus</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MelepasInfus_4,
  StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memberi terapi inhalasi</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemberiInhalasi_4,
  StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memberi terapi intravena</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemberiIntravena_4,
  StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Memberi askep fungsi pernapasan efektif</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemberiPernafasan_5,
 StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memberi askep terapi oksigen</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemberiOksigen_5,
 StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memberi askep terapi inhalasi</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemberiInhalasi_5,
 StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memberi askep terapi intravena</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MemberiIntravena_5,
 StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Oksigen 2-3 L/menit</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.Osigen_6,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Infus normal saline</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.Infus_6,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Steroid(dexamethasone, methylprednisolone, dll)</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.Steroid_6,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Mucolotik(N Acetyl, dll)</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.Mucolitik_6,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">H2 bloker (Ranitidine, dll)</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.H2_6,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">PPI (Omeprazole, Lansoprazole, dll)</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.PPI_6,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Antibiotik sesuai klinis</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.Antibiotik_6,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Bronkodilator(Combivent, dll)</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.Bronkodilator_6,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Diet lunak sesuai kemampuan pasien</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.DietLunak_7,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Diet padat sesuai kemampuan pasien</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.DietPadat_7,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Diet tambahan susu bila perlu</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.DietTambahan_7,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Cairan 1200-1500 ml / 24 jam</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.Cairan_7,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Melatih mobilisasi aktif yang terbatas</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MobilisasiAktifTerbatas_8,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Melatih mobilisasi dengan latihan toileting</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MobilisasiToileting_8,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Melatih mobilisasi aktif lanjut, keluar ruangan</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.MobilisasiKeluarRuangan_8,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Melakukan konsultasi gizi</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.KonsultasiGizi_9,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Melakukan konseling diagnose dan terapi</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.KonselingDiagnosa_10,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Melakukan konseling dukungan keluarga kepada pasien</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.KonselingDukungan_10,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Memberi edukasi diet fisioterapi dada</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.EdukasiDiet_11,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memberi edukasi cara minum obat</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.EdukasiCaraMinum_11,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Memberi edukasi control rutin di poliklinik</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.EdukasiControl_11,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-9 control-label">Perbaikan simptop</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.Simptom_12,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Perbaikan fungsi pernafasan</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.FungsiPernafasan_12,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-9 control-label">Perbaikan keadaan umum pasien</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Aspek_List[-1].Model.KeadaanUmum_12,
StaticModel.ListYaTidak, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>
</div>

<div id="@d_trg_Variasi" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Variasi_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Variasi_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Variasi_List[-1].Model.VariasiPelayanan, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Variasi_List[-1].Model.Tanggal, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Variasi_List[-1].Model.Alasan, new
   {
           @class = "form-control input-sm"
   })
    </div>
</div>
<script>
    generalDokter("#@formName #NamaDPJP");
    generalDokter("#@formName #NamaPPJP");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

     $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoBukti";
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }
</script>



