﻿@using EMRRSCB.Models
@model EMROrientasiPasienBaruViewModel
@{
    var controllerName = "EMROrientasiPasienBaru";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    .customtext {
        height: 850px;
    }

    #tablecustom thead th:nth-child(1),
    #tablecustom tbody td:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2),
    #tablecustom tbody th:nth-child(2) {
        width: 500px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(3),
    #tablecustom tbody th:nth-child(3) {
        width: 80px;
        text-align: center;
    }

</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDPenerimaOrientasi)
        @Html.HiddenFor(model => model.VerifikasiPemberiOrientasi)


        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Tanggal Orientasi
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TanggalOrientasi, new { htmlAttributes = new { @class = "form-control", Value = (Model.TanggalOrientasi != null ? (Model.TanggalOrientasi.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TanggalOrientasi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <table id="tablecustom" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Materi Orientasi</th>
                                <th>Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1. </td>
                                <td>Peraturan RS</td>
                                <td>
                                    @Html.DropDownListFor(model => model.PeraturanRS, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PeraturanRS, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>2. </td>
                                <td>Hak dan Kewajiban Pasien</td>
                                <td>
                                    @Html.DropDownListFor(model => model.HakdanKewajiban, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HakdanKewajiban, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>3. </td>
                                <td>Perawat dan Dokter Penanggung Jawab</td>
                                <td>
                                    @Html.DropDownListFor(model => model.PerawatdanDokter, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PerawatdanDokter, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>4. </td>
                                <td>Jam Visite Dokter</td>
                                <td>
                                    @Html.DropDownListFor(model => model.JamVisite, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.JamVisite, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>5. </td>
                                <td>Waktu Berkunjung</td>
                                <td>
                                    @Html.DropDownListFor(model => model.WaktuBerkunjung, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WaktuBerkunjung, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>6. </td>
                                <td>Layanan Obat</td>
                                <td>
                                    @Html.DropDownListFor(model => model.LayananObat, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LayananObat, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>7. </td>
                                <td>Jadwal Pemberian Makanan Pasien</td>
                                <td>
                                    @Html.DropDownListFor(model => model.JadwalPemberian, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.JadwalPemberian, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>8. </td>
                                <td>Administrasi dan Pembayaran</td>
                                <td>
                                    @Html.DropDownListFor(model => model.Administrasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Administrasi, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>9. </td>
                                <td>Penjelasan Penggunaan Gelang Identitas Pasien(Biru, Merah, Kuning)</td>
                                <td>
                                    @Html.DropDownListFor(model => model.PenjelasanPenggunaan, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PenjelasanPenggunaan, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>10. </td>
                                <td>Fasilitas(Jenis Cara Penggunaan)</td>
                                <td>
                                    @Html.DropDownListFor(model => model.Fasilitas, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Fasilitas, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Kamar Mandi</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.KamarMandi, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.KamarMandi, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Kipas Angin</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.KipasAngin, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.KipasAngin, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Wastafel/ Handrub</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.Wastafel, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Wastafel, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Lemari Pasien</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.LemariPasien, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LemariPasien, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>AC</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.AC, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AC, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Televisi</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.Televisi, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Televisi, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Telepon</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.Telepon, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Telepon, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Tempat Samapah Organik/ Non Organik/ Bahan Berbahaya</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.TempatSampah, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TempatSampah, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Kontak Saran/ Kepuasan Pelanggan</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.KotakSaran, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.KotakSaran, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>11. </td>
                                <td>
                                    Tata Tertib Penggunaan
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.TataTertib, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TataTertib, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>12. </td>
                                <td>
                                    Layanan Pengaduan
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.LayananPengaduan, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LayananPengaduan, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>13. </td>
                                <td>
                                    Keadaan Darurat/ Jalur Evakuasi
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.KeadaanDarurat, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.KeadaanDarurat, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>14. </td>
                                <td>
                                    Larangan Merokok Bagi Pengunjung dan Pasien
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.LaranganMerokok, StaticModel.ListYaTidak, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LaranganMerokok, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pemberi Orientasi @if (Model.VerifikasiPemberiOrientasi)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.PemberiOrientasi, Model.PemberiOrientasi == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PemberiOrientasi.ToString(), Text = Model.PemberiOrientasiNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemberiOrientasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.PemberiOrientasi)','@nameof(Model.VerifikasiPemberiOrientasi)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Penerima Orientasi
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PenerimaOrientasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenerimaOrientasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDPenerimaOrientasi != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPenerimaOrientasi)" name="IMG_@nameof(Model.TTDPenerimaOrientasi)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function clickgambar1() {
        $('#IMG_TTDPenerimaOrientasi').click()
    }

    function ulanggambar1() {
        $('#IMG_TTDPenerimaOrientasi').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDPenerimaOrientasi)');

    @if (Model != null)
    {
        if (Model.TTDPenerimaOrientasi != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDPenerimaOrientasi)');
        }
    }

    $(document).ready(function () {
        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPenerimaOrientasi)');
        iGambar1 = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDPenerimaOrientasi');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    generalDokter("#@formName #PemberiOrientasi");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>


