﻿@using EMRRSCB.Models
@model EMRResumePasienPulangViewModel
@{
    var controllerName = "EMRResumePasienPulang";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDPasien)
        @Html.HiddenFor(model => model.VerifikasiPrwt)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Dirawat Sejak</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            @Html.EditorFor(model => model.DirawatSejak, new { htmlAttributes = new { @class = "form-control", Value = (Model.DirawatSejak != null ? (Model.DirawatSejak.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.DirawatSejak, "", new { @class = "text-danger" })
                            <label class="input-group-addon">s/d</label>
                            @Html.EditorFor(model => model.DirawatSampai, new { htmlAttributes = new { @class = "form-control", Value = (Model.DirawatSampai != null ? (Model.DirawatSampai.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.DirawatSampai, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnosa Medik saat pulang</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiagnosaMedikPulang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiagnosaMedikPulang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Status Pulang</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.StatusPulang, StaticModel.ListStatusPulang, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StatusPulang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keadaan Umum Saat Pulang</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Suhu</label>
                            @Html.EditorFor(model => model.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Suhu, "", new { @class = "text-danger" })
                            <label class="input-group-addon">C</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Nadi</label>
                            @Html.EditorFor(model => model.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nadi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">x/mnt</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Tensi</label>
                            @Html.EditorFor(model => model.Tensi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tensi, "", new { @class = "text-danger" })
                            <label class="input-group-addon">mm/Hg</label>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="input-group">
                            <label class="input-group-addon">Pernafasan</label>
                            @Html.EditorFor(model => model.Pernafasan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pernafasan, "", new { @class = "text-danger" })
                            <label class="input-group-addon">x/mnt</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">BB</label>
                            @Html.EditorFor(model => model.BB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BB, "", new { @class = "text-danger" })
                            <label class="input-group-addon">Kg</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Kesadaran</label>
                            @Html.EditorFor(model => model.Kesadaran, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Kesadaran, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pasien Rujuk ke</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PasienDirujukKe, StaticModel.ListDirujukKe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PasienDirujukKe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alat bantu yang masih terpasang saat pulang</label>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlatBantuTidakAda, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tidak Ada
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlatBantuInfus, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Infus
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlatBantuKateter, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Kateter
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlatBantuNGT, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            NGT
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlatBantuOksigen, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Oksigen
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlatBantuLain, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Lain-lain
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Obligasi Saat Pulang</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ObligasiSaatPulang, StaticModel.ListObligasiSaatPulang, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ObligasiSaatPulang, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Masalah Keperawatan selama dirawat</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.MasalahKeperawatan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MasalahKeperawatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tindakan yang dilakukan selama dirawat</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.TindakanKeperawatan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TindakanKeperawatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Masalah Keperawatan yang perlu ditindak lanjuti di rumah</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.MasalahKeperawatanTidakPerlu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MasalahKeperawatanTidakPerlu, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">Penyuluhan kesehatan yang diberikan</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraPemberianMakan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Pemberian Makanan / Minum
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraPemberianObat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Pemberian Obat
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraPerawatanLuka, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Perawatan Luka
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraTeknikRelaksasi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Melakukan Teknik Relaksasi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraBatukEfektif, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Batuk Efektif
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraFisioterapi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Melakukan Fisioterapi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraPengaturanDiet, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Pengaturan Diet
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraMenjemur, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Menjemur Bayi Kuning
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraPengeceran, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cara Pengeceran / Pemberian Susu
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.MemandikanBayi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Memandikan Bayi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.MerawatBayi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Merawat Bayi
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.MerawatTaliPusat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Merawat Tali Pusat
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PerawatanTaliPusat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Perawatan Tali Pusat
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.LainLain, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Lain-Lain
                        </label>
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.LainLainKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LainLainKet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-10">Pasien/ Keluarga mengatakan pengertiannya tentang penjelasan yang diberikan</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PasienMengatakanMengerti, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PasienMengatakanMengerti, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Setelah diberikan Penyuluhan Pasien/ Keluarga dapat mendemontrasikan cara</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.SetelahDiberikanPenyuluhan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SetelahDiberikanPenyuluhan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Mencocokan Gelang Bayi</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.MencocokanGelangIbu, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MencocokanGelangIbu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nomor Gelang Ibu pada Bayi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomorGelangIbu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomorGelangIbu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Disaksikan Orang Tua Bayi</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.DisaksikanOrangTua, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DisaksikanOrangTua, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Obat yang di bawa saat pulang</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ObatYangDibawaPulang, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ObatYangDibawaPulang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Hasil Pemeriksaan yang di bawa saat pulang</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.HasilPemeriksaan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HasilPemeriksaan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Surat Kontrol</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SuratKontrol, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuratKontrol, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Surat Rujukan</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SuratRujukan, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuratRujukan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Surat Istirahat</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SuratIstirahat, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuratIstirahat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kartu Imunisasi</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.KartuImunisasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KartuImunisasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Surat Keterangan Kelahiran</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SuratKeteranganLahir, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuratKeteranganLahir, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Surat Tanda Bukti Selesai Admin</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SuratAdministrasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuratAdministrasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Pulang ke alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PulangKeAlamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PulangKeAlamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Penjemput</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaPenjemput, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPenjemput, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Hubungan Dengan Pasien</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HubunganDenganPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HubunganDenganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Perawat @if (Model.VerifikasiPrwt)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.KodePerawat, Model.KodePerawat == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.KodePerawat.ToString(), Text = Model.KodePerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KodePerawat, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.KodePerawat)','@nameof(Model.VerifikasiPrwt)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pasien</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NamaTandaTangan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaTandaTangan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTDPasien" name="IMG_TTDPasien" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    generalDokter("#@formName #KodePerawat");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function clickgambar2() {
        $('#IMG_TTDPasien').click();
    }

    function ulanggambar2() {
        $('#IMG_TTDPasien').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar2;
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDPasien)');

     @if (Model != null)
    {
         if (Model.TTDPasien != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
    }

    $(document).ready(function () {

        iGambar2 = new iPainter_V2(ximg_Gambar2);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPasien)');
        iGambar2 = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar2.convert_V2('TTDPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


