﻿@using EMRRSCB.Models
@model EMRPenyerahanKembaliBarangMilikPasienViewModel
@{
    var controllerName = "EMRPenyerahanKembaliBarangMilikPasien";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDYangMenerima)
        @Html.HiddenFor(model => model.TTDSatpam)
        @Html.HiddenFor(model => model.TTDSaksi)
        @Html.HiddenFor(model => model.TTDPerawat)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2">Tanggal Pengambilan</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1">Jam</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                        @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Barang</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaBarang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaBarang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kondisi Barang</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.KondisiBarang, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KondisiBarang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Hubungan Pasien :</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.HubunganDenganPasien, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HubunganDenganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Yang Menerima
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.YangMenerima, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YangMenerima, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDYangMenerima != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Satpam
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Satpam, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Satpam, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.Satpam != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Saksi1
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Saksi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saksi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDSaksi != null ? "btn-flash" : "")" onclick="clickgambar3()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar3()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Perawat
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Perawat, Model.Perawat == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.Perawat.ToString(), Text = Model.PerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Perawat, "", new { @class = "text-danger" })
                    </div>
                   
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDPerawat != null ? "btn-flash" : "")" onclick="clickgambar4()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar4()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDYangMenerima)" name="IMG_@nameof(Model.TTDYangMenerima)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDSatpam)" name="IMG_@nameof(Model.TTDSatpam)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDSaksi)" name="IMG_@nameof(Model.TTDSaksi)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPerawat)" name="IMG_@nameof(Model.TTDPerawat)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>
 function clickgambar1() {
     $('#IMG_TTDYangMenerima').click()
    }

    function clickgambar2() {
        $('#IMG_TTDSatpam').click()
    }

    function clickgambar3() {
        $('#IMG_TTDSaksi').click()
    }

    function clickgambar4() {
        $('#IMG_TTDPerawat').click()
    }


    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDYangMenerima)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDYangMenerima').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDSatpam)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDSatpam').click()
    }

    function ulanggambar3() {
        $('#IMG_@nameof(Model.TTDSaksi)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDSaksi').click()
    }

    function ulanggambar4() {
        $('#IMG_@nameof(Model.TTDPerawat)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPerawat').click()
    }

    generalDokter("#@formName #Perawat");

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var iGambar4;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDYangMenerima)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDSatpam)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTDSaksi)');
    var ximg_Gambar4 = $('#IMG_@nameof(Model.TTDPerawat)');

    @if (Model != null)
    {
        if (Model.TTDYangMenerima != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDYangMenerima)');
        }
        if (Model.TTDSatpam != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDSatpam)');
        }
        if (Model.TTDSaksi != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTDSaksi)');
        }
        if (Model.TTDPerawat != null)
        {
            @:ximg_Gambar4.attr('src', 'data:image/jpeg;base64,@(Model.TTDPerawat)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);
        iGambar4 = new iPainter_V2(ximg_Gambar4);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPerawat)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDYangMenerima');
            iGambar2.convert_V2('TTDSatpam');
            iGambar3.convert_V2('TTDSaksi');
            iGambar4.convert_V2('TTDPerawat');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


