﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail

@{
    var controllerName = "EMRAssesmenRisikoJatuhPadaPedriatri";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_pedriatri = $"frm_table_detailAssResikoPedriatri";
    int d_idx_pedriatri = 0;
    var d_trg_pedriatri = $"input_target_detailAssResikoPedriatri";
    if (Model != null)
    {
        if (Model.EMRpedriatri_List != null)
        {
            d_idx_pedriatri = Model.EMRpedriatri_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>

    #d_tbl_pedriatri thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_pedriatri thead th:nth-child(1),
    #d_tbl_pedriatri tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_pedriatri thead th:nth-child(2),
    #d_tbl_pedriatri tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_pedriatri thead th:nth-child(3),
    #d_tbl_pedriatri tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_pedriatri thead th:nth-child(4),
    #d_tbl_pedriatri tbody td:nth-child(4) {
        width: 80px;
        display: none;
    }

    #d_tbl_pedriatri thead th:nth-child(5),
    #d_tbl_pedriatri tbody td:nth-child(5) {
        width: 200px;
    }

    #d_tbl_pedriatri thead th:nth-child(6),
    #d_tbl_pedriatri tbody td:nth-child(6) {
        width: 300px;
    }

    #d_tbl_pedriatri thead th:nth-child(7),
    #d_tbl_pedriatri tbody td:nth-child(7) {
        width: 300px;
    }

    #d_tbl_pedriatri thead th:nth-child(8),
    #d_tbl_pedriatri tbody td:nth-child(8) {
        width: 300px;
    }

    #d_tbl_pedriatri thead th:nth-child(9),
    #d_tbl_pedriatri tbody td:nth-child(9) {
        width: 300px;
    }

    #d_tbl_pedriatri thead th:nth-child(10),
    #d_tbl_pedriatri tbody td:nth-child(10) {
        width: 300px;
    }

    #d_tbl_pedriatri thead th:nth-child(11),
    #d_tbl_pedriatri tbody td:nth-child(11) {
        width: 300px;
    }

    #d_tbl_pedriatri thead th:nth-child(12),
    #d_tbl_pedriatri tbody td:nth-child(12) {
        width: 300px;
    }

    #d_tbl_pedriatri thead th:nth-child(13),
    #d_tbl_pedriatri tbody td:nth-child(13) {
        width: 100px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div id="modalaews" class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaipedriatri" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_pedriatri">
                                    <div class="table-responsive">
                                        <table id="d_tbl_pedriatri" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_pedriatri')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>TANGGAL</th>
                                                    <th>USIA</th>
                                                    <th>JENIS KELAMIN</th>
                                                    <th>DIAGNOSA</th>
                                                    <th>GANGGUAN KOGNITIF</th>
                                                    <th>FAKTOR LINGKUNGAN</th>
                                                    <th>RESPON TERHADAP OPERASI/ OBAT PENENANG/ EFEK ANESTESI</th>
                                                    <th>PENGGUNAAN OBAT</th>
                                                    <th>TOTAT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.EMRpedriatri_List != null)
                                                    {
                                                        for (var i = 0; i < Model.EMRpedriatri_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRpedriatri_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.TextAreaFor(model => model.EMRpedriatri_List[i].Model.Tanggal, new
                                                               {
                                                                       @class = "form-control input-sm"

                                                               })
                                                                </td>

                                                                @{
                                                                    var m_1 = StaticModel.List_Usia;
                                                                    var item_1 = Model.EMRpedriatri_List[i].Model.Usia;
                                                                    if (item_1 != null)
                                                                    {
                                                                        m_1.FirstOrDefault(x => x.Value == Model.EMRpedriatri_List[i].Model.Usia).Selected = true;

                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRpedriatri_List[i].Model.Usia,
                                                                        m_1, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.Usia_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <!-- 7 -->
                                                                @{
                                                                    var m_2 = StaticModel.ListResikoJatuh2;
                                                                    var item_2 = Model.EMRpedriatri_List[i].Model.JenisKelamin;
                                                                    if (item_2 != null)
                                                                    {
                                                                        m_2.FirstOrDefault(x => x.Value == Model.EMRpedriatri_List[i].Model.JenisKelamin).Selected = true;

                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRpedriatri_List[i].Model.JenisKelamin,
                                                                        m_2, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.JenisKelamin_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>

                                                                <!-- 7 -->
                                                                @{
                                                                    var m_3 = StaticModel.List_Diagnosis;
                                                                    var item_3 = Model.EMRpedriatri_List[i].Model.Diagnosis;
                                                                    if (item_3 != null)
                                                                    {
                                                                        m_3.FirstOrDefault(x => x.Value == Model.EMRpedriatri_List[i].Model.Diagnosis).Selected = true;

                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRpedriatri_List[i].Model.Diagnosis,
                                                                        m_3, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.Diagnosis_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <!-- 7 -->
                                                                @{
                                                                    var m_4 = StaticModel.List_GangguanKognitif;
                                                                    var item_4 = Model.EMRpedriatri_List[i].Model.GangguanKognitif;
                                                                    if (item_4 != null)
                                                                    {
                                                                        m_4.FirstOrDefault(x => x.Value == Model.EMRpedriatri_List[i].Model.GangguanKognitif).Selected = true;

                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRpedriatri_List[i].Model.GangguanKognitif,
                                                                    m_4, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.GangguanKognitif_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>

                                                                </td>


                                                                @{
                                                                    var m_5 = StaticModel.List_FaktorLingkungan;
                                                                    var item_5 = Model.EMRpedriatri_List[i].Model.FaktorLingkungan;
                                                                    if (item_5 != null)
                                                                    {
                                                                        m_5.FirstOrDefault(x => x.Value == Model.EMRpedriatri_List[i].Model.FaktorLingkungan).Selected = true;

                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRpedriatri_List[i].Model.FaktorLingkungan,
                                                                    m_5, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.FaktorLingkungan_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <!-- 10 -->
                                                                @{
                                                                    var m_6 = StaticModel.List_ResponOprasi;
                                                                    var item_6 = Model.EMRpedriatri_List[i].Model.ResponOprasi;
                                                                    if (item_6 != null)
                                                                    {
                                                                        m_6.FirstOrDefault(x => x.Value == Model.EMRpedriatri_List[i].Model.ResponOprasi).Selected = true;

                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRpedriatri_List[i].Model.ResponOprasi,
                                                                    m_6, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.ResponOprasi_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <!-- 13 -->
                                                                @{
                                                                    var m_7 = StaticModel.List_PenggunaanObat;
                                                                    var item_7 = Model.EMRpedriatri_List[i].Model.PenggunaanObat;
                                                                    if (item_7 != null)
                                                                    {
                                                                        m_7.FirstOrDefault(x => x.Value == Model.EMRpedriatri_List[i].Model.PenggunaanObat).Selected = true;

                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRpedriatri_List[i].Model.PenggunaanObat,
                                                                    m_7, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.PenggunaanObat_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>

                                                                <!-- 15 -->
                                                                <td>

                                                                    @Html.EditorFor(model => model.EMRpedriatri_List[i].Model.Total, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"

                                                                   }
                                                               })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">SKOR</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Keterangan, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script>
    function totalskorPedriatri(t) {
        var tr = $($(t).closest('tr'));
        var a = tr.find('td:nth-child(6) option:selected').val() || 0;
        var b = tr.find('td:nth-child(7) option:selected').val() || 0;
        var c = tr.find('td:nth-child(8) option:selected').val() || 0;
        var d = tr.find('td:nth-child(9) option:selected').val() || 0;
        var e = tr.find('td:nth-child(10) option:selected').val() || 0;
        var f = tr.find('td:nth-child(11) option:selected').val() || 0;
        var g = tr.find('td:nth-child(12) option:selected').val() || 0;
        var usia = 0;
        var jk = 0;
        var diagnosis = 0;
        var gangguan = 0;
        var faktor = 0;
        var respon = 0;
        var penggunaan = 0;



        if (a == '< 3 Tahun') {
            usia = 4;
        } else if (a == '3 - 7 Tahun') {
            usia = 3;
        } else if (a == '7 - 13 Tahun') {
            usia = 2;
        } else if (a == '> 13 Tahun') {
            usia = 1;
        } else if (a == '') {
            usia = 0;
        }
        tr.find('td:nth-child(6) input')[0].value = usia;

        if (b == 'Laki-Laki') {
            jk = 2;
        } else if (b == 'Perempuan') {
            jk = 1;
        } else if (b == '') {
            jk = 0;
        }
        tr.find('td:nth-child(7) input')[0].value = jk;

        if (c == 'Diagnosis Neurologi') {
            diagnosis = 4;
        } else if (c == 'Perubahan oksigen (diagnosis, respiratorik, dehidrasi, anemia, anoreksi, sinkop, pusing, dsb)') {
            diagnosis = 3;
        } else if (c == 'Gangguan Psikis/ Perilaku') {
            diagnosis = 2;
        } else if (c == 'Diagnosis lain') {
            diagnosis = 1;
        } else if (c == '') {
            diagnosis = 0;
        }
        tr.find('td:nth-child(8) input')[0].value = diagnosis;

        if (d == 'Tidak sadar terhadap keterbatasan') {
            gangguan = 3;
        } else if (d == 'Lupa keterbatasan') {
            gangguan = 2;
        } else if (d == 'Mengetahui kemampuan diri') {
            gangguan = 1;
        } else if (d == '') {
            gangguan = 0;
        }
        tr.find('td:nth-child(9) input')[0].value = gangguan;

        if (e == 'Riwayat jatuh dari tempat tidur saat bayi - anak') {
            faktor = 4;
        } else if (e == 'Pasien menggunakan alat bantu atau box atau mebel') {
            faktor = 3;
        } else if (e == 'Pasien berada di tempat tidur') {
            faktor = 2;
        } else if (e == 'Diluar ruang rawat') {
            faktor = 1;
        } else if (e == '') {
            faktor = 0;
        }
        tr.find('td:nth-child(10) input')[0].value = faktor;

        if (f == 'Dalam 24 jam') {
            respon = 3;
        } else if (f == 'Dalam 48 jam riwayat jatuh') {
            respon = 2;
        } else if (f == '> 48 jam') {
            respon = 1;
        } else if (f == '') {
            respon = 0;
        }
        tr.find('td:nth-child(11) input')[0].value = respon;

        if (g == 'Obat Sedative (kecuali pasien ICU yang menggunakan sedasi dan paralisis) Hipnotik, Barbiturat, Fenotiazin, Antidepresan, Laksans ? Diuretika, Narkotik') {
            penggunaan = 3;
        } else if (g == 'Salah satu dari pengobatan diatas') {
            penggunaan = 2;
        } else if (g == 'Pengobatan lain') {
            penggunaan = 1;
        } else if (g == '') {
            penggunaan = 0;
        }
        tr.find('td:nth-child(12) input')[0].value = penggunaan;

        var total = usia + jk + diagnosis + gangguan + faktor + respon + penggunaan;
        var hasil = total.toString();
        tr.find('td:nth-child(13) input').val(hasil);
        if (total >= 7 && total <= 11) {
            $('#Keterangan').val('Resiko Rendah');
        } else if (total > 11) {
            $('#Keterangan').val('Resiko Tinggi');
        }
    }

    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }
</script>

@{
    if (Model != null)
    {
        Model.EMRpedriatri_List = null;
    }
}

<div id="@d_trg_pedriatri" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRpedriatri_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRpedriatri_List[-1].Model.Tanggal, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.EMRpedriatri_List[-1].Model.Usia,
          StaticModel.List_Usia, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.Usia_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
        </div>
    </div>

    <div class="input-detail">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.EMRpedriatri_List[-1].Model.JenisKelamin,
          StaticModel.ListResikoJatuh2, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.JenisKelamin_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
        </div>
    </div>

    <div class="input-detail">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.EMRpedriatri_List[-1].Model.Diagnosis,
          StaticModel.List_Diagnosis, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.Diagnosis_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
        </div>
    </div>

    <div class="input-detail">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.EMRpedriatri_List[-1].Model.GangguanKognitif,
          StaticModel.List_GangguanKognitif, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.GangguanKognitif_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
        </div>
    </div>

    <div class="input-detail">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.EMRpedriatri_List[-1].Model.FaktorLingkungan,
          StaticModel.List_FaktorLingkungan, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.FaktorLingkungan, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
        </div>
    </div>

    <div class="input-detail">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.EMRpedriatri_List[-1].Model.ResponOprasi,
          StaticModel.List_ResponOprasi, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.ResponOprasi_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
        </div>
    </div>


    <div class="input-detail">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.EMRpedriatri_List[-1].Model.PenggunaanObat,
          StaticModel.List_PenggunaanObat, new { @class = "form-control input-sm", onchange = "totalskorPedriatri(this)" })
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.PenggunaanObat_Ket, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
        </div>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRpedriatri_List[-1].Model.Total, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>


</div>



