﻿@using EMRRSCB.Models
@model HistoryObatViewModel

@{
    ViewBag.Title = "View Obat";
}

<div class="wall" ng-controller="form">
    <div class="panel panel-body">
        <div class="form-group">
            <label class="control-label col-md-2">No. Resep</label>
            <label class="control-label col-md-10">: @Model.NoResep</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">No. Bukti</label>
            <label class="control-label col-md-10">: @Model.NoBukti</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Dokter</label>
            <label class="control-label col-md-10">: @Model.NamaDOkter</label>
        </div>
        <br />
        <br />
        <table class="table table-bordered table-responsive" style="border:1px solid #ccc;">
            <thead>
                <tr>
                    <th style="width:200px">Kode Obat</th>
                    <th>Nama</th>
                    <th>Qty</th>
                    <th>Aturan Pakai</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Detail_List)
                {
                    <tr>
                        <td>@x.Kode_Barang</td>
                        <td>@x.Nama_Barang</td>
                        <td>@x.JmlObat</td>
                        <td>@x.Dosis</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>