﻿@using EMRRSCB.Models
@model EMRSlipAdmissionViewModel
@{
    var controllerName = "EMRSlipAdmission";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.VerifikasiPetugasAdmission)


        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">I. Identitas Pasien(ditulis oleh Pasien/Keluarga)</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Nama Pasien
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Umur/Tanggal Lahir
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TanggalLahir, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TanggalLahir, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Alamat Pasien
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AlamatPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Penanggung Jawab
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">
                        Pekerjaan Penanggung Jawab
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PekerjaanPenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PekerjaanPenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">II. Diagnosa</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Plant Of Care
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PlantOfCare, StaticModel.ListPlantOfCare, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PlantOfCare, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Merawat
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.DokterMerawat, Model.DokterMerawat == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterMerawat.ToString(), Text = Model.DokterMerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterMerawat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Cara Bayar
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.CaraBayar, StaticModel.ListCaraBayar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CaraBayar, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        JKN Gol
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.JKNGol, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JKNGol, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.JKNGolKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JKNGolKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Hak Perawatan Kelas
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HakPerawatan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HakPerawatan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">III. Permintaan Kamar/ TT Rawat Inap</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Kelas Perawatan
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KelasPerawatan, StaticModel.ListKelasPerawatan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KelasPerawatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Intermedite Alasan
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Intermedite, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Intermedite, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Ruangan
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ruangan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ruangan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Konfirmasi tempat
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KonfirmasiTempat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KonfirmasiTempat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Petugas Ruangan
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PetugasRuangan, Model.PetugasRuangan == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PetugasRuangan.ToString(), Text = Model.PetugasRuanganNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PetugasRuangan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Ketersediaan
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ketersediaan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ketersediaan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Situasi Kamar
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SituasiKamar, StaticModel.ListSiapTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SituasiKamar, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Kesiapan Kamar
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SituasiKamar, StaticModel.ListBolehKirimTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SituasiKamar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">IV. Estimasi Biaya</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Jenis Tindakan
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JenisTindakan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JenisTindakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Biaya Rp
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BiayaTindakan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BiayaTindakan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">V. Informasi Dan Evaluasi</label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Informasi Ketersediaan & Situasi Kamar
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.InformasiKetersediaan, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.InformasiKetersediaan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Informasi Hak & Kewajiban
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.InfromasiHakKewajiban, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.InfromasiHakKewajiban, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Informasi General Concent
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.InformasiGeneral, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.InformasiGeneral, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 ">
                        Informasi cara bayar dan perlengkapan / Persyaratan
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.InformasiCaraBayar, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.InformasiCaraBayar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 text-bold">VI. Rekam Medik Lama</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.RekamMedikLama, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RekamMedikLama, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 text-bold">VII. Pengantaran List Pasien</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PengantaranListPasien, StaticModel.ListPoliIGDAdmission, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PengantaranListPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Petugas Admission @if (Model.VerifikasiPetugasAdmission)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.PetugasAdmission, Model.PetugasAdmission == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PetugasAdmission.ToString(), Text = Model.PetugasAdmissionNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PetugasAdmission, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.PetugasAdmission)','@nameof(Model.VerifikasiPetugasAdmission)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    generalDokter("#@formName #DokterMerawat");
    generalDokter("#@formName #PetugasRuangan");
    generalDokter("#@formName #PetugasAdmission");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>




