﻿@*@using EMRRSCB.Models
@model EMREstimasiBiayaViewModel
@{
    var controllerName = "EMREstimasiBiaya";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TandaTangan)
            @Html.HiddenFor(model => model.TandaTanganPetugas)

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">URAIAN</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        DIAGNOSA / TINDAKAN :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Diagnosa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Diagnosa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        KRITERIA TINDAKAN OPERASI :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Kreteria, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Kreteria, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        BIAYA TINDAKAN  :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.BiayaTindakan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BiayaTindakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        SEWA ALAT  :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Sewa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sewa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        ALAT KHUSUS :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Alat, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Alat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        BIAYA KAMAR/ HARI :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.BiayaKamar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BiayaKamar, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        PERAWATAN / HARI :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Perawatan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Perawatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        VISITE DOKTER SPESIALIS :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.VisiteDokter, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VisiteDokter, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        BIAYA ADMINISTRASI :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.BiayaAdminitrasi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BiayaAdminitrasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        LAIN-LAIN :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.LainLain, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LainLain, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        TOTAL :
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Total, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 text-bold">
                        Ketentuan <i>(Terms & Condition)</i>
                    </label>
                    <div class="col-md-12">
                        <ul>
                            <li>Tidak termasuk obat dan penunjang lainnya.</li>
                            <li>Form ini berlaku sebagai dokumen yang sah dan merupakan satu-satunya dokumen yang berlaku bagi kedua belah pihak.</li>
                            <li>
                                Jika terdapat perubahan biaya akan disampaikan selanjutnya kepada pasien oleh petugas Rumah Sakit Umum Prima Medika.
                            </li>
                            <li>
                                Setuju pembayaran dibayarkan di tempat jika ada pembayaran selisih maupun tidak ditanggung oleh asuransi
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12">Penanggung Jawab Biaya</label>
                            <label class="col-md-6"></label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" style="position:inherit">
                                <div class="form-group" style="position:inherit">
                                    <div class="col-md-12 text-center">
                                        <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TandaTangan)" name="IMG_@nameof(Model.TandaTangan)" src="~/Theme/images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                        <p class="text-muted no-margin no-padding">*) Klik pada images untuk masuk mode gambar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12">Petugas Registrasi</label>
                            <div class="col-md-12" style="position:inherit">
                                <div class="form-group" style="position:inherit">
                                    <div class="col-md-12 text-center">
                                        <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TandaTanganPetugas)" name="IMG_@nameof(Model.TandaTanganPetugas)" src="~/Theme/images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                        <p class="text-muted no-margin no-padding">*) Klik pada images untuk masuk mode gambar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>


<script>
    var iGambar;
    var iGambar2;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TandaTangan)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TandaTanganPetugas)');

    @if (Model != null)
    {
        if (Model.TandaTangan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TandaTangan)');

        }
        if (Model.TandaTanganPetugas != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TandaTanganPetugas)');

        }
    }

    $(document).ready(function () {

        iGambar = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });

    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TandaTangan)');
        iGambar = new iPainter_V2(imges);
        var imges2 = $('#IMG_@nameof(Model.TandaTanganPetugas)');
        iGambar2 = new iPainter_V2(imges2);
    }

    function SubmitForm(e) {
        try {
            iGambar.convert_V2('TandaTangan');
            iGambar2.convert_V2('TandaTanganPetugas');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>*@
