﻿@using EMRRSCB.Models
@model EMRPemberianInformasiHasilPelayananPengobatanViewModel
@{
    var controllerName = "EMRPemberianInformasiHasilPelayananPengobatan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
        
    };
}
<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {

        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"

    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {


        @Html.AntiForgeryToken();
        @Html.HiddenFor(model => model.NoBukti);
        @Html.HiddenFor(model => model.TTD1);
        @Html.HiddenFor(model => model.TTD2);
        <style>
            table, th, td {
                border: 1px solid black !important;
                border-collapse: collapse !important;
            }
        </style>

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <h2 class="text-center">Pemberian Informasi Hasil Pelayanan Pengobatan</h2>

                                </th>

                            </tr>
                            <tr>
                                <th colspan="2">Nama Dokter</th>
                                <th colspan="2">
                                    @Html.EditorFor(model => model.Dokter, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Dokter, "", new { @class = "text-danger" })
                                </th>

                            </tr>
                            <tr>
                                <th colspan="2">Pemberi Informasi</th>
                                <th colspan="2">
                                    @Html.EditorFor(model => model.PemberianInformasi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PemberianInformasi, "", new { @class = "text-danger" })
                                </th>

                            </tr>
                            <tr>
                                <th colspan="2">Penerima Informasi / Pemberi Persetujuan</th>
                                <th colspan="2">
                                    @Html.EditorFor(model => model.PenerimaInformasi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PenerimaInformasi, "", new { @class = "text-danger" })
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Jenis Informasi</th>
                                <th>Isi Informasi</th>
                                <th>Tanda</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Kondisi Pasien</td>
                                <td>
                                    @Html.EditorFor(model => model.No1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No1, "", new { @class = "text-danger" })
                                </td>

                                <td>

                                    @Html.EditorFor(model => model.No1Tanda, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Usulan Pengobatan</td>
                                <td>
                                    @Html.EditorFor(model => model.No2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No2, "", new { @class = "text-danger" })
                                </td>

                                <td>

                                    @Html.EditorFor(model => model.No2Tanda, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Manfaat dan Kekurangan</td>
                                <td>
                                    @Html.EditorFor(model => model.No3, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No3, "", new { @class = "text-danger" })
                                </td>

                                <td>

                                    @Html.EditorFor(model => model.No3Tanda, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Alternatif</td>
                                <td>
                                    @Html.EditorFor(model => model.No4, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No4, "", new { @class = "text-danger" })
                                </td>

                                <td>

                                    @Html.EditorFor(model => model.No4Tanda, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Kemungkinan Kebrhasilan</td>
                                <td>
                                    @Html.EditorFor(model => model.No5, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No5, "", new { @class = "text-danger" })
                                </td>

                                <td>

                                    @Html.EditorFor(model => model.No5Tanda, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>

                            <tr>
                                <td>6</td>
                                <td>Kemungkinan Timbulnya Resiko</td>
                                <td>
                                    @Html.EditorFor(model => model.No6, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No6, "", new { @class = "text-danger" })
                                </td>

                                <td>

                                    @Html.EditorFor(model => model.No6Tanda, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Kemungkinan yang terjadi blia tidak dilakukan pengobatan</td>
                                <td>
                                    @Html.EditorFor(model => model.No7, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No7, "", new { @class = "text-danger" })
                                </td>

                                <td>

                                    @Html.EditorFor(model => model.No7Tanda, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Kemungkinan terhadap timbulnya masalah penyakit atau gejala lain yang menyertai pengobatan</td>
                                <td>
                                    @Html.EditorFor(model => model.No8, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No8, "", new { @class = "text-danger" })
                                </td>

                                <td>

                                    @Html.EditorFor(model => model.No8Tanda, new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Dengan ini menyatakan bahwa saya jelas telah menerangkan hal-hal
                                    diatas secara benar dan jelas dan memberikan kesempatan untuk Bertanya atau berdiskusi

                                </td>
                                <td colspan="2">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary @(Model.TTD1 != null ? "btn-flash" : "")" onclick="clickGambar1()">Tanda Tangan</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-danger" onclick="ulangGambar1()">Ulang</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Dengan ini menyatakan bahwa saya telah menerima informasi sebagaimana diatas
                                    yang saya beri tanda / paraf kolom kanannya, dan telah memahaminya

                                </td>
                                <td colspan="2">

                                    <div class="col-md-6">
                                        <a class="btn btn-primary @(Model.TTD2 != null ? "btn-flash" : "")" onclick="clickGambar2()">Tanda Tangan</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-danger" onclick="ulangGambar2()">Ulang</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD1)" name="IMG_@nameof(Model.TTD1)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />

                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD2)" name="IMG_@nameof(Model.TTD2)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script>
    var clickGambar1 = () => {
        $('#IMG_TTD1').click();
    }

    var clickGambar2 = () => {
        $('#IMG_TTD2').click();
    }

    var ulangGambar1 = () => {
        $('#IMG_@nameof(Model.TTD1)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD1').click();
    }

     var ulangGambar2 = () => {
        $('#IMG_@nameof(Model.TTD2)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD2').click();
    }

    var iGambar1;
    var iGambar2;


    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTD1)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTD2)');


    @if (Model != null)
    {

        if(Model.TTD1 != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTD1)');
        }
        if(Model.TTD2 != null)
        {

            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTD2)');

        }
    }

    $(document).ready(() => {
        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);

        $('.modal-canvas').on("click", (e) => {
            if ($('.modal.in').length > 0) {
                $('body').addClass('modal-open');
            }
        })
    })

    var SubmitForm = (e) => {
        try {
            iGambar1.convert_V2('TTD1');
            iGambar2.convert_V2('TTD2');

        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

        @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

</script>