﻿@using EMRRSCB.Models
@model HistoryRadViewModel

@{
    ViewBag.Title = "Hasil Radiologi";
}
<div class="wall" ng-controller="form">
    <div class="panel panel-body">
        <div class="form-group">
            <label class="control-label col-md-2">Dokter Pengirim</label>
            <label class="control-label col-md-10">: @Model.DokterPengirim</label>
        </div>
        <br />
        <br />
        <hr />
        <label class="control-label col-md-12">Jawaban</label>
        <hr />
        @foreach (var x in Model.Detail_List)
        {
            <pre class="col-md-12">@x.JawabanBody</pre>
        }
        <hr />
        <br />
        <div class="form-group">
            <label class="control-label col-md-6 col-md-offset-6 text-center">@Model.NamaDOkter</label>
            <label class="control-label col-md-6 col-md-offset-6 text-center">Radiologist</label>
        </div>
    </div>
</div>