﻿@using EMRRSCB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="icon" href="~/Images/Content/logo-bangli.png" type="image/x-icon">*@
    <title>@ViewBag.Title - EMR</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/selects/select2.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/app.js"></script>
    <script type="text/javascript" src="~/Theme/js/pages/login.js"></script>
    <!-- /theme JS files -->
    <style>
        .select2-results__group {
            padding: 0px 12px;
        }
    </style>
</head>
<body class="login-container bg-slate-800">
    <div style="background-image:url(@Url.Content("~/Theme/images/bg-2.jpg")); position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;"></div>
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <!-- Advanced login -->
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                @*<div class="icon-object border-warning-400 text-warning-400">
                                    <i class="icon-people"></i>
                                    </div>*@
                                <img src="~/Theme/images/logo.png" style="width: 30%" />
                                @*<img src="https://media-exp1.licdn.com/dms/image/C4E0BAQElp_-TCe_J0w/company-logo_200_200/0/1519874547403?e=2159024400&v=beta&t=pG_AVS0qCCirtbmwLOTZMSfdC2miGxwDYcr42TB8vPw" alt="Rumah Sakit Umum Bangli" width="30%" class="text-center" />*@
                                <h5 class="content-group-lg">
                                    E - MEDICAL RECORD
                                    <small class="display-block">RS BUNDA</small>
                                </h5>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group has-feedback has-feedback-left">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                @Html.DropDownListFor(m => m.Section, StaticModel.ListSection, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Section, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group login-options">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(m => m.RememberMe, new { Class = "styled" })
                                            Remember
                                        </label>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <a href="@Url.Action("ForgotPassword")">Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-blue btn-block">Login <i class="icon-circle-right2 position-right"></i></button>
                            </div>
                            @*<div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>
                                <a href="@Url.Action("Register")" class="btn bg-slate btn-block content-group">Register</a>*@
                        </div>

                    }
                    <!-- /advanced login -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script>
        $('#Section').select2();
    </script>
</body>
</html>