﻿@using EMRRSCB.Models
@model EMRCeklistPencegahanRisikoJatuhTinggiViewModel
@{
    var controllerName = "EMRCeklistPencegahanRisikoJatuhTinggi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }

    };
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti);
        @Html.HiddenFor(model => model.TTDPerawat);
        @Html.HiddenFor(model => model.TTDPasien);


        <style>
            table, th, td {
                border: 1px solid black !important;
                border-collapse: collapse !important;
            }
        </style>

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2">Nama : </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2">Tgl Lahir : </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tglLahir, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tglLahir, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2">NO CM : </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2">Diagnosa : </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Diagnosa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Diagnosa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Langkah-Langkah Pencegahan Resiko Jatuh</th>
                                <th>Dilakukan / Tidak Dilakukan</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>1. Anjuran Pasien Untuk Meminta bntuan yang diperlukan </td>
                                <td>
                                    @Html.DropDownListFor(model => model.No1, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No1, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>2. Pasang Bedside Rel </td>
                                <td>
                                    @Html.DropDownListFor(model => model.No2, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No2, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>3. Sediakan kursi roda yang terkunci disamping tempat tidur pasien </td>
                                <td>
                                    @Html.DropDownListFor(model => model.No3, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No3, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>4. Pastikan lantai tidak licin, ruangan dan toilet terang </td>
                                <td>
                                    @Html.DropDownListFor(model => model.No4, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No4, "", new { @class = "text-danger" })
                                </td>
                            </tr>

                            <tr>
                                <td>5. Pastikan bahwa jalur ke kamar kecil bebas dari habatan dan terang </td>
                                <td>
                                    @Html.DropDownListFor(model => model.No5, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No5, "", new { @class = "text-danger" })
                                </td>
                            </tr>

                            <tr>
                                <td>6. Pastikan lorong bebas habatan </td>
                                <td>
                                    @Html.DropDownListFor(model => model.No6, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No6, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>7. Pastikan lingkungan aman </td>
                                <td>
                                    @Html.DropDownListFor(model => model.No7, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No7, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>8. Edukasi Pasien dan Keluarga </td>
                                <td>
                                    @Html.DropDownListFor(model => model.No8, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No8, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>9. Mengikuti lingkungan untuk kondisi berpotensi tidak aman dan segera laporkan untuk perbaikan</td>
                                <td>
                                    @Html.DropDownListFor(model => model.No9, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No9, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>10. Informasikan dan mendididk pasien dan / atau anggota keluarga mengenai rencana perawatan untuk mencegah jatuh</td>
                                <td>
                                    @Html.DropDownListFor(model => model.No10, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No10, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>10. Berkolaborasi dengan pasien atau keluarga untuk memberi bantuan yang dibutuhkan pasien</td>
                                <td>
                                    @Html.DropDownListFor(model => model.No11, StaticModel.SelectListCheckList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.No11, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Paraf Perawat</label>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">

                                        <div class="col-md-8">
                                            <a class="btn btn-primary @(Model.TTDPerawat != null ? "btn-flash" : "")" onclick="clickGambarPerawat()">Tanda Tangan</a>
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" onclick="ulanggambarPerawat()">Ulang</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Paraf Pasien / Keluarga</label>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">

                                        <div class="col-md-8">
                                            <a class="btn btn-primary @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickGambarPasien()">Tanda Tangan</a>
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" onclick="ulanggambarPasien()">Ulang</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPerawat)" name="IMG_@nameof(Model.TTDPerawat)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

<script>


    function clickGambarPerawat() {
        $('#IMG_TTDPerawat').click()
    }

    function clickGambarPasien() {
        $('#IMG_TTDPasien').click()
    }



    function ulanggambarPerawat() {
        $('#IMG_@nameof(Model.TTDPerawat)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPerawat').click()
    }

    function ulanggambarPasien() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPasien').click()
    }


    var iGambarPerawat;
    var iGambarPasien;

    var ximg_GambarPerawat = $('#IMG_@nameof(Model.TTDPerawat)');
    var ximg_GambarPasien = $('#IMG_@nameof(Model.TTDPasien)');


    @if(Model != null)
    {

        if (Model.TTDPasien != null)
        {
            @:ximg_GambarPerawat.attr('src', 'data:image/jpeg;base64,@(Model.TTDPerawat)');
        }
            if (Model.TTDPerawat != null)
            {
            @:ximg_GambarPasien.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
            }
    }

    $(document).ready(() => {
     iGambarPerawat = new iPainter_V2(ximg_GambarPerawat);
     iGambarPasien = new iPainter_V2(ximg_GambarPasien);



        $(".modal-canvas").on("click", function (e) {
         if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    })



    function SubmitForm(e) {
        try {
            iGambarPerawat.convert_V2('TTDPerawat');
            iGambarPasien.convert_V2('TTDPasien');

            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

</script>