﻿@using EMRRSCB.Models
@model EMRIntervensiMonitoringEvaluasiViewDetail
@{
    var controllerName = "EMRIntervensiMonitoringEvaluasi_Detail";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Obat
    var d_tbl_Intervensi = $"frm_table_detailIntervensi";
    int d_idx_Intervensi = 0;
    var d_trg_Intervensi = $"input_target_detailIntervensi";
    if (Model != null)
    {

        if (Model.EMRIntervensi_List != null)
        {
            d_idx_Intervensi = Model.EMRIntervensi_List.Count();
        }
    }
    #endregion
}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Intervensi thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Intervensi thead th:nth-child(1),
    #@d_tbl_Intervensi tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Intervensi thead th:nth-child(2),
    #@d_tbl_Intervensi tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_Intervensi thead th:nth-child(3),
    #@d_tbl_Intervensi tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Intervensi thead th:nth-child(4),
    #@d_tbl_Intervensi tbody td:nth-child(4) {
       display: none;
    }

    #@d_tbl_Intervensi thead th:nth-child(5),
    #@d_tbl_Intervensi tbody td:nth-child(5) {
        width: 100px;
    }

    #@d_tbl_Intervensi thead th:nth-child(6),
    #@d_tbl_Intervensi tbody td:nth-child(6) {
        width: 300px;
    }

    #@d_tbl_Intervensi thead th:nth-child(7),
    #@d_tbl_Intervensi tbody td:nth-child(7) {
        width: 400px;
    }

    #@d_tbl_Intervensi thead th:nth-child(8),
    #@d_tbl_Intervensi tbody td:nth-child(8) {
        width: 150px;
    }

    #@d_tbl_Intervensi thead th:nth-child(9),
    #@d_tbl_Intervensi tbody td:nth-child(9) {
        width: 150px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.Verifikasi)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailintervensimonitor" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_Intervensi">
                        <div class="table-responsive">
                            <table id="@d_tbl_Intervensi" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2">
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Intervensi')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th rowspan="2"></th>
                                        <th rowspan="2">No</th>
                                        <th rowspan="2">Tanggal</th>
                                        <th rowspan="2">Intervensi</th>
                                        <th colspan="3">Monitoring dan Evaluasi</th>
                                        <th rowspan="2">Nama</th>
                                        <th rowspan="2">Paraf</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Asupan Makan</th>
                                        <th></th>
                                        <th></th>
                                        <th>BB/ Lila</th>
                                        <th>Keterangan</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.Tanggal, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Diet Awal</label>
                                                <div class="col-md-9">
                                                    @Html.TextAreaFor(model => model.DietAwal, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.DietAwal, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <label class="input-group-addon">E</label>
                                                        @Html.EditorFor(model => model.E, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        <label class="input-group-addon">
                                                            Kkal
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <label class="input-group-addon">P</label>
                                                        @Html.EditorFor(model => model.P, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        <label class="input-group-addon">
                                                            gr
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.AsupanMakan, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.AsupanMakan, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.BB, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BB, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.Paraf, Model.Paraf == null ? new List<SelectListItem>() :
                                                    new List<SelectListItem>() { new SelectListItem() { Value = Model.Paraf.ToString(), Text = Model.ParafNama } }, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Paraf, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12 text-center">
                                                    @if (Model.Verifikasi == false)
                                                    {
                                                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Paraf)','@nameof(Model.Verifikasi)')"><i class="icon-checkmark"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-success btn-flash" onclick="verifikasi('@nameof(Model.Paraf)','@nameof(Model.Verifikasi)')"><i class="icon-checkmark"></i></a>
                                                    }
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRIntervensi_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRIntervensi_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRIntervensi_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRIntervensi_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRIntervensi_List[i].Model.Tanggal, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <label class="checkbox-inline">
                                                                @Html.EditorFor(model => model.EMRIntervensi_List[i].Model.DietTetap)
                                                                Diet Tetap
                                                            </label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="checkbox-inline">
                                                                @Html.EditorFor(model => model.EMRIntervensi_List[i].Model.PerubahanDiet)
                                                                Perubahan Diet
                                                            </label>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.EditorFor(model => model.EMRIntervensi_List[i].Model.PerubahanDiet_Ket, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2">E</label>
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.EMRIntervensi_List[i].Model.E, new
                                                                   {
                                                                       htmlAttributes = new
                                                                       {
                                                                           @class = "form-control input-sm"

                                                                       }
                                                                   })
                                                                <label class="input-group-addon">Kkal</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2">P</label>
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.EMRIntervensi_List[i].Model.P, new
                                                                   {
                                                                       htmlAttributes = new
                                                                       {
                                                                           @class = "form-control input-sm"

                                                                       }
                                                                   })
                                                                <label class="input-group-addon">gr</label>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRIntervensi_List[i].Model.AsupanMakanan, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRIntervensi_List[i].Model.BB, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRIntervensi_List[i].Model.Keterangan, new { @class = "form-control input-sm" })
                                                    </td>

                                                    @{
                                                        var _lstDokter = new List<SelectListItem>();
                                                        if (Model.EMRIntervensi_List[i].Model != null)
                                                        {
                                                            if (Model.EMRIntervensi_List[i].Model.Paraf != null)
                                                            {
                                                                _lstDokter.Add(new SelectListItem()
                                                                {
                                                                    Value = Model.EMRIntervensi_List[i].Model.Paraf,
                                                                    Text = Model.EMRIntervensi_List[i].Model.ParafNama
                                                                });
                                                            }
                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMRIntervensi_List[i].Model.Paraf, _lstDokter, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.HiddenFor(model => model.EMRIntervensi_List[i].Model.Verifikasi)
                                                        @if (Model.EMRIntervensi_List[i].Model.Verifikasi == false)
                                                        {
                                                            <a class="btn btn-success" onclick="verifikasi('EMRIntervensi_List_@(i)__Model_Paraf','EMRIntervensi_List_@(i)__Model_Verifikasi')"><i class="icon-checkmark"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-success btn-flash" onclick="verifikasi('EMRIntervensi_List_@(i)__Model_Paraf','EMRIntervensi_List_@(i)__Model_Verifikasi')"><i class="icon-checkmark"></i></a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    @if (Model != null)
        {
            if (Model.EMRIntervensi_List != null)
            {
                for (var i = 0; i < Model.EMRIntervensi_List.Count; i++)
                {
                    @:customrowdetailParafIntervensi_Detail(@i, { target: $('#d_tbl_Intervensi thead a i')[0] }, '#panel_detailintervensimonitor', false);
                }

            }
        }


    function customrowdetailParafIntervensi_Detail(index_detail, _this, inputtarget, autofocus) {
        var namadpjp = '#panel_detailintervensimonitor #EMRIntervensi_List_' + index_detail + '__Model_Paraf';
        generalDokter(namadpjp);
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_Intervensi') {
            customrowdetailParafIntervensi_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function pilihobat(_this) {
        var valselect = $(_this).text();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(8) textarea').val(valselect);
    }

    generalDokter("#@formName #Paraf");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    $(document).ready(function () {

    });

</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        Model.EMRIntervensi_List = null;
    }
}
<div id="@d_trg_Intervensi" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRIntervensi_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRIntervensi_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRIntervensi_List[-1].Model.Tanggal, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="checkbox-inline">
                @Html.EditorFor(model => model.EMRIntervensi_List[-1].Model.DietTetap)
                Diet Tetap
            </label>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="checkbox-inline input-group-addon">
                    @Html.EditorFor(model => model.EMRIntervensi_List[-1].Model.PerubahanDiet, new { @class = "checkbox-custom" })
                    Perubahan Diet
                </label>
                @Html.EditorFor(model => model.EMRIntervensi_List[-1].Model.PerubahanDiet_Ket, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group">
                    <label class="control-label input-group-addon">E</label>
                    @Html.EditorFor(model => model.EMRIntervensi_List[-1].Model.E, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    <label class="input-group-addon">Kkal</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <label class="control-label input-group-addon">P</label>
                    @Html.EditorFor(model => model.EMRIntervensi_List[-1].Model.P, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    <label class="input-group-addon">gr</label>
                </div>
            </div>
        </div>
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRIntervensi_List[-1].Model.AsupanMakanan, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRIntervensi_List[-1].Model.BB, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRIntervensi_List[-1].Model.Keterangan, new
   {
           @class = "form-control input-sm"
   })
    </div>


    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMRIntervensi_List[-1].Model.Paraf,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.HiddenFor(model => model.EMRIntervensi_List[-1].Model.Verifikasi)
        <a class="btn btn-success" onclick="verifikasi('@Html.IdFor(model => model.EMRIntervensi_List[-1].Model.Paraf)','@Html.IdFor(model => model.EMRIntervensi_List[-1].Model.Verifikasi)')"><i class="icon-checkmark"></i></a>
    </div>
</div>



