﻿@using EMRRSCB.Models
@model EMRBeritaAcaraSerahTerimaViewModel
@{
    var controllerName = "EMRBeritaAcaraSerahTerima";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDYangMenyerahkan)
        @Html.HiddenFor(model => model.TTDYangMenerima)
        @Html.HiddenFor(model => model.TTDKepolisian)
        @Html.HiddenFor(model => model.TTDPihakKeluarga)
        @Html.HiddenFor(model => model.TTDRSUBUNDA)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2">Tanggal Pengambilan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-6"> Sesuai dengan Surat Kepolisian Negara Republik Indonesia Daerah</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Daerah, new {  htmlAttributes = new {  @class = "form-control",  } })
                        @Html.ValidationMessageFor(model => model.Daerah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1"> Resort</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Resort, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Resort, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1"> Nomor</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Resort, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Resort, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2">Tentang Permohonan</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">di RSU Bunda telah diserahkan benda dari pasien masing masing berupa</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Berupa,  new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.Berupa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Yang Menyerahkan
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.YangMenyerahkan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YangMenyerahkan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDYangMenyerahkan != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Yang Menerima
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.YangMenerima, Model.YangMenerima == null ? new List<SelectListItem>() :
              new List<SelectListItem>() { new SelectListItem() { Value = Model.YangMenerima.ToString(), Text = Model.YangMenerimaNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.YangMenerima, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">

                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDYangMenerima != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Serah Terima barang disaksikan oleh</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Kepolisian
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Kepolisian, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Kepolisian, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDKepolisian != null ? "btn-flash" : "")" onclick="clickgambar3()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar3()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pihak Keluarga
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PihakKeluarga, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PihakKeluarga, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDPihakKeluarga != null ? "btn-flash" : "")" onclick="clickgambar4()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar4()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        RS BUNDA
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.RSUBUNDA, Model.RSUBUNDA == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.RSUBUNDA.ToString(), Text = Model.RSUBUNDANama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RSUBUNDA, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDRSUBUNDA != null ? "btn-flash" : "")" onclick="clickgambar5()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar5()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDYangMenyerahkan)" name="IMG_@nameof(Model.TTDYangMenyerahkan)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDYangMenerima)" name="IMG_@nameof(Model.TTDYangMenerima)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDKepolisian)" name="IMG_@nameof(Model.TTDKepolisian)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPihakKeluarga)" name="IMG_@nameof(Model.TTDPihakKeluarga)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDRSUBUNDA)" name="IMG_@nameof(Model.TTDRSUBUNDA)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>
 function clickgambar1() {
     $('#IMG_TTDYangMenyerahkan').click()
    }

    function clickgambar2() {
        $('#IMG_TTDYangMenerima').click()
    }

    function clickgambar3() {
        $('#IMG_TTDKepolisian').click()
    }

    function clickgambar4() {
        $('#IMG_TTDPihakKeluarga').click()
    }

    function clickgambar5() {
        $('#IMG_TTDRSUBUNDA').click()
    }


    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDYangMenyerahkan)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDYangMenyerahkan').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDYangMenerima)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDYangMenerima').click()
    }

    function ulanggambar3() {
        $('#IMG_@nameof(Model.TTDKepolisian)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDKepolisian').click()
    }

    function ulanggambar4() {
        $('#IMG_@nameof(Model.TTDPihakKeluarga)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPihakKeluarga').click()
    }

    function ulanggambar5() {
        $('#IMG_@nameof(Model.TTDRSUBUNDA)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDRSUBUNDA').click()
    }

    generalDokter("#@formName #RSUBUNDA");
    generalDokter("#@formName #YangMenerima");

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var iGambar4;
    var iGambar5;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDYangMenyerahkan)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDYangMenerima)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTDKepolisian)');
    var ximg_Gambar4 = $('#IMG_@nameof(Model.TTDPihakKeluarga)');
    var ximg_Gambar5 = $('#IMG_@nameof(Model.TTDRSUBUNDA)');

    @if (Model != null)
    {
        if (Model.TTDYangMenyerahkan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDYangMenyerahkan)');
        }
        if (Model.TTDYangMenerima != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDYangMenerima)');
        }
        if (Model.TTDKepolisian != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTDKepolisian)');
        }
        if (Model.TTDPihakKeluarga != null)
        {
            @:ximg_Gambar4.attr('src', 'data:image/jpeg;base64,@(Model.TTDPihakKeluarga)');
        }
         if (Model.TTDRSUBUNDA != null)
        {
            @:ximg_Gambar5.attr('src', 'data:image/jpeg;base64,@(Model.TTDRSUBUNDA)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);
        iGambar4 = new iPainter_V2(ximg_Gambar4);
        iGambar5 = new iPainter_V2(ximg_Gambar5);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPihakKeluarga)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDYangMenyerahkan');
            iGambar2.convert_V2('TTDYangMenerima');
            iGambar3.convert_V2('TTDKepolisian');
            iGambar4.convert_V2('TTDPihakKeluarga');
            iGambar5.convert_V2('TTDRSUBUNDA');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


