﻿@using EMRRSCB.Models
@model EMRMonitorPelaksaanPencegahanRisikoJatuhViewModel
@{
    var controllerName = "EMRMonitorPelaksaanRisikoJatuhAndGUGT";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Monitoring
    var d_tbl_Monitoring = $"frm_table_detailMonitoring";
    int d_idx_Monitoring = 0;
    var d_trg_Monitoring = $"input_target_detailMonitoring";
    if (Model != null)
    {

        if (Model.EMRMonitor_List != null)
        {

            d_idx_Monitoring = Model.EMRMonitor_List.Count();
        }
    }
    #endregion

}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Monitoring thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Monitoring thead th:nth-child(1),
    #@d_tbl_Monitoring tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Monitoring thead th:nth-child(2),
    #@d_tbl_Monitoring tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_Monitoring thead th:nth-child(3),
    #@d_tbl_Monitoring tbody td:nth-child(3) {
        width: 170px;
        display: none;
    }

    #@d_tbl_Monitoring thead th:nth-child(4),
    #@d_tbl_Monitoring tbody td:nth-child(4) {
        width: 90px;

    }

    #@d_tbl_Monitoring thead th:nth-child(5),
    #@d_tbl_Monitoring tbody td:nth-child(5) {
        width: 170px;
    }

    #@d_tbl_Monitoring thead th:nth-child(6),
    #@d_tbl_Monitoring tbody td:nth-child(6) {
        width: 170px;
    }

    #@d_tbl_Monitoring thead th:nth-child(7),
    #@d_tbl_Monitoring tbody td:nth-child(7) {
        width: 150px;
    }

    #@d_tbl_Monitoring thead th:nth-child(8),
    #@d_tbl_Monitoring tbody td:nth-child(8) {
        width: 170px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
    .nomer {
        width: 30px !important;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailmonitoringmonitor" class="detail collapse in table-responsive" data-index-detail="@d_idx_Monitoring">
                        <table id="@d_tbl_Monitoring" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="checkall(this)" />
                                    </th>
                                    <th class="text-center">
                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Monitoring')">
                                            <i class="icon-plus2"></i>
                                        </a>
                                    </th>
                                    <th></th>
                                    <th>No</th>
                                    <th>Apakah pengkajian risiko jatuh telah dilaksanakan dan telah terdokuemntasi dalam rekam medis ?</th>
                                    <th>Apakah Pengkajain risiko jatuh telah menggunakan skala yang tepat ?</th>
                                    <th>Bagaimana penatalaksanakan pencegahan pasien dengan risiko jatuh ?</th>
                                    <th>Kapan Gelang risiko jatuh dipasang ?</th>
                                    <th>Apakah gelang risiko jatuh telah terpasang dengan tepat ?</th>
                                    <th>Apakah Yang harus dilakukan jika terjadi insiden pasien jatuh ?</th>
                                </tr>

                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.EMRMonitor_List != null)
                                    {
                                        for (var i = 0; i < Model.EMRMonitor_List.Count(); i++)
                                        {

                                            <tr>
                                                <!-- Check -->
                                                <td>
                                                    <input type="checkbox" />
                                                </td>

                                                <!-- Delete button -->
                                                <td>
                                                    <a class="text-danger-600"
                                                       onclick="removetr(this)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </td>

                                                <!-- Remove Status -->
                                                <td>
                                                    @Html.EditorFor(model => model.EMRMonitor_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                </td>


                                                <!-- No -->
                                                <td>
                                                    @Html.EditorFor(model => model.EMRMonitor_List[i].Model.No, new
                                                        {
                                                        htmlAttributes = new
                                                        {
                                                            @class = "form-control input-sm",
                                                            @readonly = "readonly"
                                                        }
                                                    })
                                                </td>

                                                @{
                                                    var getModel = StaticModel.ListMonitorRisikoJatuh;
                                                    var getModelData = Model.EMRMonitor_List[i].Model.No1;
                                                    if (getModelData != null)
                                                    {
                                                        getModel.FirstOrDefault(x => x.Value == Model.EMRMonitor_List[i].Model.No1).Selected = true;
                                                    }
                                                }


                                                <td>

                                                    @Html.DropDownListFor(model => model.EMRMonitor_List[i].Model.No1, getModel, new { @class = "form-control input-sm" })

                                                </td>
                                                @*@{

                                                        getModelData = Model.EMRMonitor_List[i].Model.No1;
                                                        if (getModelData != null)
                                                        {
                                                            getModel.FirstOrDefault(x => x.Value == Model.EMRMonitor_List[i].Model.No2).Selected = true;
                                                        }
                                                    }
                                                    <td>

                                                        @Html.DropDownListFor(model => model.EMRMonitor_List[i].Model.No2, getModel, new { @class = "form-control input-sm" })

                                                    </td>*@
                                                <td>

                                                    @Html.TextAreaFor(model => model.EMRMonitor_List[i].Model.No1, new { @class = "form-control input-sm" })
                                                </td>
                                                <td>

                                                    @Html.TextAreaFor(model => model.EMRMonitor_List[i].Model.No2, new { @class = "form-control input-sm" })
                                                </td>
                                                <td>

                                                    @Html.TextAreaFor(model => model.EMRMonitor_List[i].Model.No3, new { @class = "form-control input-sm" })
                                                </td>
                                                <td>

                                                    @Html.TextAreaFor(model => model.EMRMonitor_List[i].Model.No4, new { @class = "form-control input-sm" })
                                                </td>
                                                <td>

                                                    @Html.TextAreaFor(model => model.EMRMonitor_List[i].Model.No5, new { @class = "form-control input-sm" })
                                                </td>
                                                @*@{

                                                    getModelData = Model.EMRMonitor_List[i].Model.No5;
                                                    if (getModelData != null)
                                                    {
                                                        getModel.FirstOrDefault(x => x.Value == Model.EMRMonitor_List[i].Model.No5).Selected = true;
                                                    }
                                                }
                                                <td>

                                                    @Html.DropDownListFor(model => model.EMRMonitor_List[i].Model.No5, getModel, new { @class = "form-control input-sm" })

                                                </td>*@
                                                <td>

                                                    @Html.TextAreaFor(model => model.EMRMonitor_List[i].Model.No6, new { @class = "form-control input-sm" })
                                                </td>
                                            </tr>

                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="nomer">No</th>
                                    <th>Penilaian</th>
                                    <th>Ya / Tidak</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3" class="nomer">1</td>
                                    <td>
                                        Cara berjalan Pasien (Salah satu atau lebih)<br />


                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.CaraBejalanPasien, StaticModel.ListMonitorRisikoJatuh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CaraBejalanPasien, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        1. Tidak seimbang/sempoyongan


                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.TidakSeimbang, StaticModel.ListMonitorRisikoJatuh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TidakSeimbang, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2. Jalan dengan menggunakan alat bantu (kruk, tongat, kursi roda, alat bantu lain)


                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.JalanMenggunakanAlatBantu, StaticModel.ListMonitorRisikoJatuh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.JalanMenggunakanAlatBantu, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nomer">2</td>
                                    <td>
                                        Menompang Saat Akan Duduk; tampak memegang <br />
                                        pinggiran kursi atau meja/benda lain sebagai penompang<br />
                                        saat duduk<br />


                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.MenompangSaatAkanDududk, StaticModel.ListGetUpGoTest, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MenompangSaatAkanDududk, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>
      @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
        }
</script>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) {
            _this.value = 1
        } else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;

                } else {
                    result = parseInt(z.value);

                }
            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }
</script>

@*Detail Table*@

@if (Model != null)
{
    Model.EMRMonitor_List = null;

}

<div id="@d_trg_Monitoring" class="hidden">
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMonitor_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMonitor_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>
    <div class="input-detail">
        @*@Html.DropDownListFor(model => model.EMRMonitor_List[-1].Model.No1, StaticModel.ListMonitorRisikoJatuh, new { @class = "form-control" })*@
        @Html.TextAreaFor(model => model.EMRMonitor_List[-1].Model.No1, new { @class = "form-control input-sm" })

    </div>
    <div class="input-detail">
        @*@Html.DropDownListFor(model => model.EMRMonitor_List[-1].Model.No2, StaticModel.ListMonitorRisikoJatuh, new { @class = "form-control" })*@
        @Html.TextAreaFor(model => model.EMRMonitor_List[-1].Model.No2, new { @class = "form-control input-sm" })

    </div>
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMonitor_List[-1].Model.No3, new { @class = "form-control input-sm" })

    </div>
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMonitor_List[-1].Model.No4, new { @class = "form-control input-sm" })

    </div>
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMonitor_List[-1].Model.No5, new { @class = "form-control input-sm" })
        @*@Html.DropDownListFor(model => model.EMRMonitor_List[-1].Model.No5, StaticModel.ListMonitorRisikoJatuh, new { @class = "form-control" })*@

    </div>
    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMonitor_List[-1].Model.No6, new { @class = "form-control input-sm" })

    </div>
</div>