﻿<div class="panel">
    <div class="panel-body text-center">
        <img src="@Url.Content("~/Theme/images/logo.png")" style="height: 100px;" />
        <h5 class="content-group-lg">
            E - MEDICAL RECORD
            <small class="display-block">RUMAH SAKIT BUNDA</small>
        </h5>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h5 class="panel-title">Diagnosa</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                        <li><a onclick="getdiagnosa()"><i class="icon-sync"></i></a></li>
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="datatable-header">
                <div class="filter_list" style="text-align:center">
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="form-group">
                                <label><i class="icon icon-info22 text-primary-600 position-left"></i>Periode</label>
                                <input id="fromdatepie" type="date" class="form-control input-periode" value="@DateTime.Today.AddDays(-30).ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="form-group">
                                <label>Sampai</label>
                                <input id="todatepie" type="date" class="form-control input-periode" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="panel-body">
                <div class="chart-container text-center">
                    <div class="d-inline-block c3" id="c3-pie-chart" style="max-height: 1200px; position: relative;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h5 class="panel-title">DPJP</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                        <li><a onclick="getdpjp()"><i class="icon-sync"></i></a></li>
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="datatable-header">
                <div class="filter_list" style="text-align:center">
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="form-group">
                                <label><i class="icon icon-info22 text-primary-600 position-left"></i>Periode</label>
                                <input id="fromdatedonat" type="date" class="form-control input-periode" value="@DateTime.Today.AddDays(-30).ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="form-group">
                                <label>Sampai</label>
                                <input id="todatedonat" type="date" class="form-control input-periode" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="panel-body">
                <div class="chart-container text-center">
                    <div class="d-inline-block c3" id="c3-donut-chart" style="max-height: 320px; position: relative;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h5 class="panel-title">Cara Pulang</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                        <li><a onclick="getcarapulang()"><i class="icon-sync"></i></a></li>
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="datatable-header">
                <div class="filter_list" style="text-align:center">
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="form-group">
                                <label><i class="icon icon-info22 text-primary-600 position-left"></i>Periode</label>
                                <input id="fromdatebars" type="date" class="form-control input-periode" value="@DateTime.Today.AddDays(-30).ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="form-group">
                                <label>Sampai</label>
                                <input id="todatebars" type="date" class="form-control input-periode" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="panel-body">
                <div class="chart-container text-center">
                    <div class="chart" id="c3-bar-chart" style="max-height: 1200px; position: relative;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h5 class="panel-title">Dokumen</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                        <li><a onclick="getdashboard()"><i class="icon-sync"></i></a></li>
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>
            <div class="datatable-header">
                <div class="filter_list" style="text-align:center">
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="form-group">
                                <label><i class="icon icon-info22 text-primary-600 position-left"></i>Periode</label>
                                <input id="fromdatebarsaxis" type="date" class="form-control input-periode" value="@DateTime.Today.AddDays(-30).ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="form-group">
                                <label>Sampai</label>
                                <input id="todatebarsaxis" type="date" class="form-control input-periode" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="panel-body">
                <div class="chart-container text-center">
                    <div class="chart" id="c3-axis-tick-rotation"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Theme/js/plugins/visualization/c3/c3.min.js"></script>
<script>
    const newPie = (opt) => {
        var tol = JSON.parse(JSON.stringify(opt.data));
        var pie_chart = c3.generate({
            bindto: '#c3-pie-chart',
            size: { width: 500, height: 500 },
            color: {
                //blue,ungu,peach,hijau
                pattern: ['#27d0f2', '#e238e2', '#494486', '#e06454', '#9ac7cb', '#644c7e', '#e37777', '#7c627c', '#526251', '#c81afd', '#eecb01']
            },
            data: {
                columns: tol,
                type: 'pie'
            }
        });
    }

    const newdonat = (dns) => {
        var donutvalue = JSON.parse(JSON.stringify(dns.data));
        var donut_chart = c3.generate({
            bindto: '#c3-donut-chart',
            size: { width: 500, height: 500 },
            color: {
                //blue,ungu,peach,hijau
                pattern: ['#27d0f2', '#e238e2', '#494486', '#e06454', '#9ac7cb', '#644c7e', '#e37777', '#7c627c', '#526251', '#c81afd', '#eecb01']
            },
            data: {
                columns: donutvalue,
                type: 'donut'
            },
            donut: {
                title: "Dokter Penanggung Jawab"
            }
        });
    }

    const barchart = (dtbar) => {
    // Generate chart
        var barchartvalue = JSON.parse(JSON.stringify(dtbar.data));
        var bar_chart = c3.generate({
            bindto: '#c3-bar-chart',
            size: { height: 400 },
            data: {
                columns: barchartvalue,
                type: 'bar'
            },
            color: {
                pattern: ['#27d0f2', '#e238e2', '#494486', '#e06454', '#9ac7cb', '#644c7e', '#e37777', '#7c627c', '#526251', '#c81afd', '#eecb01']
            },
            bar: {
                width: {
                    ratio: 0.3
                }
            },
            grid: {
                y: {
                    show: true
                }
            }
        });

        // Change data
        //setTimeout(function () {
        //    bar_chart.load({
        //        columns: [
        //            ['data3', 130, -150, 200, 300, -200, 100]
        //        ]
        //    });
        //}, 6000);
    }

    const axischart = (dtbar) => {
        // Generate chart
        var axischartvalue = JSON.parse(JSON.stringify(dtbar.data));
        var axis_tick_rotation = c3.generate({
            bindto: '#c3-axis-tick-rotation',
            size: { height: 400 },
            data: {
                x: 'x',
                columns:
                    [axischartvalue[0], axischartvalue[1]],
                type: 'bar'
            },
            color: {
                pattern: ['#00BCD4']
            },
            axis: {
                x: {
                    type: 'category',
                    tick: {
                        rotate: -90
                    },
                    height: 80
                }
            },
            grid: {
                x: {
                    show: true
                }
            }
        });

        // Change data
        //setTimeout(function () {
        //    bar_chart.load({
        //        columns: [
        //            ['data3', 130, -150, 200, 300, -200, 100]
        //        ]
        //    });
        //}, 6000);
    }

    function getdiagnosa() {
        $.ajax({
        url: '@Url.Action("GetDiagnosa", "Home")',
        data:
            {
            fromdate: $('#fromdatepie').val(),
            todate: $('#todatepie').val(),
            },
        method: 'GET',
        dataType: 'JSON',
        success: function (dt) {
            if (dt.IsSuccess) {
                let arrpie = [];
                $.each(dt.Data, function (index, value) {
                    arrpie.push([value.Model.Deskripsi, parseInt(value.Model.Nilai)]);
                });

                newPie({
                    data: arrpie
                });
            }
        }
     });
    }

    function getdpjp() {
        $.ajax({
        url: '@Url.Action("GetDPJP", "Home")',
        data:
            {
            fromdate: $('#fromdatepie').val(),
            todate: $('#todatepie').val(),
            },
        method: 'GET',
        dataType: 'JSON',
        success: function (dt) {
            if (dt.IsSuccess) {
                let arrdonut = [];
                $.each(dt.Data, function (index, value) {
                    arrdonut.push([value.Model.Deskripsi, parseInt(value.Model.Nilai)]);
                });

                newdonat({
                    data: arrdonut
                });
            }
        }
     });
    }

    function getcarapulang() {
        $.ajax({
        url: '@Url.Action("GetCaraPulang", "Home")',
        data:
            {
            fromdate: $('#fromdatebars').val(),
            todate: $('#todatebars').val(),
            },
        method: 'GET',
        dataType: 'JSON',
        success: function (dt) {
            if (dt.IsSuccess) {
                let arrbarchart = [];
                $.each(dt.Data, function (index, value) {
                    arrbarchart.push([value.Model.Deskripsi, parseInt(value.Model.Nilai)]);
                });
                barchart({
                    data: arrbarchart
                });
            }
        }
     });
    }

    function getdashboard() {
        const month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var fromdateconvert = new Date($('#fromdatebarsaxis').val());
        var todateconvert = new Date($('#todatebarsaxis').val());
        var fromdateconv = fromdateconvert.getDate() + "/" + month[fromdateconvert.getMonth()] + "/" + fromdateconvert.getUTCFullYear();
        var todateconv = todateconvert.getDate() + "/" + month[todateconvert.getMonth()] + "/" + todateconvert.getUTCFullYear();
        $.ajax({
        url: '@Url.Action("GetDasboard", "Home")',
        data:
            {
            fromdate: fromdateconv,
            todate: todateconv,
            },
        method: 'GET',
        dataType: 'JSON',
        success: function (dt) {
            if (dt.IsSuccess) {
                let arraxischart = [];
                let desk = ['x'];
                let nil = ['dokumen'];
                $.each(dt.Data, function (index, value) {
                    desk.push(value.Model.Deskripsi);
                    nil.push(parseInt(value.Model.Nilai));
                });
                arraxischart.push(
                   desk,
                   nil
                );
                axischart({
                    data: arraxischart
                });
            }
        }
     });
    }

    $(document).ready(function () {
        getdiagnosa();
        getdpjp();
        getcarapulang();
        getdashboard();
    });
</script>
