﻿@using EMRRSCB.Models
@model EMRPermohonanOperasiTubektomiViewModel
@{
    var controllerName = "EMRPermohonanOperasiTubektomi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDIstri)
        @Html.HiddenFor(model => model.TTDSuami)
        @Html.HiddenFor(model => model.TTDSaksi)
        @Html.HiddenFor(model => model.VerifikasiDokter)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">
                        Kami yang bertanda tangan dibawah ini mendapat penjelasan dan mengerti sepenuhnya tentang Tubektomi / vasektomi sukarela bersama ini mohon untuk dapat dilakukannya operasi tersebut pada
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NamaYangDioperasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaYangDioperasi, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">(nama yang dioperasi)</label>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NamaKlinik, new { htmlAttributes = new { @class = "form-control", @Value = "RS BUNDA" } })
                        @Html.ValidationMessageFor(model => model.NamaKlinik, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">(nama klinik dioperasi)</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Kami mengerti dan mengetahui sepenuhnya bahwa :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        1. Pada saat ini, disamping tubektomi / vasektomi sukarela masih ada berbagai cara kontrasepsi lainnya, yang bersifat sementara dan dapat kami pergunakan untuk merencanakan keluarga.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        2. Tubektomi. vasektomi sukarela merupakan tindakan pemberdahan yang telah dijelaskan selengkapnya oleh DOkter kepada kami
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        3. Tindakan oemberdahan pada tubektomi/vasektomi sukarela mempunyai resiko yang juga telah dijelaskan selengkapnya oleh Dokter kepada kami
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        4. Jika tindakan pembedahan berhasil, kami tidak akan memperoleh keturunan lagi.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        5. Hasil tindakan tubektomi/ vasektomi sukarela tidak dapat dipulihkan kembali.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        6. Kepada kammi telah diberikan kesempatan tetap meneruskan permohonan tersebut tanpa adanya paksaan ataupun keterikatan lainnya antara kami dan Dokter yang melaksanakan operasi.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Permohonan ini dibuat dengan sebenarnnya dengan disaksikan oleh saksi yang kami pilih
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Tanggal
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Istri
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Istri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Istri, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDIstri != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Suami
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Suami, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Suami, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDSuami != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Saksi
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Saksi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saksi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDSaksi != null ? "btn-flash" : "")" onclick="clickgambar3()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar3()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter @if (Model.VerifikasiDokter)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Dokter, Model.Dokter == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.Dokter.ToString(), Text = Model.DokterNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Dokter)','@nameof(Model.VerifikasiDokter)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDIstri)" name="IMG_@nameof(Model.TTDIstri)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDSuami)" name="IMG_@nameof(Model.TTDSuami)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDSaksi)" name="IMG_@nameof(Model.TTDSaksi)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function clickgambar1() {
        $('#IMG_TTDIstri').click()
    }

    function clickgambar2() {
        $('#IMG_TTDSuami').click()
    }

    function clickgambar3() {
        $('#IMG_TTDSaksi').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDIstri)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDIstri').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDSuami)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDSuami').click()
    }

    function ulanggambar3() {
        $('#IMG_@nameof(Model.TTDSaksi)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDSaksi').click()
    }


    generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDIstri)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDSuami)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTDSaksi)');

    @if (Model != null)
    {
        if (Model.TTDIstri != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDIstri)');
        }
        if (Model.TTDSuami != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDSuami)');
        }
        if (Model.TTDSaksi != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTDSaksi)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDDokter)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDIstri');
            iGambar2.convert_V2('TTDSuami');
            iGambar3.convert_V2('TTDSaksi');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


