﻿@using iHos.MVC.Converter
@using EMRRSCB.Models
@model OrderResepViewModel
@{
    var controllerName = "HistoryResep";
    ViewBag.Title = "History Resep";
    var formName = $"frm_{controllerName}";
    var tableId = $"table_{controllerName}";
    var item = new HistoryResepViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoRegistrasi);
    column[1] = nameof(item.NRM);
    column[2] = nameof(item.Tanggal_View);
    column[3] = nameof(item.Tanggal);
    column[4] = nameof(item.NoResep);
    column[5] = nameof(item.Deskripsi);
    column[6] = nameof(item.DokterID);
    column[7] = nameof(item.DokterNama);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 70px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2){
        text-align:center;
        width: 100px;
    }

    #@tableId tbody td:nth-child(2){
        text-align:left;
    }

    #@tableId thead th:nth-child(3){
        text-align:center;
        width: 150px;
    }

    #@tableId tbody td:nth-child(3){
        text-align:left;
    }

    #@tableId thead th:nth-child(4){
        text-align: center;
        width: 80px;
    }

    #@tableId tbody td:nth-child(4){
        text-align: left;
    }

    #@tableId thead th:nth-child(5){
        text-align: center;
        width: 150px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

     #@tableId thead th:nth-child(6){
        text-align: center;
        width: 700px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

    .filter_list span {
        width : 180px;
    }
</style>

<div class="wall" ng-controller="table" id="list_historyresep"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListHistoryNonResep","HistoryResep")';
     init();
     filter[1] = '@Model.NRM';
     filter[2] = '@Model.NoBukti';
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a id="refreshhsitoryresep" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                    <li><a data-dismiss="modal"><i class="icon-cross2"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-group">
                    <div class="form-inline text-center">
                        <div class="form-group">
                            <label class="col-md-12 h2 text-bold">HISTORY RESEP</label>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[4]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle">Action</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Reg</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">No Resep</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Deskripsi</th>

                    </tr>
                    <tr class="filter_list" @*style="display:none"*@>
                        <!-- Filter -->
                        <td></td>
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[1]" type="hidden" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        class="trdata"
                        data-noreg="{{data.@column[0]}}"
                        data-nrm="{{data.@column[1]}}"
                        data-noresep="{{data.@column[4]}}"
                        data-deskripsi="{{data.@column[5]}}">

                        <td style="cursor:default">
                            <button onclick="copyOrderResepNonRacikModal(this)" data-dokterid="{{data.@column[6]}}" data-doketernama="{{data.@column[7]}}" data-target-id="{{data.@column[4]}}" type="button" class="btn-xs btn border-primary text-primary btn-flat btn-icon btn-rounded">
                                <i class="icon-copy"></i>
                            </button>
                        </td>
                        <td>{{data.@column[3]_View}}</td>
                        <td>{{data.@column[0]}}</td>
                        <td>{{data.@column[1]}}</td>
                        <td>{{data.@column[4]}}</td>
                        <td>{{data.@column[5]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
angular.element('#@formName').ready(function () {
    var sc = angular.element('#@formName').scope();
        //$('#allperiode').click();
    var nrm = $('#NRM').val();
    angular.element('#list_historyresep').scope().filter[1] = nrm;
    $('#list_historyresep #refreshhsitoryresep').click();
    /*angular.element('#frm_HistoryResep').scope().filter[1] = nrm;*/
});

    function copyOrderResepNonRacikModal(tthis) {
        var jtr = $(tthis).closest('.trdata');
        noreg = jtr.data('noreg');
        $("#frm_OrderResep_noncreate").closest(".modal").modal('hide');
        $("#@formName").closest(".modal").modal('hide');
        angular.element('.panel-EMR').scope().ajaxmodal({
            url: '@Url.Action("CreateCopyNonResep", "OrderResep")',
            header: "ORDER RESEP",
            param: { noreg: noreg, copy: $(tthis).data("target-id"), dokterid: $(tthis).data("dokterid"), dokternama: $(tthis).data("doketernama") },
            target_auto_refresh : '@tableId'
        });
    }
</script>

<!--  Select Dokter Filter  -->
<script type="text/javascript">
    

    //function getvaluedokter() {
    //    var data = $('#d_select_dokterfilter').val();
    //    angular.element('#list_historyresep').scope().filter[26] = data;
    //    angular.element('#list_historyresep').scope().getdatas();
    //}

    @*$('#d_select_dokterfilter').select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'DokterID',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });*@

</script>