﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMREdukasiTerintegrasiRJ";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    #region ==== Detail 1
    var d_tbl_detail_1 = $"frm_table_detaildetail_1";
    int d_idx_detail_1 = 0;
    var d_trg_detail_1 = $"input_target_detaildetail_1";
    if (Model != null)
    {
        if (Model.EMREdukasi_List != null)
        {
            d_idx_detail_1 = Model.EMREdukasi_List.Count();
        }
    }
    #endregion

    var siapa = new List<SelectListItem>
{
                    new SelectListItem() {Text = "", Value=""},
                    new SelectListItem() {Text = "Pasien", Value="Pasien"},
                    new SelectListItem() {Text = "Ayah/Ibu", Value="Ayah/Ibu"},
                    new SelectListItem() {Text = "Suami/Istri", Value="Suami/Istri"},
                    new SelectListItem() {Text = "Anak", Value="Anak"},
                    new SelectListItem() {Text = "Lain - Lain", Value="Lain - Lain"},
                };

    var metode = new List<SelectListItem>
{
                    new SelectListItem() {Text = "", Value=""},
                    new SelectListItem() {Text = "Diskusi", Value="Diskusi"},
                    new SelectListItem() {Text = "Demonstrasi", Value="Demonstrasi"},
                    new SelectListItem() {Text = "Leatlef", Value="Leatlef"},
                    new SelectListItem() {Text = "Adio Visual", Value="Adio Visual"},
                };
    var respon = new List<SelectListItem>
{
                    new SelectListItem() {Text = "", Value=""},
                    new SelectListItem() {Text = "Tidak Respon sama sekali ( tidak antusias dan keinginan belajar )", Value="Tidak Respon sama sekali ( tidak antusias dan keinginan belajar )"},
                    new SelectListItem() {Text = "Tidak Paham ( ingin belajar tapi kesulitan mengerti )", Value="Tidak Paham ( ingin belajar tapi kesulitan mengerti )"},
                    new SelectListItem() {Text = "Paham hal yang diajarkan, tapi tidak bisa menjelaskan sendiri", Value="Paham hal yang diajarkan, tapi tidak bisa menjelaskan sendiri"},
                    new SelectListItem() {Text = "Dapat menjelaskan apa yang telah diajarkan tapi tanpa dibantu", Value="Dapat menjelaskan apa yang telah diajarkan tapi tanpa dibantu"},
                };

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
}

<style>
    #@d_tbl_detail_1 thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_detail_1 thead th:nth-child(1),
    #@d_tbl_detail_1 tbody td:nth-child(1){
        text-align:center;
        display:none;
    }

    #@d_tbl_detail_1 thead th:nth-child(2),
    #@d_tbl_detail_1 tbody td:nth-child(2){
        min-width: 80px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(3),
    #@d_tbl_detail_1 tbody td:nth-child(3){
        display:none;
    }
    #@d_tbl_detail_1 thead th:nth-child(4),
    #@d_tbl_detail_1 tbody td:nth-child(4){
        min-width: 100px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(5),
    #@d_tbl_detail_1 tbody td:nth-child(5) {
        min-width: 150px;
    }
    #@d_tbl_detail_1 thead th:nth-child(6),
    #@d_tbl_detail_1 tbody td:nth-child(6){
        min-width: 250px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(7),
    #@d_tbl_detail_1 tbody td:nth-child(7){
        min-width: 150px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(6),
    #@d_tbl_detail_1 tbody td:nth-child(6){
        min-width: 200px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(8),
    #@d_tbl_detail_1 tbody td:nth-child(8){
        min-width: 150px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(9),
    #@d_tbl_detail_1 tbody td:nth-child(9){
        min-width: 200px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(10),
    #@d_tbl_detail_1 tbody td:nth-child(10){
        min-width: 350px;
    }
    #@d_tbl_detail_1 thead th:nth-child(11),
    #@d_tbl_detail_1 tbody td:nth-child(11){
        min-width: 250px;
    }
    #@d_tbl_detail_1 thead th:nth-child(12),
    #@d_tbl_detail_1 tbody td:nth-child(12){
        min-width: 200px;
        text-align:center;
    }
</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div id="panel_@formName" class="panel panel-body detail collapse in" style=" padding: 0;"
                 data-index-detail="@d_idx_detail_1">
                <div class="table-responsive">
                    <table id="@d_tbl_detail_1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" onclick="checkall(this)" />
                                </th>
                                <th class="text-center" rowspan="2">
                                    <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_detail_1')">
                                        <i class="icon-plus2"></i>
                                    </a>
                                </th>
                                <th></th>
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>Edukasi Yang Diberikan</th>
                                <th>Siapa Yang <br /> Di Edukasi</th>
                                <th>Tempat </th>
                                <th>Metode Edukasi</th>
                                <th>Respon</th>
                                <th>Edukator</th>
                                <th>Bidang Disiplin</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.EMREdukasi_List != null)
                                {
                                    for (var i = 0; i < Model.EMREdukasi_List.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" />
                                            </td>

                                            <td>
                                                <a class="text-danger-600"
                                                   onclick="removetr(this)">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMREdukasi_List[i].Remove,
                                                new { htmlAttributes = new { @class = "disable-reset" } })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMREdukasi_List[i].Model.No, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm text-center",
                                                       @readonly = "readonly"
                                                   }
                                               })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMREdukasi_List[i].Model.Tanggal, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.EMREdukasi_List[i].Model.Tanggal != null ? Model.EMREdukasi_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                   }
                                               })
                                            </td>
                                            @{
                                                var siapaselect = new List<SelectListItem>();

                                                if (Model.EMREdukasi_List[i].Model != null)
                                                {
                                                    if (Model.EMREdukasi_List[i].Model.SiapaEdukasi != null)
                                                    {
                                                        foreach (var x in siapa)
                                                        {
                                                            if (x.Value == Model.EMREdukasi_List[i].Model.SiapaEdukasi)
                                                            {
                                                                siapaselect.Add(new SelectListItem()
                                                                {
                                                                    Value = x.Value,
                                                                    Text = x.Text,
                                                                    Selected = true
                                                                });
                                                            }
                                                            else
                                                            {
                                                                siapaselect.Add(new SelectListItem()
                                                                {
                                                                    Value = x.Value,
                                                                    Text = x.Text
                                                                });
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            <td>
                                                @Html.EditorFor(model => model.EMREdukasi_List[i].Model.EdukasiDiberikan, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>

                                            <td>
                                                @Html.DropDownListFor(model => model.EMREdukasi_List[i].Model.SiapaEdukasi, siapaselect, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMREdukasi_List[i].Model.Tempat, new
                                                {
                                                    htmlAttributes = new
                                                    {
                                               @class = "form-control",
                                               @Value = Request.Cookies["EMRSectionNamaPelayanan"].Value,
                                               @readonly = "readonly"
                                           }
                                                })
                                            </td>

                                            @{
                                                var metodeselect = new List<SelectListItem>();

                                                if (Model.EMREdukasi_List[i].Model != null)
                                                {
                                                    if (Model.EMREdukasi_List[i].Model.MetodeEdukasi != null)
                                                    {
                                                        foreach (var x in metode)
                                                        {
                                                            if (x.Value == Model.EMREdukasi_List[i].Model.MetodeEdukasi)
                                                            {
                                                                metodeselect.Add(new SelectListItem()
                                                                {
                                                                    Value = x.Value,
                                                                    Text = x.Text,
                                                                    Selected = true
                                                                });
                                                            }
                                                            else
                                                            {
                                                                siapaselect.Add(new SelectListItem()
                                                                {
                                                                    Value = x.Value,
                                                                    Text = x.Text
                                                                });
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            <td>
                                                @Html.DropDownListFor(model => model.EMREdukasi_List[i].Model.MetodeEdukasi, metodeselect, new { @class = "form-control input-sm" })
                                            </td>

                                            @{
                                                var responselect = new List<SelectListItem>();

                                                if (Model.EMREdukasi_List[i].Model != null)
                                                {
                                                    if (Model.EMREdukasi_List[i].Model.Respon != null)
                                                    {
                                                        foreach (var x in respon)
                                                        {
                                                            if (x.Value == Model.EMREdukasi_List[i].Model.Respon)
                                                            {
                                                                responselect.Add(new SelectListItem()
                                                                {
                                                                    Value = x.Value,
                                                                    Text = x.Text,
                                                                    Selected = true
                                                                });
                                                            }
                                                            else
                                                            {
                                                                siapaselect.Add(new SelectListItem()
                                                                {
                                                                    Value = x.Value,
                                                                    Text = x.Text
                                                                });
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            <td>
                                                @Html.DropDownListFor(model => model.EMREdukasi_List[i].Model.Respon, responselect, new { @class = "form-control input-sm" })
                                            </td>

                                            @{
                                                var _lstNamaTerang = new List<SelectListItem>();
                                                if (Model.EMREdukasi_List[i].Model != null)
                                                {
                                                    if (Model.EMREdukasi_List[i].Model.Edukator != null)
                                                    {
                                                        _lstNamaTerang.Add(new SelectListItem()
                                                        {
                                                            Value = Model.EMREdukasi_List[i].Model.Edukator,
                                                            Text = Model.EMREdukasi_List[i].Model.EdukatorNama
                                                        });
                                                    }
                                                }
                                            }
                                            <td>
                                                @Html.DropDownListFor(model => model.EMREdukasi_List[i].Model.Edukator, _lstNamaTerang, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMREdukasi_List[i].Model.BidangDisiplin, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>

                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                @if (Model.Report == 1)
                {
                    <a href="@Url.Action("ExportEdukasiTerintegrasi", new { nobukti = Model.NoBukti })" target="_blank"
                       class="btn btn-success" @(Model.NoBukti == null ? "disabled" : "")>
                        <span class="icon icon-printer"></span> Cetak PDF
                    </a>
                }
            </div>
        </div>
    }

</div>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    @if (Model != null)
    {
        if (Model.EMREdukasi_List != null)
        {
            for (var i = 0; i < Model.EMREdukasi_List.Count; i++)
            {
                @:customrowdetail_detail_1_List(@i, { target: $('#@d_tbl_detail_1 thead a i')[0] }, '@d_trg_detail_1', false);
            }

        }
    }

    function customrowdetail_detail_1_List(index_detail, _this, inputtarget, autofocus) {
        var namaterang = '#panel_@formName #EMREdukasi_List_' + index_detail +'__Model_Edukator';
        generalDokter(namaterang);
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        customrowdetail_detail_1_List(index_detail, _this, inputtarget, autofocus);
    }
</script>

@{
    if (Model != null)
    {

        Model.EMREdukasi_List = null;
    }
}

<div id="@d_trg_detail_1" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMREdukasi_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMREdukasi_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMREdukasi_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMREdukasi_List[-1].Model.EdukasiDiberikan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREdukasi_List[-1].Model.SiapaEdukasi,
        siapa, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMREdukasi_List[-1].Model.Tempat, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @Value = Request.Cookies["EMRSectionNamaPelayanan"].Value, 
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREdukasi_List[-1].Model.MetodeEdukasi,
        metode, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREdukasi_List[-1].Model.Respon,
        respon, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMREdukasi_List[-1].Model.Edukator,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMREdukasi_List[-1].Model.BidangDisiplin
   , new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

</div>
<script>
    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("a").closest("th").addClass("hidden");
            $("#@formName").find("a").closest("td").addClass("hidden");
            $("#@formName").find("button").attr("disabled", true);
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>
