﻿@using iHos.MVC.Converter
@using EMRRSCB.Models
@model RegistrasiViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = "Electronik Medical Record";
    var tableId = $"table_{controllerName}_cppt";
    var item = new DokumenAssesmenPasienViewModel();
    var columnCount = 35;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.NoReg);
    column[2] = nameof(item.CretaedBy);
    column[3] = nameof(item.UpdatedBy);
    column[4] = nameof(item.TanggalCreate);
    column[5] = nameof(item.TanggalUpdate);
    column[6] = nameof(item.DokumenID);
    column[7] = nameof(item.NamaDokumen);
    column[8] = nameof(item.SectionID);
    column[9] = nameof(item.SectionName);
    column[10] = nameof(item.Simpan);
    column[11] = nameof(item.Batal);
    column[12] = nameof(item.NamaDOkter);
    column[13] = nameof(item.Jam);
    column[14] = nameof(item.CPPT_S);
    column[15] = nameof(item.CPPT_O);
    column[16] = nameof(item.CPPT_A);
    column[17] = nameof(item.CPPT_P);
    column[18] = nameof(item.CPPT_I);
    column[19] = nameof(item.Profesi);
    column[20] = nameof(item.Edit);
    column[21] = nameof(item.CPPT_OGambar);
    column[22] = nameof(item.Jam_View);
    column[23] = nameof(item.DokterID);
    column[24] = nameof(item.TTDCPPT);
    column[25] = nameof(item.DPJPNama);
    column[26] = nameof(item.PetugasKonfirmasiNama);
    column[27] = nameof(item.PetugasKonfirmasi);
    column[28] = nameof(item.VerifikasiPetugasCPPT);
    column[29] = nameof(item.VerifikasiPetugasKonfirmasiCPPT);

    var CPPT = new CPPTViewModel();

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListAssesmenCPPT","MedicalRecord")';
     init();
     filter[0] = '@Model.NoReg';
     filter[1] = '@Model.NRM';
     sort = '@column[5]';
     sorttype = 'asc';
     getdatas();
     ">

    <style>
        .btn-flash {
            background-color: #0ab9a900 !important;
            animation: blinker 1s linear infinite;
            transition: background-color .5s linear !important;
        }

        @@keyframes blinker {
            50% {
                fill: #F44336;
                opacity: 0.7;
                -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
            }
        }

        a.disabled {
            pointer-events: none;
            cursor: default;
        }

        .cppt-yellow {
            background: #fbf1a7;
        }

        .cppt-blue {
            background: #a7d8fb;
        }

        .table-custom {
            width: 100%;
        }

            .table-custom tr td {
                padding: 10px 0;
            }

        .list-assesmencppt {
            height: 502px;
            overflow-y: scroll;
        }

        div.polaroid {
            border-radius: 8px;
            width: 54%;
            background-color: #f3f0f0;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        img {
            width: 100%
        }

        div.container {
            text-align: left;
            /*padding: 10px 67px;*/
            width: 300px;
            height: 100px;
            padding: 50px;
            border: 1px solid red;
        }

        .view-cppt {
            width: 450px;
            /*height: 130px;*/
            background-color: #e9e9e900;
            border: none;
        }
    </style>

    <div class="row" id="panelfullscreenfrmcppt">
        <div class="col-md-6">

            <div class="panel">

                <div class="panel-body">
                    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="sumitFrmCPPT(this)">

                        <input type="hidden" id="@nameof(CPPT.NoBukti)" name="@nameof(CPPT.NoBukti)" value="@(CPPT.NoBukti)" />
                        <input type="hidden" id="_METHOD" name="_METHOD" value="CREATE" />
                        <input type="hidden" id="@nameof(Model.DokterID)" name="@nameof(Model.DokterID)" value="@(Model.DokterID)" />
                        <input type="hidden" id="@nameof(Model.Nama_Supplier)" name="@nameof(Model.Nama_Supplier)" value="@(Model.Nama_Supplier)" />
                        <input type="hidden" id="@nameof(Model.NoReg)" name="@nameof(Model.NoReg)" value="@(Model.NoReg)" />
                        <input type="hidden" id="@nameof(Model.NRM)" name="@nameof(Model.NRM)" value="@(Model.NRM)" />
                        <input type="hidden" id="@nameof(Model.CPPT_OGambar)" name="@nameof(Model.CPPT_OGambar)" value="@(Model.CPPT_OGambar)" />
                        <input type="hidden" id="@nameof(Model.VerifikasiPetugasCPPT)" name="@nameof(Model.VerifikasiPetugasCPPT)" value="" />
                        <input type="hidden" id="@nameof(Model.VerifikasiPetugasBacaUlangCPPT)" name="@nameof(Model.VerifikasiPetugasBacaUlangCPPT)" value="" />
                        <input type="hidden" id="@nameof(Model.VerifikasiPetugasKonfirmasiCPPT)" name="@nameof(Model.VerifikasiPetugasKonfirmasiCPPT)" value="" />
                        <input type="hidden" readonly id="Profesi" name="Profesi" value="" />

                        <div class="form-group">
                            <div class="col-md-7">
                                <input type="date" class="input-xs form-control" id="Tanggal" name="Tanggal" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-md-5">
                                <input type="time" class="input-xs form-control" id="Jam" name="Jam" value="@DateTime.Now.ToString("HH:mm")" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <select class=" form-control" id="DPJP" name="DPJP" value="">
                                </select>
                            </div>
                            <div class="col-md-1 text-right">
                                @if (Model.VerifikasiPetugasCPPT == true)
                                {
                                    <a id="tombolverifikasi" class="btn-xs btn border-danger text-danger btn-flat btn-icon" onclick="verifikasiCPPT('DPJP','@nameof(Model.VerifikasiPetugasCPPT)')"> <i class="icon-checkmark-circle"></i></a>
                                }
                                else
                                {
                                    <a id="tombolverifikasi" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-flash" onclick="verifikasiCPPT('DPJP','@nameof(Model.VerifikasiPetugasCPPT)')"> <i class="icon-checkmark-circle"></i></a>
                                }
                            </div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.Template, new List<SelectListItem>() {
                               new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                           }, new { @class = "form-control", onchange = "selectTemplate()" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1">
                                <h3 class="no-margin text-primary"><strong>S</strong></h3>
                            </label>
                            <div class="col-md-11">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button style=" padding: 17px 10px;" onclick="micBtnClick('#speak_CPPT_S', '#CPPT_S')" type="button" id="speak_CPPT_S" class="btn btn-primary">
                                            <i class="icon-mic2"></i>
                                        </button>
                                    </span>
                                    <textarea id="CPPT_S" name="CPPT_S" class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1">
                                <h3 class="no-margin text-danger"><strong>O</strong></h3>
                            </label>
                            @if (Request.Cookies["EMRSectionNamaPelayanan"].Value == "POLI ORTHOPEDI")
                            {
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="col-md-12">Anatomi</label>
                                        <div class="col-md-12" style="position:inherit">
                                            <div class="form-group" style="position:inherit">
                                                <div class="col-md-12 text-center">
                                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.CPPT_OGambar)" name="IMG_@nameof(Model.CPPT_OGambar)" src="~/Theme/images/orto4.jpg" width="50%" style="border:1px solid #ccc" />
                                                    <p class="text-muted no-margin no-padding">*) Klik pada images untuk masuk mode gambar</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-11 col-md-offset-1">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button style="padding: 27px 10px;" onclick="micBtnClick('#speak_CPPT_O', '#CPPT_O')" type="button" id="speak_CPPT_O" class="btn btn-danger"><i class="icon-mic2"></i></button>
                                        </span>
                                        <textarea id="CPPT_O" name="CPPT_O" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-11">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button style="padding: 27px 10px;" onclick="micBtnClick('#speak_CPPT_O', '#CPPT_O')" type="button" id="speak_CPPT_O" class="btn btn-danger"><i class="icon-mic2"></i></button>
                                        </span>
                                        <textarea id="CPPT_O" name="CPPT_O" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="form-group">
                            <label class="col-md-1">
                                <h3 class="no-margin text-success"><strong>A</strong></h3>
                            </label>
                            <div class="col-md-11">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button style="padding: 17px 10px;" onclick="micBtnClick('#speak_CPPT_A', '#CPPT_A')" type="button" id="speak_CPPT_A" class="btn btn-success"><i class="icon-mic2"></i></button>
                                    </span>
                                    <textarea id="CPPT_A" name="CPPT_A" class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @*<div class="col-md-12">
                <ul class="icons-list pull-right">
                    <li>
                        <a class="cursor-pointer" ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create", "OrderResep", new { noreg = Model.NoReg })',
                                header: 'Order Resep',
                                target_auto_refresh : '@tableId'
                                })">
                            <label style="margin-top: 5px;" class="text-semibold"><i class="icon-add position-left"></i> Non Racik</label>
                        </a>
                    </li>
                    <li class="ml-20">
                        <a class="cursor-pointer" ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("CreateNonRacik", "OrderResep", new { noreg = Model.NoReg })',
                                    header: 'Order Resep',
                                    target_auto_refresh : '@tableId'
                                    })">
                            <label style="margin-top: 5px;" class="text-semibold"><i class="icon-add position-left"></i> Racik</label>
                        </a>
                    </li>
                    <li class="ml-20">
                        <a class="cursor-pointer" onclick="getAllResep();" id="refreshCPPT">
                            <label style="margin-top: 5px;" class="text-semibold"><i class="icon-sync position-left"></i> Refresh</label>
                        </a>
                    </li>
                </ul>
            </div>*@
                            <div class="col-md-1">
                                <h3 class="no-margin text-warning"><strong>P</strong></h3>
                            </div>
                            <div class="col-md-11">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button style="padding: 17px 10px;" onclick="micBtnClick('#speak_CPPT_P', '#CPPT_P')" type="button" id="speak_CPPT_P" class="btn btn-warning"><i class="icon-mic2"></i></button>
                                    </span>
                                    <textarea id="CPPT_P" name="CPPT_P" class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="text-semibold text-teal-700">Intruksi</label>
                            </div>
                            <div class="col-md-11">
                                <ul class="icons-list pull-right">
                                    <li class="">
                                        <a @*class="cursor-pointer @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")"*@ ng-click="$parent.ajaxmodal({
                                                url: '@Url.Action("showRiwayat", "MedicalRecord", new { noreg = Model.NoReg })',
                                                header: 'Riwayat Hasil',
                                                })">
                                            <label style="margin-top: 5px; margin-right: 10px;" class="text-semibold"><i class="icon-history position-right"></i> Hasil LAB & RAD</label>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a ng-click="$parent.ajaxmodal({
                                                    url: '@Url.Action("Create", "OrderResep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM, poliklinik = "1", thiss = "" })',
                                                    header: 'Non Racik',
                                                    target_auto_refresh : '@tableId'
                                                })" class="@(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")">
                                            <label style="margin-top: 5px;" class="text-semibold"><i class="icon-add position-right"></i> Non Racik</label>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a ng-click="$parent.ajaxmodal({
                                                    url: '@Url.Action("CreateNonRacik", "OrderResep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM, poliklinik = "1", thiss = "" })',
                                                    header: 'Racik',
                                                    target_auto_refresh : '@tableId'
                                                })" class="@(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")">
                                            <label style="margin-top: 5px;" class="text-semibold"><i class="icon-add position-right"></i> Racik</label>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a ng-click="$parent.ajaxmodal({
                                                    url: '@Url.Action("CreateOptik", "OrderResep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM, poliklinik = "1", thiss = "" })',
                                                    header: 'Optik',
                                                    target_auto_refresh : '@tableId'
                                                })" class="@(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")">
                                            <label style="margin-top: 5px;" class="text-semibold"><i class="icon-add position-right"></i> Optik</label>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button style="padding: 27px 10px;" onclick="micBtnClick('#speak_CPPT_I', '#CPPT_I')" type="button" id="speak_CPPT_I" class="btn bg-teal-700"><i class="icon-mic2"></i></button>
                                    </span>
                                    <textarea id="CPPT_I" name="CPPT_I" class="form-control" rows="3"></textarea>
                                </div>
                                <small class="info text-muted"></small>
                            </div>
                        </div>

                        @if (Request.Cookies["EMRTipePelayanan"].Value == "RI" || Request.Cookies["EMRSectionIDPelayanan"].Value == "SEC002")
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="text-semibold text-teal-700">Konfirmasi</label>
                                </div>
                                <div class="col-md-8">
                                    <select class=" form-control" id="PetugasKonfirmasi" name="PetugasKonfirmasi" value="">
                                    </select>
                                </div>
                                <div class="col-md-1 text-right">
                                    @if (Model.VerifikasiPetugasKonfirmasiCPPT == true)
                                    {
                                        <a id="tombolverifikasiKonfirmasi" class="btn-xs btn border-danger text-danger btn-flat btn-icon" onclick="verifikasiCPPT('PetugasKonfirmasi','@nameof(Model.VerifikasiPetugasKonfirmasiCPPT)')"> <i class="icon-checkmark-circle"></i></a>
                                    }
                                    else
                                    {
                                        <a id="tombolverifikasiKonfirmasi" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-flash" onclick="verifikasiCPPT('PetugasKonfirmasi','@nameof(Model.VerifikasiPetugasKonfirmasiCPPT)')"> <i class="icon-checkmark-circle"></i></a>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 ">
                                    <label class="text-semibold text-teal-700">Tanggal</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="date" class="input-xs form-control" id="TanggalKonfirmasi" name="TanggalKonfirmasi" />
                                </div>
                                <div class="col-md-2 ">
                                    <label class="text-semibold text-teal-700">Jam</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="input-xs form-control" id="JamKonfirmasi" name="JamKonfirmasi" />
                                </div>
                            </div>



                            @*<div class="form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tulis Baca Ulang</th>
                            <th>Konfirmasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-9">
                                        <select class=" form-control" id="PetugasBacaUlang" name="PetugasBacaUlang" value="">
                                        </select>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        @if (Model.VerifikasiPetugasBacaUlangCPPT == true)
                                        {
                                            <a id="tombolverifikasiBacarUlang" class="btn-xs btn border-danger text-danger btn-flat btn-icon" onclick="verifikasiCPPT('PetugasBacaUlang','@nameof(Model.VerifikasiPetugasBacaUlangCPPT)')"> <i class="icon-checkmark-circle"></i></a>
                                        }
                                        else
                                        {
                                            <a id="tombolverifikasiBacarUlang" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-flash" onclick="verifikasiCPPT('PetugasBacaUlang','@nameof(Model.VerifikasiPetugasBacaUlangCPPT)')"> <i class="icon-checkmark-circle"></i></a>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-9">
                                        <select class=" form-control" id="PetugasKonfirmasi" name="PetugasKonfirmasi" value="">
                                        </select>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        @if (Model.VerifikasiPetugasKonfirmasiCPPT == true)
                                        {
                                            <a id="tombolverifikasiKonfirmasi" class="btn-xs btn border-danger text-danger btn-flat btn-icon" onclick="verifikasiCPPT('PetugasKonfirmasi','@nameof(Model.VerifikasiPetugasKonfirmasiCPPT)')"> <i class="icon-checkmark-circle"></i></a>
                                        }
                                        else
                                        {
                                            <a id="tombolverifikasiKonfirmasi" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-flash" onclick="verifikasiCPPT('PetugasKonfirmasi','@nameof(Model.VerifikasiPetugasKonfirmasiCPPT)')"> <i class="icon-checkmark-circle"></i></a>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        Tanggal
                                    </label>
                                    <div class="col-md-8">
                                        <input type="date" class="input-xs form-control" id="TanggalBacaUlang" name="TanggalBacaUlang" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        Jam
                                    </label>
                                    <div class="col-md-8">
                                        <input type="time" class="input-xs form-control" id="JamBacaUlang" name="JamBacaUlang" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        Tanggal
                                    </label>
                                    <div class="col-md-8">
                                        <input type="date" class="input-xs form-control" id="TanggalKonfirmasi" name="TanggalKonfirmasi" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        Jam
                                    </label>
                                    <div class="col-md-8">
                                        <input type="time" class="input-xs form-control" id="JamKonfirmasi" name="JamKonfirmasi" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>*@
                            @*<div class="form-group">
                <div class="col-md-3 control-label">Dokter Konsultasi</div>
                <div class="col-md-9">
                    <select class=" form-control" id="PetugasKonfirmasi" name="PetugasKonfirmasi" value="">
                    </select>
                </div>
            </div>*@
                        }

                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="saveTemplate" value="" id="saveTemplate" onclick="readTemplateName()" /> Save Template
                                </label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" readonly id="templateName" name="templateName" value="" />
                            </div>
                            <div class="col-md-4 text-right">
                                <button type="reset" class="btn btn-default">Reset </button>
                                <a onclick="simpan()" class="btn btn-primary">Simpan <i class="icon-arrow-right14 position-right"></i></a>
                                <button id="btnsave" type="submit" class="btn btn-primary hidden">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-flat" style="margin-bottom: 10px;">
                <div class="panel-heading" style=" padding-top: 14px; padding-bottom: 14px;">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="icons-list pull-left">
                                <li><a href="@Url.Action("ExportPDF","CPPT")?nrm=@Model.NRM" target="_blank"><i class="icon-printer position-left"></i> </a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="icons-list pull-right">
                                <li><a id="reloadfrmcppt" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <button id="addAssesmenCPPT" type="button" class="hidden" ng-click="$parent.ajaxmodal({
                                                            url : '@Url.Action("Create","CPPT")',
                                                            param: { noreg : '@Model.NoReg', nrm : '@Model.NRM' },
                                                            header : 'CATATAN PERKEMBANGAN PASIEN TERINTERGRASI',
                                                            target_auto_refresh : '@tableId' })">
                    </button>
                </div>
            </div>

            <div class="list-assesmencppt" id="@tableId">
                <div class="row {{ loading ? '' : 'hide' }}">
                    <div class="col-md-12">
                        <div class="loading {{ loading ? '' : 'hide' }}">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row {{ loading ? 'hide' : '' }}">
                    <div class="col-md-12" ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <div class="panel panel-body" ng-class="['cppt-yellow', 'cppt-blue'][$index % 2]">
                            <div class="row">
                                <div class="col-md-7">
                                    <h6 class="text-slate-700 text-semibold no-padding no-margin"><i class="icon-crown position-left"></i> {{ data.@(column[12]) }} <i ng-if="data.@column[28]" class="icon-checkmark-circle position-right text-primary"></i></h6>
                                    <p ng-if="data.@(column[19])!=null" class="text-muted"><i class="icon-briefcase3 position-left"></i> {{ data.@(column[19]) }}</p>
                                    <p ng-if="data.@(column[19])==null" class="text-muted"><i class="icon-briefcase3 position-left"></i> Dokter</p>
                                    <h6 ng-if="data.@(column[26])!=null" class="text-slate-700 text-semibold no-padding no-margin"><i class="icon-phone-outgoing position-left"></i> {{ data.@(column[26]) }} <i ng-if="data.@column[29]" class="icon-checkmark-circle position-right text-primary"></i></h6>
                                </div>
                                <div class="col-md-5 text-right">
                                    <h6 class="text-slate-700 text-semibold no-padding no-margin">{{ data.@(column[13])_View }} <i class="icon-calendar2 position-right"></i></h6>
                                    <p class="text-muted">{{ data.@(column[9]) }} <i class="icon-pin position-right"></i></p>
                                </div>
                            </div>

                            <table class="table-custom">
                                <tr>
                                    <td style="vertical-align:top; width:10px;">
                                        <h3 class="no-margin text-primary"><strong>S</strong></h3>
                                    </td>
                                    @if (Request.Cookies["EMRTipePelayanan"].Value == "RI" || Request.Cookies["EMRSectionIDPelayanan"].Value == "SEC012")
                                    {
                                        <td colspan="3">
                                            {{ data.@(column[14]) }}
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="3">
                                            <textarea class="view-cppt" readonly="readonly">{{ data.@(column[14]) }}</textarea>
                                        </td>
                                    }

                                    @*<td  ng-bind-html="data.@(column[14])"></td>*@
                                </tr>
                                <tr>
                                    <td style="vertical-align:top;">
                                        <h3 class="no-margin text-danger"><strong>O</strong></h3>
                                    </td>
                                    @if (Request.Cookies["EMRSectionNamaPelayanan"].Value == "POLI ORTHOPEDI")
                                    {
                                        <td colspan="3"><img style="width:500px" src="{{ data.@(column[21]) }}" /></td>
                                    }
                                    else if (Request.Cookies["EMRTipePelayanan"].Value == "RI" || Request.Cookies["EMRSectionIDPelayanan"].Value == "SEC012")
                                    {
                                        <td colspan="3">
                                            {{ data.@(column[15]) }}
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="3">
                                            <textarea class="view-cppt" readonly="readonly">{{ data.@(column[15]) }}</textarea>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @if (Request.Cookies["EMRSectionNamaPelayanan"].Value == "POLI ORTHOPEDI")
                                    {
                                        <td style="vertical-align:top;">
                                            <h3 class="no-margin text-danger"><strong></strong></h3>
                                        </td>
                                        <td colspan="3">{{ data.@(column[15]) }}</td>
                                    }
                                </tr>
                                <tr>
                                    <td style="vertical-align:top;">
                                        <h3 class="no-margin text-success"><strong>A</strong></h3>
                                    </td>
                                    @if (Request.Cookies["EMRTipePelayanan"].Value == "RI" || Request.Cookies["EMRSectionIDPelayanan"].Value == "SEC012")
                                    {
                                        <td colspan="3">
                                            {{ data.@(column[16]) }}
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="3">
                                            <textarea class="view-cppt" readonly="readonly">{{ data.@(column[16]) }}</textarea>
                                        </td>
                                    }

                                    @*<td colspan="3" ng-bind-html="data.@(column[16])">{{ data.@(column[16]) }}</td>*@
                                </tr>
                                <tr>
                                    <td style="vertical-align:top;">
                                        <h3 class="no-margin text-warning"><strong>P</strong></h3>
                                    </td>
                                    @if (Request.Cookies["EMRTipePelayanan"].Value == "RI" || Request.Cookies["EMRSectionIDPelayanan"].Value == "SEC012")
                                    {
                                        <td colspan="3">
                                            {{ data.@(column[17]) }}
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="3">
                                            <textarea class="view-cppt" readonly="readonly">{{ data.@(column[17]) }}</textarea>
                                        </td>
                                    }

                                </tr>
                                <tr>
                                    <td style="vertical-align:top; width:9%">
                                        <strong class="text-slate-700">Instruksi</strong>
                                    </td>
                                    @if (Request.Cookies["EMRTipePelayanan"].Value == "RI" || Request.Cookies["EMRSectionIDPelayanan"].Value == "SEC012")
                                    {
                                        <td colspan="3">
                                            {{ data.@(column[18]) }}
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="3">
                                            <textarea class="view-cppt" readonly="readonly">{{ data.@(column[18]) }}</textarea>
                                        </td>
                                    }
                                </tr>
                            </table>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button onclick="copyCPPT(this)" data-target-id="{{data.@column[0]}}" type="button" class="btn-xs btn border-primary text-primary btn-flat btn-icon btn-rounded">
                                        <i class="icon-copy"></i>
                                    </button>

                                    <span @*ng-if="data.Edit=='1'"*@>
                                        <button onclick="editCPPT(this)" data-target-id="{{data.@column[0]}}" type="button" class="btn-xs btn border-success text-success btn-flat btn-icon btn-rounded">
                                            <i class="icon-pencil7"></i>
                                        </button>
                                        <button ng-click="delete(data.@column[0], '@Url.Action("Batal")')" ng-if="!data.@(column[11])" type="button" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-rounded"><i class="icon-trash"></i></button>
                                        <button ng-if="data.@(column[27]) != null" onclick="tbkCPPT(this)" data-target-id="{{data.@column[0]}}" data-target-dpjp="{{data.@column[27]}}" type="button" title="Verifikasi TBK" class="btn-xs btn border-primary text-primary btn-flat btn-icon btn-rounded">
                                            <i class="icon-file-check"></i>
                                        </button>
                                    </span>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="ModalVerikasiFormCPPT" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="CheckCPPT(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalYaTidak" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="" method="post" class="form-horizontal" autocomplete="off">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Data Belum TERVERIFIKASI</h4>
                    <h4 class="modal-title">Apakah ingin menyimpan transaksi ini ?</h4>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button onclick="simpan2()" type="submit" class="btn btn-primary">Ya <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closesimpan()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    textarea {
        width: 100%;
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        line-height: 1.5;
        padding: 15px 15px 30px;
        border-radius: 3px;
        border: 1px solid #F7E98D;
        transition: box-shadow 0.5s ease;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        font-smoothing: subpixel-antialiased;
    }
</style>

@*<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>*@
<script>
    function verifikasiCPPT(namapetugas, verifnama) {
        var dokter = $('#' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiFormCPPT #dokter').val(dokter);
        $('#ModalVerikasiFormCPPT #username').val(username);
        $('#ModalVerikasiFormCPPT #userid').val(userid);
        $('#ModalVerikasiFormCPPT #namaverifikasi').val(verifnama);
        $('#ModalVerikasiFormCPPT').modal();
    }

    function CheckCPPT(tthis) {
        cekverifikasicppt(tthis[0].value, tthis[3].value);
    }

    function closesimpan() {
        if ($('.modal.in').length > 0) {
            $('#ModalYaTidak').on('hidden.bs.modal', function (e) {
                // do something...
                //$('body').addClass('modal-open');
            })
        }
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function simpan() {
        var cekverifikasi = $('#VerifikasiPetugasCPPT').val();
        if (cekverifikasi == null || cekverifikasi == '') {
            $('#ModalYaTidak').modal();
        } else {
            $('#btnsave').click();
        }
    }

    function simpan2() {
        $('#btnsave').click();
    }

    document.addEventListener('DOMContentLoaded', function () {

        //autosize(document.getElementById("CPPT_S"));
        //autosize(document.getElementById("CPPT_O"));
        //autosize(document.getElementById("CPPT_A"));
        //autosize(document.getElementById("CPPT_P"));
        //autosize(document.getElementById("CPPT_I"));
    }, false);



    var data = {
        id: $('#DokterID').val(),
        text: $('#Nama_Supplier').val()
    };
    var newOption = new Option(data.text, data.id, true, true);
    $('#fm_cppt_create #DPJP').append(newOption).trigger('change');

    generalDokter("#fm_cppt_create #DPJP");
    generalDokter("#fm_cppt_create #PetugasKonfirmasi");
    generalDokter("#fm_cppt_create #PetugasBacaUlang");

    $('#fm_cppt_create #DPJP').on('select2:select', function (e) {
        var data = e.params.data;
        var dokter = $('#fm_cppt_create #DPJP').val()
        getProfesiCPPT(dokter);
    });

    $("#Template").select2();

    function readTemplateName() {
        if ($("#saveTemplate").is(":checked")) {
            $("#templateName").attr("readonly", false);
        } else {
            $("#templateName").attr("readonly", true);
        }
    }

    function getAllResep() {
        $("#refreshCPPT").find(".icon-sync").addClass("spinner");

        $.ajax({
            url: '@Url.Action("getListObat", "CPPT")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $("#fm_cppt_create #CPPT_P").val(dt.Data);

                    var p = document.getElementById("CPPT_P");

                    if (p.value != '') {
                        $("#CPPT_P").height(0);
                        $("#CPPT_P").height(p.scrollHeight);
                    }

                    autofocusCPPT();

                    $("#refreshCPPT").find(".icon-sync").removeClass("spinner");
                }
            }
        });
    }

    function getProfesiCPPT(idslc2) {
        $.ajax({
            url: '@Url.Action("get_profesi", "CPPT")',
            data: {
                dokter: idslc2
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_cppt_create #Profesi').val(dt.Data);
                }
            }
        });
    }

    function selectTemplate() {
        var temp = $("#Template").val();

        $.ajax({
            url: '@Url.Action("tempCPPT", "CPPT")',
            data: {
                id: temp
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_S)').val(dt.Data.@nameof(CPPT.CPPT_S));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_O)').val(dt.Data.@nameof(CPPT.CPPT_O));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_A)').val(dt.Data.@nameof(CPPT.CPPT_A));
                    var PP = $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').val();
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').val(PP + dt.Data.@nameof(CPPT.CPPT_P));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_I)').val(dt.Data.@nameof(CPPT.CPPT_I));

                }
            }
        });
    }

    function copyCPPT(tthis) {
        $.ajax({
            url: '@Url.Action("copyCPPT", "CPPT")',
            data: {
                id: $(tthis).data('target-id')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_S)').val(dt.Data.@nameof(CPPT.CPPT_S));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_O)').val(dt.Data.@nameof(CPPT.CPPT_O));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_A)').val(dt.Data.@nameof(CPPT.CPPT_A));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').val(dt.Data.@nameof(CPPT.CPPT_P));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_I)').val(dt.Data.@nameof(CPPT.CPPT_I));



                    alertpopup("Copying success", 'success');
                }
            }
        });
    }

    function tbkCPPT(tthis) {
        $.ajax({
            url: '@Url.Action("tbkCPPT", "CPPT")',
            data: {
                id: $(tthis).data('target-id'),
                menyerahkan: $(tthis).data('target-dpjp')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');

                else {
                    if (dt.Data.SudahTBK == "Belum") {
                        alertpopup("User Login Tidak Sesuai", 'danger');
                    } else if (dt.Data.SudahTBK == "UserKosong") {
                        alertpopup("UserLogin Kosong, Silahkan Registrasi di Admin", 'danger');
                    } else {
                        alertpopup("Berhasil Verifikasi Tbk", 'success');
                    }
                }
            }
        });
    }

    function editCPPT(tthis) {
        $.ajax({
            url: '@Url.Action("editCPPT", "CPPT")',
            data: {
                id: $(tthis).data('target-id')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("Data tidak ditemukan", 'info');
                }
                else {
                    $('#fm_cppt_create #@nameof(CPPT._METHOD)').val("UPDATE");
                    $('#fm_cppt_create #@nameof(CPPT.NoBukti)').val(dt.Data.@nameof(CPPT.NoBukti));
                    $('#fm_cppt_create #@nameof(CPPT.Jam)').val(dt.Data.@(nameof(CPPT.Jam))_View);
                    $('#fm_cppt_create #@nameof(CPPT.Tanggal)').val(dt.Data.@(nameof(CPPT.Tanggal))_View);
                    $('#fm_cppt_create #@nameof(CPPT.Profesi)').val(dt.Data.@nameof(CPPT.Profesi));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_S)').val(dt.Data.@nameof(CPPT.CPPT_S));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_O)').val(dt.Data.@nameof(CPPT.CPPT_O));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_A)').val(dt.Data.@nameof(CPPT.CPPT_A));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').val(dt.Data.@nameof(CPPT.CPPT_P));
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_I)').val(dt.Data.@nameof(CPPT.CPPT_I));
                    $('#fm_cppt_create #@nameof(CPPT.VerifikasiPetugasCPPT)').val(dt.Data.@nameof(CPPT.VerifikasiPetugasCPPT));

                    if (dt.Data.@nameof(CPPT.VerifikasiPetugasCPPT)) {
                        $('#tombolverifikasi').removeClass('btn-xs btn border-danger text-danger btn-flat btn-icon btn-flash');
                        $('#tombolverifikasi').addClass('btn-xs btn border-primary text-primary btn-flat btn-icon');
                    }

                     if (dt.Data.@nameof(CPPT.VerifikasiPetugasBacaUlangCPPT)) {
                         $('#tombolverifikasiBacarUlang').removeClass('btn-xs btn border-danger text-danger btn-flat btn-icon btn-flash');
                         $('#tombolverifikasiBacarUlang').addClass('btn-xs btn border-primary text-primary btn-flat btn-icon');
                    }

                    if (dt.Data.@nameof(CPPT.VerifikasiPetugasKonfirmasiCPPT)) {
                        $('#tombolverifikasiKonfirmasi').removeClass('btn-xs btn border-danger text-danger btn-flat btn-icon btn-flash');
                        $('#tombolverifikasiKonfirmasi').addClass('btn-xs btn border-primary text-primary btn-flat btn-icon');
                    }

                    var data = {
                        id: dt.Data.@nameof(CPPT.DPJP),
                        text: dt.Data.@nameof(CPPT.DPJPNama)
                    };
                    var newOption = new Option(data.text, data.id, true, true);
                    $('#fm_cppt_create #@nameof(CPPT.DPJP)').append(newOption).trigger('change');

                    var data1 = {
                        id: dt.Data.@nameof(CPPT.PetugasKonfirmasi),
                        text: dt.Data.@nameof(CPPT.PetugasKonfirmasiNama)
                    };
                    var newOption1 = new Option(data1.text, data1.id, true, true);
                    $('#fm_cppt_create #@nameof(CPPT.PetugasKonfirmasi)').append(newOption1).trigger('change');

                    var data2 = {
                        id: dt.Data.@nameof(CPPT.PetugasBacaUlang),
                        text: dt.Data.@nameof(CPPT.PetugasBacaUlangNama)
                    };
                    var newOption2 = new Option(data2.text, data1.id, true, true);
                    $('#fm_cppt_create #@nameof(CPPT.PetugasBacaUlang)').append(newOption2).trigger('change');


                    $('#fm_cppt_create #@nameof(CPPT.PetugasKonfirmasi)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.PetugasBacaUlang)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.DPJP)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_S)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_O)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_A)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.CPPT_I)').css("background", "#fbf1a7");

                    alertpopup("Form edit CPPT "+ dt.Data.@nameof(CPPT.NoBukti), 'success');
                }
            }
        });
    }

    function sumitFrmCPPT(tthis) {
        $('#_loading').css('display', '');

        var dokter = $("#fm_cppt_create").find("#DPJP").val();
        if (dokter == null) {
            alertpopup("Dokter DPJP tidak boleh kosong,", 'info');
            $('#_loading').css('display', 'none');
            return;
        }

        if ($("#saveTemplate").is(":checked")) {
            if ($("#templateName").val() == "" || $("#templateName").val() == null) {
                alertpopup("Nama Template tidak boleh kosong.", 'info');
                $('#_loading').css('display', 'none');
                return;
            }
        }

        var convert = "";
        var convert2 = "";
        var section = "@Request.Cookies["EMRSectionNamaPelayanan"].Value";
        if (section == "POLI ORTHOPEDI") {
            var ximg_Gambar1 = $('#IMG_@nameof(Model.CPPT_OGambar)');
            iGambar = new iPainter_V2(ximg_Gambar1);
            convert = iGambar.convert_V2('CPPT_OGambar');
        } else {
            convert = $('#IMG_@nameof(Model.CPPT_OGambar)').attr('src');

        }
        $.ajax({
            url: '@Url.Action("SecondCreate", "CPPT")',
            data:
                $(tthis).serialize() + "&img=" + convert + "&imgttd=" + convert2,
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("CPPT gagal disimpan.", 'info');
                    resetFrmCPPT(tthis);
                    $("#reloadfrmcppt").click();

                    $('#_loading').css('display', 'none');
                }else {
                    alertpopup("CPPT berhasil disimpan.", 'success');
                    resetFrmCPPT(tthis);
                    $("#reloadfrmcppt").click();
                    $('#_loading').css('display', 'none');
                }
                $('#VerifikasiPetugasCPPT').val('');
                $('#fm_cppt_create #@nameof(CPPT.DPJP)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.CPPT_S)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.CPPT_O)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.CPPT_A)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.CPPT_P)').css("background", "#fff");
                $('#ModalYaTidak').modal('hide');
            }
        });
    }

    function resetFrmCPPT(tthis) {
        $(tthis).trigger("reset")
        $(tthis).find("#DPJP").val('').trigger('change')
    }

    $('#Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "CPPT")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid : 'CPPT'
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

</script>

<script>
    var iGambar;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.CPPT_OGambar)');

    @if (Model != null)
    {
        if (Model.CPPT_OGambar != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.CPPT_OGambar)');
        }
    }

    $(document).ready(function () {

        iGambar = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });



    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.CPPT_OGambar)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar.convert_V2('CPPT_OGambar');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>

<script>

    // The speech recognition interface lives on the browser’s window object
    const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition; // if none exists -> undefined

    if (SpeechRecognition) {
        console.log("Your Browser supports speech Recognition");

        const recognition = new SpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        // recognition.lang = "en-US";

        var searchForm = document.querySelector("#fm_cppt_create");
        var searchFormInput = "";
        var info = document.querySelector(".info");

        var micBtn = "";
        var micIcon = "";

        var micOn = 0;

        function micBtnClick(micBtn_param, searchFormInput_param) {

            if (micOn == 0) {
                micBtn = searchForm.querySelector(micBtn_param);
                micIcon = micBtn.firstElementChild;

                searchFormInput = searchForm.querySelector(searchFormInput_param);

                if (micIcon.classList.contains("icon-mic2")) { // Start Voice Recognition
                    recognition.start(); // First time you have to allow access to mic!
                    micOn = 1;
                }
                else {
                    recognition.stop();
                    micOn = 0;
                }
            } else {
                recognition.stop();
                micOn = 0;
            }
        }

        recognition.addEventListener("start", startSpeechRecognition); // <=> recognition.onstart = function() {...}
        function startSpeechRecognition() {
            micIcon.classList.remove("icon-mic2");
            micIcon.classList.add("icon-mic-off2");
            searchFormInput.focus();
            console.log("Voice activated, SPEAK");
        }

        recognition.addEventListener("end", endSpeechRecognition); // <=> recognition.onend = function() {...}
        function endSpeechRecognition() {
            micIcon.classList.remove("icon-mic-off2");
            micIcon.classList.add("icon-mic2");
            searchFormInput.focus();
            console.log("Speech recognition service disconnected");
        }

        recognition.addEventListener("result", resultOfSpeechRecognition); // <=> recognition.onresult = function(event) {...} - Fires when you stop talking
        function resultOfSpeechRecognition(event) {
            const current = event.resultIndex;
            const transcript = event.results[current][0].transcript;


            var interim_transcript = "";
            var final_transcript = "";
            for (let i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    final_transcript += event.results[i][0].transcript;
                } else {
                    interim_transcript += event.results[i][0].transcript;
                }
            }
            info.textContent = interim_transcript;

            if (transcript.toLowerCase().trim() === "stop recording") {
                recognition.stop();
            }
            else if (!searchFormInput.value) {
                searchFormInput.value = final_transcript;
            }
            else {
                searchFormInput.value = searchFormInput.value + final_transcript;
            }
        }

        info.textContent = 'Voice Commands: "stop recording" untuk menghentikan recording voice.';

    }
    else {
        console.log("Your Browser does not support speech Recognition");
        info.textContent = "Your Browser does not support Speech Recognition";
    }
</script>

