﻿<style>
    .tab-custom .active a {
        background: #fff !important;
    }
</style>
<div class="">
    <div class="tabbable tab-custom">
        <ul class="nav nav-tabs nav-tabs-top nav-justified" style="margin-bottom:0;">
            <li class="active"><a class="text-semibold" href="#panel-8" data-toggle="tab" onclick="autorefreshlain('reloadTableOrderResep')">ORDER RESEP</a></li>
            <li><a class="text-semibold" href="#panel-9" data-toggle="tab" onclick="autorefreshlain('reloadTableOrderPenunjang')">ORDER PENUNJANG</a></li>
        </ul>
    </div>
    <div class="tab-content">

        <div class="tab-pane active" id="panel-8">

            @Html.Partial("~/Views/MedicalRecord/_listAssesmenOrderResep.cshtml")

        </div>

        <div class="tab-pane" id="panel-9">

            @Html.Partial("~/Views/MedicalRecord/_listAssesmenOrderPenunjang.cshtml")

        </div>

    </div>
</div>