﻿@using iHos.MVC.Converter
@using EMRRSCB.Models
@model RegistrasiViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = "Electronik Medical Record";
    var tableId = $"table_{controllerName}_cppt";
    var item = new DokumenAssesmenPasienViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.NoReg);
    column[2] = nameof(item.CretaedBy);
    column[3] = nameof(item.UpdatedBy);
    column[4] = nameof(item.TanggalCreate);
    column[5] = nameof(item.TanggalUpdate);
    column[6] = nameof(item.DokumenID);
    column[7] = nameof(item.NamaDokumen);
    column[8] = nameof(item.SectionID);
    column[9] = nameof(item.SectionName);
    column[10] = nameof(item.Simpan);
    column[11] = nameof(item.Batal);
    column[12] = nameof(item.NamaDOkter);
    column[13] = nameof(item.Jam);
    column[14] = nameof(item.CPPT_S);
    column[15] = nameof(item.CPPT_O);
    column[16] = nameof(item.CPPT_A);
    column[17] = nameof(item.CPPT_P);
    column[18] = nameof(item.CPPT_I);
    column[19] = nameof(item.Profesi);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListAssesmenCPPT","MedicalRecord")';
     init();
     filter[0] = '@Model.NoReg';
     sort = '@column[0]';
     sorttype = 'desc';
     getdatas();
     ">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>
                    <button id="addAssesmenCPPT" type="button" class="hidden" ng-click="$parent.ajaxmodal({
                                                            url : '@Url.Action("Create","CPPT")',
                                                            param: { noreg : '@Model.NoReg', nrm : '@Model.NRM' },
                                                            header : 'CATATAN PERKEMBANGAN PASIEN TERINTERGRASI',
                                                            target_auto_refresh : '@tableId' })"></button>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th style="width:10%;">Action</th>
                        <th style="width:15%;">Tanggal</th>
                        <th style="width:45%;">Dokter DPJP</th>
                        <th style="width:10%;">Profesi</th>
                        <th style="width:20%;">Ruangan</th>
                    </tr>
                </table>
            </div>

            <div class="list-assesmen" id="@tableId">
                <div class="row {{ loading ? '' : 'hide' }}">
                    <div class="col-md-12">
                        <div class="loading {{ loading ? '' : 'hide' }}">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row {{ loading ? 'hide' : '' }}">
                    <div class="col-md-12" ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <div class="panel">
                            <table class="table table-bordered">
                                <tr>
                                    <td rowspan="6" style="width: 10%; font-size:16px; vertical-align: top;" class="text-center">
                                        <button ng-click="$parent.ajaxmodal({
                                                            url : '@Url.Action("Create","CPPT")',
                                                            param: { noreg : '@Model.NoReg', nrm : '@Model.NRM', copy : data.@column[0] },
                                                            header : 'COPYING CATATAN PERKEMBANGAN PASIEN TERINTERGRASI',
                                                            target_auto_refresh : '@tableId' })" type="button" class="mt-10 mb-10 btn border-primary text-primary btn-flat btn-icon btn-rounded">
                                            <i class="icon-copy"></i>
                                        </button> <br />
                                        <button ng-click="$parent.ajaxmodal({
                                                            url : '@Url.Action("Update","CPPT")',
                                                            param: { id : data.@column[0] },
                                                            header : 'CATATAN PERKEMBANGAN PASIEN TERINTERGRASI' ,
                                                            target_auto_refresh : '@tableId' })" type="button" class="mb-10 btn border-success text-success btn-flat btn-icon btn-rounded">
                                            <i class="icon-zoomin3"></i>
                                        </button><br />
                                        <button ng-click="delete(data.@column[0], '@Url.Action("Batal")')" ng-if="!data.@(column[11])" type="button" class="mb-10 btn border-danger text-danger btn-flat btn-icon btn-rounded"><i class="icon-trash"></i></button>
                                    </td>
                                    <td style="width:15%;">{{ data.@(column[13])_View }}</td>
                                    <td style="width:45%;">{{ data.@(column[12]) }}</td>
                                    <td style="width:10%;">{{ data.@(column[19]) }}</td>
                                    <td style="width:20%;">{{ data.@(column[9]) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>S:</strong>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[14])">{{ data.@(column[14]) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>O:</strong>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[15])">{{ data.@(column[15]) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>A:</strong>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[16])">{{ data.@(column[16]) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>P:</strong>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[17])">{{ data.@(column[17]) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Instruksi :</strong>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[18])">{{ data.@(column[18]) }}</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-flat">
                <div class="datatable-footer" style="border:none;">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>
                    </div>
                </div>
                <div ng-init="pagesize = 12;"></div>
            </div>
        </div>
    </div>
</div>