﻿@using EMRRSCB.Models
@model RegistrasiViewModel
<style>
    .panel-flash {
        color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    .numberCircle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 3px;
        background: #fff;
        border: 2px solid #666;
        color: #666;
        text-align: center;
        font: 23px Arial, sans-serif;
    }
</style>
<div class="sidebar sidebar-secondary sidebar-default">
    <div class="sidebar-content">


        <!-- Action buttons -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>TAMBAH FORMULIR</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                @if (Request.Cookies["EMRSectionIDPelayanan"].Value == "SEC004")
                {
                    <div class="row">
                        <div class="col-xs-6">
                            <button data-toggle="modal" data-target="#modalLookup_addAnestesiLokal" class="btn bg-teal-400 btn-block btn-float btn-float" type="button"><i class="icon-file-plus"></i> <span> Lokal</span></button>
                        </div>
                        <div class="col-xs-6">
                            <button data-toggle="modal" data-target="#modalLookup_addAnestesiLengkap" class="btn bg-purple-400 btn-block btn-float btn-float" type="button"><i class="icon-file-plus"></i> <span> General</span></button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <button onclick="showHistoryAssesmen()" class="btn border-purple-300  btn-block" type="button"><i class="icon-history"></i> <span>History</span></button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-xs-6">
                            <button data-toggle="modal" data-target="#modalLookup_addAssesmenUtama" class="btn bg-teal-400 btn-block btn-float btn-float" type="button"><i class="icon-briefcase3 icon-2x"></i> <span style="font-size: 10px;"> UTAMA</span></button>
                        </div>
                        @if (Request.Cookies["EMRSectionIDPelayanan"].Value == "SEC002")
                        {
                            <div class="col-xs-6">
                                <button data-toggle="modal" data-target="#modalLookup_addAssesmenTambahanIGD" class="btn bg-teal-400 btn-block btn-float btn-float" type="button"><i class="icon-clipboard6 icon-2x"></i> <span style="font-size: 10px;"> TAMBAHAN</span></button>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-6">
                                <button data-toggle="modal" data-target="#modalLookup_addAssesmenTambahan" class="btn bg-teal-400 btn-block btn-float btn-float" type="button"><i class="icon-clipboard6 icon-2x"></i> <span style="font-size: 10px;"> TAMBAHAN</span></button>
                            </div>
                        }
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <button data-toggle="modal" onclick="modalpengaturandpjp()" class="btn btn-block bg-teal-400" type="button"><i class="icon-gear position-left"></i> <span style="font-size: 11px;"> PENGATURAN DPJP</span></button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Search task -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>PILIH PASIEN</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                @using (Html.BeginForm("ChangePasien", "MedicalRecord", FormMethod.Post, new { id = "#form_changepasien_create", onsubmit = "loadingform(this)" }))
                {
                    <text>
                        <div class="mb-20">
                            <select id="PasienRegistrasi" name="noreg">
                                <option value="@Model.NoReg">@Model.NamaPasien</option>
                            </select>
                        </div>
                        <button type="submit" class="btn border-primary text-primary btn-block btn-flat"><i class="icon-paperplane position-left"></i> TERAPKAN</button>
                    </text>
                }
            </div>
        </div>
        <!-- Assigned users -->
        <div class="sidebar-category">
            <div class="category-title @(Model.Alergi == "" ? "" : "panel-flash")">
                <span>RIWAYAT ALERGI</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                @if (Model.Alergi == "")
                {

                }
                else
                {
                    <div class="form-group">
                        <div class="panel panel-body">
                            <strong>@Model.Alergi</strong>
                        </div>
                    </div>
                }
                @*<ul class="media-list" id="media-list-history">
                    </ul>*@
            </div>
        </div>
        <!-- /search task -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>DETAIL REGISTRASI</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">Tgl/Jam</label>
                    <label class="col-md-8 ">@Model.JamReg.ToString("dd-MM-yyyy HH:mm")</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">No Reg</label>
                    <label class="col-md-8 ">@Model.NoReg</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">NRM</label>
                    <label class="col-md-8 ">
                        [@Model.NRM]
                        @if (Model.JenisKelamin == "M")
                        {
                            <i class="fa fa-mars text-bold text-blue"></i>
                        }
                        else
                        {
                            <i class="fa fa-venus text-bold text-danger"></i>
                        }
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">Nama</label>
                    <label class="col-md-8 ">@Model.NamaPasien</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">Tgl Lahir</label>
                    <label class="col-md-8 ">@Model.TglLahir</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">Alamat</label>
                    <label class="col-md-8 ">@Model.Alamat</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">Umur</label>
                    <label class="col-md-8 ">@($"{Model.UmurThn} Tahun {Model.UmurBln} Bulan {Model.UmurHr} Hari")</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">Tipe</label>
                    <label class="col-md-8 ">@Model.TipePasien</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-right text-semibold">Penanggung</label>
                    <label class="col-md-8 ">@Model.PenanggungNama</label>
                </div>
            </div>
        </div>
        <!-- Assigned users -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>HISTORY</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>
            <div class="category-content">
                <select id="HistoryS2" class="form-control" onchange="getcontenthistory()">
                    <option value=""></option>
                    <option value="KUNJUNGAN">KUNJUNGAN</option>
                    <option value="FORMULIR">FORMULIR</option>
                </select>
                @*<input type="radio" id="Kunjungan" name="historyberdasarkan" value="KUNJUNGAN">
                    <label for="Kunjungan">KUNJUNGAN</label><br>

                    <input type="radio" id="Formulir" name="historyberdasarkan" value="FORMULIR">
                    <label for="FORMULIR">FORMULIR</label><br><br>*@

                @*<input onclick="getcontenthistory()" type="submit" value="History">*@
            </div>
            <div class="category-content slimScroll">
                <ul class="media-list" id="media-list-history">
                </ul>
            </div>
        </div>
        <!-- /assigned users -->

    </div>
</div>



<div id="modalLookup_addAssesmen" class="modal fade" data-target-auto-refresh="table_MedicalRecord" data-keyboard="false">
    <div class="modal-dialog modal-md">
        @using (Ajax.BeginForm("Create", "MedicalRecord", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreateCustom(xhr, '#frm_adddokumen', 'true', this)"
        }, new { id = "frm_adddokumen", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-content">
                <div class="modal-header bg-slate">
                    <h6 class="modal-title">Tambah Dokumen</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="noreg" value="@Model.NoReg" />
                        <input type="hidden" name="nrm" value="@Model.NRM" />

                        <select required class="form-control" id="selectAsessmen" name="dokumen">
                            @foreach (var a in StaticModel.SelectListDokumenAssesmen(Request.Cookies["EMRSectionIDPelayanan"].Value, Request.Cookies["EMRTipeNamaPelayanan"].Value))
                            {
                                @:<option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary btn-selected"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                </div>
            </div>
        }
    </div>
</div>

<div id="modalLookup_addAnestesiLokal" class="modal fade" data-target-auto-refresh="table_MedicalRecord" data-keyboard="false">
    <div class="modal-dialog modal-md">
        @using (Ajax.BeginForm("Create", "MedicalRecord", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreateCustom(xhr, '#frm_adddokumenlokal', 'true', this)"
        }, new { id = "frm_adddokumenlokal", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-content">
                <div class="modal-header bg-slate">
                    <h6 class="modal-title">Tambah Dokumen</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="noreg" value="@Model.NoReg" />
                        <input type="hidden" name="nrm" value="@Model.NRM" />
                        <input type="hidden" name="nomor" value="@Model.Nomor" />
                        <select required class="form-control" id="selectAsessmen1" name="dokumen">
                            @foreach (var a in StaticModel.SelectListDokumenAssesmenLokal(Request.Cookies["EMRSectionIDPelayanan"].Value, Request.Cookies["EMRTipeNamaPelayanan"].Value))
                            {
                                @:<option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary btn-selected"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                </div>
            </div>
        }
    </div>
</div>

<div id="modalLookup_addAnestesiLengkap" class="modal fade" data-target-auto-refresh="table_MedicalRecord" data-keyboard="false">
    <div class="modal-dialog modal-md">
        @using (Ajax.BeginForm("Create", "MedicalRecord", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreateCustom(xhr, '#frm_adddokumenpenuh', 'true', this)"
        }, new { id = "frm_adddokumenpenuh", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-content">
                <div class="modal-header bg-slate">
                    <h6 class="modal-title">Tambah Dokumen</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="noreg" value="@Model.NoReg" />
                        <input type="hidden" name="nrm" value="@Model.NRM" />
                        <input type="hidden" name="nomor" value="@Model.Nomor" />
                        <select required class="form-control" id="selectAsessmen2" name="dokumen">
                            @foreach (var a in StaticModel.SelectListDokumenAssesmenLengkap(Request.Cookies["EMRSectionIDPelayanan"].Value, Request.Cookies["EMRTipeNamaPelayanan"].Value))
                            {
                                @:<option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary btn-selected"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                </div>
            </div>
        }
    </div>
</div>

<div id="modalLookup_addAssesmenUtama" class="modal fade" data-target-auto-refresh="table_MedicalRecord" data-keyboard="false">
    <div class="modal-dialog modal-md">
        @using (Ajax.BeginForm("Create", "MedicalRecord", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreateCustom(xhr, '#frm_adddokumen', 'true', this)"
        }, new { id = "frm_adddokumen", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-content">
                <div class="modal-header bg-slate">
                    <h6 class="modal-title">Tambah Dokumen</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="noreg" value="@Model.NoReg" />
                        <input type="hidden" name="nrm" value="@Model.NRM" />

                        <select required class="form-control" id="selectAsessmen3" name="dokumen">
                            @foreach (var a in StaticModel.SelectListDokumenAssesmenUtama(Request.Cookies["EMRSectionIDPelayanan"].Value, Request.Cookies["EMRTipeNamaPelayanan"].Value))
                            {
                                @:<option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary btn-selected"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                </div>
            </div>
        }
    </div>
</div>

<div id="modalLookup_addAssesmenTambahan" class="modal fade" data-target-auto-refresh="table_MedicalRecord" data-keyboard="false">
    <div class="modal-dialog modal-md">
        @using (Ajax.BeginForm("Create", "MedicalRecord", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreateCustom(xhr, '#frm_adddokumen', 'true', this)"
        }, new { id = "frm_adddokumen", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-content">
                <div class="modal-header bg-slate">
                    <h6 class="modal-title">Tambah Dokumen</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="noreg" value="@Model.NoReg" />
                        <input type="hidden" name="nrm" value="@Model.NRM" />

                        <select required class="form-control" id="selectAsessmen4" name="dokumen">
                            @foreach (var a in StaticModel.SelectListDokumenAssesmenTambahan(Request.Cookies["EMRSectionIDPelayanan"].Value, Request.Cookies["EMRTipeNamaPelayanan"].Value))
                            {
                                @:<option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary btn-selected"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                </div>
            </div>
        }
    </div>
</div>

<div id="modalLookup_addAssesmenTambahanIGD" class="modal fade" data-target-auto-refresh="table_MedicalRecord" data-keyboard="false">
    <div class="modal-dialog modal-md">
        @using (Ajax.BeginForm("Create", "MedicalRecord", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreateCustom(xhr, '#frm_adddokumen', 'true', this)"
        }, new { id = "frm_adddokumen", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-content">
                <div class="modal-header bg-slate">
                    <h6 class="modal-title">Tambah Dokumen</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="noreg" value="@Model.NoReg" />
                        <input type="hidden" name="nrm" value="@Model.NRM" />

                        <select required class="form-control" id="selectAsessmen5" name="dokumen">
                            @foreach (var a in StaticModel.SelectListDokumenAssesmenTambahanIGD(Request.Cookies["EMRSectionIDPelayanan"].Value, Request.Cookies["EMRTipeNamaPelayanan"].Value))
                            {
                                @:<option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary btn-selected"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                </div>
            </div>
        }
    </div>
</div>


<style>

    .custom-history {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 3px;
    }

        .custom-history ul {
            padding: 0;
            margin: 0;
        }

            .custom-history ul li {
                border-bottom: 1px solid #eee;
                padding-bottom: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
                list-style: none;
            }

                .custom-history ul li:last-child {
                    border-bottom: none !important;
                    padding-bottom: 5px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    list-style: none;
                }

                .custom-history ul li a {
                    font-size: 11px;
                    list-style: none;
                }

            .custom-history ul .divider {
            }


    .slimScroll {
        padding: 20px 0 20px 20px !important;
        border-bottom: 1px solid #eee;
        display: inline-block;
        overflow: scroll;
        position: relative;
        height: 500px;
        width: 100%;
    }
</style>

<script>
    $("#selectAsessmen").select2();
    $("#selectAsessmen1").select2();
    $("#selectAsessmen2").select2();
    $("#selectAsessmen3").select2();
    $("#selectAsessmen4").select2();
    $("#selectAsessmen5").select2();

    var pasien = $("#PasienRegistrasi");
    pasien.select2(select2Config({
        url: "@Url.Action("SelectRegisterPasien", "Service")",
        sortBy: 'NoReg',
        sortByType: 'ASC',
        callReturn: function (value) {
            return {
                id: value.NoReg,
                text: value.NamaPasien
            };
        }
    }));

    function addfrmassesmenCPPT() {
        $("#addAssesmenCPPT").click();
    }

    //getcontenthistory();
    function getcontenthistory() {
        var filterby = $('#HistoryS2').val();
        if (filterby == undefined || filterby == '' || filterby == null) {
            alertpopup("Pilih Riwayat", "info");
        }else if (filterby == 'KUNJUNGAN') {
            $.ajax({
                url: '@Url.Action("ListAssesmenTopHistoryKunjungan", "MedicalRecord")',
                data: {
                    nrm: '@Model.NRM',
                    filter: filterby
                },
                method: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.IsSuccess) {
                        var html = "";
                        var len = (data.Data.length > 5) ? 5 : data.Data.length;
                        for (var i = 0; i < len; i++) {
                            html += `<li class="media">
                                    <div class="media-body">
                                        <p class="no-padding no-margin"> <i class="icon-calendar2 position-left"></i> `+ data.Data[i].Tanggal + `</p>
                                        <p class="no-padding no-margin"> <i class="icon-pin position-left"></i> `+ data.Data[i].NamaDokter + `</p>
                                        <a onclick="showhidenpanelhistory(this, 'panelshowhistory`+ i + `')" style="font-size: 14px;" class="media-heading text-semibold">` + data.Data[i].SectionName + ` <i class="icon-arrow-down12 position-right"></i></a>

                                        <div class="custom-history" id="panelshowhistory`+ i + `" hidden>
                                            <ul>`;
                            for (var e = 0; e < data.Data[i].detail.length; e++) {
                                html += `<li><a class="cursor-pointer" onclick="showHistoryDetailPDF(this)" data-target-id="` + data.Data[i].detail[e].NoBukti + `" data-target-dokid="` + data.Data[i].detail[e].DokumenID + `" data-target-dok="` + data.Data[i].detail[e].NamaDokumen + `" data-target-nrm="` + data.Data[i].detail[e].NRM + `"><i class="icon-file-pdf text-danger position-left"></i></a><a class="cursor-pointer" onclick="showHistoryDetail(this)" data-target-id="` + data.Data[i].detail[e].NoBukti + `" data-target-dokid="` + data.Data[i].detail[e].DokumenID + `" data-target-dok="` + data.Data[i].detail[e].NamaDokumen + `" data-target-nrm="` + data.Data[i].detail[e].NRM + `"><i class="icon-file-eye position-left"></i> </a>` + data.Data[i].detail[e].NamaDokumen + `
                                                                <div class="media-annotation" style="margin-left: 25px; font-size: 10px;">` + data.Data[i].detail[e].TanggalCreate_View + `</div>
                                                            </li>`;
                            }

                            html += `</ul>
                                        </div>

                                    </div>
                                </li>`;
                        }
                        $("#media-list-history").html(html);

                    }
                    else {

                    }
                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("ListAssesmenTopHistoryFormulir", "MedicalRecord")',
                data: {
                    nrm: '@Model.NRM',
                    filter: filterby
                },
                method: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.IsSuccess) {
                        var html = "";
                        var len = (data.Data.length > 5) ? 5 : data.Data.length;
                        for (var i = 0; i < len; i++) {
                            html += `<li class="media">
                                    <div class="media-body">
                                        <p class="no-padding no-margin"> <i class="icon-calendar2 position-left"></i> `+ data.Data[i].Tanggal + `</p>
                                        <p class="no-padding no-margin"> <i class="icon-pin position-left"></i> `+ data.Data[i].NamaDokter + `</p>
                                        <p class="no-padding no-margin"> <i class="icon-pin position-left"></i> `+ data.Data[i].SectionName + `</p>
                                        <a onclick="showhidenpanelhistory(this, 'panelshowhistory`+ i + `')" style="font-size: 14px;" class="media-heading text-semibold">` + data.Data[i].JenisDokumen + ` <i class="icon-arrow-down12 position-right"></i></a>

                                        <div class="custom-history" id="panelshowhistory`+ i + `" hidden>
                                            <ul>`;
                            for (var e = 0; e < data.Data[i].detail.length; e++) {
                                html += `<li><a class="cursor-pointer" onclick="showHistoryDetailPDF(this)" data-target-id="` + data.Data[i].detail[e].NoBukti + `" data-target-dokid="` + data.Data[i].detail[e].DokumenID + `" data-target-dok="` + data.Data[i].detail[e].NamaDokumen + `" data-target-nrm="` + data.Data[i].detail[e].NRM + `"><i class="icon-file-pdf text-danger position-left"></i></a><a class="cursor-pointer" onclick="showHistoryDetail(this)" data-target-id="` + data.Data[i].detail[e].NoBukti + `" data-target-dokid="` + data.Data[i].detail[e].DokumenID + `" data-target-dok="` + data.Data[i].detail[e].NamaDokumen + `" data-target-nrm="` + data.Data[i].detail[e].NRM + `"><i class="icon-file-eye position-left"></i> </a>` + data.Data[i].detail[e].NamaDokumen + `
                                                                <div class="media-annotation" style="margin-left: 25px; font-size: 10px;">` + data.Data[i].detail[e].TanggalCreate_View + `</div>
                                                            </li>`;
                            }

                            html += `</ul>
                                        </div>

                                    </div>
                                </li>`;
                        }
                        $("#media-list-history").html(html);

                    }
                    else {

                    }
                }
            });
        }

    }

    function showhidenpanelhistory(tthis, target) {
        if ($("#" + target).first().is(":hidden")) {
            $("#" + target).slideDown("slow");
            $(tthis).find("i").removeClass("icon-arrow-down12");
            $(tthis).find("i").addClass("icon-arrow-up12");
        } else {
            $("#" + target).slideUp("slow");
            $(tthis).find("i").addClass("icon-arrow-down12");
            $(tthis).find("i").removeClass("icon-arrow-up12");
        }
    }

    function commingsoon() {
        alertpopup("Comming Soon !", "info");
    }

    function showHistoryDetailPDF(tthis){
        var pdfdok = $(tthis).data("target-dok");
        var pdfdokid = $(tthis).data("target-dokid");
        var pdfid = $(tthis).data("target-id");
        var pdfnrm = $(tthis).data("target-nrm");
        var pdfchangeid = '';
        if (pdfdokid == 'CPPT') {
            pdfchangeid = pdfnrm;
        } else {
            pdfchangeid = pdfid;
        }
        window.open('@(Url.Action("ExportPDF","MedicalRecord"))?target_form=' + pdfdokid + '&target_id=' + pdfchangeid, '_blank');
        @*if (dokid == "CPPT") {
            $('a[href="#panel-2"]').click();
        } else {
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: '@Url.Action("", "EMR")' + dokid + "/Create",
                header: dok,
                param: { id: id, view : 1},
            });
        }*@
    }

    function showHistoryDetail(tthis) {
        var dok = $(tthis).data("target-dok");
        var dokid = $(tthis).data("target-dokid");
        var id = $(tthis).data("target-id");
        var nrm = $(tthis).data("target-nrm");
        if (dokid == "CPPT") {
            $('a[href="#panel-2"]').click();
        } else {
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: '@Url.Action("", "EMR")' + dokid + "/Create",
                header: dok,
                param: { id: id, nrm:nrm, view : 1},
            });
        }
    }

    function modalpengaturandpjp() {
        var url = '@Html.Raw(Url.Action("Create", "PengaturanDPJP", new { noreg = Model.NoReg }))';
        url = url.replace('%40noreg','@Model.NoReg' );
        angular.element('.panel-EMR').scope().ajaxmodal({
            url: url,
            header: 'Pengaturan DPJP',
            target_auto_refresh: 'table_MedicalRecord'
        });
    }
</script>