﻿@using EMRRSCB.Models
@model EMRLampiranDaftarPerawatanHeaderViewModel
@{
    var controllerName = "EMRLampiranDaftarPerawatanHeader";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Rencana Kerja
    var d_tbl_RencanaKerja = $"frm_table_detailRencanaLampiran";
    int d_idx_RencanaKerja = 0;
    var d_trg_RencanaKerja = $"input_target_detailRencanaLampiran";
    if (Model != null)
    {

        if (Model.Lampiran_List != null)
        {
            d_idx_RencanaKerja = Model.Lampiran_List.Count();
        }
    }
    #endregion

}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_RencanaKerja thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(1),
    #@d_tbl_RencanaKerja tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(2),
    #@d_tbl_RencanaKerja tbody td:nth-child(2) {
        width: 20px;
        text-align: center;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(3),
    #@d_tbl_RencanaKerja tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(4),
    #@d_tbl_RencanaKerja tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(5),
    #@d_tbl_RencanaKerja tbody td:nth-child(5) {
        width: 170px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(6),
    #@d_tbl_RencanaKerja tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(7),
    #@d_tbl_RencanaKerja tbody td:nth-child(7) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(8),
    #@d_tbl_RencanaKerja tbody td:nth-child(8) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(9),
    #@d_tbl_RencanaKerja tbody td:nth-child(9) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(10),
    #@d_tbl_RencanaKerja tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(11),
    #@d_tbl_RencanaKerja tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(12),
    #@d_tbl_RencanaKerja tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(13),
    #@d_tbl_RencanaKerja tbody td:nth-child(13) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(14),
    #@d_tbl_RencanaKerja tbody td:nth-child(14) {
        text-align: center;
        width: 100px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="panel panel-body">
            <div class="form-group">
                <label class="control-label col-md-2">Lampiran</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Lampiran, StaticModel.ListLampiran, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Lampiran, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    <button type="button" onclick="loadLampiran();" class="btn btn-block btn-warning"> LOAD</button>
                </div>
            </div>
        </div>
        @if (ViewBag.Lampiran == "Lampiran1")
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Penanggung Jawab</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat Gereja</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.AlamatTempatIbadah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatTempatIbadah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pastor</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PemimpinAcara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemimpinAcara, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pelayanan Doa</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PelayananDoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PelayananDoa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else if (ViewBag.Lampiran == "Lampiran2")
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Penanggung Jawab</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat Gereja</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.AlamatTempatIbadah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatTempatIbadah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pendeta</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PemimpinAcara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemimpinAcara, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pelayanan Doa</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PelayananDoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PelayananDoa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else if (ViewBag.Lampiran == "Lampiran3")
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Penanggung Jawab</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Masjid</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.AlamatTempatIbadah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatTempatIbadah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Ustad/Haji</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PemimpinAcara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemimpinAcara, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pelayanan Doa</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PelayananDoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PelayananDoa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else if (ViewBag.Lampiran == "Lampiran4")
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Penanggung Jawab</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Vihara</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.AlamatTempatIbadah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatTempatIbadah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Permuka Agama</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PemimpinAcara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemimpinAcara, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pelayanan Doa</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PelayananDoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PelayananDoa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else if (ViewBag.Lampiran == "Lampiran5")
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Penanggung Jawab</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pura</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.AlamatTempatIbadah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatTempatIbadah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Mangku</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PemimpinAcara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemimpinAcara, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pelayanan Doa</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PelayananDoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PelayananDoa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else if (ViewBag.Lampiran == "Lampiran6")
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Penanggung Jawab</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Klenteng</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.AlamatTempatIbadah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatTempatIbadah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pemuka Agama</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PemimpinAcara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemimpinAcara, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pelayanan Doa</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PelayananDoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PelayananDoa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Penanggung Jawab</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Klenteng</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.AlamatTempatIbadah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatTempatIbadah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pemuka Agama</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PemimpinAcara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemimpinAcara, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pelayanan Doa</label>
                    <div class="col-md-10 ">
                        @Html.EditorFor(model => model.PelayananDoa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PelayananDoa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }

        @if (ViewBag.Lampiran == "Lampiran1" || ViewBag.Lampiran == "Lampiran2" || ViewBag.Lampiran == "Lampiran3" || ViewBag.Lampiran == "Lampiran4" || ViewBag.Lampiran == "Lampiran5" || ViewBag.Lampiran == "Lampiran6")
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label text-bold text-center">Rencana Kerja Medis</label>
                </div>
                <div class="form-group">
                    <div id="panel_@formName" class="detail collapse in"
                         data-index-detail="@d_idx_RencanaKerja">
                        <div class="table-responsive">
                            <table id="@d_tbl_RencanaKerja" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_RencanaKerja')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Peralatan</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Lampiran_List != null)
                                        {
                                            for (var i = 0; i < Model.Lampiran_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Lampiran_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Lampiran_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.Lampiran_List[i].Model.Peralatan, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.Lampiran_List[i].Model.Keterangan, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label text-bold text-center">Rencana Kerja Medis</label>
                </div>
                <div class="form-group">
                    <div id="panel_@formName" class="detail collapse in"
                         data-index-detail="@d_idx_RencanaKerja">
                        <div class="table-responsive">
                            <table id="@d_tbl_RencanaKerja" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_RencanaKerja')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Peralatan</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Lampiran_List != null)
                                        {
                                            for (var i = 0; i < Model.Lampiran_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Lampiran_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Lampiran_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.Lampiran_List[i].Model.Peralatan, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.Lampiran_List[i].Model.Keterangan, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        }
    </div>
    }

</div>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.Lampiran_List = null;
        }
    }
}

<div id="@d_trg_RencanaKerja" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Lampiran_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Lampiran_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Lampiran_List[-1].Model.Peralatan, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Lampiran_List[-1].Model.Keterangan, new
   {
           @class = "form-control input-sm"
   })
    </div>

</div>

<script>

    $(document).ready(function () {
       
    });

    @*generalICD("#@formName #PilihICD");
    generalDokter("#@formName #DPJP");
    generalDokter("#@formName #DokterKonsul");
    generalDokter("#@formName #Konsultasi_Kepada");
    generalDokter("#@formName #Konsultasi_HormatKami");
    generalDokter("#@formName #JawabanKonsultasi_Kepada");
    generalDokter("#@formName #JawabanKonsultasi_HormatKami");*@

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

     //$("#listTemplateDokumen").select2();

    function loadLampiran() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoBukti";
        var lampiran = $('#Lampiran').val();
        var nobukti = "@Model.NoBukti";

        if (lampiran != '0' && lampiran != "" && lampiran != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + lampiran;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Lampiran belum dipilih", "info");
        }
    }
</script>



