﻿@using EMRRSCB.Models
@model EMRFormRekonsiliasiHeaderViewModel
@{
    var controllerName = "EMRFormRekonsiliasiObatDipakaiDirumah_Detail";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Rekonsiliasi Obat 1
    var d_tbl_Rekonsiliasi1 = $"frm_table_detailRekonsiliasi1";
    int d_idx_Rekonsiliasi1 = 0;
    var d_trg_Rekonsiliasi1 = $"input_target_detailRekonsiliasi1";
    if (Model != null)
    {

        if (Model.EMRFormRekonsiliasiObat_List != null)
        {
            d_idx_Rekonsiliasi1 = Model.EMRFormRekonsiliasiObat_List.Count();
        }
    }
    #endregion

    #region ==== Rekonsiliasi Obat 2
    var d_tbl_Rekonsiliasi2 = $"frm_table_detailRekonsiliasi2";
    int d_idx_Rekonsiliasi2 = 0;
    var d_trg_Rekonsiliasi2 = $"input_target_detailRekonsiliasi2";
    if (Model != null)
    {

        if (Model.EMRRekonsiliasiBHP_List != null)
        {
            d_idx_Rekonsiliasi2 = Model.EMRRekonsiliasiBHP_List.Count();
        }
    }
    #endregion

    #region ==== Rekonsiliasi Obat 3
    var d_tbl_Rekonsiliasi3 = $"frm_table_detailRekonsiliasi3";
    int d_idx_Rekonsiliasi3 = 0;
    var d_trg_Rekonsiliasi3 = $"input_target_detailRekonsiliasi3";
    if (Model != null)
    {

        if (Model.EMRRekonsiliasiTransfer_List != null)
        {
            d_idx_Rekonsiliasi2 = Model.EMRRekonsiliasiTransfer_List.Count();
        }
    }
    #endregion

    #region ==== Rekonsiliasi Obat 4
    var d_tbl_Rekonsiliasi4 = $"frm_table_detailRekonsiliasi4";
    int d_idx_Rekonsiliasi4 = 0;
    var d_trg_Rekonsiliasi4 = $"input_target_detailRekonsiliasi4";
    if (Model != null)
    {

        if (Model.EMRRekonsiliasiKeluarRS_List != null)
        {
            d_idx_Rekonsiliasi2 = Model.EMRRekonsiliasiKeluarRS_List.Count();
        }
    }
    #endregion
}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Rekonsiliasi1 thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(1),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(2),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(3),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(4),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(5),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(5) {
        width: 70px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(6),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(6) {
        width: 150px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(7),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(7) {
        width: 150px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(8),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(8) {
        text-align: center;
        width: 230px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(9),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(9) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(10),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(11),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(12),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(13),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(13) {
        text-align: center;
        width: 140px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(14),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(14) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(15),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(15) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_Rekonsiliasi1 thead th:nth-child(16),
    #@d_tbl_Rekonsiliasi1 tbody td:nth-child(16) {
        text-align: center;
        width: 200px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Rekonsiliasi2 thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(1),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(2),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(3),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(4),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(5),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(5) {
        width: 120px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(6),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(6) {
        width: 150px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(7),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(7) {
        width: 150px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(8),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(8) {
       text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(9),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(9) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(10),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(10) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(11),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(12),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(13),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(13) {
        text-align: center;
        width: 140px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(14),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(14) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(15),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(15) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_Rekonsiliasi2 thead th:nth-child(16),
    #@d_tbl_Rekonsiliasi2 tbody td:nth-child(16) {
        text-align: center;
        width: 200px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Rekonsiliasi3 thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(1),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(2),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(3),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(4),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(5),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(5) {
        width: 120px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(6),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(6) {
        width: 150px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(7),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(7) {
        width: 150px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(8),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(8) {
       text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(9),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(9) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(10),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(10) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(11),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(12),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(13),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(13) {
        text-align: center;
        width: 140px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(14),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(14) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(15),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(15) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_Rekonsiliasi3 thead th:nth-child(16),
    #@d_tbl_Rekonsiliasi3 tbody td:nth-child(16) {
        text-align: center;
        width: 200px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Rekonsiliasi4 thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(1),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(2),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(3),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(4),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(5),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(5) {
        width: 120px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(6),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(6) {
        width: 150px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(7),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(7) {
        width: 150px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(8),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(8) {
       text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(9),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(9) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(10),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(10) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(11),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(12),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(13),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(13) {
        text-align: center;
        width: 140px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(14),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(14) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(15),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(15) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_Rekonsiliasi4 thead th:nth-child(16),
    #@d_tbl_Rekonsiliasi4 tbody td:nth-child(16) {
        text-align: center;
        width: 200px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.VerifikasiPetugasAdmisi)
        @Html.HiddenFor(model => model.VerifikasiPetugasTransfer)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-offset-8 col-md-1">Template</label>
                    <div class="col-md-2">
                        <select id="listTemplateDokumen" class="form-control">
                            <option value="0"></option>
                            @if (Model.ListTemplate != null)
                            {
                                foreach (var x in Model.ListTemplate)
                                {
                                    @: <option value="@x.Value">@x.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="h6 col-md-12">Alergi Obat</label>
                </div>
                <div class="form-group">
                    <div id="panel_detailrekonsiliasi1" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_Rekonsiliasi1">
                        <div class="table-responsive">
                            <table id="@d_tbl_Rekonsiliasi1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Rekonsiliasi1')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Daftar Obat Yang Menimbulkan Alergi</th>
                                        <th>Seberapa Berat Alerginya</th>
                                        <th>Reaksi Alerginya</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRFormRekonsiliasiObat_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRFormRekonsiliasiObat_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRFormRekonsiliasiObat_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRFormRekonsiliasiObat_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRFormRekonsiliasiObat_List[i].Model.Tanggal, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.EMRFormRekonsiliasiObat_List[i].Model.Tanggal != null ? Model.EMRFormRekonsiliasiObat_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRFormRekonsiliasiObat_List[i].Model.DaftarObatNama, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @{
                                                            var m_2 = StaticModel.ListRinganSedangBerat;
                                                            var item_2 = Model.EMRFormRekonsiliasiObat_List[i].Model.SeberapaBeratAlergi;
                                                            if (item_2 != null)
                                                            {
                                                                m_2.FirstOrDefault(x => x.Value == Model.EMRFormRekonsiliasiObat_List[i].Model.SeberapaBeratAlergi).Selected = true;

                                                            }
                                                        }

                                                        @Html.DropDownListFor(model => model.EMRFormRekonsiliasiObat_List[i].Model.SeberapaBeratAlergi, m_2, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRFormRekonsiliasiObat_List[i].Model.ReaksiAlergi, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="h6 col-md-12">Rekonsiliasi Obat Saat Admisi yang dibawa dari rumah</label>
                </div>
                <div class="form-group">
                    <div id="panel_detailrekonsiliasi2" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_Rekonsiliasi2">
                        <div class="table-responsive">
                            <table id="@d_tbl_Rekonsiliasi2" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Rekonsiliasi2')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Nama Obat</th>
                                        <th>Aturan Pakai dan Rute</th>
                                        <th>Tindak Lanjut Oleh DPJP</th>
                                        <th>Perubahan Aturan Pakai</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRRekonsiliasiBHP_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRRekonsiliasiBHP_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiBHP_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiBHP_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiBHP_List[i].Model.Tanggal, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.EMRRekonsiliasiBHP_List[i].Model.Tanggal != null ? Model.EMRRekonsiliasiBHP_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiBHP_List[i].Model.NamaObat, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiBHP_List[i].Model.AturanPakaiRute, new { @class = "form-control input-sm" })
                                                    </td>



                                                    <td>
                                                        @{
                                                            var m_2 = StaticModel.ListRekonsiliasiTransfer;
                                                            var item_2 = Model.EMRRekonsiliasiBHP_List[i].Model.TindakLanjut;
                                                            if (item_2 != null)
                                                            {
                                                                m_2.FirstOrDefault(x => x.Value == Model.EMRRekonsiliasiBHP_List[i].Model.TindakLanjut).Selected = true;

                                                            }
                                                        }

                                                        @Html.DropDownListFor(model => model.EMRRekonsiliasiBHP_List[i].Model.TindakLanjut, m_2, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiBHP_List[i].Model.PerubahanAturanPakai, new { @class = "form-control input-sm" })
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Petugas Farmasi @if (Model.VerifikasiPetugasAdmisi) { <i class="icon-checkmark-circle text-blue"></i> }</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.PetugasAdmisi, Model.PetugasAdmisi == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PetugasAdmisi.ToString(), Text = Model.PetugasAdmisiNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PetugasAdmisi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.PetugasAdmisi)','@nameof(Model.VerifikasiPetugasAdmisi)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="h6 col-md-12">Rekonsiliasi Obat Saat Transfer</label>
                </div>
                <div class="form-group">
                    <div id="panel_detailrekonsiliasi3" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_Rekonsiliasi3">
                        <div class="table-responsive">
                            <table id="@d_tbl_Rekonsiliasi3" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Rekonsiliasi3')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Nama Obat</th>
                                        <th>Aturan Pakai dan Rute</th>
                                        <th>Tindak Lanjut Oleh DPJP</th>
                                        <th>Perubahan aturan pakai</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRRekonsiliasiTransfer_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRRekonsiliasiTransfer_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiTransfer_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiTransfer_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiTransfer_List[i].Model.Tanggal, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.EMRRekonsiliasiTransfer_List[i].Model.Tanggal != null ? Model.EMRRekonsiliasiTransfer_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiTransfer_List[i].Model.NamaObat, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiTransfer_List[i].Model.AturanPakai, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @{
                                                            var m_3 = StaticModel.ListRekonsiliasiTransfer;
                                                            var item_3 = Model.EMRRekonsiliasiTransfer_List[i].Model.TindakLanjutDPJP;
                                                            if (item_3 != null)
                                                            {
                                                                m_3.FirstOrDefault(x => x.Value == Model.EMRRekonsiliasiTransfer_List[i].Model.TindakLanjutDPJP).Selected = true;

                                                            }
                                                        }

                                                        @Html.DropDownListFor(model => model.EMRRekonsiliasiTransfer_List[i].Model.TindakLanjutDPJP, m_3, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiTransfer_List[i].Model.PerubahanAturanPakai, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="h6 col-md-12">Rekonsiliasi Obat Saat Keluar Rumah Sakit</label>
                </div>
                <div class="form-group">
                    <div id="panel_detailrekonsiliasi4" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_Rekonsiliasi4">
                        <div class="table-responsive">
                            <table id="@d_tbl_Rekonsiliasi4" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Rekonsiliasi4')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Nama Obat</th>
                                        <th>Aturan Pakai dan Rute</th>
                                        <th>Tindak Lanjut Oleh DPJP</th>
                                        <th>Perubahan aturan pakai</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRRekonsiliasiKeluarRS_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRRekonsiliasiKeluarRS_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiKeluarRS_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiKeluarRS_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRRekonsiliasiKeluarRS_List[i].Model.Tanggal, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.EMRRekonsiliasiKeluarRS_List[i].Model.Tanggal != null ? Model.EMRRekonsiliasiKeluarRS_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiKeluarRS_List[i].Model.NamaObat, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiKeluarRS_List[i].Model.AturanPakaiDanRute, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @{
                                                            var m_4 = StaticModel.ListRekonsiliasiTransfer;
                                                            var item_4 = Model.EMRRekonsiliasiKeluarRS_List[i].Model.TindakLanjut;
                                                            if (item_4 != null)
                                                            {
                                                                m_4.FirstOrDefault(x => x.Value == Model.EMRRekonsiliasiKeluarRS_List[i].Model.TindakLanjut).Selected = true;

                                                            }
                                                        }

                                                        @Html.DropDownListFor(model => model.EMRRekonsiliasiKeluarRS_List[i].Model.TindakLanjut, m_4, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRRekonsiliasiKeluarRS_List[i].Model.PerubahanAturanPakai, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Petugas Farmasi @if (Model.VerifikasiPetugasTransfer){<i class="icon-checkmark-circle text-blue"></i>}</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.PetugasTransfer, Model.PetugasTransfer == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PetugasTransfer.ToString(), Text = Model.PetugasTransferNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PetugasTransfer, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.PetugasTransfer)','@nameof(Model.VerifikasiPetugasTransfer)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    generalDokter("#@formName #PetugasAdmisi");
    generalDokter("#@formName #PetugasTransfer");

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas,verifnama) {
        var dokter = $('#' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function pilihobat(_this) {
        var valselect = $(_this).text();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(7) textarea').val(valselect);
    }

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoBukti";
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }
</script>


<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.EMRFormRekonsiliasiObat_List = null;
            Model.EMRRekonsiliasiBHP_List = null;
            Model.EMRRekonsiliasiTransfer_List = null;
            Model.EMRRekonsiliasiKeluarRS_List = null;
        }
    }
}

<!-- Rekonsiliasi 1 -->
<div id="@d_trg_Rekonsiliasi1" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRFormRekonsiliasiObat_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRFormRekonsiliasiObat_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRFormRekonsiliasiObat_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRFormRekonsiliasiObat_List[-1].Model.DaftarObatNama, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMRFormRekonsiliasiObat_List[-1].Model.SeberapaBeratAlergi,
        StaticModel.ListRinganSedangBerat, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRFormRekonsiliasiObat_List[-1].Model.ReaksiAlergi, new
   {
           @class = "form-control input-sm"
   })
    </div>

</div>

<!-- Rekonsiliasi 2 -->
<div id="@d_trg_Rekonsiliasi2" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiBHP_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiBHP_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiBHP_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiBHP_List[-1].Model.NamaObat, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiBHP_List[-1].Model.AturanPakaiRute, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMRRekonsiliasiBHP_List[-1].Model.TindakLanjut,
        StaticModel.ListRekonsiliasiTransfer, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiBHP_List[-1].Model.PerubahanAturanPakai, new
   {
           @class = "form-control input-sm"
   })
    </div>
</div>


<!-- Rekonsiliasi 3 -->
<div id="@d_trg_Rekonsiliasi3" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiTransfer_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiTransfer_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiTransfer_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiTransfer_List[-1].Model.NamaObat, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiTransfer_List[-1].Model.AturanPakai, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMRRekonsiliasiTransfer_List[-1].Model.TindakLanjutDPJP,
        StaticModel.ListRekonsiliasiTransfer, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiTransfer_List[-1].Model.PerubahanAturanPakai, new
   {
           @class = "form-control input-sm"
   })
    </div>
</div>

<!-- Rekonsiliasi 4 -->
<div id="@d_trg_Rekonsiliasi4" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiKeluarRS_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiKeluarRS_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRRekonsiliasiKeluarRS_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiKeluarRS_List[-1].Model.NamaObat, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiKeluarRS_List[-1].Model.AturanPakaiDanRute, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMRRekonsiliasiKeluarRS_List[-1].Model.TindakLanjut,
        StaticModel.ListRekonsiliasiTransfer, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRRekonsiliasiKeluarRS_List[-1].Model.PerubahanAturanPakai, new
   {
           @class = "form-control input-sm"
   })
    </div>
</div>