﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMRMEOWS";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Obat
    var d_tbl_MEOWS = $"frm_table_detailMEOWS";
    int d_idx_MEOWS = 0;
    var d_trg_MEOWS = $"input_target_detailMEOWS";
    if (Model != null)
    {

        if (Model.EMRMEOWS_List != null)
        {
            d_idx_MEOWS = Model.EMRMEOWS_List.Count();
        }
    }
    #endregion
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_MEOWS thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_MEOWS thead th:nth-child(1),
    #@d_tbl_MEOWS tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_MEOWS thead th:nth-child(2),
    #@d_tbl_MEOWS tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_MEOWS thead th:nth-child(3),
    #@d_tbl_MEOWS tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_MEOWS thead th:nth-child(4),
    #@d_tbl_MEOWS tbody td:nth-child(4) {
       display: none;
    }

    #@d_tbl_MEOWS thead th:nth-child(5),
    #@d_tbl_MEOWS tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_MEOWS thead th:nth-child(6),
    #@d_tbl_MEOWS tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_MEOWS thead th:nth-child(7),
    #@d_tbl_MEOWS tbody td:nth-child(7) {
        width: 296px;
    }

    #@d_tbl_MEOWS thead th:nth-child(8),
    #@d_tbl_MEOWS tbody td:nth-child(8) {
        width: 303px;
    }

    #@d_tbl_MEOWS thead th:nth-child(9),
    #@d_tbl_MEOWS tbody td:nth-child(9) {
        width: 303px;
    }

    #@d_tbl_MEOWS thead th:nth-child(10),
    #@d_tbl_MEOWS tbody td:nth-child(10) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEOWS thead th:nth-child(11),
    #@d_tbl_MEOWS tbody td:nth-child(11) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEOWS thead th:nth-child(12),
    #@d_tbl_MEOWS tbody td:nth-child(12) {
        text-align: center;
        width: 303px;
    }


    #@d_tbl_MEOWS thead th:nth-child(13),
    #@d_tbl_MEOWS tbody td:nth-child(13) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEOWS thead th:nth-child(14),
    #@d_tbl_MEOWS tbody td:nth-child(14) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEOWS thead th:nth-child(15),
    #@d_tbl_MEOWS tbody td:nth-child(15) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEOWS thead th:nth-child(16),
    #@d_tbl_MEOWS tbody td:nth-child(16) {
        text-align: center;
        width: 303px;
    }

    #@d_tbl_MEOWS thead th:nth-child(17),
    #@d_tbl_MEOWS tbody td:nth-child(17) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_MEOWS thead th:nth-child(18),
    #@d_tbl_MEOWS tbody td:nth-child(18) {
        text-align: center;
        width: 300px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailMEOWS" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_MEOWS">
                        <div class="table-responsive">
                            <table id="@d_tbl_MEOWS" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_MEOWS')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Jam</th>
                                        <th>Kesadaran</th>
                                        <th>Pernafasan</th>
                                        <th>
                                            Saturasi Oksigen(%)
                                            Dengan Oksigen(lpm)
                                        </th>
                                        <th>Tekanan Darah Sistolik</th>
                                        <th>Tekanan Darah Diastolik</th>
                                        <th>Denyut Nadi</th>
                                        <th>Suhu Axilla</th>
                                        <th>Nyeri</th>
                                        <th>Pengeluaran / Lochia</th>
                                        <th>Protein Urin</th>
                                        <th>Total Skor</th>
                                        <th>Paraf & Nama</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRMEOWS_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRMEOWS_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRMEOWS_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model != null ? (Model.EMRMEOWS_List[i].Model.Tanggal != null ? Model.EMRMEOWS_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "") } })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.Jam, new { htmlAttributes = new { @class = "form-control input-sm", Value = (Model != null ? (Model.EMRMEOWS_List[i].Model.Jam != null ? Model.EMRMEOWS_List[i].Model.Jam.Value.ToString("HH:mm") : "") : "") } })
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var kesadaran = StaticModel.ListKesadaranMEOWS;
                                                                    var item_1 = Model.EMRMEOWS_List[i].Model.KesadaranHasil;
                                                                    if (item_1 != null)
                                                                    {
                                                                        kesadaran.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.KesadaranHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.KesadaranHasil, kesadaran, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.KesadaranSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>

                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var pernafasan = StaticModel.ListPernapasanMEOWS;
                                                                    var item_2 = Model.EMRMEOWS_List[i].Model.PernapasanHasil;
                                                                    if (item_2 != null)
                                                                    {
                                                                        pernafasan.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.PernapasanHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.PernapasanHasil,
                                                                pernafasan, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.PernapasanSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var saturasi1 = StaticModel.ListSaturasiMEOWS;
                                                                    var item_3 = Model.EMRMEOWS_List[i].Model.SaturasiOksigenHasil_1;
                                                                    if (item_3 != null)
                                                                    {
                                                                        saturasi1.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.SaturasiOksigenHasil_1).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.SaturasiOksigenHasil_1,
                                                                saturasi1, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.SaturasiOksigenSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var saturasi2 = StaticModel.ListYaTidak;
                                                                    var item_31 = Model.EMRMEOWS_List[i].Model.SaturasiOksigenHasil_2;
                                                                    if (item_31 != null)
                                                                    {
                                                                        saturasi2.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.SaturasiOksigenHasil_2).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.SaturasiOksigenHasil_2,
                                                                saturasi2, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var tekanandarah = StaticModel.ListTekananDarahSistolikMEOWS;
                                                                    var item_4 = Model.EMRMEOWS_List[i].Model.TekananSislotikHasil;
                                                                    if (item_4 != null)
                                                                    {
                                                                        tekanandarah.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.TekananSislotikHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.TekananSislotikHasil,
                                                                tekanandarah, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.TekananSislotikSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var tekanandarah1 = StaticModel.ListTekananDarahDiastolikMEOWS;
                                                                    var item_41 = Model.EMRMEOWS_List[i].Model.TekananDiaslotikHasil;
                                                                    if (item_41 != null)
                                                                    {
                                                                        tekanandarah1.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.TekananDiaslotikHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.TekananDiaslotikHasil,
                                                                tekanandarah, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.TekananDiaslotikSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var denyutjantung = StaticModel.ListDenyutNadiMEOWS;
                                                                    var item_5 = Model.EMRMEOWS_List[i].Model.DenyutNadiHasil;
                                                                    if (item_5 != null)
                                                                    {
                                                                        denyutjantung.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.DenyutNadiHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.DenyutNadiHasil,
                                                                denyutjantung, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.DenyutNadiSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var suhuaxilla = StaticModel.ListSuhuAxillaMEOWS;
                                                                    var item_6 = Model.EMRMEOWS_List[i].Model.SuhuAxillaHasil;
                                                                    if (item_6 != null)
                                                                    {
                                                                        suhuaxilla.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.SuhuAxillaHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.SuhuAxillaHasil,
                                                                   suhuaxilla, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.SuhuAxillaSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var nyeri = StaticModel.ListNormalAbnormal;
                                                                    var item_7 = Model.EMRMEOWS_List[i].Model.NyeriHasil;
                                                                    if (item_7 != null)
                                                                    {
                                                                        nyeri.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.NyeriHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.NyeriHasil,
                                                                   suhuaxilla, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.NyeriSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var pengeluaran = StaticModel.ListNormalAbnormal;
                                                                    var item_8 = Model.EMRMEOWS_List[i].Model.PengeluaranHasil;
                                                                    if (item_8 != null)
                                                                    {
                                                                        pengeluaran.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.PengeluaranHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.PengeluaranHasil,
                                                                   suhuaxilla, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.PengeluaranSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                @{
                                                                    var proteinurine = StaticModel.ListProteinUrineAbnormal;
                                                                    var item_9 = Model.EMRMEOWS_List[i].Model.ProteinHasil;
                                                                    if (item_9 != null)
                                                                    {
                                                                        proteinurine.FirstOrDefault(x => x.Value == Model.EMRMEOWS_List[i].Model.ProteinHasil).Selected = true;

                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.ProteinHasil,
                                                                   suhuaxilla, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.ProteinSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>

                                                        @Html.EditorFor(model => model.EMRMEOWS_List[i].Model.TotalSkor, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"

                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-9">
                                                                @{
                                                                    var _lstObat = new List<SelectListItem>();
                                                                    if (Model.EMRMEOWS_List[i].Model != null)
                                                                    {
                                                                        if (Model.EMRMEOWS_List[i].Model.Paraf != null)
                                                                        {
                                                                            _lstObat.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.EMRMEOWS_List[i].Model.Paraf,
                                                                                Text = Model.EMRMEOWS_List[i].Model.ParafNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                @Html.DropDownListFor(model => model.EMRMEOWS_List[i].Model.Paraf, _lstObat, new { @class = "form-control input-sm" })
                                                                @Html.HiddenFor(model => model.EMRMEOWS_List[i].Model.Verifikasi)
                                                            </div>
                                                            <div class="col-md-3">
                                                                @if (Model.EMRMEOWS_List[i].Model.Verifikasi == false)
                                                                {
                                                                    <a class="btn btn-success" onclick="verifikasi('EMRMEOWS_List_@(i)__Model_Paraf','EMRMEOWS_List_@(i)__Model_Verifikasi')"><i class="icon-checkmark"></i></a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="btn btn-success btn-flash" onclick="verifikasi('EMRMEOWS_List_@(i)__Model_Paraf','EMRMEOWS_List_@(i)__Model_Verifikasi')"><i class="icon-checkmark"></i></a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

        @if (Model != null)
        {
            if (Model.EMRMEOWS_List != null)
            {
                for (var i = 0; i < Model.EMRMEOWS_List.Count; i++)
                {
                    @:customrowdetailMEOWS_Detail(@i, { target: $('#d_tbl_MEOWS thead a i')[0] }, '#panel_detailMEOWS', false);
                    @:customrowdetailVerifikasi_Detail(@i, { target: $('#d_tbl_MEOWS thead a i')[0] }, '#panel_detailMEOWS', false);
                }

            }
        }


    function customrowdetailMEOWS_Detail(index_detail, _this, inputtarget, autofocus) {
        var namaobat = '#panel_detailMEOWS #EMRMEOWS_List_' + index_detail +'__Model_Paraf';
        generalDokter(namaobat);
    }

    function customrowdetailVerifikasi_Detail(index_detail, _this, inputtarget, autofocus) {
        var idttd = 'IMG_EMRIntervensi_List_' + index_detail + '__Model_TandaTangan';
        $('#IMG_EMRIntervensi_List_' + index_detail + '__Model_TandaTangan').id = idttd;
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_MEOWS') {
            customrowdetailMEOWS_Detail(index_detail, _this, inputtarget, autofocus);
            customrowdetailVerifikasi_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>

<script>
    function pilihobat(_this) {
        var valselect = $(_this).text();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(8) textarea').val(valselect);
    }

    @if (Model.MODEVIEW == 1) {
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function totalskorMEOWS(t) {
        var tr = $($(t).closest('tr'));
        console.log(tr);
        var kesadaran = tr.find('td:nth-child(7) option:selected').val() || 0;
        var pernafasan = tr.find('td:nth-child(8) option:selected').val() || 0;
        var saturasi = tr.find('td:nth-child(9) option:selected')[0].value || 0;
        var oksigen = tr.find('td:nth-child(9) option:selected')[1].value || 0;
        var tekanandarahsistolik = tr.find('td:nth-child(10) option:selected').val() || 0;
        var tekanandarahdiastolik = tr.find('td:nth-child(11) option:selected').val() || 0;
        var denyutnadi = tr.find('td:nth-child(12) option:selected').val() || 0;
        var suhu = tr.find('td:nth-child(13) option:selected').val() || 0;
        var nyeri = tr.find('td:nth-child(14) option:selected').val() || 0;
        var pengeluaran = tr.find('td:nth-child(15) option:selected').val() || 0;
        var protein = tr.find('td:nth-child(16) option:selected').val() || 0;

        var kesadaranskor = 0;
        var pernafasanskor = 0;
        var saturasiskor = 0;
        var oksigenskor = 0;
        var tekanandarahsistolikskor = 0;
        var tekanandarahdiastolikskor = 0;
        var denyutnadiskor = 0;
        var suhuskor = 0;
        var nyeriskor = 0;
        var pengeluaranskor = 0;
        var proteinskor = 0;



        if (kesadaran == 'A') {
            kesadaranskor = 0;
            tr.find('td:nth-child(7) input').val(kesadaranskor);
        } else if (kesadaran == 'V/P/U') {
            kesadaranskor = 3;
            tr.find('td:nth-child(7) input').val(kesadaranskor);
        } 

        if (pernafasan == '<12') {
            pernafasanskor = 3;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        } else if (pernafasan == '12-20') {
            pernafasanskor = 1;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        } else if (pernafasan == '21-25') {
            pernafasanskor = 0;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        } else if (pernafasan == '>25') {
            pernafasanskor = 2;
            tr.find('td:nth-child(8) input').val(pernafasanskor);
        } 

        if (saturasi == '<92') {
            saturasiskor = 3;
            tr.find('td:nth-child(9) input').val(saturasiskor + oksigenskor);
        } else if (saturasi == '92-95') {
            saturasiskor = 2;
            tr.find('td:nth-child(9) input').val(saturasiskor + oksigenskor);
        } else if (saturasi == '>95') {
            saturasiskor = 1;
            tr.find('td:nth-child(9) input').val(saturasiskor + oksigenskor);
        }

        if (oksigen == 'Ya') {
            oksigenskor = 2;
            tr.find('td:nth-child(9) input').val(oksigenskor + saturasiskor);
        } else if (oksigen == 'Tidak') {
            oksigenskor = 0;
            tr.find('td:nth-child(9) input').val(oksigenskor + saturasiskor);
        } 

        if (tekanandarahsistolik == '<90') {
            tekanandarahsistolikskor = 3;
            tr.find('td:nth-child(10) input').val(tekanandarahsistolikskor);
        } else if (tekanandarahsistolik == '90-140') {
            tekanandarahsistolikskor = 0;
            tr.find('td:nth-child(10) input').val(tekanandarahsistolikskor);
        } else if (tekanandarahsistolik == '141-150') {
            tekanandarahsistolikskor = 1;
            tr.find('td:nth-child(10) input').val(tekanandarahsistolikskor);
        } else if (tekanandarahsistolik == '151-160') {
            tekanandarahsistolikskor = 2;
            tr.find('td:nth-child(10) input').val(tekanandarahsistolikskor);
        } else if (tekanandarahsistolik == '>160') {
            tekanandarahsistolikskor = 3;
            tr.find('td:nth-child(10) input').val(tekanandarahsistolikskor);
        }

        if (tekanandarahdiastolik == '60-90') {
            tekanandarahdiastolikskor = 0;
            tr.find('td:nth-child(11) input').val(tekanandarahdiastolikskor);
        } else if (tekanandarahdiastolik == '91-100') {
            tekanandarahdiastolikskor = 1;
            tr.find('td:nth-child(11) input').val(tekanandarahdiastolikskor);
        } else if (tekanandarahdiastolik == '101-110') {
            tekanandarahdiastolikskor = 2;
            tr.find('td:nth-child(11) input').val(tekanandarahdiastolikskor);
        } else if (tekanandarahdiastolik == '>110') {
            tekanandarahdiastolikskor = 3;
            tr.find('td:nth-child(11) input').val(tekanandarahdiastolikskor);
        } 


        if (denyutnadi == '<50') {
            denyutnadiskor = 3;
            tr.find('td:nth-child(12) input').val(denyutnadiskor);
        } else if (denyutnadi == '50-60') {
            denyutnadiskor = 2;
            tr.find('td:nth-child(12) input').val(denyutnadiskor);
        } else if (denyutnadi == '61-100') {
            denyutnadiskor = 0;
            tr.find('td:nth-child(12) input').val(denyutnadiskor);
        } else if (denyutnadi == '101-110') {
            denyutnadiskor = 1;
            tr.find('td:nth-child(12) input').val(denyutnadiskor);
        } else if (denyutnadi == '111-120') {
            denyutnadiskor = 2;
            tr.find('td:nth-child(12) input').val(denyutnadiskor);
        } else if (denyutnadi == '>120') {
            denyutnadiskor = 3;
            tr.find('td:nth-child(12) input').val(denyutnadiskor);
        }

        if (suhu == '<36') {
            suhuskor = 3;
            tr.find('td:nth-child(13) input').val(suhuskor);
        } else if (suhu == '36.1-37.2') {
            suhuskor = 2;
            tr.find('td:nth-child(13) input').val(suhuskor);
        } else if (suhu == '37.5-37.7') {
            suhuskor = 0;
            tr.find('td:nth-child(13) input').val(suhuskor);
        } else if (suhu == '>37.7') {
            suhuskor = 1;
            tr.find('td:nth-child(13) input').val(suhuskor);
        }

        if (nyeri == 'Normal') {
            nyeriskor = 0;
            tr.find('td:nth-child(14) input').val(nyeriskor);
        } else if (nyeri == 'Abnormal') {
            nyeriskor = 3;
            tr.find('td:nth-child(14) input').val(nyeriskor);
        }

        if (pengeluaran == 'Normal') {
            pengeluaranskor = 0;
            tr.find('td:nth-child(15) input').val(pengeluaranskor);
        } else if (pengeluaran == 'Abnormal') {
            pengeluaranskor = 3;
            tr.find('td:nth-child(15) input').val(pengeluaranskor);
        }

        if (protein == 'Negatif') {
            proteinskor = 0;
            tr.find('td:nth-child(16) input').val(proteinskor);
        } else if (protein == '+1') {
            proteinskor = 2;
            tr.find('td:nth-child(16) input').val(proteinskor);
        } else if (protein == '>= +2') {
            proteinskor = 3;
            tr.find('td:nth-child(16) input').val(proteinskor);
        }

        var total = kesadaranskor + pernafasanskor + saturasiskor + oksigenskor + tekanandarahsistolikskor + tekanandarahdiastolikskor + denyutnadiskor + suhuskor + nyeriskor + pengeluaranskor + proteinskor;
        var hasil = total.toString();
        tr.find('td:nth-child(17) input').val(hasil);
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }
</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.EMRMEOWS_List = null;
        }
    }
}
<div id="@d_trg_MEOWS" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEOWS_List[-1].Remove,
              new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("yyyy-MM-dd") } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.Jam, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("HH':'mm") } })
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">

                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.KesadaranHasil, StaticModel.ListKesadaranMEOWS, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.KesadaranSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">

                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.PernapasanHasil, StaticModel.ListPernapasanMEOWS, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.PernapasanSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.SaturasiOksigenHasil_1, StaticModel.ListSaturasiMEOWS, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.SaturasiOksigenSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.SaturasiOksigenHasil_2, StaticModel.ListYaTidak, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.TekananSislotikHasil, StaticModel.ListTekananDarahSistolikMEOWS, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.TekananSislotikSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.TekananDiaslotikHasil, StaticModel.ListTekananDarahDiastolikMEOWS, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.TekananDiaslotikSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.DenyutNadiHasil, StaticModel.ListDenyutNadiMEOWS, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.DenyutNadiSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.SuhuAxillaHasil, StaticModel.ListSuhuAxillaMEOWS, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.SuhuAxillaSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.NyeriHasil, StaticModel.ListNormalAbnormal, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.NyeriSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.PengeluaranHasil, StaticModel.ListNormalAbnormal, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.PengeluaranSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.ProteinHasil, StaticModel.ListProteinUrineAbnormal, new { @class = "form-control input-sm", onchange = "totalskorMEOWS(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.ProteinSkor, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMEOWS_List[-1].Model.TotalSkor, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.EMRMEOWS_List[-1].Model.Paraf, new List<SelectListItem>(), new { @class = "form-control input-sm" })
            @Html.HiddenFor(model => model.EMRMEOWS_List[-1].Model.Verifikasi)
        </div>
        <div class="col-md-3">
            <a class="btn btn-success" onclick="verifikasi('@Html.IdFor(model => model.EMRMEOWS_List[-1].Model.Paraf)','@Html.IdFor(model => model.EMRMEOWS_List[-1].Model.Verifikasi)')"><i class="icon-checkmark"></i></a>
        </div>
    </div>

</div>



