﻿@using EMRRSCB.Models
@model EMRPersetujuanPemasanganInfusViewModel
@{
    var controllerName = "EMRPersetujuanPemasanganInfus";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(3){
        width: 300px;
        text-align: left;
    }

    #tablecustom thead th:nth-child(3) {
        width: 300px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDTelahMenerima)
        @Html.HiddenFor(model => model.VerifikasiTelahMenerangkan)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Penanggung
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DokterPenanggungJawab, Model.DokterPenanggungJawab == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterPenanggungJawab.ToString(), Text = Model.DokterPenanggungJawabNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterPenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Penerima Informasi</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NamaPenerimaInformasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPenerimaInformasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pemberi Informasi
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.NamaPemberiInformasi, Model.NamaPemberiInformasi == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.NamaPemberiInformasi.ToString(), Text = Model.NamaPemberiInformasiNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NamaPemberiInformasi, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Hubungan Dengan Pasien</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.HubunganDenganPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HubunganDenganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <table id="tablecustom" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>JENIS INFORMASI</th>
                                <th>ISI INFORMASI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Pengertian</td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MemasangAlat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Memasang alat iv kateter ke dalam pembuluh darah pasien
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Tujuan</td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MemberikanCairan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Memberikan Cairan
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MemberikanObat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Memberikan Obat
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.Tujuan_Ket, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Tujuan_Ket, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Prosedur</td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MencuciTangan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Mencuci Tangan
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MempersiapkanAlatInfus, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Mempersiapkan Alat Infus
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MenentukanLokasi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Menentukan lokasipemasangan infus (memasang turniket)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MemasangHandscoun, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Memasang handscoen
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MembersihkanKulit, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Membersihkan kulit dengan kapas alkohol
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MenusukPembuluhDarah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Menusuk Pembuluh darah (vena) dengan lubang jarum menghadap keatas , kemudian memastikan iv kateter masuk dalam vena lalu menarik mandrin sambil mendorong masuk ic kateter perlahan. Selang infus lalu dihubungkan dengan kateter
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MengalirkanCairanInfus, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Mengalirkan Cairan Infus
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MelakukanFiksasasi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Melakukan Fiksasi iv kateter
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.MengaturTetesanInfus, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Mengatur tetesan infus
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Resiko Tindakan</td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.PendarahanDiDaerahPemasangan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Pendarahan di daerah pemasangan
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.Infeksi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                                Infeksi
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Lain Lain</td>
                                <td>
                                    @Html.TextAreaFor(model => model.LainLain, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LainLain, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="form-group">
                    <label class="col-md-7">
                        Dengan ini menyatakan bahwa saya telah menerangkan hal-hal diatas secara benar dan jelas dan memberikan kesempatan untuk bertanya dan atau berdiskusi 
                        @if (Model.VerifikasiTelahMenerangkan)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.TelahMenerangkan, Model.TelahMenerangkan == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.TelahMenerangkan.ToString(), Text = Model.TelahMenerangkanNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TelahMenerangkan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.TelahMenerangkan)','@nameof(Model.VerifikasiTelahMenerangkan)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-7">Dengan ini menyatakan bahwa saya telah menerima informasi sebagaimana diatas yang saya beri tanda/ paraf kolom kanannya dan telah memahaminya</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.TelahMenerima, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TelahMenerima, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-right btn-sm @(Model.TTDTelahMenerima != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan <i class="icon-quill2 position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Bila pasien tidak kompeten atau tidak mau menerima informasi maka penerima informasi adalah wali atau keluarga terdekat</label>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDTelahMenerima)" name="IMG_@nameof(Model.TTDTelahMenerima)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function clickgambar1() {
        $('#IMG_TTDTelahMenerima').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDTelahMenerima)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDTelahMenerima').click()
    }

    generalDokter("#@formName #DokterPenanggungJawab");
    generalDokter("#@formName #TelahMenerangkan");
    generalDokter("#@formName #NamaPemberiInformasi");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDTelahMenerima)');

    @if (Model != null)
    {
        if (Model.TTDTelahMenerima != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDTelahMenerima)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDTelahMenerima)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDTelahMenerima');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


