﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail

@{
    var controllerName = "EMRMonitoringKontrolPenunggu";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_forma = $"frm_table_detailMonitorKontrolPenunggu";
    int d_idx_forma = 0;
    var d_trg_forma = $"input_target_detailMonitorKontrolPenunggu";
    if (Model != null)
    {
        if (Model.EMRMntrKntrlPenunggu_List != null)
        {
            d_idx_forma = Model.EMRMntrKntrlPenunggu_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>

    #d_tbl_forma thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_forma thead th:nth-child(1),
    #d_tbl_forma tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_forma thead th:nth-child(2),
    #d_tbl_forma tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_forma thead th:nth-child(3),
    #d_tbl_forma tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_forma thead th:nth-child(4),
    #d_tbl_forma tbody td:nth-child(4) {
        width: 80px;
        display: none;
    }

    #d_tbl_forma thead th:nth-child(5),
    #d_tbl_forma tbody td:nth-child(5) {
        width: 80px;
    }

    #d_tbl_forma thead th:nth-child(6),
    #d_tbl_forma tbody td:nth-child(6) {
        width: 105px;
    }

    #d_tbl_forma thead th:nth-child(7),
    #d_tbl_forma tbody td:nth-child(7) {
        width: 100px;
    }

    #d_tbl_forma thead th:nth-child(8),
    #d_tbl_forma tbody td:nth-child(8) {
        width: 100px;
    }

    #d_tbl_forma thead th:nth-child(9),
    #d_tbl_forma tbody td:nth-child(9) {
        width: 140px;
    }

    #d_tbl_forma thead th:nth-child(10),
    #d_tbl_forma tbody td:nth-child(10) {
        width: 140px;
    }

    #d_tbl_forma thead th:nth-child(11),
    #d_tbl_forma tbody td:nth-child(11) {
        width: 100px;
    }

    #d_tbl_forma thead th:nth-child(12),
    #d_tbl_forma tbody td:nth-child(12) {
        width: 100px;
    }

    #d_tbl_forma thead th:nth-child(13),
    #d_tbl_forma tbody td:nth-child(13) {
        width: 100px;
    }

    #d_tbl_forma thead th:nth-child(14),
    #d_tbl_forma tbody td:nth-child(14) {
        width: 100px;
    }

    #d_tbl_forma thead th:nth-child(15),
    #d_tbl_forma tbody td:nth-child(15) {
        width: 100px;
    }

    #d_tbl_forma thead th:nth-child(16),
    #d_tbl_forma tbody td:nth-child(16) {
        width: 300px;
    }

    #d_tbl_forma thead th:nth-child(17),
    #d_tbl_forma tbody td:nth-child(17) {
        width: 100px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div id="modalaews" class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiforma" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_forma">
                                    <div class="table-responsive">
                                        <table id="d_tbl_forma" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_forma')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>Tgl</th>
                                                    <th>Nama Pasien</th>
                                                    <th>Umur</th>
                                                    <th>NRM</th>
                                                    <th>Nama Penunggu Pasien</th>
                                                    <th>Tgl Penerimaan</th>
                                                    <th>Tgl Pengembalian</th>
                                                    <th>No Identitas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.EMRMntrKntrlPenunggu_List != null)
                                                    {
                                                        for (var i = 0; i < Model.EMRMntrKntrlPenunggu_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.Tanggal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.EMRMntrKntrlPenunggu_List[i].Model.Tanggal != null ? Model.EMRMntrKntrlPenunggu_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.NamaPasien, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.Umur, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.NRM, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.NamaPenunggu, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                </td>

                                                                <td>
                                                                    @Html.TextAreaFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.TglPenerimaan, new { @class = "form-control input-sm" })
                                                                </td>

                                                                <td>
                                                                    @Html.TextAreaFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.TglPengembalian, new { @class = "form-control input-sm" })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[i].Model.NoIdentitas, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>



<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

</script>


@{
    if (Model != null)
    {
        Model.EMRMntrKntrlPenunggu_List = null;
    }
}

<div id="@d_trg_forma" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("yyyy-MM-dd") } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.NamaPasien, new { htmlAttributes = new { @class = "form-control input-sm", Value = Model.NamaPasien } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.Umur, new { htmlAttributes = new { @class = "form-control input-sm", Value = Model.Umur } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.NRM, new { htmlAttributes = new { @class = "form-control input-sm", Value = Model.NRM } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.NamaPenunggu, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.TglPenerimaan, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.TglPengembalian, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRMntrKntrlPenunggu_List[-1].Model.NoIdentitas, new { htmlAttributes = new { @class = "form-control input-sm", Value = Model.NoIdentitas } })
    </div>
</div>

