﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail

@{
    var controllerName = "EMRAssesmenRisikoJatuhMorse";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_assmorse = $"frm_table_detailAssMorse";
    int d_idx_assmorse = 0;
    var d_trg_assmorse = $"input_target_detailAssMorse";
    if (Model != null)
    {
        if (Model.EMRAssMorse_List != null)
        {
            d_idx_assmorse = Model.EMRAssMorse_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>

    #d_tbl_assmorse thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_assmorse thead th:nth-child(1),
    #d_tbl_assmorse tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_assmorse thead th:nth-child(2),
    #d_tbl_assmorse tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_assmorse thead th:nth-child(3),
    #d_tbl_assmorse tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_assmorse thead th:nth-child(4),
    #d_tbl_assmorse tbody td:nth-child(4) {
        width: 80px;
        display: none;
    }

    #d_tbl_assmorse thead th:nth-child(5),
    #d_tbl_assmorse tbody td:nth-child(5) {
        width: 193px;
    }

    #d_tbl_assmorse thead th:nth-child(6),
    #d_tbl_assmorse tbody td:nth-child(6) {
        width: 193px;
    }

    #d_tbl_assmorse thead th:nth-child(7),
    #d_tbl_assmorse tbody td:nth-child(7) {
        width: 193px;
    }

    #d_tbl_assmorse thead th:nth-child(8),
    #d_tbl_assmorse tbody td:nth-child(8) {
        width: 193px;
    }

    #d_tbl_assmorse thead th:nth-child(9),
    #d_tbl_assmorse tbody td:nth-child(9) {
        width: 193px;
    }

    #d_tbl_assmorse thead th:nth-child(10),
    #d_tbl_assmorse tbody td:nth-child(10) {
        width: 380px;
    }

    #d_tbl_assmorse thead th:nth-child(11),
    #d_tbl_assmorse tbody td:nth-child(11) {
        width: 90px;
    }

    #d_tbl_assmorse thead th:nth-child(12),
    #d_tbl_assmorse tbody td:nth-child(12) {
        width: 193px;
    }

    #d_tbl_assmorse thead th:nth-child(13),
    #d_tbl_assmorse tbody td:nth-child(13) {
        width: 264px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div id="modalaews" class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Diagnosa</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Diagnosa, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Diagnosa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiassmorse" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_assmorse">
                                    <div class="table-responsive">
                                        <table id="d_tbl_assmorse" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_assmorse')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>RIWAYAT JATUH</th>
                                                    <th>DIAGNOSA SEKUNDER (>= 2 DIAGNOSIS MEDIS)</th>
                                                    <th>ALAT BANTU</th>
                                                    <th>TERPASANG INFUS</th>
                                                    <th>GAYA BERJALAN</th>
                                                    <th>SIKLUS MENTAL</th>
                                                    <th>TOTAL</th>
                                                    <th>TANGGAL</th>
                                                    <th>TOTAL KESELURUHAN</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.EMRAssMorse_List != null)
                                                    {
                                                        for (var i = 0; i < Model.EMRAssMorse_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRAssMorse_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>


                                                                <td>
                                                                    @{
                                                                        var m_1 = StaticModel.ListYaTidak;
                                                                        var item_1 = Model.EMRAssMorse_List[i].Model.RiwayatJatuh;
                                                                        if (item_1 != null)
                                                                        {
                                                                            m_1.FirstOrDefault(x => x.Value == Model.EMRAssMorse_List[i].Model.RiwayatJatuh).Selected = true;

                                                                        }
                                                                    }
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRAssMorse_List[i].Model.RiwayatJatuh,
                                                                        m_1, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.RiwayatJatuhPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <td>
                                                                    @{
                                                                        var m_2 = StaticModel.ListYaTidak;
                                                                        var item_2 = Model.EMRAssMorse_List[i].Model.Diagnosis;
                                                                        if (item_2 != null)
                                                                        {
                                                                            m_2.FirstOrDefault(x => x.Value == Model.EMRAssMorse_List[i].Model.Diagnosis).Selected = true;

                                                                        }
                                                                    }
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRAssMorse_List[i].Model.Diagnosis,
                                                                        m_2, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.DiagnosisPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <td>
                                                                    @{
                                                                        var m_3 = StaticModel.List_AlatBantu;
                                                                        var item_3 = Model.EMRAssMorse_List[i].Model.AlatBantu;
                                                                        if (item_3 != null)
                                                                        {
                                                                            m_3.FirstOrDefault(x => x.Value == Model.EMRAssMorse_List[i].Model.AlatBantu).Selected = true;

                                                                        }
                                                                    }
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRAssMorse_List[i].Model.AlatBantu,
                                                                        m_3, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.AlatBantuPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <td>
                                                                    @{
                                                                        var m_4 = StaticModel.ListYaTidak;
                                                                        var item_4 = Model.EMRAssMorse_List[i].Model.TerpasangInfus;
                                                                        if (item_4 != null)
                                                                        {
                                                                            m_4.FirstOrDefault(x => x.Value == Model.EMRAssMorse_List[i].Model.TerpasangInfus).Selected = true;

                                                                        }
                                                                    }
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRAssMorse_List[i].Model.TerpasangInfus,
                                                                        m_4, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.TerpasangInfusPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <td>
                                                                    @{
                                                                        var m_5 = StaticModel.List_GayaBerjalan;
                                                                        var item_5 = Model.EMRAssMorse_List[i].Model.GayaBerjalan;
                                                                        if (item_5 != null)
                                                                        {
                                                                            m_5.FirstOrDefault(x => x.Value == Model.EMRAssMorse_List[i].Model.GayaBerjalan).Selected = true;

                                                                        }
                                                                    }
                                                                    <div class="col-md-6">
                                                                        @Html.DropDownListFor(model => model.EMRAssMorse_List[i].Model.GayaBerjalan,
                                                                        m_5, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.GayaBerjalanPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>


                                                                <td>
                                                                    @{
                                                                        var m_6 = StaticModel.List_Siklus;
                                                                        var item_6 = Model.EMRAssMorse_List[i].Model.Siklus;
                                                                        if (item_6 != null)
                                                                        {
                                                                            m_6.FirstOrDefault(x => x.Value == Model.EMRAssMorse_List[i].Model.Siklus).Selected = true;

                                                                        }
                                                                    }
                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.EMRAssMorse_List[i].Model.Siklus,
                                                                        m_6, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.SiklusPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.TotalSkor, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm text-center",
                                                                        @readonly = "readonly"

                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.TextAreaFor(model => model.EMRAssMorse_List[i].Model.Tanggal, new
                                                               {
                                                                       @class = "form-control input-sm"

                                                               })
                                                                </td>

                                                                <td>
                                                                    <div class="form-group">
                                                                        <label class="col-md-12 text-center">KRITERIA RESIKO</label>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-6">CEDERA / JATUH</label>
                                                                        <div class="col-md-6">
                                                                            @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.CederaJatuh, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-md-12">
                                                                            @Html.EditorFor(model => model.EMRAssMorse_List[i].Model.TotalSkorHasil, new { htmlAttributes = new { @class = "form-control text-center input-sm text-center", @readonly = "readonly" } })
                                                                        </div>
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>

                    </div>
            </div>
        </div>

    }

</div>

@{
    if (Model != null)
    {
        Model.EMRAssMorse_List = null;
    }
}

<div id="@d_trg_assmorse" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRAssMorse_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRAssMorse_List[-1].Model.RiwayatJatuh,
              StaticModel.ListYaTidak, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.RiwayatJatuhPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRAssMorse_List[-1].Model.Diagnosis,
              StaticModel.ListYaTidak, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.DiagnosisPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRAssMorse_List[-1].Model.AlatBantu,
              StaticModel.List_AlatBantu, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.AlatBantuPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRAssMorse_List[-1].Model.TerpasangInfus,
              StaticModel.ListYaTidak, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.TerpasangInfusPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.EMRAssMorse_List[-1].Model.GayaBerjalan,
              StaticModel.List_GayaBerjalan, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.GayaBerjalanPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EMRAssMorse_List[-1].Model.Siklus,
              StaticModel.List_Siklus, new { @class = "form-control input-sm", onchange = "totalskorAssMorse(this)" })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.SiklusPoin, new { htmlAttributes = new { @class = "form-control input-sm text-center", @readonly = "readonly" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.TotalSkor, new { htmlAttributes = new { @class = "form-control input-sm text-center",  @readonly = "readonly" } })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRAssMorse_List[-1].Model.Tanggal, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        <div class="form-group">
            <label class="col-md-12">KRITERIA / RESIKO</label>
        </div>
        <div class="form-group">
            <label class="col-md-6">CEDERA / JATUH</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.CederaJatuh, new { htmlAttributes = new { @class = "form-control text-center input-sm" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.EMRAssMorse_List[-1].Model.TotalSkorHasil, new { htmlAttributes = new { @class = "form-control text-center input-sm" } })
            </div>
        </div>
      
    </div>
</div>

<!--  JS Skor  -->
<script>

    function totalskorAssMorse(t) {
        var tr = $($(t).closest('tr'));
        var a = tr.find('td:nth-child(5) option:selected').val() || 0;
        var b = tr.find('td:nth-child(6) option:selected').val() || 0;
        var c = tr.find('td:nth-child(7) option:selected').val() || 0;
        var d = tr.find('td:nth-child(8) option:selected').val() || 0;
        var e = tr.find('td:nth-child(9) option:selected').val() || 0;
        var f = tr.find('td:nth-child(10) option:selected').val() || 0;
        var riwayat = 0;
        var diagnosis = 0;
        var alat = 0;
        var terpasang = 0;
        var gaya = 0;
        var siklus = 0;


        if (a == 'Ya') {
            riwayat = 25;
        } else if (a == 'Tidak') {
            riwayat = 0;
        } else if (a == '') {
            riwayat = 0;
        }
        tr.find('td:nth-child(5) input')[0].value = riwayat;

        if (b == 'Ya') {
            diagnosis = 15;
        } else if (b == 'Tidak') {
            diagnosis = 0;
        } else if (b == '') {
            diagnosis = 0;
        }
        tr.find('td:nth-child(6) input')[0].value = diagnosis;

        if (c == 'Berpegangan pada perabot') {
            alat = 30;
        } else if (c == 'Tongkat/ Alat Penopang') {
            alat = 15;
        } else if (c == 'Tidak Ada/ Kursi roda/ Perawat/ Tirah Baring') {
            alat = 0;
        } else if (c == '') {
            alat = 0;
        }
        tr.find('td:nth-child(7) input')[0].value = alat;

        if (d == 'Ya') {
            terpasang = 20;
        } else if (d == 'Tidak') {
            terpasang = 0;
        } else if (d == '') {
            terpasang = 0;
        }
        tr.find('td:nth-child(8) input')[0].value = terpasang;

        if (e == 'Terganggu') {
            gaya = 20;
        } else if (e == 'Lemah') {
            gaya = 10;
        } else if (e == 'Normal / Tirah Baring / Imobilisasi') {
            gaya = 0;
        } else if (e == '') {
            gaya = 0;
        }
        tr.find('td:nth-child(9) input')[0].value = gaya;

        if (f == 'Sering lupa akan keterbatasan yang dimiliki') {
            siklus = 15;
        } else if (f == 'Sadar akan kemampuan sendiri') {
            siklus = 0;
        }  else if (f == '') {
            siklus = 0;
        }
        tr.find('td:nth-child(10) input')[0].value = siklus;

        var total = riwayat + diagnosis + alat + terpasang + gaya + siklus;
       
        var hasil = total.toString();
        tr.find('td:nth-child(11) input').val(hasil);
        if (total >= 0 && total <= 24) {
            tr.find('td:nth-child(13) input')[1].value = 'Rendah';
        } else if (total >= 25 && total <= 44) {
            tr.find('td:nth-child(13) input')[1].value = 'Sedang';
        } else if (total >= 45 ) {
            tr.find('td:nth-child(13) input')[1].value = 'Tinggi';
        }
    }


    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

</script>

