﻿@using EMRRSCB.Models
@model EMRSuratPersetujuanPengungkapanInformasiMedisViewModel
@{
    var controllerName = "EMRSuratPersetujuanPengungkapanInformasiMedis";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }

    };
}


<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {

        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"

    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {


        @Html.AntiForgeryToken();
        @Html.HiddenFor(model => model.NoBukti);
        @Html.HiddenFor(model => model.TTDImage);

    <div class="form-horizontal">
        <div class="panel panel-body">
            <div class="form-group">
                <h3 class="text text-bold text-center"> Surat Persetujuan Pengungkapan Informasi Medis</h3>
            </div>
            <div class="form-group">
                <label class="col-md-3">Saya Bertanda Dibawah Ini</label>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jenis Kelamin</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Umur</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Alamat</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nomor KTP/SIM/Pasport</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NomorKTPSIMPaspor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomorKTPSIMPaspor, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-12">
                    Menyatakan bahwa saya tidak berkenan bila RSU BUNDA memberikan informasi Medis atas
                    nama saya sendiri*Anak*Istri*Suami*Ayah*Ibu saya dengan identitas berikut :
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-3">Nama</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NamaIden, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamaIden, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jenis Kelamin</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.JenisKelaminIden, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JenisKelaminIden, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Umur</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UmurIden, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UmurIden, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">No RM</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Untuk Kepentingan</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UntukKepentingan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UntukKepentingan, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-12">
                    Demikian pernyataan yang saya buat dengan sebenarnya tanpa paksaan
                </div>
            </div>
            <div class="form-group ">
                <div class="row" style="float :right !important; margin-right: 10px;">
                    <label class=" col-md-4" style=" margin: 10px 0;">
                        Jembrana




                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TglSurat, new { htmlAttributes = new { @class = "form-control", Value = (Model.TglSurat != null ? (Model.TglSurat.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TglSurat, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
            <div class="form-group ">
                <div class="row" style="float :right !important; margin-right: 10px;">
                    <label class=" col-md-12" style=" margin: 10px 0;">
                        Yang membuat pernyataan




                    </label>

                </div>


            </div>
            <div class="form-group ">
                <div class="row" style="float :right !important; margin-right: 10px;">
                    <div class=" col-md-12" style=" margin: 10px 0;">

                        <div class=" col-md-8">
                            <a class="btn btn-primary @(Model.TTDNama != null ? "btn-flash" : "")" onclick="clickGambar1()">Tanda Tangan</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-danger" onclick="ulanggambar1()">Ulang</a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="form-group ">
                <div class="row" style="float :right !important; margin-right: 10px;">
                    <label class=" col-md-12" style=" margin: 10px 0;">
                        @Html.EditorFor(model => model.TTDNama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TTDNama, "", new { @class = "text-danger" })



                    </label>

                </div>


            </div>

        </div>
        <div class="panel panel-body">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                <div class="col-md-12" style="position:inherit">
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-12 text-center">
                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDImage)" name="IMG_@nameof(Model.TTDImage)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    </div>
<script>
        function clickGambar1() {
        $('#IMG_TTDImage').click()

        }
  

       function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDImage)').attr('src', '/Theme/images/TandaTangan.png');
           $('#IMG_TTDImage').click()
    }

    var iGambar1;


    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDImage)');


    @if(Model != null)
    {

        if (Model.TTDImage != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDImage)');
        }
  

    }

    $(document).ready(() => {
        iGambar1 = new iPainter_V2(ximg_Gambar1);
  


        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    })

        function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDImage');
      

            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>
