﻿@using EMRRSCB.Models
@model EMRPersetujuanPenolakanTransfusiDarahViewModel
@{
    var controllerName = "EMRPersetujuanPenolakanTransfusiDarah";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDPasien)
        @Html.HiddenFor(model => model.VerifikasiPasien)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="col-md-2 control-label">Tanggal</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Saya yang bertanda tangan dibawah ini:</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tgl Lahir/ Jenis Kelamin</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.TglLahir, new { htmlAttributes = new { @class = "form-control", Value = (Model.TglLahir != null ? (Model.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Bukti Diri KTP/SIM/Passport</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KTP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KTP, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.TujuanPemberianDarah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tujuan Pemberian Darah
                        </label>
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.TujuanPemberianDarahKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TujuanPemberianDarahKet, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.ResikoKomplikasi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Resiko dan komplikasi yang mungkin terjadi
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.ManfaatPemberianDarah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Manfaat Manfaat pemberian
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.AlternatifLain, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Alternatif lain yang bisa di lakukan tanpa tranfusi darah
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.PerkiraanJumlah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Perkiraan jumlah darah yang diberikan
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.PerkiraanBiaya, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Perkiraan Biaya
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Di samping itu dokter juga telah menjelaskan kepada saya bahwa :
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.TindakanTambahan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tindakan tambahan kemungkinan di perlukan jika dokter menemukan sesuatu yang tak terduga
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.TindakanIniKemungkinan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tindakan ini kemungkinan tidak memberikan hasil yang sesuai harapan walaupun sudah di lakukan sesuai standar prosedur yang berlaku
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Saya sudah mendapatkan kesempatan untuk bertanya dan saya sudah mengerti dan puas dengan penjelasan yang diberikan sehubungan diberikan sehubungan dengan pertanyaan pertanyaan saya, di samping itu jika terjadi kecelakaan seperti darah terinfeksi HIV dan penyakit lainnya,saya memberikan izin untuk mengambil darah pasien untuk tes HIV dan penyakit lainnya yang penularannya melalui darah.dengan ini sayamenyatakan dengan sesungguhnya bahwa saya
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.Setuju, StaticModel.ListSetujuMenolak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Setuju, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        untuk di lakukan pemberian tranfusi darah yang sudah di jelaskan di atas.
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.Terhadap, StaticModel.ListTerhadapSaya, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Terhadap, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No Rekam Medik</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NRMPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NRMPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tgl Lahir/ Jenis Kelamin</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.TglLahirPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.TglLahirPasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.JKPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.JKPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AlamatPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.AlamatPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Dirawat Diruangan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DirawatPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.DirawatPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Petugas @if (Model.VerifikasiPasien)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Petugas, Model.Petugas == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas.ToString(), Text = Model.PetugasNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Petugas, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Petugas)','@nameof(Model.VerifikasiPasien)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keluarga</label>
                    <div class="col-md-10 text-right">
                        <a class="btn btn-primary pull-right btn-sm @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan <i class="icon-quill2 position-right"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function clickgambar1() {
        $('#IMG_TTDPasien').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPasien').click()
    }

    generalDokter("#@formName #Petugas");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDPasien)');

    @if (Model != null)
    {
        if (Model.TTDPasien != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPasien)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


