﻿@using EMRRSCB.Models
@model EMRPengkajianMedisIGDViewModel
@{
    var controllerName = "EMRPengkajianMedisIGD";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    #region ==== Detail 1
    var d_tbl_detail_2 = $"frm_table_detaildetail_2";
    int d_idx_detail_2 = 0;
    var d_trg_detail_2 = $"input_target_detaildetail_2";
    if (Model != null)
    {
        if (Model.Observasi_List != null)
        {
            d_idx_detail_2 = Model.Observasi_List.Count();
        }
    }

    #endregion
}
<style>
    #@d_tbl_detail_2 thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_detail_2 thead th:nth-child(1),
    #@d_tbl_detail_2 tbody td:nth-child(1){
        text-align:center;
        display:none;
    }

    #@d_tbl_detail_2 thead th:nth-child(2),
    #@d_tbl_detail_2 tbody td:nth-child(2){
        width: 80px;
        text-align:center;
    }
    #@d_tbl_detail_2 thead th:nth-child(3),
    #@d_tbl_detail_2 tbody td:nth-child(3){
        display:none;
    }
    #@d_tbl_detail_2 thead th:nth-child(4),
    #@d_tbl_detail_2 tbody td:nth-child(4){
        width: 80px;
        text-align:center;
    }
    #@d_tbl_detail_2 thead th:nth-child(5),
    #@d_tbl_detail_2 tbody td:nth-child(5) {
        width: 80px;
    }
    #@d_tbl_detail_2 thead th:nth-child(6),
    #@d_tbl_detail_2 tbody td:nth-child(6){
        width: 80px;
        text-align:center;
    }
    #@d_tbl_detail_2 thead th:nth-child(7),
    #@d_tbl_detail_2 tbody td:nth-child(7){
        width: 200px;
    }
    #@d_tbl_detail_2 thead th:nth-child(8),
    #@d_tbl_detail_2 tbody td:nth-child(8){
        width: 200px;
    }
    #@d_tbl_detail_2 thead th:nth-child(9),
    #@d_tbl_detail_2 tbody td:nth-child(9){
        width: 200px;
    }
</style>

<label class="text-semibold">OBSERVASI</label>
<div id="panel_@formName" class="detail collapse in" style=" padding: 0;"
     data-index-detail="@d_idx_detail_2">
    <div class="table-responsive">
        <table id="@d_tbl_detail_2" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" onclick="checkall(this)" />
                    </th>
                    <th class="text-center" rowspan="2">
                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_detail_2')">
                            <i class="icon-plus2"></i>
                        </a>
                    </th>
                    <th></th>
                    <th>No</th>
                    <th>Tanggal</th>
                    <th>Jam</th>
                    <th>Anamnesa</th>
                    <th>Instruksi</th>
                    <th>Petugas</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.Observasi_List != null)
                    {
                        for (var i = 0; i < Model.Observasi_List.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>

                                <td>
                                    <a class="text-danger-600"
                                       onclick="removetr(this)">
                                        <i class="icon-trash"></i>
                                    </a>
                                </td>

                                <td>
                                    @Html.EditorFor(model => model.Observasi_List[i].Remove,
                                    new { htmlAttributes = new { @class = "disable-reset" } })
                                </td>

                                <td>
                                    @Html.EditorFor(model => model.Observasi_List[i].Model.No, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control input-sm text-center",
                                           @readonly = "readonly"
                                       }
                                   })
                                </td>

                                <td>
                                    @Html.EditorFor(model => model.Observasi_List[i].Model.Tanggal, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control input-sm",
                                           Value = (Model != null ? (Model.Observasi_List[i].Model.Tanggal != null ? Model.Observasi_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                       }
                                   })
                                </td>

                                <td>
                                    @Html.EditorFor(model => model.Observasi_List[i].Model.Jam, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control input-sm",
                                           Value = (Model != null ? (Model.Observasi_List[i].Model.Jam != null ? Model.Observasi_List[i].Model.Jam.Value.ToString("HH:mm") : "") : "")
                                       }
                                   })
                                </td>

                                <td>
                                    @Html.TextAreaFor(model => model.Observasi_List[i].Model.Observasi, new { @class = "form-control" } )
                                </td>

                                <td>
                                    @Html.TextAreaFor(model => model.Observasi_List[i].Model.Instruksi, new { @class = "form-control" } )
                                </td>

                                @{
                                    var _lstNamaTerang = new List<SelectListItem>();
                                    if (Model.Observasi_List[i].Model != null)
                                    {
                                        if (Model.Observasi_List[i].Model.Nama != null)
                                        {
                                            _lstNamaTerang.Add(new SelectListItem()
                                            {
                                                Value = Model.Observasi_List[i].Model.Nama,
                                                Text = Model.Observasi_List[i].Model.NamaNama
                                            });
                                        }
                                    }
                                }
                                <td>
                                    @Html.DropDownListFor(model => model.Observasi_List[i].Model.Nama, _lstNamaTerang, new { @class = "form-control input-sm" })
                                </td>

                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function autoid_observasi(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


    @if (Model != null)
    {
        if (Model.Observasi_List != null)
        {
            for (var i = 0; i < Model.Observasi_List.Count; i++)
            {
                @:customrowdetail_detail_1_List(@i, { target: $('#@d_tbl_detail_2 thead a i')[0] }, '@d_trg_detail_2', false);
            }

        }
    }

    function customrowdetail_detail_1_List(index_detail, _this, inputtarget, autofocus) {
        var namaterang = '#panel_@formName #Observasi_List_' + index_detail +'__Model_Nama';
        generalDokter(namaterang);
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        customrowdetail_detail_1_List(index_detail, _this, inputtarget, autofocus);
    }
</script>


@{
    if (Model != null)
    {

        Model.Observasi_List = null;
    }
}



<div id="@d_trg_detail_2" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Observasi_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Observasi_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_observasi(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Observasi_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Observasi_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH:mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Observasi_List[-1].Model.Observasi, new
   {
      
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Observasi_List[-1].Model.Instruksi, new
   {
     
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Observasi_List[-1].Model.Nama,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

</div>