﻿@using EMRRSCB.Models
@model EMRPengkajianMedisIGDViewModel
@{
    var controllerName = "EMRPengkajianMedisIGD";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDPasien)
        @Html.HiddenFor(model => model.VerifikasiDokterJaga)
        @Html.HiddenFor(model => model.VerifikasiDokterJagaID)
        @Html.HiddenFor(model => model.VerifikasiJawabanKonsultasi_HormatKami)
        @Html.HiddenFor(model => model.VerifikasiKonsultasi_HormatKami)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Tanggal</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.TangalKedatangan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.TangalKedatangan != null ? Model.TangalKedatangan.Value.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd")) : DateTime.Now.ToString("yyyy-MM-dd")) } })
                        @Html.ValidationMessageFor(model => model.TangalKedatangan, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2">Jam Kedatangan</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.JamKedatangan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamKedatangan != null ? Model.JamKedatangan.Value.ToString("HH:mm") : DateTime.Now.ToString("HH:mm")) : DateTime.Now.ToString("HH:mm")) } })
                    </div>

                    <label class="control-label col-md-1">Template</label>
                    <div class="col-md-2">
                        <select id="listTemplateDokumen" class="form-control">
                            <option value="0"></option>
                            @if (Model.ListTemplate != null)
                            {
                                foreach (var x in Model.ListTemplate)
                                {
                                    @: <option value="@x.Value">@x.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Jam kedatangan</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.JamPengkajian, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamPengkajian != null ? Model.JamPengkajian.Value.ToString("HH:mm") : DateTime.Now.ToString("HH:mm")) : DateTime.Now.ToString("HH:mm")) } })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Kategori Triage</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KategoriTriage, new List<SelectListItem> {
                                new SelectListItem() { Text = "HIJAU", Value = "HIJAU" },
                                new SelectListItem() { Text = "KUNING", Value = "KUNING" },
                                new SelectListItem() { Text = "MERAH", Value = "MERAH" },
                                new SelectListItem() { Text = "ABU ABU", Value = "ABU ABU" },
                            }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KategoriTriage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Rujukan</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Rujukan, new List<SelectListItem>
                           {
                               new SelectListItem() {Text = "", Value=""},
                               new SelectListItem() {Text = "Ya", Value="Ya"},
                               new SelectListItem() {Text = "Tidak", Value="Tidak"},
                           }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.RujukanTidakDatangSendiriKeterangan, new List<SelectListItem>
                           {
                               new SelectListItem() {Text = "", Value=""},
                               new SelectListItem() {Text = "Datang Sendiri", Value="Datang Sendiri"},
                               new SelectListItem() {Text = "Diantar", Value="Diantar"},
                           }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon control-label">
                                Identitas pengantar
                            </label>
                            @Html.EditorFor(model => model.IdentitasPengantar, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline control-label input-group-addon">
                                @Html.EditorFor(model => model.RujukanYaRs, new { htmlAttributes = new { @Class = "checkbox-custom" } })
                                RS
                            </label>
                            @Html.EditorFor(model => model.Rujukan, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline control-label input-group-addon">
                                @Html.EditorFor(model => model.RujukanYaPuskesmas, new { htmlAttributes = new { @Class = "checkbox-custom" } })
                                Puskesmas
                            </label>
                            @Html.EditorFor(model => model.RujukanYaPuskesmasKeterangan, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline control-label input-group-addon">
                                @Html.EditorFor(model => model.RujukanYaDr, new { htmlAttributes = new { @Class = "checkbox-custom" } })
                                Dr
                            </label>
                            @Html.EditorFor(model => model.RujukanYaDrKeterangan, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline control-label input-group-addon">
                                @Html.EditorFor(model => model.RujukanYaLainnya, new { htmlAttributes = new { @Class = "checkbox-custom" } })
                                Lainnya
                            </label>
                            @Html.EditorFor(model => model.RujukanYaLainnyaKeterangan, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Kecelakaan</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Kecelakaan, new List<SelectListItem>
                       {
                           new SelectListItem() {Text = "", Value=""},
                           new SelectListItem() {Text = "Ya", Value="Ya"},
                           new SelectListItem() {Text = "Tidak", Value="Tidak"},
                       }, new { @class = "form-control" })
                    </div>
                    <label class="control-label col-md-1">Tanggal   </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.TanggalKecelakaan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.TanggalKecelakaan != null ? Model.TanggalKecelakaan.Value.ToString("yyyy-MM-dd") : "") : "") } })
                    </div>
                    <label class="control-label col-md-1">Jam</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.JamKecelakaan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamKecelakaan != null ? Model.JamKecelakaan.Value.ToString("HH:mm") : "") : "") } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2">Tempat Kejadian</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TempatKejadianKecelakaan, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Permintaan Visum</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.PermintaanVisum, new List<SelectListItem>
                       {
                           new SelectListItem() {Text = "", Value=""},
                           new SelectListItem() {Text = "Ya", Value="Ya"},
                           new SelectListItem() {Text = "Tidak", Value="Tidak"},
                       }, new { @class = "form-control" })
                    </div>
                    <label class="control-label col-md-1">Dari   </label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PermintaanVisumDari, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1 col-md-offset-2">Tanggal</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.PermintaanVisumTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.PermintaanVisumTanggal != null ? Model.PermintaanVisumTanggal.Value.ToString("yyyy-MM-dd") : "") : "") } })
                    </div>
                    <label class="control-label col-md-1">Jam</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.PermintaanVisumJam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.PermintaanVisumJam != null ? Model.PermintaanVisumJam.Value.ToString("HH:mm") : "") : "") } })
                    </div>
                    <label class="control-label col-md-1">No</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.PermintaanVisumNo, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Keadaan Pasien Tiba</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KeadaanPasienTiba, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Sumber Data</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SumberData, new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "", Value=""},
                            new SelectListItem() {Text = "Pasien", Value="Pasien"},
                            new SelectListItem() {Text = "Keluarga", Value="Keluarga"},
                            new SelectListItem() {Text = "Teman", Value="Teman"},
                            new SelectListItem() {Text = "Lainnya", Value="Lainnya"},
                        }, new { @class = "form-control" })
                    </div>
                </div>

            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="col-md-12 text-semibold">ANAMNESIS</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Keluhan Utama</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anamnesis_KeluhanUtama, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Riwayat Penyakit Sekarang</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anamnesis_RiwayatPenyakitSekarang, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Riwayat Penyakit Dahulu</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anamnesis_RiwayatPenyakitDahulu, new { @Class = "form-control" })
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="control-label col-md-2">Keadaan Pasien</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.KeadaanPasienTiba, new { @Class = "form-control" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <label class="control-label col-md-2">Riwayat Alergi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anamnesis_RiwayatAlergi, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Riwayat Penyakit Keluarga</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anamnesis_PenyakitKeluarga, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Riwayat Pengobatan</label>
                    <div class="col-md-10">
                        <table class="table table-bordered">
                            <tr>
                                <td>Nama Obat Dosis Lamanya</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <label class="control-label input-group-addon">
                                            1.
                                        </label>
                                        @Html.EditorFor(model => model.Anamnesis_RiwayatPengobatan1, new { htmlAttributes = new { @Class = "form-control" } })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <label class="control-label input-group-addon">
                                            2.
                                        </label>
                                        @Html.EditorFor(model => model.Anamnesis_RiwayatPengobatan2, new { htmlAttributes = new { @Class = "form-control" } })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <label class="control-label input-group-addon">
                                            3.
                                        </label>
                                        @Html.EditorFor(model => model.Anamnesis_RiwayatPengobatan3, new { htmlAttributes = new { @Class = "form-control" } })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="control-label col-md-2">
                        Status Psikologi
                    </label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.StatusPsikologis_Tenang) Tenang
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.StatusPsikologis_Cemas) Cemas
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.StatusPsikologis_Marah) Marah
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.StatusPsikologis_Depresi) Depresi
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.StatusPsikologis_Gelisah) Gelisah
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.StatusPsikologis_Kooperatif) Kooperatif
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.StatusPsikologis_TidakKooperatif) Tidak Kooperatif
                        </label>
                    </div>
                </div>

            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="control-label  col-md-4">
                        <strong>PRIMARY SURVEY</strong>
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width:15%;" class="text-center">AIRWAY</th>
                                <th style="width:15%;" class="text-center">BREATHING</th>
                                <th style="width:30%;" class="text-center">CIRCULATION</th>
                                <th style="width:40%;" class="text-center">DISABILITY/NEUROLOGICAL</th>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Airway_Bebas)
                                            Bebas
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Airway_Gargling)
                                            Gargling
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Airway_Stridor)
                                            Stridor
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Airway_Wheezing)
                                            Wheezing
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Airway_Ronchi)
                                            Ronchi
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Airway_Terintubasi)
                                            Terintubasi
                                        </label>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Breathing_Spontan)
                                            Spontan
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Breathing_Tachipneu)
                                            Tachipneu
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Breathing_Dispneu)
                                            Dispneu
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Breathing_Apneu)
                                            Apneu
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Breathing_VentilasiMekanik)
                                            Ventilasi Mekanink
                                        </label>
                                    </p>
                                    <p>
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.Breathing_MemakaiVentilator)
                                            Memakai Ventilator
                                        </label>
                                    </p>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Nadi
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Circulation_Nadi, new List<SelectListItem>
                                               {
                                                   new SelectListItem() {Text = "", Value=""},
                                                   new SelectListItem() {Text = "Kuat", Value="Kuat"},
                                                   new SelectListItem() {Text = "Lemah", Value="Lemah"},
                                               }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            CRT
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Circulation_CRT, new List<SelectListItem>
                                               {
                                                   new SelectListItem() {Text = "", Value=""},
                                                   new SelectListItem() {Text = "< 2", Value="< 2"},
                                                   new SelectListItem() {Text = "> 2", Value="> 2"},
                                               }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Warna Kulit
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Circulation_WarnaKulit, new List<SelectListItem>
                                               {
                                                   new SelectListItem() {Text = "", Value=""},
                                                   new SelectListItem() {Text = "Normal", Value="Normal"},
                                                   new SelectListItem() {Text = "Pucat", Value="Pucat"},
                                                   new SelectListItem() {Text = "Kuning", Value="Kuning"},
                                               }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Perdarahan
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Circulation_Pendarahan, new List<SelectListItem>
                                               {
                                                   new SelectListItem() {Text = "", Value=""},
                                                   new SelectListItem() {Text = "Tidak Ada", Value="Tidak Ada"},
                                                   new SelectListItem() {Text = "Terkontrol", Value="Terkontrol"},
                                                   new SelectListItem() {Text = "Tidak Terkontrol", Value="Tidak Terkontrol"},
                                               }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Tugor Kulit
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Circulation_Kulit, new List<SelectListItem>
                                               {
                                                   new SelectListItem() {Text = "", Value=""},
                                                   new SelectListItem() {Text = "Baik", Value="Baik"},
                                                   new SelectListItem() {Text = "Buruk", Value="Buruk"},
                                               }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </td>
                                <td style="vertical-align:top; width:60%;">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            Respon
                                        </label>
                                        <div class="col-md-10">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.DisabilityNeurogicalRespon_Alert)
                                                Alert
                                            </label>
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.DisabilityNeurogicalRespon_Pain)
                                                Pain
                                            </label>
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.DisabilityNeurogicalRespon_Verbal)
                                                Verbal
                                            </label>
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.DisabilityNeurogicalRespon_Unrespon)
                                                Unrespons
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            Pupil
                                        </label>
                                        <div class="col-md-10">
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.DisabilityNeurogicalPupil_Isokor)
                                                Isokor
                                            </label>
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.DisabilityNeurogicalPupil_Anisokor)
                                                Anisokor
                                            </label>
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.DisabilityNeurogicalPupil_Pinpoint)
                                                Pin Pont
                                            </label>
                                            <label class="checkbox checkbox-inline">
                                                @Html.EditorFor(model => model.DisabilityNeurogicalPupil_Midriasis)
                                                Midriasis
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            Reflek
                                        </label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DisabilityNeurogicalReflek, new { htmlAttributes = new { @Class = "form-control" } })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="control-label text-semibold">SECONDARY SURVEY</label>
                    <br />
                    <label class="control-label text-semibold">STATUS PRESENT :</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Keadaan Umum</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StatusPresent_KeadaanUmum, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Level Kesadaran</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.StatusPresent_LevelKesadaran, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                    <label class="control-label col-md-1">
                        GCS
                    </label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                E
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_LevelKesadaranCGS_E, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                V
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_LevelKesadaranCGS_V, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                M
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_LevelKesadaranCGS_M, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Tanda Tanda Vital dan Keadaan Umum</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                TD
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_TandaTandaVitalDanKeadaanUmum_TD, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                mmHg
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                N
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_TandaTandaVitalDanKeadaanUmum_N, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                x/mnt
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                R
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_TandaTandaVitalDanKeadaanUmum_R, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                x/mnt
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                S
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_TandaTandaVitalDanKeadaanUmum_S, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                <sup>o</sup>C
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                BB
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_TandaTandaVitalDanKeadaanUmum_BB, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                kg
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                SpO2
                            </label>
                            @Html.EditorFor(model => model.StatusPresent_TandaTandaVitalDanKeadaanUmum_SpO2, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                %
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label text-semibold">SKRINING NYERI</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Nyeri</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.SkriningNyeri, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Ya", Value="Normal"},
                                    new SelectListItem() {Text = "Tidak", Value="Tidak"},
                                }, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group mt-20 mb-20">
                            <div class="col-md-12 text-center  mt-20 mb-20">
                                <img src="~/Theme/images/Sekor.jpg" width="80%" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Pengkajian Nyeri</label>
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.PengkajianNyeri, new { htmlAttributes = new { @Class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">Numeric Rating Scala untuk usia > 8 tahun</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">Wong Baker Faces Pain Scale untuk usia 3-6 tahun atau tidak bisa membaca angka.</label>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Internitas Nyeri</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.IntensitasNyeri, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Nyeri Ringan", Value="Nyeri Ringan"},
                                    new SelectListItem() {Text = "Nyeri Sedang", Value="Nyeri Sedang"},
                                    new SelectListItem() {Text = "Nyeri Berat", Value="Nyeri Berat"},
                                }, new { @class = "form-control" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label text-semibold">Asessmen Nyeri</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Onset Nyeri</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.OnsetNyeri, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Akut", Value="Akut"},
                                    new SelectListItem() {Text = "Kronis", Value="Kronis"},
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.OnsetNyeriKronisSejakKapan, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Pencetus</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Pencetus, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Benturan", Value="Benturan"},
                                    new SelectListItem() {Text = "Lainnya", Value="Lainnya"},
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PencetusLainnya, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Kualitas Nyeri</label>
                            <div class="col-md-8">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.KualitasNyeri_SepertiDitusuk) Seperti Tertusuk
                                </label>
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.KualitasNyeri_SakitBerdenyut) Sakit Berdenyut
                                </label>
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.KualitasNyeri_Lainnya) Lainnya
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                @Html.EditorFor(model => model.KualitasNyeri_LainnyaKeterangan, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Regio Nyeri : Lokasi</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.RegioNyeriLokasi, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Nyeri Menjalar</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.RegioNyeriMenjalar, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Tidak", Value="Tidak"},
                                    new SelectListItem() {Text = "Ya", Value="Ya"},
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.RegioNyeriMenjalarTidakKeterangan, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Skala Nyeri</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.SkalaNyeri, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Timing Nyeri</label>
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.TimingNyeri, new { htmlAttributes = new { @Class = "form-control" } })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Nyeri Datang Saat</label>
                            <div class="col-md-8">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.NyeriDatangSaatIstirahat) Istirahat
                                </label>
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.NyeriDatangSaatBeraktifitas) Beraktifitas
                                </label>
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.NyeriDatangSaatLainnya) Lainnya
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                @Html.EditorFor(model => model.NyeriDatangSaatLainnyaKeterangan, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Nyeri Membaik Bila</label>
                            <div class="col-md-8">
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.NyeriMembaikBilaIstirahat) Istirahat
                                </label>
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.NyeriMembaikBilaMendengarkanMusik) Mendengarkan Musik
                                </label>
                                <label class="checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.NyeriMembaikBilaBerubahPosisiAtauTidur) Posisi Tidur
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-md-offset-4">
                                <label class="checkbox-inline">
                                    @Html.EditorFor(model => model.NyeriMembaikBilaMinumObat) Minum Obat
                                </label>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.NyeriMembaikBilaMinumKeterangan, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-md-offset-4">
                                <label class="checkbox-inline">
                                    @Html.EditorFor(model => model.NyeriMembaikBilaLainnya) Lainnya
                                </label>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.NyeriMembaikBilaLainnyaKeterangan, new { htmlAttributes = new { @Class = "form-control" } })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">NPAT (neonatus) skor </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NPAT, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.NPAT_Keterangan, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Ringan < 5", Value="Ringan < 5"},
                                    new SelectListItem() {Text = "Sedang 5-10", Value="Sedang 5-10"},
                                    new SelectListItem() {Text = "Berat > 10", Value="Berat > 10"},
                                }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">FLACC (26 hr - < 3 th) skor</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FLACC, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.FLACC_Keterangan, new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "", Value=""},
                            new SelectListItem() {Text = "0 ( Tidak Nyeri )", Value="0 ( Tidak Nyeri )"},
                            new SelectListItem() {Text = "1 - 3 ( Nyeri Ringan )", Value="1 - 3 ( Nyeri Ringan )"},
                            new SelectListItem() {Text = "4 - 6 ( Nyeri Sedang )", Value="4 - 6 ( Nyeri Sedang )"},
                            new SelectListItem() {Text = "7 - 10 ( Nyeri Berat )", Value="7 - 10 ( Nyeri Berat )"},
                        }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">
                        Penilaian Nyeri ( Memakai Confort Scale : Untuk Bayi, Anak dan Dewasa yang tidak dapat dinilai menggunakan Numeric Scala Wong Beker Faces Pain Scale)
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Skor </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PenilaianNyeriSkor, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.PenilaianNyeriSkor_Keterangan, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Ringan < 5", Value="Ringan < 5"},
                                    new SelectListItem() {Text = "Sedang 5-10", Value="Sedang 5-10"},
                                    new SelectListItem() {Text = "Berat > 10", Value="Berat > 10"},
                                }, new { @class = "form-control" })
                    </div>
                </div>

            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="control-label">PEMERIKSAAN FISIK</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Kepala</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_Kepala, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Mata</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_Mata, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">THT</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_THT, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Leher</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_Leher, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Dada</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_Dada, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Abdomen</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_Abdomen, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Punggung</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_Punggung, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Genetalia</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_Genetalia, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Ekstremitas</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanFisik_Ekstremitas, new { htmlAttributes = new { @Class = "form-control" } })
                    </div>
                </div>

            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="col-md-12">STATUS LOKASI / BEDAH</label>
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.StatusLokasiBedahBelakang)" name="IMG_@nameof(Model.StatusLokasiBedahBelakang)" src="~/Theme/images/4.jpg" width="50%" style="border:1px solid #ccc" />
                                <p class="text-muted no-margin no-padding">*) Klik pada images untuk masuk mode gambar</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="control-label col-md-12">HASIL PEMERIKSAAN PENUNJANG</label>
                    <label class="control-label col-md-2"> 1. Laboratorium</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.HasilPemeriksaanPenunjang_Laboratorium, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> 2. X-Ray</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.HasilPemeriksaanPenunjang_Xray, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> 3. EKG</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.HasilPemeriksaanPenunjang_EKG, new { @Class = "form-control" })
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">PEMERIKSAAN KHUSUS</label>
                        @Html.TextAreaFor(model => model.PemeriksaanKhusus, new { @Class = "form-control" })
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">DIAGNOSA KERJA / DIAGNOSA BANDING</label>
                        @Html.TextAreaFor(model => model.DiagnosaKerjaDanBanding, new { @Class = "form-control" })
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">ICD X</label>
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.PilihICD, Model.PilihICD == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PilihICD.ToString(), Text = Model.PilihICDNama } }, new { @class = "form-control", onchange = "icd()" })
                        @Html.ValidationMessageFor(model => model.PilihICD, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-7">
                        @Html.TextAreaFor(model => model.ICDX, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ICDX, "", new { @class = "text-danger" })
                    </div>

                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">TERAPI</label>
                            @Html.TextAreaFor(model => model.Terapi, new { @Class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-body">
                @Html.Partial("~/Views/EMRPengkajianMedisIGD/_detail_rencana_kerja.cshtml")
            </div>

            <div class="panel panel-body">

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-2">KONSULTASI</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Konsultasi, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Telepon", Value="Telepon"},
                                    new SelectListItem() {Text = "Datang", Value="Datang"},
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Konsultasi_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Konsultasi_Jam != null ? Model.Konsultasi_Jam.Value.ToString("HH:mm") : "") : "") } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Kepada Yth. TS. Dr
                            </label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Konsultasi_Kepada, Model.Konsultasi_Kepada == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                           { new SelectListItem() { Value = Model.Konsultasi_Kepada, Text = Model.Konsultasi_KepadaNama }
                                }, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                Dengan Hormat,
                            </label>
                            <label class="control-label col-md-12">
                                Kami Konsulkan Pasien diatas dengan :
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Konsultasi_Keterangan, new { @class = "form-control" })
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                Mohon penanganan dan Evaluasi lebih lanjut atas kerjasamanya kami ucapkan Terima Kasih
                            </label>
                        </div>
                        <div class="form-group text-center">
                            <label class="control-label col-md-12 text-center">
                                Hormat Kami @if (Model.VerifikasiKonsultasi_HormatKami)
                                {<i class="icon-checkmark-circle text-blue"></i>}
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Konsultasi_HormatKami, Model.Konsultasi_HormatKami == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                           { new SelectListItem() { Value = Model.Konsultasi_HormatKami, Text = Model.Konsultasi_HormatKamiNama }
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 text-right">
                                <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Konsultasi_HormatKami)','@nameof(Model.VerifikasiKonsultasi_HormatKami)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-4">JAWABAN KONSULTASI</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.JawabanKonsultasi, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "", Value=""},
                                    new SelectListItem() {Text = "Telepon", Value="Telepon"},
                                    new SelectListItem() {Text = "Datang", Value="Datang"},
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.JawabanKonsultasi_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JawabanKonsultasi_Jam != null ? Model.JawabanKonsultasi_Jam.Value.ToString("HH:mm") : "") : "") } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Kepada Yth. TS. Dr 
                            </label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.JawabanKonsultasi_Kepada, Model.JawabanKonsultasi_Kepada == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                           { new SelectListItem() { Value = Model.JawabanKonsultasi_Kepada, Text = Model.JawabanKonsultasi_KepadaNama }
                                }, new { @class = "form-control" })
                            </div>
                           
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                Dengan Hormat,
                            </label>
                            <label class="control-label col-md-12">
                                Berdasarkan Hasil Pemeriksaan pada pasien tersebut, kami dapatkan :
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.JawabanKonsultasi_Keterangan, new { @class = "form-control" })
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                Terima Kasih
                            </label>
                        </div>
                        <div class="form-group text-center">
                            <label class="control-label col-md-12 text-center">
                                Hormat Kami @if (Model.VerifikasiJawabanKonsultasi_HormatKami)
                                {<i class="icon-checkmark-circle text-blue"></i>}
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.JawabanKonsultasi_HormatKami, Model.JawabanKonsultasi_HormatKami == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                           { new SelectListItem() { Value = Model.JawabanKonsultasi_HormatKami, Text = Model.JawabanKonsultasi_HormatKamiNama }
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 text-right">
                                <a class="btn btn-success" onclick="verifikasi('@nameof(Model.JawabanKonsultasi_HormatKami)','@nameof(Model.VerifikasiJawabanKonsultasi_HormatKami)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="panel panel-body">
                @Html.Partial("~/Views/EMRPengkajianMedisIGD/_detail_observasi.cshtml")
            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="col-md-2 control-label">KONDISI SAAT KELUAR IGD</label>
                    <label class="col-md-1 control-label">Jam</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.KondisiKeluar_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.KondisiKeluar_Jam != null ? Model.KondisiKeluar_Jam.Value.ToString("HH:mm") : "") : "") } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keadaan Umum</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.KondisiKeluar_KeadaanUmum, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="col-md-1 control-label">Kesadaran</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.KondisiKeluar_Kesadaran, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tanda Vital : TD</label>
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.KondisiKeluar_TD, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="col-md-1 control-label">Suhu</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.KondisiKeluar_Suhu, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="col-md-1 control-label">Nadi</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.KondisiKeluar_Nadi, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="col-md-1 control-label">Nafas</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.KondisiKeluar_Nafas, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Catatan Penting</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KondisiKeluar_Catatan, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>

            <div class="panel panel-body">

                <div class="form-group mb-20">
                    <div class="col-md-12">
                        <label class="control-label">
                            PEMBERIAN KOMUNIKASI, INFORMASI DAN EDUKASI (KIE) TENTANG
                        </label>
                        @Html.TextAreaFor(model => model.PemberianKomunikasi, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Jaga  @if (Model.VerifikasiDokterJaga)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DokterJaga, Model.DokterJaga == null ? new List<SelectListItem>() : new List<SelectListItem>()
                               { new SelectListItem() { Value = Model.DokterJaga, Text = Model.DokterJagaNama }
                        }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DokterJaga)','@nameof(Model.VerifikasiDokterJaga)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pasien/ Keluarga
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PasienKeluarga, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary  btn-sm @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar7()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar7()">Ulang</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">

                <div class="form-group">
                    <label class="col-md-12">
                        TINDAK LANJUT
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label checkbox-inline">
                        @Html.EditorFor(model => model.Tindak_Dipulangkan) Dipulangkan
                    </label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dipulangkan_KIE) KEI
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dipulangkan_Obat) Obat Pulang
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dipulangkan_Lab) Laboratorium
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dipulangkan_Ront) Foto Rontgen
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dipulangkan_Kontrol) Kontrol Poli
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label checkbox-inline">
                        @Html.EditorFor(model => model.Tindak_PulangPaksa) Pulang Paksa
                    </label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_PulangPaksa_KIE) KEI
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_PulangPaksa_TandaTangan) Tanda Tangan Pernyataan Pulang Paksa
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label checkbox-inline">
                        @Html.EditorFor(model => model.Tindak_RawatInap) Rawat Inap
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Tindak_RawatInap_Ket, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="col-md-1 control-label">
                        Indikasi
                    </label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Tindak_RawatInap_Indikasi, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label checkbox-inline">
                        @Html.EditorFor(model => model.Tindak_Dirujukke)Dirujuk Ke
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tindak_Dirujukke_Ket, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label checkbox-inline">
                        @Html.EditorFor(model => model.Tindak_Meninggal) Meninggal
                    </label>
                    <label class="col-md-2 control-label">
                        Dinyatakan Meninggal Pukul
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Tindak_Meninggal_Jam, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label checkbox-inline">
                        @Html.EditorFor(model => model.Tindak_Minggat) Minggat
                    </label>
                    <label class="col-md-2 control-label">
                        Dinyatakan minggat Pukul
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Tindak_Minggat_Jam, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label checkbox-inline">
                        @Html.EditorFor(model => model.Tindak_Dilaporkan) Dilaporkan Ke
                    </label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dilaporkan_Satpam) Satpam
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dilaporkan_Supervisi) Supervisi
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dilaporkan_MOD) MOD
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Tindak_Dilaporkan_Humas) HUMAS
                        </label>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Jaga @if (Model.VerifikasiDokterJagaID)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DokterJagaID, Model.DokterJagaID == null ? new List<SelectListItem>() : new List<SelectListItem>()
                              { new SelectListItem() { Value = Model.DokterJagaID, Text = Model.DokterJagaIDNama }
                       }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DokterJagaID)','@nameof(Model.VerifikasiDokterJagaID)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @Html.HiddenFor(m => m.StatusLokasiBedahBelakang)

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                            Simpan Template
                        </label>
                        <input type="text" name="@nameof(Model.nama_template)" id="@nameof(Model.nama_template)" class="form-control" value="" />
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function icd() {
        var icdvalue = "";
        var icdpilih = "";
        icdvalue = $('#ICDX').val();
        icdpilih = $('#PilihICD').val();
        $('#ICDX').val(icdvalue + (icdpilih == null ? '' : '\n' + icdpilih));
        $("#ICDX").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
        });
    }

    function clickgambar7() {
        $('#IMG_TTDPasien').click()
    }

    function ulanggambar7() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPasien').click()
    }

    var iGambar;
    var iGambar7;

    var ximg_Gambar = $('#IMG_@nameof(Model.StatusLokasiBedahBelakang)');
    var ximg_Gambar7 = $('#IMG_@nameof(Model.TTDPasien)');

    @if (Model != null)
    {
        if (Model.StatusLokasiBedahBelakang != null)
        {
            @:ximg_Gambar.attr('src', 'data:image/jpeg;base64,@(Model.StatusLokasiBedahBelakang)');
        }
        if (Model.TTDPasien != null)
        {
            @:ximg_Gambar7.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
    }

    $(document).ready(function () {
        icd();

        iGambar = new iPainter_V2(ximg_Gambar);
        iGambar7 = new iPainter_V2(ximg_Gambar7);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });

    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.StatusLokasiBedahBelakang)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar.convert_V2('StatusLokasiBedahBelakang');
            iGambar7.convert_V2('TTDPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    generalICD("#@formName #PilihICD");
    generalDokter("#@formName #@nameof(Model.Konsultasi_Kepada)");
    generalDokter("#@formName #@nameof(Model.JawabanKonsultasi_Kepada)");
    generalDokter("#@formName #@nameof(Model.JawabanKonsultasi_HormatKami)");
    generalDokter("#@formName #@nameof(Model.Konsultasi_HormatKami)");
    generalDokter("#@formName #@nameof(Model.DokterJaga)");
    generalDokter("#@formName #@nameof(Model.DokterJagaID)");

</script>

<script>
    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("a").closest("th").addClass("hidden");
            $("#@formName").find("a").closest("td").addClass("hidden");
            $("#@formName").find("button").attr("disabled", true);
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoBukti";
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }
</script>
