﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMRKunjunganPoliklinik";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    #region ==== Detail 1
    var d_tbl_detail_1 = $"frm_table_detaildetail_1";
    int d_idx_detail_1 = 0;
    var d_trg_detail_1 = $"input_target_detaildetail_1";
    if (Model != null)
    {
        if (Model.EMRKunjunganPoliklinik_List != null)
        {
            d_idx_detail_1 = Model.EMRKunjunganPoliklinik_List.Count();
        }
    }
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
}

<style>
    #@d_tbl_detail_1 thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_detail_1 thead th:nth-child(1),
    #@d_tbl_detail_1 tbody td:nth-child(1){
        text-align:center;
        display:none;
    }

    #@d_tbl_detail_1 thead th:nth-child(2),
    #@d_tbl_detail_1 tbody td:nth-child(2){
        width: 80px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(3),
    #@d_tbl_detail_1 tbody td:nth-child(3){
        display:none;
    }
    #@d_tbl_detail_1 thead th:nth-child(4),
    #@d_tbl_detail_1 tbody td:nth-child(4){
        width: 80px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(5),
    #@d_tbl_detail_1 tbody td:nth-child(5) {
        width: 80px;
    }
    #@d_tbl_detail_1 thead th:nth-child(6),
    #@d_tbl_detail_1 tbody td:nth-child(6){
        width: 80px;
        text-align:center;
    }
    #@d_tbl_detail_1 thead th:nth-child(7),
    #@d_tbl_detail_1 tbody td:nth-child(7){
        width: 200px;
    }
    #@d_tbl_detail_1 thead th:nth-child(8),
    #@d_tbl_detail_1 tbody td:nth-child(8){
        width: 200px;
    }
    #@d_tbl_detail_1 thead th:nth-child(9),
    #@d_tbl_detail_1 tbody td:nth-child(9){
        width: 200px;
    }
</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoBukti)


            <div id="panel_@formName" class="panel panel-body detail collapse in" style=" padding: 0;"
                 data-index-detail="@d_idx_detail_1">
                <div class="table-responsive">
                    <table id="@d_tbl_detail_1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" onclick="checkall(this)" />
                                </th>
                                <th class="text-center" rowspan="2">
                                    <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_detail_1')">
                                        <i class="icon-plus2"></i>
                                    </a>
                                </th>
                                <th></th>
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>Jam</th>
                                <th>Klinik Yang Di Kunjungi</th>
                                <th>(S-O-A-P)</th>
                                <th>Intruksi</th>
                                <th>Petugas</th>
                                <th>Tanda Tangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.EMRKunjunganPoliklinik_List != null)
                                {
                                    for (var i = 0; i < Model.EMRKunjunganPoliklinik_List.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" />
                                            </td>

                                            <td>
                                                <a class="text-danger-600"
                                                   onclick="removetr(this)">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[i].Remove,
                                                new { htmlAttributes = new { @class = "disable-reset" } })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[i].Model.No, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm text-center",
                                                       @readonly = "readonly"
                                                   }
                                               })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[i].Model.Tanggal, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.EMRKunjunganPoliklinik_List[i].Model.Tanggal != null ? Model.EMRKunjunganPoliklinik_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                   }
                                               })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[i].Model.Jam, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.EMRKunjunganPoliklinik_List[i].Model.Jam != null ? Model.EMRKunjunganPoliklinik_List[i].Model.Jam.Value.ToString("HH:mm") : "") : "")
                                                   }
                                               })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[i].Model.Poliklinik, new
                                           {
                                               htmlAttributes = new
                                               {
                                                   @class = "form-control input-sm",
                                                   @Value = Request.Cookies["EMRSectionNamaPelayanan"].Value,
                                                   @readonly = "readonly"
                                               }
                                           })
                                            </td>

                                            <td>
                                                @Html.TextAreaFor(model => model.EMRKunjunganPoliklinik_List[i].Model.SOAP, new { })
                                            </td>

                                            <td>
                                                @Html.TextAreaFor(model => model.EMRKunjunganPoliklinik_List[i].Model.Intruksi, new { @class = "form-control" })
                                            </td>

                                            @{
                                                var _lstNamaTerang = new List<SelectListItem>();
                                                if (Model.EMRKunjunganPoliklinik_List[i].Model != null)
                                                {
                                                    if (Model.EMRKunjunganPoliklinik_List[i].Model.Petugas != null)
                                                    {
                                                        _lstNamaTerang.Add(new SelectListItem()
                                                        {
                                                            Value = Model.EMRKunjunganPoliklinik_List[i].Model.Petugas,
                                                            Text = Model.EMRKunjunganPoliklinik_List[i].Model.PetugasNama
                                                        });
                                                    }
                                                }
                                            }
                                            <td>
                                                @Html.DropDownListFor(model => model.EMRKunjunganPoliklinik_List[i].Model.Petugas, _lstNamaTerang, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @if (Model.EMRKunjunganPoliklinik_List[i].Model.TandaTangan == null)
                                                {
                                                    <div class="img-thumbnail m-10" style="display:none;">
                                                        <img src="~/Theme/images/TandaTangan.png" id="IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" style="width:100%;" alt="Tempat Tanda Tangan" />
                                                    </div>
                                                    <div class="col-md-12 text-center">
                                                        @*<a id="IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" class="btn btn-primary btn-sm IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" onclick="showpanelttd(this)"><i class="icon-pen position-left"></i>Tanda Tangan</a>*@
                                                        <a id="IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" class="btn btn-danger btn-sm IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" onclick="ulanggambar(this)"><i class="icon-eraser position-left"></i>Ulang</a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="img-thumbnail m-10">
                                                        <img src="data:image/jpeg;base64,@(Model.EMRKunjunganPoliklinik_List[i].Model.TandaTangan)" id="IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" onclick="showpanelttd(this, 'TandaTangan')" style="width:100%;" alt="Tempat Tanda Tangan" />
                                                    </div>
                                                    <div class="col-md-12 text-center">
                                                        @*<a id="IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" src="data:image/jpeg;base64,@(Model.EMRKunjunganPoliklinik_List[i].Model.TandaTangan)" class="btn-flash btn btn-primary btn-sm IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" ><i class="icon-pen position-left"></i>Tanda Tangan</a>*@
                                                        <a id="IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" class="btn btn-danger btn-sm IMG_EMRKunjunganPoliklinik_List_@(i)__Model_TandaTangan" onclick="ulanggambar(this)"><i class="icon-eraser position-left"></i>Ulang</a>
                                                    </div>
                                                }
                                                @Html.HiddenFor(model => model.EMRKunjunganPoliklinik_List[i].Model.TandaTangan)
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                @*@if (Model.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFKunjunganPoliklinik", new { nobukti = Model.NoBukti })" target="_blank"
                           class="btn btn-success" @(Model.NoBukti == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }*@
            </div>
        </div>
    }

</div>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    @if (Model != null)
    {
        if (Model.EMRKunjunganPoliklinik_List != null)
        {
            for (var i = 0; i < Model.EMRKunjunganPoliklinik_List.Count; i++)
            {
                @:customrowdetail_detail_1_List(@i, { target: $('#@d_tbl_detail_1 thead a i')[0] }, '@d_trg_detail_1', false);
                @:customrowdetailKunjunganPoliTTD_Detail(@i, { target: $('#@d_tbl_detail_1 thead a i')[0] }, '@d_trg_detail_1', false);
            }

        }
    }

    function customrowdetail_detail_1_List(index_detail, _this, inputtarget, autofocus) {
        var namaterang = '#panel_@formName #EMRKunjunganPoliklinik_List_' + index_detail +'__Model_Petugas';
        generalDokter(namaterang);
    }

    function customrowdetailKunjunganPoliTTD_Detail(index_detail, _this, inputtarget, autofocus) {
        var idttd = 'IMG_EMRKunjunganPoliklinik_List_' + index_detail + '__Model_TandaTangan';
        $('#IMG_EMRKunjunganPoliklinik_List_' + index_detail + '__Model_TandaTangan').id = idttd;
        //$('#panel_detaiforma').find('img')[0].id = idttd;
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        customrowdetail_detail_1_List(index_detail, _this, inputtarget, autofocus);
        customrowdetailKunjunganPoliTTD_Detail(index_detail, _this, inputtarget, autofocus);
    }
</script>

@{
    if (Model != null)
    {

        Model.EMRKunjunganPoliklinik_List = null;
    }
}

<div id="@d_trg_detail_1" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH:mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRKunjunganPoliklinik_List[-1].Model.Poliklinik, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @Value = Request.Cookies["EMRSectionNamaPelayanan"].Value,
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRKunjunganPoliklinik_List[-1].Model.SOAP, new { })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRKunjunganPoliklinik_List[-1].Model.Intruksi, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMRKunjunganPoliklinik_List[-1].Model.Petugas,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        <div class="img-thumbnail m-10">
            <div>
                <img id="IMG_EMRKunjunganPoliklinik_List_-1__Model_TandaTangan" src="~/Theme/images/TandaTangan.png" onclick="showpanelttd(this, 'TandaTangan')" style="width:100%;" alt="Tempat Tanda Tangan" />
            </div>
        </div>
        <div class="col-md-12 text-center">
            <a id="IMG_EMRKunjunganPoliklinik_List_-1__Model_TandaTangan" class="btn btn-danger btn-sm" onclick="ulanggambar(this)"><i class="icon-eraser position-left"></i>Ulang</a>
            @Html.HiddenFor(model => model.EMRKunjunganPoliklinik_List[-1].Model.TandaTangan)
        </div>
    </div>
</div>
<script>
    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("a").closest("th").addClass("hidden");
            $("#@formName").find("a").closest("td").addClass("hidden");
            $("#@formName").find("button").attr("disabled", true);
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>


