﻿@using EMRRSCB.Models
@model EMRPemberianInformasiPemasanganKateterViewModel
@{
    var controllerName = "EMRPemberianInformasiPemasanganKateter";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDPasien)
        @Html.HiddenFor(model => model.VerifikasiPetugas)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Pelaksana Tindakan
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.DokterPelaksanaTIndakan, Model.DokterPelaksanaTIndakan == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterPelaksanaTIndakan.ToString(), Text = Model.DokterPelaksanaTIndakanNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterPelaksanaTIndakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pemberian Informasi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemberiInformasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemberiInformasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Penerima Informasi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PenerimaInformasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenerimaInformasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <table id="tablecustom" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>JENIS INFORMASI</th>
                                <th>ISI INFORMASI</th>
                                <th>TANDA(V)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Diagnosa (WD & DD)</td>
                                <td>
                                    @Html.EditorFor(model => model.DiagnosaKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiagnosaKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Diagnosa, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Dasar Diagnosis</td>
                                <td>
                                    @Html.EditorFor(model => model.DasarDiagnosaKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DasarDiagnosaKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.DasarDiagnosa, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tindakan Kedokteran</td>
                                <td>
                                    @Html.EditorFor(model => model.TindakanKedokteranKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TindakanKedokteranKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.TindakanKedokteran, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Indikasi Tindakan</td>
                                <td>
                                    @Html.EditorFor(model => model.IndikasiTindakanKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IndikasiTindakanKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.IndikasiTindakan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Tata Cara</td>
                                <td>
                                    @Html.EditorFor(model => model.TataCaraKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TataCaraKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.TataCara, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Tujuan</td>
                                <td>
                                    @Html.EditorFor(model => model.TujuanKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TujuanKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Tujuan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Risiko</td>
                                <td>
                                    @Html.EditorFor(model => model.RisikoKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RisikoKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Risiko, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Komplikasi</td>
                                <td>
                                    @Html.EditorFor(model => model.KomplikasiKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.KomplikasiKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Komplikasi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Prognosis</td>
                                <td>
                                    @Html.EditorFor(model => model.PrognosisKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrognosisKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Prognosis, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Alternatif & Risiko</td>
                                <td>
                                    @Html.EditorFor(model => model.AlternatifDanRisikoKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AlternatifDanRisikoKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.AlternatifDanRisiko, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Lain- Lain</td>
                                <td>
                                    @Html.EditorFor(model => model.LainLainKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LainLainKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.LainLain, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="form-group">
                    <label class="col-md-7">
                        Dengan ini menyatakan bahwa saya telah menerangkan hal-hal diatas secara benar dan jelas dan memberikan kesempatan untuk bertanya dan atau berdiskusi @if (Model.VerifikasiPetugas)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.TelahMenerangkan, Model.TelahMenerangkan == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.TelahMenerangkan.ToString(), Text = Model.TelahMenerangkanNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TelahMenerangkan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.TelahMenerangkan)','@nameof(Model.VerifikasiPetugas)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-7">Dengan ini menyatakan bahwa saya telah menerima informasi sebagaimana diatas yang saya beri tanda/ paraf kolom kanannya dan telah memahaminya</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.TelahMenerima, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TelahMenerima, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-right btn-sm @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan <i class="icon-quill2 position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Bila pasien tidak kompeten atau tidak mau menerima informasi maka penerima informasi adalah wali atau keluarga terdekat</label>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function clickgambar1() {
        $('#IMG_TTDPasien').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPasien').click()
    }

    generalDokter("#@formName #DokterPelaksanaTIndakan");
    generalDokter("#@formName #TelahMenerangkan");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDPasien)');

    @if (Model != null)
    {
        if (Model.TTDPasien != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPasien)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


