﻿@using EMRRSCB.Models
@model EMRRI_PengkajianAwalMedisKeperawatanBedahNonTraumaViewModel
@{
    var controllerName = "EMRRI_PengkajianAwalMedisKeperawatanBedahNonTrauma";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Rencana Kerja
    var d_tbl_RencanaKerja = $"frm_table_detailRencanaKerjaPoliBedahNonTraumaRI";
    int d_idx_RencanaKerja = 0;
    var d_trg_RencanaKerja = $"input_target_detailRencanaKerjaPoliBedahNonTraumaRI";
    if (Model != null)
    {

        if (Model.RencanaKerja_List != null)
        {
            d_idx_RencanaKerja = Model.RencanaKerja_List.Count();
        }
    }
    #endregion
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_RencanaKerja thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(1),
    #@d_tbl_RencanaKerja tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(2),
    #@d_tbl_RencanaKerja tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(3),
    #@d_tbl_RencanaKerja tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(4),
    #@d_tbl_RencanaKerja tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(5),
    #@d_tbl_RencanaKerja tbody td:nth-child(5) {
        width: 170px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(6),
    #@d_tbl_RencanaKerja tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(7),
    #@d_tbl_RencanaKerja tbody td:nth-child(7) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(8),
    #@d_tbl_RencanaKerja tbody td:nth-child(8) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(9),
    #@d_tbl_RencanaKerja tbody td:nth-child(9) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(10),
    #@d_tbl_RencanaKerja tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(11),
    #@d_tbl_RencanaKerja tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(12),
    #@d_tbl_RencanaKerja tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(13),
    #@d_tbl_RencanaKerja tbody td:nth-child(13) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(14),
    #@d_tbl_RencanaKerja tbody td:nth-child(14) {
        text-align: center;
        width: 100px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDDPJP)
        @Html.HiddenFor(model => model.VerifikasiDPJP)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-offset-8 col-md-1">Template</label>
                    <div class="col-md-2">
                        <select id="listTemplateDokumen" class="form-control">
                            <option value="0"></option>
                            @if (Model.ListTemplate != null)
                            {
                                foreach (var x in Model.ListTemplate)
                                {
                                    @: <option value="@x.Value">@x.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Tanggal :
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-md-1">
                        Jam:
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.JamDatang, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamDatang != null ? Model.JamDatang.Value.ToString("HH':'mm") : "") : "") } })
                        @Html.ValidationMessageFor(model => model.JamDatang, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 text-bold">ANAMNESA</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keluhan Utama</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaKeluhanUtama, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaKeluhanUtama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Penyakit Sekarang</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaPenyakitSekarang, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaPenyakitSekarang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Penyakit Dahulu</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaPenyakitDahulu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaPenyakitDahulu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Alergi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaRiwayatAlergi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaRiwayatAlergi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Penyakit Keluarga</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaPenyakitKeluarga, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaPenyakitKeluarga, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Pengobatan</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaPengobatan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaPengobatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Oprasi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaRiwayatOperasi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaRiwayatOperasi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Transfusi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaRiwayatTranfusi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaRiwayatTranfusi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-3 control-label text-bold">SKRINING NYERI</label>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label">Nyeri</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SkriningNyeriNyeri, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-7 control-label text-bold">Pengkajian nyeri(Numberic Rating Scala/ Wong Baker Face Pain Scale untuk dewasa dan anak lebih > 9) :</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.SkriningNyeriPengkajianNyeri, StaticModel.List1sampai10, new { @class = "form-control", onchange = "pengkajiannyeriskor()" })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriPengkajianNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Intensitas Nyeri</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.SkriningNyeriIntensitasNyeri, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriIntensitasNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Penilaian Nyeri(Mamakai Comfort Scale: untuk bayi, anak dan dewasa yang tidak dapat dinilai menggunakan Numberic Rating Scale/ Wong Baker Faces Pain Scale)</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Skor :</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.SkriningNyeriPenilaianNyeri, new { htmlAttributes = new { @class = "form-control", onchange = "penilaiannyeriskor()" } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriPenilaianNyeri, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SkriningNyeriPengkajianNyeriSkor, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriPengkajianNyeriSkor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Asessmen Nyeri :</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Onset :</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SkriningNyeriOnset, StaticModel.ListUnset, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriOnset, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Sejak Kapan:</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.SkriningNyeriOnsetSejakKapan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriOnsetSejakKapan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kualitas Nyeri :</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SkriningNyeriKualitasNyeri, StaticModel.ListBenturanLainnya, new { @class = "form-control", onchange = "pengkajiannyeriskor()" })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriKualitasNyeri, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SkriningNyeriKualitasNyeriLainnya, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriKualitasNyeriLainnya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Regio Nyeri :</label>
                    <label class="col-md-2 control-label">Lokasi :</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SkriningNyeriRegioNyeriLokasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriRegioNyeriLokasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nyeri Menjalar :</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SkriningNyeriNyeriMenjalar, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "pengkajiannyeriskor()" })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriNyeriMenjalar, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Kemana :</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.SkriningNyeriNyeriMenjalarKemana, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriNyeriMenjalarKemana, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Skala Nyeri :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SkriningNyeriNyeriSkalaNyeri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriNyeriSkalaNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Timing Nyeri :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SkriningNyeriNyeriTimingNyeri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriNyeriTimingNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nyeri Datang:</label>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SkriningNyeriNyeriDatangSaatIstirahat, new { htmlAttributes = new { } })
                            Istirahat
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SkriningNyeriNyeriDatangSaatBeraktifitas, new { htmlAttributes = new { } })
                            Beraktifitas
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SkriningNyeriNyeriDatangSaatLainnya, new { htmlAttributes = new { } })
                            Lainnya Sebutkan
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.SkriningNyeriNyeriDatangSaatLainnyaSebutkan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriNyeriDatangSaatLainnyaSebutkan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nyeri Membaik, Bila:</label>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SkriningNyeriNyeriMembaikBilaIstirahat, new { htmlAttributes = new { } })
                            Istirahat
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SkriningNyeriNyeriMembaikBilaMendengarMusik, new { htmlAttributes = new { } })
                            Mendengar Musik
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SkriningNyeriNyeriMembaikBilaMendengarBerubahPosisiTidur, new { htmlAttributes = new { } })
                            Berubah Posisi Tidur
                        </label>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.SkriningNyeriNyeriMembaikBilaMendengarMinumObat, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Minum Obat
                            </label>
                            @Html.EditorFor(model => model.SkriningNyeriNyeriMembaikBilaMendengarMinumObatKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SkriningNyeriNyeriMembaikBilaMendengarMinumObatKet, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.SkriningNyeriNyeriMembaikBilaMendengarLainnya, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Lain-Lain
                            </label>
                            @Html.EditorFor(model => model.SkriningNyeriNyeriMembaikBilaMendengarLainnyaSebutkan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SkriningNyeriNyeriMembaikBilaMendengarLainnyaSebutkan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Frekwensi Nyeri:</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SkriningNyeriFrekuensiNyeri, StaticModel.ListTerusmenerus, new { @class = "form-control", onchange = "pengkajiannyeriskor()" })
                        @Html.ValidationMessageFor(model => model.SkriningNyeriFrekuensiNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*<div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">PEMERIKSAAN FISIK</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tanda Vital :</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Tekanan Darah</label>
                            @Html.EditorFor(model => model.PemeriksaanFisikTekananDarah, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisikTekananDarah, "", new { @class = "text-danger" })
                            <label class="input-group-addon">mm/Hg</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Respirasi</label>
                            @Html.EditorFor(model => model.PemeriksaanFisikRR, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisikRR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Nadi</label>
                            @Html.EditorFor(model => model.PemeriksaanFisikNadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisikNadi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-2">
                        <div class="input-group">
                            <label class="input-group-addon">Suhu</label>
                            @Html.EditorFor(model => model.PemeriksaanFisikSuhu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisikSuhu, "", new { @class = "text-danger" })
                            <label class="input-group-addon">C</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">BB</label>
                            @Html.EditorFor(model => model.PemeriksaanFisikBB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisikBB, "", new { @class = "text-danger" })
                            <label class="input-group-addon">kg</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">TB</label>
                            @Html.EditorFor(model => model.PemeriksaanFisikTB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisikTB, "", new { @class = "text-danger" })
                            <label class="input-group-addon">cm</label>
                        </div>
                    </div>
                </div>
            </div>*@

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">PEMERIKSAAN FISIK</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12 text-bold">
                        TANDA-TANDA VITAL
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Keadaan Umum :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TandaVitalKeadaanUmum, StaticModel.ListBaikSedangLemahJelek, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TandaVitalKeadaanUmum, "", new { @class = "text-danger" })
                    </div>

                    <label class="col-md-2 control-label">
                        Gizi :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TandaVitalGizi, StaticModel.ListBaikSedangLemahJelek, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TandaVitalGizi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                GCS : E
                            </label>
                            @Html.EditorFor(model => model.TandaVitalGCS_E, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalGCS_E, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                V
                            </label>
                            @Html.EditorFor(model => model.TandaVitalGCS_V, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalGCS_V, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                M
                            </label>
                            @Html.EditorFor(model => model.TandaVitalGCS_M, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalGCS_M, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tindakan Resusitasi:
                            </label>
                            @Html.DropDownListFor(model => model.TandaVitalTindakanResusitasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TandaVitalTindakanResusitasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tensi:
                            </label>
                            @Html.EditorFor(model => model.TandaVitalTensi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalTensi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Respirasi:
                            </label>
                            @Html.EditorFor(model => model.TandaVitalRR, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalRR, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                x/mnt
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Nadi:
                            </label>
                            @Html.EditorFor(model => model.TandaVitalNadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalNadi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Berat Badan:
                            </label>
                            @Html.EditorFor(model => model.TandaVitalBB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalBB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Suhu Axilla/ Rectal
                            </label>
                            @Html.EditorFor(model => model.TandaVitalSuhuAxilla, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalSuhuAxilla, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                <sup>o</sup>C /
                            </label>
                            @Html.EditorFor(model => model.TandaVitalSuhuRectal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalSuhuRectal, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                <sup>o</sup>C
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 text-bold">STATUS PSIKOLOGI</label>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Tenang, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tenang
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Cemas, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Cemas
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Marah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Marah
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Depresi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Depresi
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Gelisah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Gelisah
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Kooperatif, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Kooperatif
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.TidakKooperatif, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tidak Kooperatif
                        </label>
                    </div>
                </div>


            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">PEMERIKSAAN UMUM</label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PemeriksaanUmum_Kepala, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Kepala
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanUmum_KepalaKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanUmum_KepalaKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PemeriksaanUmum_Maxillofacial, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Maxillofacial
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanUmum_MaxillofacialKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanUmum_MaxillofacialKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PemeriksaanUmum_CSpine, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            C-Spine
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanUmum_CSpineKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanUmum_CSpineKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PemeriksaanUmum_Chest, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Chest
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanUmum_ChestKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanUmum_ChestKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PemeriksaanUmum_Abdomen, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Abdomen
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanUmum_AbdomenKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanUmum_AbdomenKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PemeriksaanUmum_Genital, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Genital
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanUmum_GenitalKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanUmum_GenitalKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PemeriksaanUmum_Rectal, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Rectal Toucher
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanUmum_RectalKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanUmum_RectalKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PemeriksaanUmum_Musculoskeletel, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Musculoskeletal
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemeriksaanUmum_MusculoskeletelKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemeriksaanUmum_MusculoskeletelKet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">Pengkajian Kebutuhan Khusus(Gigi, Pendengeran, Mata, dll)</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.PengkajianKebutuhanKhusus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PengkajianKebutuhanKhusus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-6 text-bold">HASIL PEMERIKSAAN PENUNJANG</label>
                    <label class="col-md-6 text-bold">PEMERIKSAAN KHUSUS</label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Laboratorium</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Laboratorium, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Laboratorium, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.PemeriksaanKhusus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemeriksaanKhusus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">X-Ray</label>
                    <label class="col-md-6">EKG</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Xray, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Xray, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.EKG, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EKG, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">DIAGNOSA KERJA/ DIAGNOSA BANDING</label>
                    <label class="col-md-6">ICD-X</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.DiagnosaKerja, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DiagnosaKerja, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PilihICD, Model.PilihICD == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PilihICD.ToString(), Text = Model.PilihICDNama } }, new { @class = "form-control", onchange = "icd()" })
                        @Html.ValidationMessageFor(model => model.PilihICD, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.ICDX, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ICDX, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Pengkajian Keperawatan: (Diisi oleh Perawat)</label>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.PengkajianKeperawatan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PengkajianKeperawatan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label text-bold text-center">Rencana Kerja Medis</label>
                </div>
                <div class="form-group">
                    <div id="panel_@formName" class="detail collapse in"
                         data-index-detail="@d_idx_RencanaKerja">
                        <div class="table-responsive">
                            <table id="@d_tbl_RencanaKerja" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_RencanaKerja')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Daftar Masalah</th>
                                        <th>Rencana Intervensi</th>
                                        <th>Target(Kondisi yang diharapkan)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.RencanaKerja_List != null)
                                        {
                                            for (var i = 0; i < Model.RencanaKerja_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.RencanaKerja_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.RencanaKerja_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.RencanaKerja_List[i].Model.DaftarMasalah, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.RencanaKerja_List[i].Model.RencanaIntervensi, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.RencanaKerja_List[i].Model.Target, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Terapi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Terapi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Terapi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">
                    DPJP @if (Model.VerifikasiDPJP)
                    {<i class="icon-checkmark-circle text-blue"></i>}
                </label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.DPJP, Model.DPJP == null ? new List<SelectListItem>() :
            new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJP.ToString(), Text = Model.DPJPNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DPJP, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2 text-right">
                    <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DPJP)','@nameof(Model.VerifikasiDPJP)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                            Simpan Template
                        </label>
                        <input type="text" name="@nameof(Model.nama_template)" id="@nameof(Model.nama_template)" class="form-control" value="" />
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function icd() {
        var icdvalue = "";
        var icdpilih = "";
        icdvalue = $('#ICDX').val();
        icdpilih = $('#PilihICD').val();
        $('#ICDX').val(icdvalue + (icdpilih == null ? '' : '\n' + icdpilih));
        $("#ICDX").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
        });
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }
</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.RencanaKerja_List = null;
        }
    }
}

<div id="@d_trg_RencanaKerja" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.RencanaKerja_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.RencanaKerja_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.RencanaKerja_List[-1].Model.DaftarMasalah, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.RencanaKerja_List[-1].Model.RencanaIntervensi, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.RencanaKerja_List[-1].Model.Target, new
   {
           @class = "form-control input-sm"
   })
    </div>
</div>

<script>
    function skrininggiziskor() {
        var skor1 = $('#@formName #SkriningGizi1').val();
        var skor2 = $('#@formName #SkriningGizi2').val();
        var skiningnilai = $('#@formName #SkriningGiziApakahAsupanMengalami').val();
        if (skiningnilai == "Tidak") {
            skor1 = 0;
            $('#@formName #SkriningGizi1').val(skor1);
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').prop('disabled', true);
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').val('');
        } else if (skiningnilai == "Tidak Yakin") {
            skor1 = 2;
            $('#@formName #SkriningGizi1').val(skor1);
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').prop('disabled', true);
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').val('');
        } else if (skiningnilai == "Ya") {
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').prop('disabled', false);
            skor1 = 0;
            $('#@formName #SkriningGizi1').val(skor1);
        }

        skiningnilailain =  $('#@formName #SkriningGiziApakahAsupanMengalamiKet').val();
        if (skiningnilailain == "1-5 kg") {
            skor1 = 1;
            $('#@formName #SkriningGizi1').val(skor1);
        } else if (skiningnilailain == "6-10 kg") {
            skor1 = 2;
            $('#@formName #SkriningGizi1').val(skor1);
        } else if (skiningnilailain == "11-15 kg") {
            skor1 = 3;
            $('#@formName #SkriningGizi1').val(skor1);
        } else if (skiningnilailain == "> 15 kg") {
            skor1 = 4;
            $('#@formName #SkriningGizi1').val(skor1);
        } else if (skiningnilailain == "Tidak tahu berapa kilogram penurunannya") {
            skor1 = 2;
            $('#@formName #SkriningGizi1').val(skor1);
        }

        var asupan = $('#@formName #SkriningGiziApakahAsupanMakan').val();
        if (asupan == "Tidak") {
            skor2 = 0;
            $('#@formName #SkriningGizi2').val(skor2);
        } else if (asupan == "Ya") {
            skor2 = 1;
            $('#@formName #SkriningGizi2').val(skor2);
        }



        var total = skor1 + skor2;
        $('#@formName #SkriningGiziTotalSkor').val(total);
        if (total >= 0 && total <= 1) {
            $('#@formName #SkriningGiziKriteriaGizi').val('Resiko Rendah');
        } else if (total >= 2 && total <= 3) {
            $('#@formName #SkriningGiziKriteriaGizi').val('Resiko Sedang');
        } else if (total >= 4 && total <= 5) {
            $('#@formName #SkriningGiziKriteriaGizi').val('Resiko Tinggi');
        }

    }

    function pengkajiannyeriskor() {
        var cekskor = $('#@formName #SkriningNyeriPengkajianNyeri').val();
        if (cekskor >= 1 && cekskor <= 3) {
            $('#@formName #SkriningNyeriIntensitasNyeri').val('Nyeri Ringan');
        } else if (cekskor >= 4 && cekskor <= 6) {
            $('#@formName #SkriningNyeriIntensitasNyeri').val('Nyeri Sedang');
        } else if (cekskor >= 7 && cekskor <= 10) {
            $('#@formName #SkriningNyeriIntensitasNyeri').val('Nyeri Berat');
        } else if (cekskor == 0 && cekskor == "") {
            $('#@formName #SkriningNyeriIntensitasNyeri').val('');
        }
    }

    function penilaiannyeriskor() {
        var cekskor = $('#@formName #SkriningNyeriPenilaianNyeri').val();
        if (cekskor >= 1 && cekskor <= 4) {
            $('#@formName #SkriningNyeriPengkajianNyeriSkor').val('Ringan');
        } else if (cekskor >= 5 && cekskor <= 10) {
            $('#@formName #SkriningNyeriPengkajianNyeriSkor').val('Sedang');
        } else if (cekskor > 10) {
            $('#@formName #SkriningNyeriPengkajianNyeriSkor').val('Berat');
        } else if (cekskor == 0 && cekskor == "") {
            $('#@formName #SkriningNyeriPengkajianNyeriSkor').val('');
        }
    }

    function assfungsional() {
        var skor1 = $("#@formName #AsesmenFungsional1Skor").val()
        if (skor1 == '0') {
            $('#@formName #AsesmenFungsional1Keterangan').val('Tak Terkendali/ tak teratur(perlu pencehar)');
            skor1 = 0;
            $('#@formName #AsesmenFungsional1NilaiSkor').val(skor1);
        } else if (skor1 == '1') {
            $('#@formName #AsesmenFungsional1Keterangan').val('Kadang-kadang tak terkendali (1x seminggu)');
            skor1 = 1;
            $('#@formName #AsesmenFungsional1NilaiSkor').val(skor1);
        } else if (skor1 == '2') {
            $('#@formName #AsesmenFungsional1Keterangan').val('Terkendali teratur');
            skor1 = 2;
            $('#@formName #AsesmenFungsional1NilaiSkor').val(skor1);
        }

        var skor2 = $('#@formName #AsesmenFungsional2Skor').val()
        if (skor2 == '0') {
            $('#@formName #AsesmenFungsional2Keterangan').val('Tak Terkendali atau pakai kateter');
            skor2 = 0;
            $('#@formName #AsesmenFungsional2NilaiSkor').val(skor2);
        } else if (skor2 == '1') {
            $('#@formName #AsesmenFungsional2Keterangan').val('Kadang-kadang tak terkendali(hanya 1x 24 jam)');
            skor2 = 1;
            $('#@formName #AsesmenFungsional2NilaiSkor').val(skor2);
        } else if (skor2 == '2') {
            $('#@formName #AsesmenFungsional2Keterangan').val('Mandiri');
            skor2 = 2;
            $('#@formName #AsesmenFungsional2NilaiSkor').val(skor2);
        }

        var skor3 = $('#@formName #AsesmenFungsional3Skor').val()
        if (skor3 == '0') {
            $('#@formName #AsesmenFungsional3Keterangan').val('Butuh pertolongan orang lain');
            skor3 = 0;
            $('#@formName #AsesmenFungsional3NilaiSkor').val(skor3);
        } else if (skor3 == '1') {
            $('#@formName #AsesmenFungsional3Keterangan').val('Mandiri');
            skor3 = 1;
            $('#@formName #AsesmenFungsional3NilaiSkor').val(skor3);
        }

        var skor4 = $('#@formName #AsesmenFungsional4Skor').val()
        if (skor4 == '0') {
            $('#@formName #AsesmenFungsional4Keterangan').val('Tergantung pertolongan orang lain');
            skor4 = 0;
            $('#@formName #AsesmenFungsional4NilaiSkor').val(skor4);
        } else if (skor4 == '1') {
            $('#@formName #AsesmenFungsional4Keterangan').val('Perlu pertolongan pada beberapa kegiatan tetapi dapat mengerjakan sendiri beberapa kegiatan yang lain');
            skor4 = 1;
            $('#@formName #AsesmenFungsional4NilaiSkor').val(skor4);
        } else if (skor4 == '2') {
            $('#@formName #AsesmenFungsional4Keterangan').val('Mandiri');
            skor4 = 2;
            $('#@formName #AsesmenFungsional4NilaiSkor').val(skor4);
        }

        var skor5 = $('#@formName #AsesmenFungsional5Skor').val()
        if (skor5 == '0') {
            $('#@formName #AsesmenFungsional5Keterangan').val('Tidak Mampu');
            skor5 = 0;
            $('#@formName #AsesmenFungsional5NilaiSkor').val(skor5);
        } else if (skor5 == '1') {
            $('#@formName #AsesmenFungsional5Keterangan').val('Perlu ditolong memotong makanan');
            skor5 = 1;
            $('#@formName #AsesmenFungsional5NilaiSkor').val(skor5);
        } else if (skor5 == '2') {
            $('#@formName #AsesmenFungsional5Keterangan').val('Mandiri');
            skor5 = 2;
            $('#@formName #AsesmenFungsional5NilaiSkor').val(skor5);
        }

        var skor6 = $('#@formName #AsesmenFungsional6Skor').val()
        if (skor6 == '0') {
            $('#@formName #AsesmenFungsional6Keterangan').val('Tidak Mampu');
            skor6 = 0;
            $('#@formName #AsesmenFungsional6NilaiSkor').val(skor6);
        } else if (skor6 == '1') {
            $('#@formName #AsesmenFungsional6Keterangan').val('Perlu banyak bantuan untuk bisa duduk(2 orang)');
            skor6 = 1;
            $('#@formName #AsesmenFungsional6NilaiSkor').val(skor6);
        } else if (skor6 == '2') {
            $('#@formName #AsesmenFungsional6Keterangan').val('Bantuan minimal 1 orang');
            skor6 = 2;
            $('#@formName #AsesmenFungsional6NilaiSkor').val(skor6);
        } else if (skor6 == '3') {
            $('#@formName #AsesmenFungsional6Keterangan').val('Mandiri');
            skor6 = 3;
            $('#@formName #AsesmenFungsional6NilaiSkor').val(skor6);
        }

        var skor7 = $('#@formName #AsesmenFungsional7Skor').val()
        if (skor7 == '0') {
            $('#@formName #AsesmenFungsional7Keterangan').val('Tidak Mampu');
            skor7 = 0;
            $('#@formName #AsesmenFungsional7NilaiSkor').val(skor7);
        } else if (skor7 == '1') {
            $('#@formName #AsesmenFungsional7Keterangan').val('Bisa (pindah) dengan kursi roda');
            skor7 = 1;
            $('#@formName #AsesmenFungsional7NilaiSkor').val(skor7);
        } else if (skor7 == '2') {
            $('#@formName #AsesmenFungsional7Keterangan').val('Berjalan dengan bantuan 1 orang');
            skor7 = 2;
            $('#@formName #AsesmenFungsional7NilaiSkor').val(skor7);
        } else if (skor7 == '3') {
            $('#@formName #AsesmenFungsional7Keterangan').val('Mandiri');
            skor7 = 3;
            $('#@formName #AsesmenFungsional7NilaiSkor').val(skor7);
        }

        var skor8 = $('#@formName #AsesmenFungsional8Skor').val()
        if (skor8 == '0') {
            $('#@formName #AsesmenFungsional8Keterangan').val('Tergantung orang lain');
            skor8 = 0;
            $('#@formName #AsesmenFungsional8NilaiSkor').val(skor8);
        } else if (skor8 == '1') {
            $('#@formName #AsesmenFungsional8Keterangan').val('Sebagian dibantu(misalnya mengancing baju)');
            skor8 = 1;
            $('#@formName #AsesmenFungsional8NilaiSkor').val(skor8);
        } else if (skor8 == '2') {
            $('#@formName #AsesmenFungsional8Keterangan').val('Mandiri');
            skor8 = 2;
            $('#@formName #AsesmenFungsional8NilaiSkor').val(skor8);
        }

        var skor9 = $('#@formName #AsesmenFungsional9Skor').val()
        if (skor9 == '0') {
            $('#@formName #AsesmenFungsional9Keterangan').val('Tidak mampu');
            skor9 = 0;
            $('#@formName #AsesmenFungsional9NilaiSkor').val(skor9);
        } else if (skor9 == '1') {
            $('#@formName #AsesmenFungsional9Keterangan').val('Butuh pertolongan');
            skor9 = 1;
            $('#@formName #AsesmenFungsional9NilaiSkor').val(skor9);
        } else if (skor9 == '2') {
            $('#@formName #AsesmenFungsional9Keterangan').val('Mandiri');
            skor9 = 2;
            $('#@formName #AsesmenFungsional9NilaiSkor').val(skor9);
        }

        var skor10 = $('#@formName #AsesmenFungsional10Skor').val()
        if (skor10 == '0') {
            $('#@formName #AsesmenFungsional10Keterangan').val('Tergantung orang lain');
            skor10 = 0;
            $('#@formName #AsesmenFungsional10NilaiSkor').val(skor10);
        } else if (skor10 == '1') {
            $('#@formName #AsesmenFungsional10Keterangan').val('Mandiri');
            skor10 = 1;
            $('#@formName #AsesmenFungsional10NilaiSkor').val(skor10);
        }

        var totalskor = skor1 + skor2 + skor3 + skor4 + skor5 + skor6 + skor7 + skor8 + skor9 + skor10;
        $('#@formName #AsesmenFungsionalTotalSkor').val(totalskor);

        if (totalskor >= 0 && totalskor <= 4) {
        $('#@formName #AsesmenFungsionalKreteriaStatus').val('Ketergantungan total');
        } else if (totalskor >= 5 && totalskor <= 8) {
        $('#@formName #AsesmenFungsionalKreteriaStatus').val('Ketergantungan berat');
        } else if (totalskor >= 9 && totalskor <= 11) {
        $('#@formName #AsesmenFungsionalKreteriaStatus').val('Ketergantungan sedang');
        } else if (totalskor >= 12 && totalskor <= 19) {
        $('#@formName #AsesmenFungsionalKreteriaStatus').val('Ketergantungan ringan');
        } else if (totalskor >= 20) {
        $('#@formName #AsesmenFungsionalKreteriaStatus').val('Mandiri');
        }
    }

    function assresikojatuh() {
        var skala1 = $('#@formName #AsesmenResikoRiwayatJatuhSkala').val();
        var skalanilai1 = $('#@formName #AsesmenResikoRiwayatJatuhSkor').val();
        if (skala1 == "Ya") {
            skalanilai1 = 25;
            $('#@formName #AsesmenResikoRiwayatJatuhSkor').val(skalanilai1);
        } else if (skala1 == "Tidak") {
            skalanilai1 = 0;
            $('#@formName #AsesmenResikoRiwayatJatuhSkor').val(skalanilai1);

        }

        var skala2 = $('#@formName #AsesmenResikoDiagnosisSekunderSkala').val();
        var skalanilai2 = $('#@formName #AsesmenResikoDiagnosisSekunderSkor').val();
        if (skala2 == "Ya") {
            skalanilai2 = 15;
            $('#@formName #AsesmenResikoDiagnosisSekunderSkor').val(skalanilai2);
        } else if (skala2 == "Tidak") {
            skalanilai2 = 0;
            $('#@formName #AsesmenResikoDiagnosisSekunderSkor').val(skalanilai2);
        }

        var skala3 = $('#@formName #AsesmenResikoAlatBantuSkala').val();
        var skalanilai3 = $('#@formName #AsesmenResikoAlatBantuSkor').val();
        if (skala3 == "Berpegangan Pada Perabot") {
            skalanilai3 = 30;
            $('#@formName #AsesmenResikoAlatBantuSkor').val(skalanilai3);
        } else if (skala3 == "Tongkat/Alat Penopang") {
            skalanilai3 = 15;
            $('#@formName #AsesmenResikoAlatBantuSkor').val(skalanilai3);
        } else if (skala3 == "Tidak ada/kursi roda/perawat/tirah baring") {
            skalanilai3 = 0;
            $('#@formName #AsesmenResikoAlatBantuSkor').val(skalanilai3);
        }

        var skala4 = $('#@formName #AsesmenResikoTerpasangInfusSkala').val();
        var skalanilai4 = $('#@formName #AsesmenResikoTerpasangInfusSkor').val();
        if (skala4 == "Ya") {
            skalanilai4 = 20;
            $('#@formName #AsesmenResikoTerpasangInfusSkor').val(skalanilai4);
        } else if (skala4 == "Tidak") {
            skalanilai4 = 0;
            $('#@formName #AsesmenResikoTerpasangInfusSkor').val(skalanilai4);
        }

        var skala5 = $('#@formName #AsesmenResikoGayaBerjalanSkala').val();
        var skalanilai5 = $('#@formName #AsesmenResikoGayaBerjalanSkor').val();
        if (skala5 == "Terganggu") {
            skalanilai5 = 20;
            $('#@formName #AsesmenResikoGayaBerjalanSkor').val(skalanilai5);
        } else if (skala5 == "Lemah") {
            skalanilai5 = 10;
            $('#@formName #AsesmenResikoGayaBerjalanSkor').val(skalanilai5);
        } else if (skala5 == "Normal/tirah baring/ imobilisasi") {
            skalanilai5 = 0;
            $('#@formName #AsesmenResikoGayaBerjalanSkor').val(skalanilai5);
        }

        var skala6 = $('#@formName #AsesmenResikoSiklusMentalSkala').val();
        var skalanilai6 = $('#@formName #AsesmenResikoSiklusMentalSkor').val();
        if (skala6 == "Sering lupa akan keterbatasan yang memiliki") {
            skalanilai6 = 15;
            $('#@formName #AsesmenResikoSiklusMentalSkor').val(skalanilai6);
        } else if (skala6 == "Sadar akan kemampuan diri sendiri") {
            skalanilai6 = 0;
            $('#@formName #AsesmenResikoSiklusMentalSkor').val(skalanilai6);
        }

        var totalskala = skalanilai1 + skalanilai2 + skalanilai3 + skalanilai4 + skalanilai5 + skalanilai6;

        $('#@formName #AsesmenResikoTotalSkor').val(totalskala);

        if (totalskala >= 0 && totalskala <= 24) {
            $('#@formName #AsesmenResikoKategori').val('Resiko Ringan');
        } else if (totalskala >= 25 && totalskala <= 44) {
            $('#@formName #AsesmenResikoKategori').val('Resiko Sedang');
        } else if (totalskala >= 45) {
            $('#@formName #AsesmenResikoKategori').val('Resiko Tinggi');
        }
    }

    function pemeriksaankepalanonbedah() {
        if ($("#PemeriksaanKepala option:selected").val() == 'Abnormal') {
            $('#PemeriksaanKepala_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanKepala_Ket').prop('disabled', true);
            $('#PemeriksaanKepala_Ket').val('');
        }
    }

    function pemeriksaanmatanonbedah() {
        if ($("#PemeriksaanMata option:selected").val() == 'Abnormal') {
            $('#PemeriksaanMata_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanMata_Ket').prop('disabled', true);
            $('#PemeriksaanMata_Ket').val('');
        }
    }

    function pemeriksaanthtnonbedah() {
        if ($("#PemeriksaanTHT option:selected").val() == 'Abnormal') {
            $('#PemeriksaanTHT_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanTHT_Ket').prop('disabled', true);
            $('#PemeriksaanTHT_Ket').val('');
        }
    }

    function pemeriksaanlehernonbedah() {
        if ($("#PemeriksaanLeher option:selected").val() == 'Abnormal') {
            $('#PemeriksaanLeher_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanLeher_Ket').prop('disabled', true);
            $('#PemeriksaanLeher_Ket').val('');
        }
    }

    function pemeriksaandadanonbedah() {
        if ($("#PemeriksaanDada option:selected").val() == 'Abnormal') {
            $('#PemeriksaanDada_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanDada_Ket').prop('disabled', true);
            $('#PemeriksaanDada_Ket').val('');
        }
    }

    function pemeriksaanjantungnonbedah() {
        if ($("#PemeriksaanJantung option:selected").val() == 'Abnormal') {
            $('#PemeriksaanJantung_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanJantung_Ket').prop('disabled', true);
            $('#PemeriksaanJantung_Ket').val('');
        }
    }

    function pemeriksaanparunonbedah() {
        if ($("#PemeriksaanParu option:selected").val() == 'Abnormal') {
            $('#PemeriksaanParu_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanParu_Ket').prop('disabled', true);
            $('#PemeriksaanParu_Ket').val('');
        }
    }

    function pemeriksaanperutnonbedah() {
        if ($("#PemeriksaanPerut option:selected").val() == 'Abnormal') {
            $('#PemeriksaanPerut_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanPerut_Ket').prop('disabled', true);
            $('#PemeriksaanPerut_Ket').val('');
        }
    }

    function pemeriksaanheparnonbedah() {
        if ($("#PemeriksaanHeper option:selected").val() == 'Abnormal') {
            $('#PemeriksaanHeper_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanHeper_Ket').prop('disabled', true);
            $('#PemeriksaanHeper_Ket').val('');
        }
    }

    function pemeriksaanliennonbedah() {
        if ($("#PemeriksaanLien option:selected").val() == 'Abnormal') {
            $('#PemeriksaanLien_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanLien_Ket').prop('disabled', true);
            $('#PemeriksaanLien_Ket').val('');
        }
    }

    function pemeriksaanpunggungnonbedah() {
        if ($("#PemeriksaanPunggung option:selected").val() == 'Abnormal') {
            $('#PemeriksaanPunggung_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanPunggung_Ket').prop('disabled', true);
            $('#PemeriksaanPunggung_Ket').val('');
        }
    }

    function pemeriksaangenitalnonbedah() {
        if ($("#PemeriksaanGenital option:selected").val() == 'Abnormal') {
            $('#PemeriksaanGenital_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanGenital_Ket').prop('disabled', true);
            $('#PemeriksaanGenital_Ket').val('');
        }
    }

    function pemeriksaananusnonbedah() {
        if ($("#PemeriksaanAnus option:selected").val() == 'Abnormal') {
            $('#PemeriksaanAnus_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanAnus_Ket').prop('disabled', true);
            $('#PemeriksaanAnus_Ket').val('');
        }
    }

    function pemeriksaanekstremitasnonbedah() {
        if ($("#PemeriksaanEktrimitas option:selected").val() == 'Abnormal') {
            $('#PemeriksaanEktrimitas_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanEktrimitas_Ket').prop('disabled', true);
            $('#PemeriksaanEktrimitas_Ket').val('');
        }
    }

    function pemeriksaanrectalnonbedah() {
        if ($("#PemeriksaanRectalToucher option:selected").val() == 'Abnormal') {
            $('#PemeriksaanRectalToucher_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanRectalToucher_Ket').prop('disabled', true);
            $('#PemeriksaanRectalToucher_Ket').val('');
        }
    }

    

    $(document).ready(function () {
        icd();
        pengkajiannyeriskor();
        penilaiannyeriskor();
        assfungsional();
        assresikojatuh();
        pemeriksaankepalanonbedah();
        pemeriksaanmatanonbedah();
        pemeriksaanthtnonbedah();
        pemeriksaanlehernonbedah();
        pemeriksaandadanonbedah();
        pemeriksaanjantungnonbedah();
        pemeriksaanparunonbedah();
        pemeriksaanperutnonbedah();
        pemeriksaanheparnonbedah();
        pemeriksaanliennonbedah();
        pemeriksaanpunggungnonbedah();
        pemeriksaangenitalnonbedah();
        pemeriksaananusnonbedah();
        pemeriksaanekstremitasnonbedah();
        pemeriksaanrectalnonbedah();

    });

    generalICD("#@formName #PilihICD");
    generalDokter("#@formName #DPJP");
    generalDokter("#@formName #Perawat");
    generalDokter("#@formName #DokterKonsul");
    generalDokter("#@formName #Konsultasi_Kepada");
    generalDokter("#@formName #Konsultasi_HormatKami");
    generalDokter("#@formName #JawabanKonsultasi_Kepada");
    generalDokter("#@formName #JawabanKonsultasi_HormatKami");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoBukti";
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }

</script>
