﻿@using EMRRSCB.Models
@model EMRPengkajianGiziDewasaViewModel
@{
    var controllerName = "EMRPengkajianGiziDewasa";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
    new SelectListItem(){ Text = "Create", Value = "active" }
    };
}
<style>

    .checkbox-custom input {
        margin-left: 10px !important;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDAhliGizi)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-4 control-label">Tanggal</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Tanggaal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggaal != null ? (Model.Tanggaal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggaal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Antropometri</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Antropometri, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Antropometri, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">BB Saat MRS ( kg )</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BB, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">TG ( cm )</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TB, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">IMT ( Kg/m2 )</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.IMT, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IMT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">LILA ( cm ) ( dilakukan bila tinggi badan tidak bisa diukur )</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ULA, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ULA, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">LILA ( % standar )</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.iIMED, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.iIMED, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Tinggi Lutut (TL) ( cm ) ( dilakukan bila tinggi badan tidak bisa diukur )</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TinggiLutut, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TinggiLutut, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label class="col-md-12 control-label">Biokimia</label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-md-offset-1">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Albumin)
                            Albumin
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Hb)
                            Hb
                        </label>
                    </label>
                    <label class="col-md-2">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_AsamUrat)
                            Asam Urat :
                        </label>
                    </label>
                    <label class="col-md-3">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_AsamUrat_L)
                            L
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_AsamUrat_Pr)
                            Pr
                        </label>
                    </label>
                    <label class="col-md-3">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Hamil)
                            Hamil
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-md-offset-1">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Hamil)
                            Kolestrol
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_BUN)
                            BUN
                        </label>
                    </label>
                    <label class="col-md-2">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Kreatinin)
                            Kreatinin :
                        </label>
                    </label>
                    <label class="col-md-3">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Kreatinin_L)
                            L
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Kreatinin_Pr)
                            Pr
                        </label>
                    </label>
                    <label class="col-md-3">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Ederma)
                            Ederma
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-md-offset-1">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_GDP100)
                            Glukosa Darah Puasa
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_GDP2Jam)
                            Gula Darah 2 Jam pp
                        </label>
                    </label>
                    <label class="col-md-2">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Kalium)
                            Kalium :
                        </label>
                    </label>
                    <label class="col-md-3">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Kalium_Tinggi)
                            Tinggi
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Kalium_Rendah)
                            Rendah
                        </label>
                    </label>
                    <label class="col-md-3">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_SGOT)
                            SGOT
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_SPGT)
                            SGPT
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-md-offset-1">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_GDP200)
                            Gula Darah Sewaktu
                        </label>
                    </label>
                    <label class="col-md-2">
                        <label class="checkbox-inline">
                            &nbsp;
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Biokimia_Ureum)
                            Ureum :
                        </label>
                    </label>
                </div>

                <hr />

                <div class="form-group">
                    <label class="col-md-12 control-label">Klinis Gangguan Gastrointestinal</label>
                </div>
                <div class="form-group">
                    <div class="col-md-11 col-md-offset-1">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Gangguan_Mual)
                            Mual
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Gangguan_Muntah)
                            Muntah
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Gangguan_Diare)
                            Diare
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Gangguan_Sembelit)
                            Sembelit
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Gangguan_KesulitanMengunyah)
                            kesulitan mengunyah
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Gangguan_Menelan)
                            Kesilitan Menelan
                        </label>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label class="col-md-12 control-label">Diectary</label>
                </div>

                <div class="form-group">
                    <label class="col-md-11 col-md-offset-1">a. Perubahan Asupan</label>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_DiRumah)
                            Asupan Makan Oral Dirumah
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_DirumahSakit)
                            Asupan Makan Awal Dirumah Sakit
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_DiRumah_51)
                            < 51 %
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_DirumahSakit_51)
                            < 51 %
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_DiRumah_51_79)
                            51 - 79 %
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_DirumahSakit_51_59)
                            51 - 79 %
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_DiRumah_80)
                            >= 80 %
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_DirumahSakit_80)
                            >= 80 %
                        </label>
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.Diactary_a_AdaPerubahan)
                            Ada perubahan Jenis / Bentuk Makanan / Bentuk Diet Khusus ; Bubur, Saring, Cair / Susu
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-11 col-md-offset-1">b. Pantangan Makan / Alergi</label>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        @Html.DropDownListFor(model => model.Diactary_b_Alergi, new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "", Value=""},
                            new SelectListItem() {Text = "Tidak Ada", Value="Tidak Ada"},
                            new SelectListItem() {Text = "Ada", Value="Ada"},
                        }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Diactary_b_Alergi_Jelaskan, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Diactary_b_Alergi_Jelaskan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-11 col-md-offset-1">c. Suplentasi</label>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        @Html.DropDownListFor(model => model.Diactary_c_Gizi, new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "", Value=""},
                            new SelectListItem() {Text = "Tanpa Suplemen Gizi", Value="Tanpa Suplemen Gizi"},
                            new SelectListItem() {Text = "Dengan Suplemen Gizi", Value="Dengan Suplemen Gizi"},
                        }, new { @class = "form-control" })
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnose Klinis</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiagnoseMedis, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiagnoseMedis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnose Gizi</label>
                    <div class="col-md-3">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.DiagnoseGizi_KurusBerat)
                            Status Gizi Kurus Berat
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.DiagnoseGizi_GemukBerat)
                            Status Gizi Gemuk Berat
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.DiagnoseGizi_Hipo)
                            HipoalBumin
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.DiagnoseGizi_KurusRingan)
                            Status Gizi Kurus Ringan
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.DiagnoseGizi_GemukRingan)
                            Status Gizi Gemuk Ringan
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.DiagnoseGizi_LainLain)
                            Lain Lain
                        </label>
                    </div>
                    <div class="col-md-5">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.DiagnoseGizi_Normal)
                            Status Gizi Normal
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            &nbsp;
                        </label>
                        <br />
                        <label style="width:100%;">
                            @Html.EditorFor(model => model.DiagnoseGizi_Lain_Ket, new { htmlAttributes = new { @Class = "form-control", @style = "width:100%;" } })
                            @Html.ValidationMessageFor(model => model.DiagnoseGizi_Lain_Ket, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label class="col-md-12">Intervensi</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnose Medis</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                Energi
                            </label>
                            @Html.EditorFor(model => model.Nutrisi_Energi, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                Kkal
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                Protein
                            </label>
                            @Html.EditorFor(model => model.Nutrisi_Protein, new { htmlAttributes = new { @Class = "form-control" } })
                            <label class="control-label input-group-addon">
                                Gr
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="control-label input-group-addon">
                                Zad Gizi Lain
                            </label>
                            @Html.EditorFor(model => model.Nutrisi_Energi, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jenis Diet</label>
                    <div class="col-md-3">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.JenisDiet_Standar)
                            Standar RS
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.JenisDiet_TKTP)
                            TKTP
                        </label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="checkbox-inline input-group-addon checkbox-custom">
                                @Html.EditorFor(model => model.JenisDiet_DM)
                                DM
                            </label>
                            @Html.EditorFor(model => model.JenisDiet_DM_Ket, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="checkbox-inline input-group-addon checkbox-custom">
                                @Html.EditorFor(model => model.JenisDiet_Ginjal)
                                Ginjal
                            </label>
                            @Html.EditorFor(model => model.JenisDiet_Ginjal_Ket, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-2">
                        <div class="input-group">
                            <label class="checkbox-inline input-group-addon checkbox-custom">
                                @Html.EditorFor(model => model.JenisDiet_Jantung)
                                Jantung
                            </label>
                            @Html.EditorFor(model => model.JenisDiet_Jantung_Ket, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="checkbox-inline input-group-addon checkbox-custom">
                                @Html.EditorFor(model => model.JenisDiet_Hatic)
                                Hatic
                            </label>
                            @Html.EditorFor(model => model.JenisDiet_Hatic_Ket, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="checkbox-inline input-group-addon checkbox-custom">
                                @Html.EditorFor(model => model.JenisDiet_Lain)
                                Lain-Lain
                            </label>
                            @Html.EditorFor(model => model.JenisDiet_Lain_Ket, new { htmlAttributes = new { @Class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Bentuk Makanan</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.BentukMakan_Nasi)
                            Nasi
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.BentukMakan_Bubur)
                            Bubur / Tim
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.BentukMakan_BuburSaring)
                            Bubur Saring / Cincang
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.BentukMakan_Cair)
                            Cair / Sonde / Formula
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Cara Pemberian</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.CaraPemberian_Oral)
                            Oral
                        </label>
                        <label class="checkbox-inline">
                            @Html.EditorFor(model => model.CaraPemberian_Eternal)
                            Enteral / NGT
                        </label>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label class="col-md-2 control-label">Catatan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Catatan, new { htmlAttributes = new { @Class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">&nbsp;</label>
                    <div class="col-md-3">
                        Standar IMT :
                        <ul>
                            <li>
                                Kurus tingkat berat < 17,0
                            </li>
                            <li>
                                Kurus tingkat ringan 17,0-18,5
                            </li>
                            <li>
                                Normal 18,5-25,0
                            </li>
                            <li>
                                Gemuk tingkat ringan > 25,0.27,0
                            </li>
                            <li>
                                Gemuk tingkat berat > 27,0
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        Standar LILA  :
                        <ul>
                            <li>
                                Obesitas : > 120%
                            </li>
                            <li>
                                Overweight : 110 - 120 %
                            </li>
                            <li>
                                Gizi Baik : 85 - 110 %
                            </li>
                            <li>
                                Gizi  Kurang : 70,1 - 84,9 %
                            </li>
                            <li>
                                Gizi Buruk : < 70 %
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center">
                        <p>Ahli Gizi</p>
                        <br />
                        <br />
                        @Html.DropDownListFor(model => model.AhliGizi, Model.AhliGizi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AhliGizi.ToString(), Text = Model.AhliGizi_Nama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AhliGizi, "", new { @class = "text-danger" })
                        <br />
                        <div class="col-md-12 text-right">
                            <a class="btn btn-primary btn-sm @(Model.TTDAhliGizi != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                            <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDAhliGizi)" name="IMG_@nameof(Model.TTDAhliGizi)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>



<script>

    generalDokter("#@formName #AhliGizi");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function clickgambar1() {
        $('#IMG_TTDAhliGizi').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDAhliGizi)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDAhliGizi').click()
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDAhliGizi)');

    @if (Model != null)
    {
        if (Model.TTDAhliGizi != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDAhliGizi)');
        }
    }

    $(document).ready(function () {
        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDAhliGizi)');
        iGambar1 = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDAhliGizi');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>
