﻿@using EMRRSCB.Models
@model EMRHakDanKewajibanViewModel
@{
    var controllerName = "EMRHakDanKewajiban";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TandaTanganKeluarga)
        @Html.HiddenFor(model => model.TandaTanganPasien)
        @Html.HiddenFor(model => model.VerifikasiPemberiInformasi)
        @Html.HiddenFor(model => model.VerifikasiPetugas)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">
                        HAK KEWAJIBAN SEBAGAI PASIEN
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        Dengan Menandatangani dokumen ini saya mengakui bahwa pada proses pendaftaran untuk mendapatkan perawatan di RSU BUNDA telah mendapat informasi tentang  hak-hak dan kewajiban sayang sebagai pasien. adapun hak dan kewajiban Pasien adalah sebagai berikut :
                    </label>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">
                        HAK PASIEN
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        1. Memperoleh informasi tentang tata tertib dan peraturan yang berlaku di Rumah Sakit
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        2. Memperoleh informasi tentang Hak dan Kewajiban Pasien
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        3. Memperoleh layanan kesehatan yang bermutu sesuai dengan standar profesi
                        dan standar prosedur opersional
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        4. Memperoleh pelayanan kesehatan yang bermutu sesuai standar.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        5. Memperoleh layanan yang efektif dan efisien sehingga pasien terhindar dari
                        kerugian fisik dan materi
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        6. Mengajukan pengaduan atas kualitas pelayanan yang didapat
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        7. Memilih Dokter , Dokter Gigi, dan kelas perawatan sesuai dengan
                        keinginannya dan peraturan yang berlaku di Rumah Sakit
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        8. Meminta Konsultasi tentang penyakit yang dideritanya kepada dokter lain
                        yang mempunyai Surat Ijin Praktek (SIP) baik didalam maupun diluar
                        Rumah Sakit
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        9. Mendapatkan privasi dan kerahasiaan penyakit yang diderita termasuk data
                        medisnya
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        10. Mendapat informasi yang meliputi diagnosis dan tata cara tindakan medis,
                        Tujuan tindakan medis, alternative tindakan risiko dan komplikasi
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        11. Memberikan persetujuan atau menolak atas tindakan yang akan dilakukan
                        oleh tenaga kesehatan terhadap penyakit yang diderita
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        12. Didampingi keluarga dalam keadaan kritis
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        13. Menjalankan ibadah sesuai agama dan kepercayaan yang dianutnya selama hal itu tidak mengganggu pasien lainnya.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        14. Memperoleh keamanan dan keselamatan dirinya selama dalam perawatan rumah sakit.
                    </label>
                </div>
                
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        15. Mengajukan usul, saran, perbaikan atas perlakuan rumah sakit terhadap dirinya.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        16. Menolak layanan bimbingan rohani yang tidak sesuai dengan agama dan kepercayaan yang dianutnya.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        17. Menggugat atau menuntut rumah sakit apabila diduga memberikan pelayanan yang tidak sesuai standar baik secara perdata maupun pidana.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        18. Mengeluhkan pelayanan rumah sakit yang tidak sesuai dengan standar pelayanan melalui media cetak dan elektronik sesuai dengan kententuan peraturan  perundang - undangan.
                    </label>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">
                        KEWAJIBAN PASIEN
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        1. Mematuhi peraturan yang berlaku di Rumah Sakit
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        2. Menggunakan fasilitas Rumah Sakit yang bertanggung jawab
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        3. Menghormati hak pasien lain , Pengunjung dan hak tenaga kesehatan
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        4. Memberikan informasi yang jujur lengkap dan akurat sesuai dengan
                        kemampuan dan pengetahuannya tentang masalah kesehatan
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        5. Memberikan informasi mengenai kemampuan financial dan jaminan
                        kesehatan yang dimiliki
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        6. Mematuhi rencana terapi yang direkomendasikan oleh tenaga kesehatan di
                        rumah sakit dan disetujui oleh pasien yang bersangkutan setelah
                        mendapatkan penjelasan sesuai dengan ketentuan peraturan perundang
                        undangan
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        7. Menerima segala konsekuensi atas keputusan pribadinya untuk menolak
                        rencana terapi yang direkomendasikan oleh tenaga kesehatan dan atau tidak
                        mematuhi petunjuk yang diberikan tenaga kesehatan untuk penyembuhan
                        penyakit atau masalah kesehatan dan,
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        8. Memberikan imbalan jasa atas pelayanan yang diterima
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pasien/Keluarga/Penganggung jawab
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Pasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TandaTanganPasien != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pemberi Informasi  @if (Model.VerifikasiPemberiInformasi)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.PemberiInformasi, Model.PemberiInformasi == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PemberiInformasi.ToString(), Text = Model.PemberiInformasiNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemberiInformasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.PemberiInformasi)','@nameof(Model.VerifikasiPemberiInformasi)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">
                        A. HAK DAN KEWAJIBAN PASIEN (GENERAL CONSENT)
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        1. Sebelum menerima perawatan di RSU Bunda, pasien dan keluarga akan diberikan penjelasan tentang hak dan kewajiban selama di rawat di RSU Bunda.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        2. Selama dalam perawatan RSU Bunda pasien bersedia dilakukan pemeriksaan dan tindakan medis, keperwawatan serta pemeriksaan penunjang lainnya.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        3. Pasien/ Keluarga dapat memilih kelas ruang perawatan yang tersedia di RSU Bunda berdasarkan pola tarif yang berlaku sesuai dengan hak perawatan yang ditanggung asuransi kesehatan atau jenis kerjasama yagn digunakan.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        4. Di unit pelayanan tertentu RSU Bunda , Tidak ada keterlibatan peserta didik dalam pemberian pelayanan yang didampingi oleh petugas RS baik dari dokter perawat, bidan maupun tenaga medis lainnya.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        5. Obat-Obatan bagi pasien disediakan oleh pihak Rumah Sakit dan tidak diperkenangkan obat sendiri karena pemakian obat di luar pengadaan rumah sakit tidak menjadi tanggung jawab Rumah Sakit.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        6. Selama perawatan di RSU Bunda pasien yang memerlukan tindakan medis invasif akan diberikan penjelasannya tentang indikasi dan resiko tindakan oleh tim medis, sebelum pasien menyatakan persetujuan dan penolakan untuk dilakukan tindakan medis.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        7. Selama dalam perawatan di RSU Bunda pasien dianjurkan untuk tidak mengenakan atau menyimpan barang berharga, kehilangan atau kerusakan barang bukan merupakan tanggung jawab manejemen RSU Bunda.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        8. Kerusakan inventaris  Rumah Sakit yang diakibatkan oleh pasien atau penunggunya dibebankan kepada pasien.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        9. Untuk pasien dan perusahaan rekanan, maka Rumah Sakit memiliki wewenang untuk memberikan keterangan medis baik secara lisan maupun tertulis mengenal kondisi pasien kepada pihak perusahan rekanan yang menjamin biaya perawatan pasien.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        10. Rumah sakit berwenang untuk memindahkan pasien ke kamar lain sesuai dengan kondisi medis pasien yang dibutuhkan.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        11. Pasien keluarga pasien dan penggunjung wajib memenuhi dan mentaati ketentuan ini serta segala tata tertib yang berlaku di Rumah Sakit.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        12. Untuk pengisian cacatan medis asuransi yang pertama atau yang membiayai perawatan pasien tanpa dilakukan biaya sesuai tarif yang berlaku di Rumah Sakit.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        13. Waktu berkunjung adalah pukul 12.00-14.00 WITA dan pukul 18.00-21.00 WITA anak dibawah usia 10 tahun tidak diperkenankan berkunjung ke Rumah Sakit.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        14. Persetujuan pelepasan informasi kepada pihak lain.
                    </label>
                    <label class="col-md-offset-1 col-md-11">
                        Saya memahami informasi yang ada di dalam diri saya termasuk diagnosis, hasil laboratorium dan hasil tes diagnostic yang akan digunakan untuk keperawatan medis, Rumah Sakit Umum Bunda akan menjamin kerahasiannnya, Saya memberi wewenang kepada Rumah Sakit Bunda untuk memberikan informasi tentang diagnosis, hasil pelayanan dan pengobatan bila diperlukan untuk memproses klaim asuransi perusahaan dan atau lembaga pemerintahan Saya memberi wewenang kepada Rumah Sakit Umum Bunda untuk memberikan informasi tentang diagnosis, hasil pelayanan dan pengobatan saya kepada anggota keluarga saya dan kepada:
                    </label>
                    @*<div class="col-md-offset-1 col-md-11">
                @Html.TextAreaFor(model => model.SayaSelaku, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Keluarga, "", new { @class = "text-danger" })
            </div>*@
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.TextAreaFor(model => model.Point14_1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Point14_1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.TextAreaFor(model => model.Point14_2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Point14_2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.TextAreaFor(model => model.Point14_3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Point14_3, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        15. Privasi
                    </label>
                    <label class="col-md-offset-1 col-md-11">
                        Saya mengijinkan / tidak mengijinkan (coret salah satu) Rumah Sakit memberi akses bagi : Keluarga dan handal tautan serta orang-orang yang akan menengok saya (sebutkan nama bila ada permintaan khusus yang tidak diijinkan)
                    </label>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        B. Kebijakan Keuangan
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        1. Selama perawatan di RSU Bunda, pasien bersedia menanggung semua biaya yang dikenakan kepada pasien
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        2. Dalam hal tunggakan telah melebihi Rp. 2.500.000(dua juta lima ratus ribu rupiah) maka pihak Rumah Sakit mewajibkan penanggung jawab pasien agar segera melunasinnya, Apabila pelunasan tidak dilakukan dalam waktu 2x24jam maka Rumah Sakit akan mengambil kebijakan antara lain.
                    </label>
                    <label class="col-md-offset-1 col-md-11">
                        a. Pasien yang bersangkutan dipindahkan ke kelas yang lebih rendah
                    </label>
                    <label class="col-md-offset-1 col-md-11">
                        b. Mempersilhkan pasien untuk memilih perawatan / pelayanan kesehatan yang sesuai dengan kondisi keuangan pasien dan pasien tetap berkewajiban untuk melunasinnya yang tertunggak
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        3. Untuk pasien dari perushaan rekanan, surat jaminan harus sudah diserahkan paling lambat 1x24jam sejak pasien masuk. Apabila ketentuan tersebut tidak dapat dipenuhi maka diperlakukan sebagai dengan ketentuan pasien umum
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        4. Untuk pasien yang menggunakan asurasi atau tanggungan perusahaan maka apabila perusahaan / asuransi pasien tidak menjamin seluruh / sebagian biaya perawatan pasien maka seluruh biaya perawatan atau tindakan dokter adalah sepenuhnya menjadi tanggungan  pasien sendiri dan akan pasien bayar pada saat pasien keluar dari Rumah Sakit
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        5. Bentuk pembayaran yang dapat diterima oleh Rumah Sakit adalah dalam bentuk uang tunai, kartu kredit , kartu debet, Rumah Sakit tidak menerima pembayaran dalam bnetuk cek atau bilyet giro
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        6. Setiap pasien rawat inap akan dikenakan biaya administrasi, jasa perawtan dan jasa dokter yang merawat sesuai dengan tarif yang berlaku terhitung dari tanggal masuk rawat inap sampai dengan tanggal keluar rawat
                    </label>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">
                        Kepulangan
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        1. Pasien hanya diperbolehkan pulang setelah mendapat izin dari dokter merawat dan telah melunasi seluruh biaya perawatan
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        2. Batas waktu maksimal kepulangan adalah pukul 14.00 WITA, dalam hal kepulangan dilakukan melewati waktu tersebut atas kemauan sendiri, makan akan dikenakan biaya tambahan sesuai ketentuan yang berlaku
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        3. Pasien yang pulang tanpa mendapatkan izin dari dokter yang merawat, maka pasien dinyatakan dalam keadaan pulang atas permintaan sendiri dan pasien atau penanggung jawab menandatangani formulir surat pernyataan pulang atas permintaan sendiri
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        4. Pasien yang masuk dan keluar dalam hari yang sama biaya akan diperhitungkan sebagai satu hari perawatan
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">NAMA</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PasienYangMasukNama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PasienYangMasukNama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">HUBUNGAN DENGAN PASIEN</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.HubunganDenganPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HubunganDenganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class=" col-md-12">
                        Saya selaku PASIEN/ KELUARGA PASIEN telah memahami dan menyetujui semua kondisi pelayanan umum dan kewajiban keuanagan yang dilakukan selama perawatan di RSU BUNDA
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Petugas  @if (Model.VerifikasiPetugas)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Petugas, Model.Petugas == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas.ToString(), Text = Model.PetugasNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Petugas, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Petugas)','@nameof(Model.VerifikasiPetugas)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pasien/ Keluarga
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Keluarga, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Keluarga, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TandaTanganKeluarga != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TandaTanganKeluarga)" name="IMG_@nameof(Model.TandaTanganKeluarga)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TandaTanganPasien)" name="IMG_@nameof(Model.TandaTanganPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function clickgambar1() {
        $('#IMG_TandaTanganKeluarga').click()
    }

    function clickgambar2() {
        $('#IMG_TandaTanganPasien').click()
    }

    function ulanggambar1() {
        $('#IMG_TandaTanganKeluarga').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    function ulanggambar2() {
        $('#IMG_TandaTanganPasien').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    generalDokter("#@formName #PemberiInformasi");
    generalDokter("#@formName #Petugas");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var iGambar2;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TandaTanganKeluarga)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TandaTanganPasien)');

    @if (Model != null)
    {
        if (Model.TandaTanganKeluarga != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TandaTanganKeluarga)');
        }
        if (Model.TandaTanganPasien != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TandaTanganPasien)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TandaTanganKeluarga)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TandaTanganKeluarga');
            iGambar2.convert_V2('TandaTanganPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


