﻿@using EMRRSCB.Models
@model EMRPemasanganNGTViewModel
@{
    var controllerName = "EMRPemasanganNGT";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.VerifikasiPetugas)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Jam</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                        @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Petugas @if (Model.VerifikasiPetugas)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Petugas, Model.Petugas == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas.ToString(), Text = Model.PetugasNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Petugas, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Petugas)','@nameof(Model.VerifikasiPetugas)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Tujuan :</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <ol>
                            <li>
                                Memasukkan makanan, dan obat pasien yang tidak bisa dimakan melalui
                                mulut
                            </li>
                            <li>
                                Mencegah distensi lambung
                            </li>
                            <li>
                                Melakukan bilas lambung
                            </li>
                            <li>Mengambil spesimen asam lambung untuk pemeriksaan laboratorium</li>
                        </ol>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Definisi: Definisi: Memasukkan selang plastik selang (selang Nasogastrik), melalui hidung, melewati
                        nasopharynx dan esophagus sampai ke dalam lambung
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Tanggung Jawab :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Refrensi :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Perekaman : Perekaman : catat/dokumentasikan
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <ol>
                            <li>Tanggal dan jam pemasangan</li>
                            <li>Jenis dan ukuran selang yang digunakan</li>
                            <li>Warna dan aspirasi yang diperoleh</li>
                            <li>Respon pasien terhadap prosedur</li>
                        </ol>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Prosedur :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        A. Persiapan Alat
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <ol>
                            <li>
                                Selang nasogastrik (ukuran 14 sampai 18 French) atau selang Nasointestinal (selang
                                pemberian makan berlubang kecil berukuran 8 sampai 12 French)
                            </li>
                            <li>Pelumas atau jelly</li>
                            <li>Spuit 10 cc</li>
                            <li>Stetoskop</li>
                            <li>Sarung tangan</li>
                            <li>Plester dan gunting</li>
                            <li>Kain kassa</li>
                            <li>Tissue</li>
                            <li>Lampu senter/ pen light</li>
                            <li>Perlak atau pengalas</li>
                            <li>Handuk kecil</li>
                            <li>Bengkok</li>
                            <li>Klem</li>
                            <li>Gelas berisi air matang</li>
                        </ol>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        B. Persiapan Pasien
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <ol>
                            <li>Pasien atau keluarga menandatangani persetujuan tindakan pemasangan NGT</li>
                            <li>Pasien diberi penjelasan tentang  tujuan pemasangan , proses pemasangan serta alat yang digunakan</li>
                        </ol>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        C. Pelaksanaan
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <ol>
                            <li>Mengatur peralatan dan membawa ke dekat pasien dengan benar</li>
                            <li>Perawat cuci tangan. Gunakan sarung tangan</li>
                            <li>Memberikan salam sebagai pendekatan terapeutik</li>
                            <li>
                                Berdiri disisi yang sama dengan lubang hidung yang akan diinsersi dan bantu pasien
                                pada posisi semi fowler (pasien sadar). Namun jika pasien dalam keadaan keadaan tidak
                                sadar, posisikan pasien dalam keadaan berbaring, kepala diangkat sedikit atau diberi
                                pengganjal agar lurus
                            </li>
                            <li>
                                Perhatikan rongga hidung pasien apakah ada polip/ benda asing, yang menyebabkan
                                sumbatan pada hidung.
                            </li>
                            <li>Pilihlah rongga hidung yang longgar</li>
                            <li>Bersihkan lendir dan sekret dari lubang hidung dengan tissue lembab</li>
                            <li>Letakkan pengalas dada</li>
                            <li>
                                Tentukan panjang selang yang akan dimasukkan,dengan cara ukur jarak dari hidung
                                sampai daun telinga lalu ke prosesus xifoidesus sternum. Beri tanda
                            </li>
                            <li>Anjurkan pasien untuk relaks dan bernafas normal</li>
                            <li>Olesi ujung selang dengan jelly</li>
                            <li>Jepit selang menggunakan klem masukkan selang perlahan kedalam rongga hidung, 
                                jika terjadi tahanan instruksikan pasien untuk menelan agar epiglotis terbuka</li>
                            <li>
                                Setelah selang NGT masuk mencapai tanda yang telah diukur tadi, ujilah apakah
                                selang telah masuk ke dalam lambung dengan cara :
                                <ul>
                                    <li>
                                        masukkan udara dalam spuit 10cc lalu hembuskan secara cepat kedalam
                                        selang NGT, dengarkan dengan stetoskop yang telah diletakkan pada
                                        epigastrum. Jika terdengar bunyi suara(gemuruh), berarti selang telah masuk
                                        ke dalam lambung
                                    </li>
                                    <li>Mengaspirasi dengan spuit</li>
                                    <li>Memasukkan selang ke dalam gelas berisi air</li>
                                </ul>
                            </li>
                            <li>
                                Tutup ujung NGT dengan spuit/ klem, sesuaikan dengan tujuan pemasangan.
                            </li>
                            <li>
                                Fiksasi NGT menggunakan plester, di depan hidung dan pipi. Plester jangan
                                menutupi rongga hidung
                            </li>
                            <li>
                                Posisikan pasien untuk kenyamanan
                            </li>
                            <li>
                                Lepas sarung tangan, bereskan alat-alat
                            </li>
                            <li>
                                Cuci tangan
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    generalDokter("#@formName #Petugas");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

</script>


