﻿@using EMRRSCB.Models
@model EMRProseduralPasienRencanaOperasiKirimanDokterViewModel
@{
    var controllerName = "EMRProseduralPasienRencanaOperasiKirimanDokter";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }

    };
}
<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TtdKeluarga)
        @Html.HiddenFor(model => model.TtdPetugas)



        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Dokter Pengirim :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DokterPengirim, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DokterPengirim, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Segera Lapor Dokter Pengirim Untuk Menyatakan</label>

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Pasien :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnosa :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Diagnosa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Diagnosa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Rencana Jasa Operator Rp. :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RencanaJasaOperator, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RencanaJasaOperator, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Rencana Jasa Visite Rp. :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RencanaJasaVisite, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RencanaJasaVisite, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Biaya Anastesi Rp. :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RencanaAnastesi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RencanaAnastesi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Biaya Obat :</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BiayaObat, StaticModel.ListProseduralPasienRencanaOperasiKirimanDokter, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BiayaObat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Biaya Rumah Sakit:</label>

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">- Ok  :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BiayaRumahSakitOk, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BiayaRumahSakitOk, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">- Administrasi  :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BiayaRumahSakiitAdministrasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BiayaRumahSakiitAdministrasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">- Instrument  :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BiayaRumahSakitInstrumen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BiayaRumahSakitInstrumen, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">- Kamar  :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BiayaRumahSakitKamar, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BiayaRumahSakitKamar, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">- DLL  :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BiayaRumahSakitDll, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BiayaRumahSakitDll, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">(ditentukan oleh dr. Ryan Harlistyanti/ dr.IGM Sarjana,Sp.OG</label>

                </div>
                <br />
                <br />
                <div class="form-group">
                    <label class="col-md-5 control-label">TOTAL : </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label class="col-md-5 control-label">NB: Nomer 1-4 Tugas Bidan Jaga / Perawat Jaga</label>

                </div>
                <br />
                <br />
                <div class="form-group">
                    <label class="col-md-6 control-label">Persetujutan Keluarga Pasien</label>
                    <label class="col-md-6 control-label">Mengetahui</label>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PersetujuanKeluargaPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersetujuanKeluargaPasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TtdKeluarga != null ? "btn-flash" : "")" onclick="clickGambarKeluarga()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambarKeluarga()">Ulang</a>

                    </div>

                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PetugasPenerima, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PetugasPenerima, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TtdPetugas != null ? "btn-flash" : "")" onclick="clickGambarPetugas()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambarPetugas()">Ulang</a>
                    </div>


                </div>
            </div>
            <div class="panel panel-body">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TtdKeluarga)" name="IMG_@nameof(Model.TtdKeluarga)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TtdPetugas)" name="IMG_@nameof(Model.TtdPetugas)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>


<script>
    function clickGambarKeluarga(){
        $('#IMG_TtdKeluarga').click();
    }
     function clickGambarPetugas(){
        $('#IMG_TtdPetugas').click();
    }
      function ulanggambarKeluarga() {
        $('#IMG_@nameof(Model.TtdKeluarga)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD_Saksi1').click()
    }

    function ulanggambarPetugas() {
        $('#IMG_@nameof(Model.TtdPetugas)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD_Saksi2').click()
    }


    generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }


    var iGambarKeluarga;
    var iGambaPetugas;
    var ximg_GambarKeluarga = $('#IMG_@nameof(Model.TtdKeluarga)');
    var ximg_GambarPetugas = $('#IMG_@nameof(Model.TtdPetugas)');

    @if(Model != null)
    {

        if (Model.TtdKeluarga != null)
        {
            @:ximg_GambarKeluarga.attr('src', 'data:image/jpeg;base64,@(Model.TtdKeluarga)');
        }
        if (Model.TtdPetugas != null)
        {
            @:ximg_GambarPetugas.attr('src', 'data:image/jpeg;base64,@(Model.TtdPetugas)');
        }


    }

    $(document).ready(() => {
        iGambarKeluarga = new iPainter_V2(ximg_GambarKeluarga);
        iGambaPetugas = new iPainter_V2(ximg_GambarPetugas);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    })

        @*function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTD_Menyatakan)');
        iGambar = new iPainter_V2(imges);
          }*@



    function SubmitForm(e) {
        try {
            iGambarKeluarga.convert_V2('TtdKeluarga');
            iGambaPetugas.convert_V2('TtdPetugas');

            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }



</script>

