﻿@using EMRRSCB.Models
@model EMRGetUpGoTestViewModel
@{
    var controllerName = "EMRGetUpGoTest";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.Verifikasi)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 h6">
                        1. Pengkajian
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label">No</label>
                    <label class="col-md-9 control-label">Penilaian/Pengkajian</label>
                    <label class="col-md-2 control-label">Ya/Tidak</label>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label">a.</label>
                    <label class="col-md-9 control-label">Cara Berjalan Pasien(Salah atau lebih)</label>
                </div>
                <div class="form-group">
                    <label class="col-md-9 col-md-offset-1 control-label">
                        1. Tidak Simbang/ Sempoyongan/ Limbung
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Pengkajian_A1, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "pengkajian()" })
                        @Html.ValidationMessageFor(model => model.Pengkajian_A1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-9 col-md-offset-1 control-label">
                        2. Jalan dengan menggunakan alat bantu(kruk, tripet, kursi roda, oranglain)
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Pengkajian_A2, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "pengkajian()" })
                        @Html.ValidationMessageFor(model => model.Pengkajian_A2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label">
                        b.
                    </label>
                    <label class="col-md-9 control-label">
                        Menopang saat akan duduk: Tampak memegang panggung kursi atau meja/ benda lain sebagai penopang  saat akan duduk
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Pengkajian_B, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "pengkajian()" })
                        @Html.ValidationMessageFor(model => model.Pengkajian_B, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 h6">3. Hasil</label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Hasil</label>
                    <label class="col-md-6">Keterangan</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Hasil, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Hasil, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Hasil_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Hasil_Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 h6">4. Tindakan</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.Tindakan, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "pengkajian()" })
                        @Html.ValidationMessageFor(model => model.Tindakan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Petugas @if (Model.Verifikasi)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Petugas, Model.Petugas == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas.ToString(), Text = Model.PetugasNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Petugas, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Petugas)','@nameof(Model.Verifikasi)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>

    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function pengkajian() {
        var a1 = $('#@formName #Pengkajian_A1').val();
        var a2 = $('#@formName #Pengkajian_A2').val();
        var b = $('#@formName #Pengkajian_B').val();
        var a1skor = 0;
        var a2skor = 0;
        var bskor = 0;

        if (a1 == 'Ya') {
            a1skor = 1;
        } else {
            a1skor = 0;
        }

        if (a2 == 'Ya') {
            a2skor = 1;
        } else {
            a2skor = 0;
        }

        if (b == 'Ya') {
            bskor = 1;
        } else {
            bskor = 0;
        }

        var total = a1skor + a2skor + bskor ;

        if (total == 3) {
            $('#@formName #Hasil').val('Resiko Tinggi');
        }
        else if (total == 0) {
            $('#@formName #Hasil').val('Tidak Beresiko');
        }
        else {
            $('#@formName #Hasil').val('Resiko Rendah');
        }
    }

     generalDokter("#@formName #Petugas");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }


    $(document).ready(function () {

    });
</script>