﻿@using EMRRSCB.Models
@model EMRAssemenPraanastesiSedasiViewModel
@{
    var controllerName = "EMRAssemenPraanastesiSedasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDDokterAnestesi)
        @Html.HiddenFor(model => model.VerifikasiDokterAnestesi)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">Diisi : Oleh Pasien Dengan Tanda</label>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label">Umur</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.JenisKelamin, StaticModel.ListLakiPerempuan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Menikah</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Menikah, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Menikah, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Pekerjaan</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Pekerjaan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pekerjaan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">
                        KEBIASAN
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Merokok</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Merokok, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Merokok, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="input-group-addon">Sebanyak</label>
                            @Html.EditorFor(model => model.Sebanyak, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sebanyak, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <label class="col-md-2 control-label">Kopi/Teh/Soda</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.KopiTehSoda, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KopiTehSoda, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="input-group-addon">Sebanyak</label>
                            @Html.EditorFor(model => model.SebanyakKet1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SebanyakKet1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alkohol</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Alkohol, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Alkohol, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="input-group-addon">Sebanyak</label>
                            @Html.EditorFor(model => model.SebanyakKet2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SebanyakKet2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <label class="col-md-2 control-label">Olahraga Rutin</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.OlahragaRutin, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OlahragaRutin, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="input-group-addon">Sebanyak</label>
                            @Html.EditorFor(model => model.SebanyakKet3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SebanyakKet3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">
                        PENGOBATAN : Sebutkan dosis atau Jumlah pil per hari
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Obat Resep
                    </label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.ObatResep, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ObatResep, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Obat Bebas
                    </label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.ObatBebas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ObatBebas, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Penggunaan Aspirin Rutin</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.PenggunaAspirinRutin, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PenggunaAspirinRutin, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Dosis & Frekuensi
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DosisdanFrekuensi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DosisdanFrekuensi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Obat Anti Sakit</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ObatAntiSakit, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ObatAntiSakit, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Dosis & Frekuensi
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DosisdanFrekuensiKET, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DosisdanFrekuensiKET, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Injeksi Steroid</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.InjeksiSteroidTahunTerakhir, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.InjeksiSteroidTahunTerakhir, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Tanggal & Lokasi Injeksi
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TanggaldanlokasiInjeksi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TanggaldanlokasiInjeksi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Alergi Obat</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.AlergiObat, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AlergiObat, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Daftar Obat & Tipe Reaksi
                    </label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.DaftarObatdanTipeReaksi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DaftarObatdanTipeReaksi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergiLatek, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Alergi Latek
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergiPlester, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Alergi Plaster
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergiMakan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Alergi Makan
                        </label>
                    </div>
                </div>
            </div>

            <div class="panel-body panel">
                <div class="form-group">
                    <label class="col-md-12">RIWAYAT KELUARGA : Apakah keluarga pernah mendapat permasalahan seperti dibawah ini :</label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Perdarahan yang tidak normal</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.PerdarahanTidakNormal, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PerdarahanTidakNormal, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">Serangan Jantung</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.SeranganJantung, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SeranganJantung, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">Operasi Jantung Koroner</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.OperasiJantungKoroner, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OperasiJantungKoroner, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Pembekuan Darah tidak normal</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.PembekuanDarahTidakNormal, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PembekuanDarahTidakNormal, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">Hipertensi</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.Hipertensi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Hipertensi, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">Diabetes</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.Diabetes, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Diabetes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Permasalahan dalam pembiusan</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.PermasalahandalamPembiusan, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PermasalahandalamPembiusan, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">Tuberkulosis</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.Tuberkulosis, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Tuberkulosis, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">Penyakit Berat Lainnya</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.PenyakitBeratLainnya, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PenyakitBeratLainnya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12"> Jelaskan Penyakit Keluarga apabila dijawab "Ya"</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.ObatResep, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ObatResep, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Komunikasi</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Bahasa, StaticModel.ListIndonesiaLainnya, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Bahasa, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BahasaLainnya, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BahasaLainnya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Gangguan Penglihatan / Buta
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.GangguanPenglihatan, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GangguanPenglihatan, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Gangguan Pendengaran
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.GangguanPendengaran, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GangguanPendengaran, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Gangguan Bicara
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.GangguanBicara, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GangguanBicara, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">RiWAYAT PENYAKIT PASIEN : Apakah Pasien menderita penyakit dibawah ini:</label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Perdarahan yang tidak normal
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.PerdarahTidakNormal, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PerdarahTidakNormal, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Hepatitis / Sakit Kuning
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.Hepatitis, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Hepatitis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Pembekuan darah yang tidak normal
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.PembekuanDarahTidakNormalKET, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PembekuanDarahTidakNormalKET, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Anemia
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.Anemia, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Anemia, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Asthma
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.Ashma, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Ashma, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Sumbatan Jalan nafas saat tidur / ngoroks
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.SumbataJalanNafasSaatTidur, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SumbataJalanNafasSaatTidur, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Darah Tinggi
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.DarahTinggi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DarahTinggi, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Diabetes
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.DiabetesKET, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DiabetesKET, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Serangan Jantung / Nyeri Dada
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.SeranganJantungKET, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SeranganJantungKET, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Sakit Maag
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.SakitMaag, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SakitMaag, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-3 control-label">
                        Pingsan
                    </label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.PingsanKET, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PingsanKET, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12"> Jelaskan Penyakit Keluarga apabila dijawab "Ya"</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Apakah pasien pernah mendapatkan tranfusi darah
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.ApakahPasienPernahTransfusiDarah, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ApakahPasienPernahTransfusiDarah, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">Bila ya tahun berapa</label>
                            @Html.EditorFor(model => model.TranfusiTahunBerapa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TranfusiTahunBerapa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Apakah pasien pernah diperiksa untuk diagnosa HIV
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.ApakahPasienPernahDiagnosisHIV, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ApakahPasienPernahDiagnosisHIV, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">Bila ya tahun berapa</label>
                            @Html.EditorFor(model => model.HIVTahunBerapa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HIVTahunBerapa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Hasil pemeriksaan HIV</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.HasilPemeriksaanHIV, StaticModel.ListPositifNegatif, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HasilPemeriksaanHIV, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Apakah Pasien memakai</label>
                    <label class="col-md-1 control-label">Lensa Kontak</label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.LensaKontak, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LensaKontak, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Alat Bantu</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.AlatBantuDengar, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AlatBantuDengar, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Gigi Palsu</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.GigiPalsu, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GigiPalsu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Riwayat Operasi tahun dan Jenis Operasi</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.RiwayatOperasi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RiwayatOperasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Jenis anestesi yang digunakan dan sebutkan Komplikasi / Reaksi yang dialami</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">1. Anestesi Lokal</label>
                    <label class="col-md-5 control-label">Komplikasi</label>
                    <label class="col-md-5 control-label">Reaksi</label>
                    @*<div class="col-md-10">
                @Html.DropDownListFor(model => model.AnastesiLokal, StaticModel.ListKompleksReaksi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnastesiLokal, "", new { @class = "text-danger" })
            </div>*@
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        @Html.DropDownListFor(model => model.AnastesiLokalKomplikasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnastesiLokalKomplikasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.AnastesiLokalReaksi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnastesiLokalReaksi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">2. Anestesi Regional</label>
                    <label class="col-md-5 control-label">Komplikasi</label>
                    <label class="col-md-5 control-label">Reaksi</label>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        @Html.DropDownListFor(model => model.AnastesiRegionalKomplikasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnastesiRegionalKomplikasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.AnastesiRegionalReaksi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnastesiRegionalReaksi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">3. Anestesi Umum</label>
                    <label class="col-md-5 control-label">Komplikasi</label>
                    <label class="col-md-5 control-label">Reaksi</label>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        @Html.DropDownListFor(model => model.AnastesiUmumKomplikasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnastesiUmumKomplikasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.AnastesiUmumReaksi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnastesiUmumReaksi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Tanggal terakhir diperiksa dan sebutkan Komplikasi / Reaksi yang alami :</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            @Html.EditorFor(model => model.TanggalTerakhirPeriksa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TanggalTerakhirPeriksa, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                dimana
                            </label>
                            @Html.EditorFor(model => model.TanggalTerakhirPeriksaDimana, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TanggalTerakhirPeriksaDimana, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Untuk Penyakit Gangguan apa :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UntukPenyakitGangguan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UntukPenyakitGangguan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">KHUSUS UNTUK PEREMPUAN</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KhususPerempuan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KhususPerempuan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jumlah Kehamilan</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.JumlahKehamilan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JumlahKehamilan, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">
                        Jumlah Anak
                    </label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.JumlahAnak, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JumlahAnak, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Menstruasi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Menstruasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Menstruasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Menyusui</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Menyusui, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Menyusui, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Ket</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.KET, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KET, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.KETKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KETKet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">DIISI OLEH DOKTER</label>
                    <label class="col-md-12">KAJIAN SISTEM</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Hilangnya Gigi</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.HilangnyaGigi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HilangnyaGigi, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">Sakit Dada</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SakitDada, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SakitDada, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Masalah Mobilisasi Leher</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.MasalahMobilisasiLeher, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MasalahMobilisasiLeher, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">Denyut jantung tidak normal</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.DenyutJantungTidakNormal, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DenyutJantungTidakNormal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Leher Pendek</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.LeherPendek, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LeherPendek, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">Muntah</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.MuntahKet, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MuntahKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Batuk</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Batuk, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Batuk, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">Susah Kencing</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SusahKencing, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SusahKencing, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Sesak Nafas</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SesakNafasKET, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SesakNafasKET, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">Kejang</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Kejang, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Kejang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Baru saja menderita infeksi</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.BaruMenderitaInfeksi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BaruMenderitaInfeksi, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">Sedang Hamil</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SedangHamil, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SedangHamil, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Periode menstruasi tidak normal</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PeriodeMenstruasiTidakNormal, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PeriodeMenstruasiTidakNormal, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">Obesitas</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Obesitas, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Obesitas, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Stroke</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Stroke, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Stroke, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">Pingsan</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Pingsan, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pingsan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Saluran Nafas Atas</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SaluranNafas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SaluranNafas, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keterangan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KeteranganSaluranNafas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KeteranganSaluranNafas, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">PEMERIKSAAN FISIK</label>
                </div>
                <div class="form-group">
                    <div class="col-md-3 ">
                        <div class="input-group">
                            <label class="input-group-addon">Tinggi</label>
                            @Html.EditorFor(model => model.Tinggi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tinggi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Berat</label>
                            @Html.EditorFor(model => model.Berat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Berat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">TD</label>
                            @Html.EditorFor(model => model.TD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Nadi</label>
                            @Html.EditorFor(model => model.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nadi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 ">
                        <div class="input-group">
                            <label class="input-group-addon">Suhu</label>
                            @Html.EditorFor(model => model.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Suhu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">KEADAAN UMUM</label>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Kesadaran</label>
                            @Html.EditorFor(model => model.Kesadaran, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Kesadaran, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Visus</label>
                            @Html.EditorFor(model => model.Visus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Visus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Faring</label>
                            @Html.EditorFor(model => model.Faring, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Faring, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Gigi Palsu</label>
                            @Html.EditorFor(model => model.GigiPalsuKET, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GigiPalsuKET, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Paru - Paru
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ParuParu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ParuParu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Jantung
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Jantung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Jantung, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Abdomen
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Abdomen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Abdomen, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Ekstrimis
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ekstrimis, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ekstrimis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Neurologi
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NeurologiKET, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NeurologiKET, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Laboratorium
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Laboratorium, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Laboratorium, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Hb / Ht
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.HbHt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HbHt, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Rontegn Dada
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.HbHt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HbHt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        BT / CT
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.BTCT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BTCT, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        EKG(> 5 thn)
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EKG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EKG, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Gol. Darah
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.GolDarah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GolDarah, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        GDS
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.GDS, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GDS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Ureum
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Urenm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Urenm, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        SGOT / SGPT
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SGOTSGPT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SGOTSGPT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Kreatinin
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Kreatinin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Kreatinin, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Tes Kehamilan
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TesKehamilan, StaticModel.ListPositifNegatif, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TesKehamilan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">WBC</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WBC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WBC, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">PLT</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PLT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PLT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Lain- Lain</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Lainlain, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lainlain, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Teknik Anastesi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TeknikAnestesi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TeknikAnestesi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keterangan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KetTeknikAnestesi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KetTeknikAnestesi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Diagnosa : Klasifikasi berdasarkan ASA :</label>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-1 control-label">1.</label>
                    <div class="col-md-10">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.ASA1, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            ASA 1 : Pasien normal yang Sehat
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-1 control-label">2.</label>
                    <div class="col-md-10">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.ASA2, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            ASA 2 : Pasien dengan Penyakit Sistemik Ringan
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-1 control-label">3.</label>
                    <div class="col-md-10">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.ASA3, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            ASA 3 : Pasien dengan Penyakit Sistemik Berat
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-1 control-label">4.</label>
                    <div class="col-md-10">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.ASA4, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            ASA 4 : Pasien dengan Penyakit Sistemik Berat yang mengancam nyawa
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Puasa mulai</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Jam
                            </label>
                            @Html.EditorFor(model => model.PuasaJam, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PuasaJam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tanggal
                            </label>
                            @Html.EditorFor(model => model.TanggalPuasa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TanggalPuasa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tiba di OK</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Jam
                            </label>
                            @Html.EditorFor(model => model.PuasaJamOK, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PuasaJamOK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tanggal
                            </label>
                            @Html.EditorFor(model => model.TanggalPuasaOK, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TanggalPuasaOK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Rencana Operasi</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.RencanaOperasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RencanaOperasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Jam
                            </label>
                            @Html.EditorFor(model => model.RencanaOperasiJam, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RencanaOperasiJam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tanggal
                            </label>
                            @Html.EditorFor(model => model.RencanaOperasiTanggal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RencanaOperasiTanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Anestesi @if (Model.VerifikasiDokterAnestesi)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DokterAnestesi, Model.DokterAnestesi == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterAnestesi.ToString(), Text = Model.DokterAnestesiNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterAnestesi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DokterAnestesi)','@nameof(Model.VerifikasiDokterAnestesi)')"><i class="icon-checkmark"></i></a>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    generalDokter("#@formName #DokterAnestesi");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $(document).ready(function () {

    });

</script>


