﻿@using EMRRSCB.Models
@model EMRResumeMedisMataViewModel
@{
    var controllerName = "EMRResumeMedisMata";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDDokter)
       

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Pasien</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Saya, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaUmur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaUmur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaAlamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaAlamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Anamnesa</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anamnesa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Anamnesa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pemeriksaan Fisik :</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanFisik, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemeriksaanFisik, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnosis :</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Diagnosis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Diagnosis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Therapy :</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Therapy, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Therapy, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Telah melakukan tindakan :</label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Visus, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            1. Visus
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SlitLamp, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            2. Slit Lamp
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.ResepKacaMata, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            3. Resep kaca mata
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.RawatLuka, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            4. Rawat luka
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Founduscopy, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            5. Funduscopy
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pemeriksaan lain :</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanLain, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemeriksaanLain, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Dokter, Model.Dokter == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Dokter.ToString(), Text = Model.DokterNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDDokter != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDDokter)" name="IMG_@nameof(Model.TTDDokter)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>

    function clickgambar1() {
        $('#IMG_TTDDokter').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDDokter)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDDokter').click()
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDDokter)');

    @if (Model != null)
    {
        if (Model.TTDDokter != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDDokter)');
        }
    }

    $(document).ready(function () {
        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDDokter)');
        iGambar1 = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDDokter');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    @*var iGambar1;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTD_Menyatakan)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTD_Saksi1)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTD_Saksi2)');

    @if (Model != null)
    {
        if (Model.TTD_Menyatakan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Menyatakan)');
        }
        if (Model.TTD_Saksi1 != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi1)');
        }
        if (Model.TTD_Saksi2 != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi2)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTD_Menyatakan)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTD_Menyatakan');
            iGambar2.convert_V2('TTD_Saksi1');
            iGambar3.convert_V2('TTD_Saksi2');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }*@
</script>


