﻿@using EMRRSCB.Models
@model EMRPemberianInformasiViewModel
@{
    var controllerName = "EMRPemberianInformasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }
    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTD_Menyatakan)
        @Html.HiddenFor(model => model.TTD_Saksi1)
        @Html.HiddenFor(model => model.TTD_Saksi2)
        @Html.HiddenFor(model => model.TTD_TandaTangan1)
        @Html.HiddenFor(model => model.TTD_TandaTangan2)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Pelaksana Tindakan
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.DokterPelaksanaTIndakan, Model.DokterPelaksanaTIndakan == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterPelaksanaTIndakan.ToString(), Text = Model.DokterPelaksanaTIndakanNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterPelaksanaTIndakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pemberian Informasi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PemberiInformasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PemberiInformasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Penerima Informasi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PenerimaInformasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenerimaInformasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <table id="tablecustom" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>JENIS INFORMASI</th>
                                <th>ISI INFORMASI</th>
                                <th>TANDA(V)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Diagnosa (WD & DD)</td>
                                <td>
                                    @Html.EditorFor(model => model.DiagnosaKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiagnosaKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Diagnosa, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Dasar Diagnosis</td>
                                <td>
                                    @Html.EditorFor(model => model.DasarDiagnosaKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DasarDiagnosaKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.DasarDiagnosa, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tindakan Kedokteran</td>
                                <td>
                                    @Html.EditorFor(model => model.TindakanKedokteranKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TindakanKedokteranKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.TindakanKedokteran, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Indikasi Tindakan</td>
                                <td>
                                    @Html.EditorFor(model => model.IndikasiTindakanKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IndikasiTindakanKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.IndikasiTindakan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Tata Cara</td>
                                <td>
                                    @Html.EditorFor(model => model.TataCaraKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TataCaraKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.TataCara, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Tujuan</td>
                                <td>
                                    @Html.EditorFor(model => model.TujuanKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TujuanKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Tujuan, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Risiko</td>
                                <td>
                                    @Html.EditorFor(model => model.RisikoKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RisikoKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Risiko, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Komplikasi</td>
                                <td>
                                    @Html.EditorFor(model => model.KomplikasiKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.KomplikasiKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Komplikasi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Prognosis</td>
                                <td>
                                    @Html.EditorFor(model => model.PrognosisKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrognosisKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.Prognosis, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Alternatif & Risiko</td>
                                <td>
                                    @Html.EditorFor(model => model.AlternatifDanRisikoKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AlternatifDanRisikoKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.AlternatifDanRisiko, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Lain- Lain</td>
                                <td>
                                    @Html.EditorFor(model => model.LainLainKet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LainLainKet, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.LainLain, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                    </label>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="form-group">
                    <label class="col-md-9">Dengan ini menyatakan bahwa saya telah menerangkan hal-hal diatas secara benar dan jelas dan memberikan kesempatan untuk bertanya dan atau berdiskusi</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.TandaTangan1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TandaTangan1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-primary pull-right btn-sm @(Model.TTD_TandaTangan1 != null ? "btn-flash" : "")" onclick="clickgambar4()">Tanda Tangan</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-9">Dengan ini menyatakan bahwa saya telah menerima informasi sebagaimana diatas yang saya beri tanda/ paraf kolom kanannya dan telah memahaminya</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.TandaTangan2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TandaTangan2, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-primary pull-right btn-sm @(Model.TTD_TandaTangan2 != null ? "btn-flash" : "")" onclick="clickgambar5()">Tanda Tangan</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Bila pasien tidak kompeten atau tidak mau menerima informasi maka penerima informasi adalah wali atau keluarga terdekat</label>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12 text-center">PERSETUJUAN TINDAKAN KEDOKTERAN</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Yang bertandatangan dibawah ini, Saya</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                            <label class="input-group-addon">Tahun</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.JenisKelamin, StaticModel.ListLakiPerempuan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.SayaAlamat, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SayaAlamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">
                        Dengan ini menyatakan persetujuan untuk dilakukan tindakan
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Tindakan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tindakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Terhadap Saya</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Saya, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Saya, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            @Html.EditorFor(model => model.SayaUmur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.SayaUmur, "", new { @class = "text-danger" })
                            <label class="input-group-addon">Tahun</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SayaJK, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SayaJK, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.SayaAlamat, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.SayaAlamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Yang Menyatakan
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Menyatakan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Menyatakan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTD_Menyatakan != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        @*<a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1()">Ulang</a>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Saksi 1
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Saksi1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saksi1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTD_Saksi1 != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar2()"><i class="icon-eraser"></i>Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Saksi 2
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Saksi2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saksi2, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTD_Saksi2 != null ? "btn-flash" : "")"  onclick="clickgambar3()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar3()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_Menyatakan)" name="IMG_@nameof(Model.TTD_Menyatakan)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_Saksi1)" name="IMG_@nameof(Model.TTD_Saksi1)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_Saksi2)" name="IMG_@nameof(Model.TTD_Saksi2)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_TandaTangan1)" name="IMG_@nameof(Model.TTD_TandaTangan1)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_TandaTangan2)" name="IMG_@nameof(Model.TTD_TandaTangan2)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>

    function clickgambar1() {
        $('#IMG_TTD_Menyatakan').click()
    }

    function clickgambar2() {
        $('#IMG_TTD_Saksi1').click()
    }

    function clickgambar3() {
        $('#IMG_TTD_Saksi2').click()
    }

    function clickgambar4() {
        $('#IMG_TTD_TandaTangan1').click()
    }

    function clickgambar5() {
        $('#IMG_TTD_TandaTangan2').click()
    }

    function ulanggambar1() {
        $('#IMG_TTD_Menyatakan').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    function ulanggambar2() {
        $('#IMG_TTD_Saksi1').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    function ulanggambar3() {
        $('#IMG_TTD_Saksi2').attr('src', '/Theme/images/TandaTangan.png');
        $('a.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    generalDokter("#@formName #DokterPelaksanaTIndakan");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var iGambar4;
    var iGambar5;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTD_Menyatakan)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTD_Saksi1)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTD_Saksi2)');
    var ximg_Gambar4 = $('#IMG_@nameof(Model.TTD_TandaTangan1)');
    var ximg_Gambar5 = $('#IMG_@nameof(Model.TTD_TandaTangan2)');

    @if (Model != null)
    {
        if (Model.TTD_Menyatakan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Menyatakan)');
        }
        if (Model.TTD_Saksi1 != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi1)');
        }
        if (Model.TTD_Saksi2 != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi2)');
        }
        if (Model.TTD_TandaTangan1 != null)
        {
            @:ximg_Gambar4.attr('src', 'data:image/jpeg;base64,@(Model.TTD_TandaTangan1)');
        }
        if (Model.TTD_TandaTangan2 != null)
        {
            @:ximg_Gambar5.attr('src', 'data:image/jpeg;base64,@(Model.TTD_TandaTangan2)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);
        iGambar4 = new iPainter_V2(ximg_Gambar4);
        iGambar5 = new iPainter_V2(ximg_Gambar5);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTD_Menyatakan)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTD_Menyatakan');
            iGambar2.convert_V2('TTD_Saksi1');
            iGambar3.convert_V2('TTD_Saksi2');
            iGambar4.convert_V2('TTD_TandaTangan1');
            iGambar5.convert_V2('TTD_TandaTangan2');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


