﻿@using EMRRSCB.Models
@model CPPTViewModel
@{
    var controllerName = "EMRSIMtrSOAP_TBK";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.T_TTD)
        @Html.HiddenFor(model => model.B_TTD)
        @Html.HiddenFor(model => model.K_TTD)
        @Html.HiddenFor(model => model.MODEVIEW)
        @Html.HiddenFor(model => model.TanggalInput)


        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.Tanggal)
        @Html.HiddenFor(model => model.Tanggal_View)
        @Html.HiddenFor(model => model.Jam)
        @Html.HiddenFor(model => model.Jam_View)
        @Html.HiddenFor(model => model.Profesi)
        @Html.HiddenFor(model => model.CPPT_S)
        @Html.HiddenFor(model => model.CPPT_O)
        @Html.HiddenFor(model => model.CPPT_A)
        @Html.HiddenFor(model => model.CPPT_P)
        @Html.HiddenFor(model => model.CPPT_I)
        @Html.HiddenFor(model => model.DPJP)
        @Html.HiddenFor(model => model.DPJPNama)
        @Html.HiddenFor(model => model.Edit)
        @Html.HiddenFor(model => model.templateName)
        @Html.HiddenFor(model => model.CPPT_OGambar)
        @Html.HiddenFor(model => model.TandaTangan)
        @Html.HiddenFor(model => model.TTDDPJP)
        @Html.HiddenFor(model => model.TTDCPPT)

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">T</th>
                                        <th class="text-center">B</th>
                                        <th class="text-center">K</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.EditorFor(model => model.T_Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.T_Tanggal != null ? Model.T_Tanggal.Value.ToString("yyyy-MM-dd") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.T_Tanggal, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.B_Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.B_Tanggal != null ? Model.B_Tanggal.Value.ToString("yyyy-MM-dd") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.B_Tanggal, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.K_Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.K_Tanggal != null ? Model.K_Tanggal.Value.ToString("yyyy-MM-dd") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.K_Tanggal, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.EditorFor(model => model.T_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.T_Jam != null ? Model.T_Jam.Value.ToString("HH':'mm") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.T_Jam, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.B_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.B_Jam != null ? Model.B_Jam.Value.ToString("HH':'mm") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.B_Jam, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.K_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.K_Jam != null ? Model.K_Jam.Value.ToString("HH':'mm") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.K_Jam, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DropDownListFor(model => model.T_Petugas, Model.T_Petugas == null ? new List<SelectListItem>() :
                                 new List<SelectListItem>() { new SelectListItem() { Value = Model.T_Petugas.ToString(), Text = Model.T_Petugas_Nama } }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.T_Petugas, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.B_Petugas, Model.B_Petugas == null ? new List<SelectListItem>() :
                                 new List<SelectListItem>() { new SelectListItem() { Value = Model.B_Petugas.ToString(), Text = Model.B_Petugas_Nama } }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.B_Petugas, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.K_Petugas, Model.K_Petugas == null ? new List<SelectListItem>() :
                                 new List<SelectListItem>() { new SelectListItem() { Value = Model.K_Petugas.ToString(), Text = Model.K_Petugas_Nama } }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.K_Petugas, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-md-12" style="position:inherit">
                                                <div class="form-group" style="position:inherit">
                                                    <div class="col-md-12 text-center">
                                                        <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.T_TTD)" name="IMG_@nameof(Model.T_TTD)" src="~/Theme/images/TTD.PNG" width="100%" style="border:1px solid #ccc" />
                                                        <p class="text-muted no-margin no-padding">*) Klik pada images untuk membuat ttd petugas</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12" style="position:inherit">
                                                <div class="form-group" style="position:inherit">
                                                    <div class="col-md-12 text-center">
                                                        <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.B_TTD)" name="IMG_@nameof(Model.B_TTD)" src="~/Theme/images/TTD.PNG" width="100%" style="border:1px solid #ccc" />
                                                        <p class="text-muted no-margin no-padding">*) Klik pada images untuk membuat ttd petugas</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12" style="position:inherit">
                                                <div class="form-group" style="position:inherit">
                                                    <div class="col-md-12 text-center">
                                                        <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.K_TTD)" name="IMG_@nameof(Model.K_TTD)" src="~/Theme/images/TTD.PNG" width="100%" style="border:1px solid #ccc" />
                                                        <p class="text-muted no-margin no-padding">*) Klik pada images untuk membuat ttd petugas</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-right">
                            @if (Model.MODEVIEW == 1)
                            {
                                <button type="submit" class="btn btn-success">Update <i class="icon-arrow-right14 position-right"></i></button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<script>
    generalDokter("#@formName #T_Petugas");
    generalDokter("#@formName #B_Petugas");
    generalDokter("#@formName #K_Petugas");
    @if (Model.MODEVIEW == 1)
    {
        < text >
        $("#@formName").find("a").closest("th").addClass("hidden");
        $("#@formName").find("a").closest("td").addClass("hidden");
        //$("#@formName").find("button").attr("disabled", true);
        $("#@formName").find("input").attr("disabled", true);
        $("#@formName").find("select").attr("disabled", true);
        $("#@formName").find("textarea").attr("disabled", true);
        //$("#@formName").find('button[type="submit"]').addClass("hidden");
        </ text >
    }
</script>

<script>
    var iGambar;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.T_TTD)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.B_TTD)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.K_TTD)');

    @if (Model != null)
    {
        if (Model.T_TTD != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.T_TTD)');

        }
        if (Model.B_TTD != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.B_TTD)');

        }
        if (Model.K_TTD != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.K_TTD)');

        }
    }

    $(document).ready(function() {

    iGambar = new iPainter_V2(ximg_Gambar1);
    iGambar2 = new iPainter_V2(ximg_Gambar2);
    iGambar3 = new iPainter_V2(ximg_Gambar3);

    $(".modal-canvas").on("click", function(e) {
    if ($('.modal.in').length > 0) $('body').addClass('modal-open');
    });

    });

    @*function resetImage() {
            var imges = $('#IMG_@nameof(Model.T_TTD)');
            iGambar = new iPainter_V2(imges);
            var imges2 = $('#IMG_@nameof(Model.K_TTD)');
            iGambar2 = new iPainter_V2(imges2);
        }*@

    function SubmitForm(e)
    {
    try
    {
    iGambar.convert_V2('T_TTD');
    iGambar2.convert_V2('B_TTD');
    iGambar2.convert_V2('K_TTD');
    loading();
    }
    catch (er)
    {
    alertpopup('Image error : ' + er.message, 'danger');
    e.preventDefault();
    }
    }
</script>
