﻿label, dt {
    margin-bottom: 3px;
}

.form-group {
    margin-bottom: 10px;
}

.detail td {
    padding: 3px !important;
}

.btn-multipleselected {
    top: -9px;
    left: 14px;
}

@media (max-width: 360px) {

    .btn-multipleselected {
        top: 2px;
        left: auto;
    }

    .panel-EMR {
        position: sticky;
        top: 0px;
        z-index: 99;
        display: none;
    }
}

@media (max-width: 768px) {

    .heading-elements:not(.not-collapsible), .breadcrumb-elements:not(.not-collapsible) {
        display: block;
        position: absolute;
        top: 5px;
    }

    /*.panel-EMR {
        position: sticky;
        top: 0px;
        z-index: 99;
        display:none;
    }*/
}

.navbar-brand {
    padding: 5px 20px;
}

    .navbar-brand img {
        height: 25px;
        margin-top: 6px;
    }

.sidebar-main > .sidebar-content {
    background-color: #263238;
}

tr.loading {
    height: 100px;
}

.dataTables_info {
    margin-bottom: 6px;
}

.dl-horizontal dt + dd,
dd + dt {
    margin-top: 0px;
}

.datatable-header {
    padding: 0 20px;
}

.active-info td {
    background-color: #6cc7f5 !important;
}

.modal.in.ng-scope {
    padding-right: 0px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 8px;
}
/*
    ======================================================================
                                    LOADING
    ======================================================================
*/
.bubblingG {
    text-align: center;
    width: 68px;
    height: 42px;
    margin: auto;
}

    .bubblingG span {
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        margin: 21px auto;
        background: rgba(0,0,0,0.68);
        border-radius: 42px;
        -o-border-radius: 42px;
        -ms-border-radius: 42px;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        animation: bubblingG 0.775s infinite alternate;
        -o-animation: bubblingG 0.775s infinite alternate;
        -ms-animation: bubblingG 0.775s infinite alternate;
        -webkit-animation: bubblingG 0.775s infinite alternate;
        -moz-animation: bubblingG 0.775s infinite alternate;
    }

#bubblingG_1 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_2 {
    animation-delay: 0.2295s;
    -o-animation-delay: 0.2295s;
    -ms-animation-delay: 0.2295s;
    -webkit-animation-delay: 0.2295s;
    -moz-animation-delay: 0.2295s;
}

#bubblingG_3 {
    animation-delay: 0.469s;
    -o-animation-delay: 0.469s;
    -ms-animation-delay: 0.469s;
    -webkit-animation-delay: 0.469s;
    -moz-animation-delay: 0.469s;
}



@keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color: rgba(129,235,141,0.63);
        transform: translateY(0);
    }

    100% {
        width: 20px;
        height: 20px;
        background-color: rgb(53,90,240);
        transform: translateY(-18px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color: rgba(129,235,141,0.63);
        -o-transform: translateY(0);
    }

    100% {
        width: 20px;
        height: 20px;
        background-color: rgb(53,90,240);
        -o-transform: translateY(-18px);
    }
}

/*@-ms-keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color: rgba(129,235,141,0.63);
        -ms-transform: translateY(0);
    }

    100% {
        width: 20px;
        height: 20px;
        background-color: rgb(53,90,240);
        -ms-transform: translateY(-18px);
    }
}*/

@-webkit-keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color: rgba(129,235,141,0.63);
        -webkit-transform: translateY(0);
    }

    100% {
        width: 20px;
        height: 20px;
        background-color: rgb(53,90,240);
        -webkit-transform: translateY(-18px);
    }
}

@-moz-keyframes bubblingG {
    0% {
        width: 8px;
        height: 8px;
        background-color: rgba(129,235,141,0.63);
        -moz-transform: translateY(0);
    }

    100% {
        width: 20px;
        height: 20px;
        background-color: rgb(53,90,240);
        -moz-transform: translateY(-18px);
    }
}

#_loading.loading {
    position: fixed;
    z-index: 99999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 1);
}

#_loading .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#_message {
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 99999;
}

@media only screen and (min-width:768px) {
    #_message {
        width: 300px;
        right: 20px;
    }
}

/*===================================================================================================================*/

.img-thumbnail {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img-thumbnail:hover {
        opacity: 0.7;
    }

.modal-img {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content-img, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close-img {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

@@media only screen and (max-width: 700px) {
    .modal-content-img {
        width: 100%;
    }
}

.modal-canvas canvas {
    background-color: white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    touch-action: none; /*prevent canvas scrolling and system touch behavior*/
    display: block;
}

.modal-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333333e0;
    z-index: 1000;
    padding-top: 20px;
    z-index: 9999;
}

.modal-canvas-body {
    background-color: white;
    width: auto;
}

.modal-canvas .menu {
    position: fixed;
    bottom: 0;
    background-color: white;
    left: 0;
    right: 0;
    padding: 20px;
}