﻿@using EMRRSCB.Models
@model EMRRI_PengkajianAwalMedisIlmuPenyakitMataViewModel
@{
    var controllerName = "EMRRI_PengkajianAwalMedisIlmuPenyakitMata";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Rencana Kerja
    var d_tbl_RencanaKerja = $"frm_table_detailIIlmuMataRI";
    int d_idx_RencanaKerja = 0;
    var d_trg_RencanaKerja = $"input_target_detailIIlmuMataRI";
    if (Model != null)
    {

        if (Model.RencanaKerja_List != null)
        {
            d_idx_RencanaKerja = Model.RencanaKerja_List.Count();
        }
    }
    #endregion
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_RencanaKerja thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(1),
    #@d_tbl_RencanaKerja tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(2),
    #@d_tbl_RencanaKerja tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(3),
    #@d_tbl_RencanaKerja tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(4),
    #@d_tbl_RencanaKerja tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(5),
    #@d_tbl_RencanaKerja tbody td:nth-child(5) {
        width: 170px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(6),
    #@d_tbl_RencanaKerja tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(7),
    #@d_tbl_RencanaKerja tbody td:nth-child(7) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(8),
    #@d_tbl_RencanaKerja tbody td:nth-child(8) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(9),
    #@d_tbl_RencanaKerja tbody td:nth-child(9) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(10),
    #@d_tbl_RencanaKerja tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(11),
    #@d_tbl_RencanaKerja tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(12),
    #@d_tbl_RencanaKerja tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(13),
    #@d_tbl_RencanaKerja tbody td:nth-child(13) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(14),
    #@d_tbl_RencanaKerja tbody td:nth-child(14) {
        text-align: center;
        width: 100px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.VerifikasiDPJP)
        @Html.HiddenFor(model => model.VerifikasiPengkaji)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-offset-8 col-md-1">Template</label>
                    <div class="col-md-2">
                        <select id="listTemplateDokumen" class="form-control">
                            <option value="0"></option>
                            @if (Model.ListTemplate != null)
                            {
                                foreach (var x in Model.ListTemplate)
                                {
                                    @: <option value="@x.Value">@x.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Tanggal :
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-md-1">
                        Jam:
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.JamDatang, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamDatang != null ? Model.JamDatang.Value.ToString("HH':'mm") : "") : "") } })
                        @Html.ValidationMessageFor(model => model.JamDatang, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Rujukan</label>
                    <div class="col-md-2 ">
                        @Html.DropDownListFor(model => model.Rujukan, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rujukan, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Dari</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.RS, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                RS
                            </label>
                            @Html.EditorFor(model => model.RSKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RSKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.Puskesmas, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Puskesmas
                            </label>
                            @Html.EditorFor(model => model.PuskesmasKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PuskesmasKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-5">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.DR, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Dr
                            </label>
                            @Html.EditorFor(model => model.DRKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DRKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.Lainnya, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Lainnya
                            </label>
                            @Html.EditorFor(model => model.LainnyaKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LainnyaKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-4 control-label">dx Rujukan :</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.DXLainnya, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DXLainnya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-5">
                    <label class="checkbox checkbox-inline">
                        @Html.EditorFor(model => model.DatangSendiri, new { htmlAttributes = new { @class = "checkbox-custom" } })
                        Datang Sendiri
                    </label>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.Diantar, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Diantar
                        </label>
                        @Html.EditorFor(model => model.DiantarKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiantarKet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 text-bold">ANAMNESA</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keluhan Utama</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaKeluhanUtama, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaKeluhanUtama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Penyakit Sekarang</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaPenyakitSekarang, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaPenyakitSekarang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Penyakit Dahulu</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AnamnesaPenyakitDahulu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AnamnesaPenyakitDahulu, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">
                        TANDA-TANDA VITAL
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Keadaan Umum :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TandaVitalKeadaanUmum, StaticModel.ListBaikSedangLemahJelek, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TandaVitalKeadaanUmum, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                GCS : E
                            </label>
                            @Html.EditorFor(model => model.TandaVitalGCS_E, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalGCS_E, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                V
                            </label>
                            @Html.EditorFor(model => model.TandaVitalGCS_V, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalGCS_V, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                M
                            </label>
                            @Html.EditorFor(model => model.TandaVitalGCS_M, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalGCS_M, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tekanan Darah:
                            </label>
                            @Html.EditorFor(model => model.TandaVitalTekananDarah, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalTekananDarah, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                mm/Hg
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Nadi:
                            </label>
                            @Html.EditorFor(model => model.TandaVitalNadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalNadi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Respirasi:
                            </label>
                            @Html.EditorFor(model => model.TandaVitalRespirasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalRespirasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Suhu
                            </label>
                            @Html.EditorFor(model => model.TandaVitalSuhu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TandaVitalSuhu, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                <sup>o</sup>C
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 control-label text-semibold">PEMERIKSAAN UMUM</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Status Internus</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keadaan Umum</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanKeadaanUmum, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Car</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanCar, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pulmo</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanPulmo, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Hepar/Lien</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanHepar, new { @Class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-6 text-bold text-center">UCVA</label>
                    <label class="col-md-6 text-bold text-center">BCVA</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Visus Awal OD</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.VirusAwalOD_UCVA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VirusAwalOD_UCVA, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.VirusAwalOD_BCVA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VirusAwalOD_BCVA, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Visus Awal OS</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.VirusAwalOS_UCVA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VirusAwalOS_UCVA, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.VirusAwalOS_BCVA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VirusAwalOS_BCVA, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kacamata OD</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.KacamataOD_UCVA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KacamataOD_UCVA, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.KacamataOD_BCVA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KacamataOD_BCVA, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kacamata OS</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.KacamataOS_UCVA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KacamataOS_UCVA, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.KacamataOS_BCVA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KacamataOS_BCVA, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <div class="col-md-2 control-label">Test Anel</div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.TestAnel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TestAnel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Buta Warna</div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.TestButaWarna, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TestButaWarna, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Test Flourecein</div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.TestFlourecein, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TestFlourecein, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">Pemeriksaan Lain</div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanLain, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemeriksaanLain, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">HASIL PEMERIKSAAN PENUNJANG</label>
                    <label class="col-md-6">ICD-X</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.HasilPemeriksaanPenunjang, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HasilPemeriksaanPenunjang, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PilihICD, Model.PilihICD == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PilihICD.ToString(), Text = Model.PilihICDNama } }, new { @class = "form-control", onchange = "icd()" })
                        @Html.ValidationMessageFor(model => model.PilihICD, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.ICDX, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ICDX, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label text-bold text-center">Rencana Kerja Dokter</label>
                </div>
                <div class="form-group">
                    <div id="panel_@formName" class="detail collapse in"
                         data-index-detail="@d_idx_RencanaKerja">
                        <div class="table-responsive">
                            <table id="@d_tbl_RencanaKerja" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_RencanaKerja')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Daftar Masalah</th>
                                        <th>Rencana Intervensi</th>
                                        <th>Target(Kondisi yang diharapkan)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.RencanaKerja_List != null)
                                        {
                                            for (var i = 0; i < Model.RencanaKerja_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.RencanaKerja_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.RencanaKerja_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.RencanaKerja_List[i].Model.DaftarMasalah, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.RencanaKerja_List[i].Model.RencanaIntervensi, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.RencanaKerja_List[i].Model.Target, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="col-md-2 control-label">Perawat</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Perawat, Model.Perawat == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.Perawat.ToString(), Text = Model.PerawatNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Perawat, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Intruksi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Intruksi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Intruksi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        DPJP @if (Model.VerifikasiDPJP)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DPJP, Model.DPJP == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJP.ToString(), Text = Model.DPJPNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DPJP, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DPJP)','@nameof(Model.VerifikasiDPJP)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Pengkaji @if (Model.VerifikasiPengkaji)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DokterPengkajian, Model.DokterPengkajian == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterPengkajian.ToString(), Text = Model.DokterPengkajianNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterPengkajian, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DokterPengkajian)','@nameof(Model.VerifikasiPengkaji)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                            Simpan Template
                        </label>
                        <input type="text" name="@nameof(Model.nama_template)" id="@nameof(Model.nama_template)" class="form-control" value="" />
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function icd() {
        var icdvalue = "";
        var icdpilih = "";
        icdvalue = $('#ICDX').val();
        icdpilih = $('#PilihICD').val();
        $('#ICDX').val(icdvalue + (icdpilih == null ? '' : '\n' + icdpilih));
        $("#ICDX").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
        });
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }
</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.RencanaKerja_List = null;
        }
    }
}

<div id="@d_trg_RencanaKerja" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.RencanaKerja_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.RencanaKerja_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.RencanaKerja_List[-1].Model.DaftarMasalah, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.RencanaKerja_List[-1].Model.RencanaIntervensi, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.RencanaKerja_List[-1].Model.Target, new
   {
           @class = "form-control input-sm"
   })
    </div>
</div>

<script>
    $(document).ready(function () {
        icd();

    });

    generalICD("#@formName #PilihICD");
    generalDokter("#@formName #DPJP");
    generalDokter("#@formName #DokterPengkajian");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoBukti";
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }

   
</script>
