﻿@using EMRRSCB.Models
@model EMRAssesmentPraOperasiViewModel
@{
    var controllerName = "EMRAssesmentPraOperasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    .customtext {
        height: 850px;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.GambarLaki)
            @Html.HiddenFor(model => model.GambarPerempuan)
            @Html.HiddenFor(model => model.VerifikasiAnastesilogist)
            @Html.HiddenFor(model => model.VerifikasiOperator)
            @Html.HiddenFor(model => model.TTDDPJP_Anastesiologist)
            @Html.HiddenFor(model => model.TTDNamaPasien)

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-offset-8 col-md-1">Template</label>
                    <div class="col-md-2">
                        <select id="listTemplateDokumen" class="form-control">
                            <option value="0"></option>
                            @if (Model.ListTemplate != null)
                            {
                                foreach (var x in Model.ListTemplate)
                                {
                                    @: <option value="@x.Value">@x.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Tanggal :
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Data Subjektif</label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Batuk, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Batuk
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Pusing, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Pusing
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Sesak_Nafas, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Sesak Nafas
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Pilek, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Pilek
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Mual, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Mual
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Puasa, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Puasa
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.Data_Subyektif_Lainnya, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Lainnya
                            </label>
                            @Html.EditorFor(model => model.Data_Subyektif_LainnyaKET, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Data_Subyektif_LainnyaKET, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12 text-bold">Data Obyektif (Pemeriksaan Fisik)</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.DataObjektif, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DataObjektif, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <table class="table table-bordered">
                        <tr>
                            <td><label class="col-md-12">Pemeriksaan</label></td>
                            <td>
                                <label class="col-md-3 control-label">Jam</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.JamPemeriksaan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamPemeriksaan != null ? Model.JamPemeriksaan.Value.ToString("HH:mm") : DateTime.Now.ToString("HH:mm")) : DateTime.Now.ToString("HH:mm")) } })
                                    @Html.ValidationMessageFor(model => model.JamPemeriksaan, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <label class="col-md-3 control-label">Jam</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.JamPemeriksaan1, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.JamPemeriksaan1 != null ? Model.JamPemeriksaan1.Value.ToString("HH:mm") : DateTime.Now.ToString("HH:mm")) : DateTime.Now.ToString("HH:mm")) } })
                                    @Html.ValidationMessageFor(model => model.JamPemeriksaan1, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-md-12">Tekanan Darah</label></td>
                            <td>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Tekanan_Darah, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tekanan_Darah, "", new { @class = "text-danger" })
                                        <label class="input-group-addon">mmHg</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Tekanan_Darah1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tekanan_Darah1, "", new { @class = "text-danger" })
                                        <label class="input-group-addon">mmHg</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-md-12">Frekuensi Nafas</label></td>
                            <td>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Frekuensi_Nafas, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Frekuensi_Nafas, "", new { @class = "text-danger" })
                                        <label class="input-group-addon">x/mnt</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Frekuensi_Nafas1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Frekuensi_Nafas1, "", new { @class = "text-danger" })
                                        <label class="input-group-addon">x/mnt</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-md-12">Nadi</label></td>
                            <td>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nadi, "", new { @class = "text-danger" })
                                        <label class="input-group-addon">x/mnt</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Nadi1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nadi1, "", new { @class = "text-danger" })
                                        <label class="input-group-addon">x/mnt</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-md-12">Suhu Aksilla</label></td>
                            <td>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Suhu_Aksila, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Suhu_Aksila, "", new { @class = "text-danger" })
                                        <label class="input-group-addon"><sup>o</sup>C</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Suhu_Aksila1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Suhu_Aksila1, "", new { @class = "text-danger" })
                                        <label class="input-group-addon"><sup>o</sup>C</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-md-12">Inspeksi</label></td>
                            <td>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Inspeksi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Inspeksi, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Inspeksi1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Inspeksi1, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-md-12">Auskultasi</label></td>
                            <td>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Auskultasi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Auskultasi, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Auskultasi1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Auskultasi1, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-md-12">Palpasi</label></td>
                            <td>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Palpasi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Palpasi, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Palpasi1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Palpasi1, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-md-12">Perkusi</label></td>
                            <td>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Perkusi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Perkusi, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Perkusi1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Perkusi1, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Catatan penting
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Catatan_Penting, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Catatan_Penting, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        LEVEL ASA
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.LEVEL_ASA, StaticModel.ListLevelAsa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LEVEL_ASA, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        MALLAMPATI
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.MALLAMPATI, StaticModel.ListIIV, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MALLAMPATI, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12">
                        Posisi pasien dalam operasi
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Posisi_Pasien_dalam_Operasi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Posisi_Pasien_dalam_Operasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Profilaksis</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Profilaksis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Profilaksis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        DPJP Operator @if (Model.VerifikasiOperator)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DPJP_Operator, Model.DPJP_Operator == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJP_Operator.ToString(), Text = Model.DPJP_OperatorNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DPJP_Operator, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DPJP_Operator)','@nameof(Model.VerifikasiOperator)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat Penyakit</label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.DM, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            DM
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.TB_Paru, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Tb Paru
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Hepatitis_B_C, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Hepatitis B-C
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Hipertensi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Hipertensi
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AMI, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            AMI
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.HIV, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            HIV / AIDS
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Ashma, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Ashma
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CHP, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            CHP
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.Riwayat_Penyakit_Lainnya, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Lainnya
                            </label>
                            @Html.EditorFor(model => model.Riwayat_Penyakit_LainnyaKET, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Riwayat_Penyakit_LainnyaKET, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-12 text-bold">Hasil pemeriksaan penunjang yang telah terindentifikasi secara benar</label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Foto_Rontgen, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Foto Rontgen
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Laboratorium, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Laboratorium
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.ST_SCAN, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            ST - SCAN
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.MRI, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            MRI
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.USG, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            USG
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.EKS, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            EKS
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Riwayat operasi sebelumnya</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Riwayat_Operasi_Sebelumnya, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Riwayat_Operasi_Sebelumnya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 text-bold control-label">Dokumen Rekam Medik terkait</label>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Informen_Consent_Tindakan_Bedah, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Informen Consent Tindakan Bedah
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Informen_Consent_Tindakan_Anastesi, new { htmlAttributes = new { @class = "checkbox-custom" } })
                            Informen Consent Tindakan Anastesi
                        </label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.Informen_Consent_Tindakan_Lainnya, new { htmlAttributes = new { @class = "checkbox-custom" } })
                                Lainnya
                            </label>
                            @Html.EditorFor(model => model.Informen_Consent_Tindakan_LainnyaKET, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Informen_Consent_Tindakan_LainnyaKET, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Rencana Operasi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Rencana_Operasi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rencana_Operasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Rencana Anastesi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Rencana_Anastesi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rencana_Anastesi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alat Khusus/ Darah</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AlatKhususDarah, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AlatKhususDarah, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Perkiraan lama Operasi</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Perkiraan_Lama_Operasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Perkiraan_Lama_Operasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        DPJP Anestesiologist @if (Model.VerifikasiAnastesilogist)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DPJP_Anastesiologist, Model.DPJP_Anastesiologist == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJP_Anastesiologist.ToString(), Text = Model.DPJP_AnastesiologistNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DPJP_Anastesiologist, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Pasien / Keluarga</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DPJP_Anastesiologist)','@nameof(Model.VerifikasiAnastesilogist)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDNamaPasien != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDNamaPasien)" name="IMG_@nameof(Model.TTDNamaPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold text-center">SITE MARKING</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12 text-bold text-center">Untuk pasien Laki- Laki</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Prosedur</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ProsedurLaki, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProsedurLaki, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Tanggal Prosedur</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TanggalProsedurLaki, new { htmlAttributes = new { @class = "form-control", Value = (Model.TanggalProsedurLaki != null ? (Model.TanggalProsedurLaki.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TanggalProsedurLaki, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.GambarLaki)" name="IMG_@nameof(Model.GambarLaki)" src="~/Theme/images/VK_Laki.PNG" width="50%" style="border:1px solid #ccc" />
                                <p class="text-muted no-margin no-padding">*) Klik pada images untuk masuk mode gambar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold text-center">SITE MARKING</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12 text-bold text-center">Untuk pasien Perempuan</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Prosedur</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ProsedurPerempuan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProsedurPerempuan, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Tanggal Prosedur</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TanggalProsedurPerempuan, new { htmlAttributes = new { @class = "form-control", Value = (Model.TanggalProsedurPerempuan != null ? (Model.TanggalProsedurPerempuan.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.TanggalProsedurPerempuan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.GambarPerempuan)" name="IMG_@nameof(Model.GambarPerempuan)" src="~/Theme/images/VK_Perempuan.PNG" width="50%" style="border:1px solid #ccc" />
                                <p class="text-muted no-margin no-padding">*) Klik pada images untuk masuk mode gambar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">Saya Menyatakan bahwa lokasi operasi yang telah ditetapkan pada diagram adalah benar</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                            Simpan Template
                        </label>
                        <input type="text" name="@nameof(Model.nama_template)" id="@nameof(Model.nama_template)" class="form-control" value="" />
                    </div>
                </div>
                <div class=" col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    generalDokter("#@formName #DPJP_Anastesiologist");
    generalDokter("#@formName #DPJP_Operator");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoBukti";
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }
</script>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function clickgambar2() {
        $('#IMG_TTDNamaPasien').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDNamaPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDNamaPasien').click()
    }

    var iGambar1;
    var iGambar2;
    var iGambar5;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.GambarLaki)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.GambarPerempuan)');
    var ximg_Gambar5 = $('#IMG_@nameof(Model.TTDNamaPasien)');

    @if (Model != null)
    {
        if (Model.GambarLaki != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.GambarLaki)');
        }
        if (Model.GambarPerempuan != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.GambarPerempuan)');
        }
        if (Model.TTDNamaPasien != null)
        {
            @:ximg_Gambar5.attr('src', 'data:image/jpeg;base64,@(Model.TTDNamaPasien)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar5 = new iPainter_V2(ximg_Gambar5);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });

    });

    function resetImage() {
        var imges1 = $('#IMG_@nameof(Model.GambarLaki)');
        var imges2 = $('#IMG_@nameof(Model.GambarPerempuan)');
        iGambar1 = new iPainter_V2(imges1);
        iGambar2 = new iPainter_V2(imges2);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('GambarLaki');
            iGambar2.convert_V2('GambarPerempuan');
            iGambar5.convert_V2('TTDNamaPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>