﻿@using EMRRSCB.Models
@model EMRHeaderViewDetail
@{
    var controllerName = "EMRCatatanPerkembanganTerintegrasiIntegratedProgressNote";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Perkembangan Terintegrasi
    var d_tbl_PerkembanganTerintegrasi = $"frm_table_detailPerkembanganTerintegrasi";
    int d_idx_PerkembanganTerintegrasi = 0;
    var d_trg_PerkembanganTerintegrasi = $"input_target_detailPerkembanganTerintegrasi";
    if (Model != null)
    {

        if (Model.EMRCatatanIntergrated_List != null)
        {
            d_idx_PerkembanganTerintegrasi = Model.EMRCatatanIntergrated_List.Count();
        }
    }
    #endregion
}

@*Perkembangan Terintegrasi*@
<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_PerkembanganTerintegrasi thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(1),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(2),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(3),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(4),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(5),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(6),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(6) {
        width: 150px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(7),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(7) {
        text-align: center;
        width: 230px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(8),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(8) {
        width: 230px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(9),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(9) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(10),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(11),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(12),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(13),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(13) {
        text-align: center;
        width: 140px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(14),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(14) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(15),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(15) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_PerkembanganTerintegrasi thead th:nth-child(16),
    #@d_tbl_PerkembanganTerintegrasi tbody td:nth-child(16) {
        text-align: center;
        width: 200px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*Catatan Perkembangan Terintegrasi Intergrated Progress Note*@
            <div class="panel panel-body">
                <div class="form-group">
                    <div id="panel_detailperkembanganterintegrasi" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_PerkembanganTerintegrasi">
                        <div class="table-responsive">
                            <table id="@d_tbl_PerkembanganTerintegrasi" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_PerkembanganTerintegrasi')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>PPA</th>
                                        <th>S(Subjective) O(Objective) A(Asesmen) P(Planting)</th>
                                        <th>Intruksi</th>
                                        <th>Verifikasi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.EMRCatatanIntergrated_List != null)
                                        {
                                            for (var i = 0; i < Model.EMRCatatanIntergrated_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRCatatanIntergrated_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.EMRCatatanIntergrated_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.EMRCatatanIntergrated_List[i].Model.Tanggal, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.EMRCatatanIntergrated_List[i].Model.Tanggal != null ? Model.EMRCatatanIntergrated_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRCatatanIntergrated_List[i].Model.PPA, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRCatatanIntergrated_List[i].Model.SOAP, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.EMRCatatanIntergrated_List[i].Model.Intruksi, new { @class = "form-control input-sm" })
                                                    </td>

                                                    @{
                                                        var _lstDokter1 = new List<SelectListItem>();
                                                        if (Model.EMRCatatanIntergrated_List[i].Model != null)
                                                        {
                                                            if (Model.EMRCatatanIntergrated_List[i].Model.Verifikasi != null)
                                                            {
                                                                _lstDokter1.Add(new SelectListItem()
                                                                {
                                                                    Value = Model.EMRCatatanIntergrated_List[i].Model.Verifikasi,
                                                                    Text = Model.EMRCatatanIntergrated_List[i].Model.VerifikasiNama
                                                                });
                                                            }
                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.EMRCatatanIntergrated_List[i].Model.Verifikasi, _lstDokter1, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script>
    function pilihobat(_this) {
        var valselect = $(_this).text();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(8) textarea').val(valselect);
    }

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>

<script type="text/javascript">

        @if (Model != null)
        {
            if (Model.EMRCatatanIntergrated_List != null)
            {
                for (var i = 0; i < Model.EMRCatatanIntergrated_List.Count; i++)
                {
                    @:customrowdetailDPJPCttIntergrated_Detail(@i, { target: $('#d_tbl_CatatanPengobatan thead a i')[0] }, '#panel_detailcttpengobatanantibiotikokvk', false);
                }

            }
        }


    function customrowdetailDPJPCttIntergrated_Detail(index_detail, _this, inputtarget, autofocus) {
        var namadpjp = '#panel_detailperkembanganterintegrasi #EMRCatatanIntergrated_List_' + index_detail + '__Model_Verifikasi';
        generalDokter(namadpjp);
    }


    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@d_trg_PerkembanganTerintegrasi') {
            customrowdetailDPJPCttIntergrated_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.EMRCatatanIntergrated_List = null;
        }
    }
}

<!-- Catatan Perkembangan Terintegrasi Intergrated Progress Note -->
<div id="@d_trg_PerkembanganTerintegrasi" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRCatatanIntergrated_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.EMRCatatanIntergrated_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.EMRCatatanIntergrated_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRCatatanIntergrated_List[-1].Model.PPA, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRCatatanIntergrated_List[-1].Model.SOAP, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.EMRCatatanIntergrated_List[-1].Model.Intruksi, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.EMRCatatanIntergrated_List[-1].Model.Verifikasi,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

</div>

