﻿@using EMRRSCB.Models
@model EMRSuratPernyataanKepolisianViewModel
@{
    var controllerName = "EMRSuratPernyataanKepolisian";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDYangMenyatakan)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2">Tanggal Pengambilan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Yang bertandatangan dibawah ini : </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Pekerjaan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Pekerjaan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pekerjaan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Hubungan Pasien</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HubunganDenganPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HubunganDenganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Dengan ini menyatakan bahwa : </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">1. Saya telah menerima benda yang diambil dari badan kelaurga saya dari Pihak RS BUNDA berupa :</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Berupa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Berupa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">2. Saya meminta pihak RSU BUNDA untuk menjadi salah satu saksi dalam penyerahan benda tersebut kepada Pihak Kepolisian</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Yang Menyerahkan
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.YangMenyatakan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YangMenyatakan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDYangMenyatakan != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-5">1. Surat Permintaan barang Kepolisian Negara Republik Indonesia Daerak Resort</label>
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.Daerah, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Daerah, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1">Resort</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Resort, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Resort, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1"> Nomor</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Nomor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nomor, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2">Tentang Permohonan</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">2. Surat Pernyataan dari keluarga</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">3. Fotokopi identitas penerima dan saksi serah terima</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">4. Foto Serah Terima</label>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDYangMenyatakan)" name="IMG_@nameof(Model.TTDYangMenyatakan)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>
 function clickgambar1() {
     $('#IMG_TTDYangMenyatakan').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDYangMenyatakan)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDYangMenyatakan').click()
    }

    @*generalDokter("#@formName #RSUBUNDA");
    generalDokter("#@formName #YangMenerima");*@

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDYangMenyatakan)');
   

    @if (Model != null)
    {
        if (Model.TTDYangMenyatakan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDYangMenyatakan)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDYangMenyatakan)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDYangMenyatakan');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


