﻿@using EMRRSCB.Models
@model EMRRingkasanPasienMasukKeluarViewModel
@{
    var controllerName = "EMRRingkasanPasienMasukKeluar";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Nama Operasi
    var d_tbl_NamaOperasi = $"frm_table_detailNamaOperasi";
    int d_idx_NamaOperasi = 0;
    var d_trg_NamaOperasi = $"input_target_detailNamaOperasi";
    if (Model != null)
    {

        if (Model.Operasi_List != null)
        {
            d_idx_NamaOperasi = Model.Operasi_List.Count();
        }
    }
    #endregion
}

<style>
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_NamaOperasi thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(1),
    #@d_tbl_NamaOperasi tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(2),
    #@d_tbl_NamaOperasi tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(3),
    #@d_tbl_NamaOperasi tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(4),
    #@d_tbl_NamaOperasi tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(5),
    #@d_tbl_NamaOperasi tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(6),
    #@d_tbl_NamaOperasi tbody td:nth-child(6) {
        width: 150px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(7),
    #@d_tbl_NamaOperasi tbody td:nth-child(7) {
        text-align: center;
        width: 230px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(8),
    #@d_tbl_NamaOperasi tbody td:nth-child(8) {
        display: none;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(9),
    #@d_tbl_NamaOperasi tbody td:nth-child(9) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(10),
    #@d_tbl_NamaOperasi tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(11),
    #@d_tbl_NamaOperasi tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(12),
    #@d_tbl_NamaOperasi tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(13),
    #@d_tbl_NamaOperasi tbody td:nth-child(13) {
        text-align: center;
        width: 140px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(14),
    #@d_tbl_NamaOperasi tbody td:nth-child(14) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(15),
    #@d_tbl_NamaOperasi tbody td:nth-child(15) {
        text-align: center;
        width: 250px;
    }

    #@d_tbl_NamaOperasi thead th:nth-child(16),
    #@d_tbl_NamaOperasi tbody td:nth-child(16) {
        text-align: center;
        width: 200px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.Verifikasi)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Lengkap</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaLengkap, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaLengkap, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tgl Lahir/ Umur</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TanggalLahir, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TanggalLahir, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pendidikan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Pendidikan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pendidikan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pekerjaan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Pekerjaan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pekerjaan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Status Kawin</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StatusPerkawinan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StatusPerkawinan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Agama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Agama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Agama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kebangsaan/ Suku</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Kebangsaan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Kebangsaan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No. Telp</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoTelp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoTelp, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.KartuIdentitas, StaticModel.ListKartuIdentitas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KartuIdentitas, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NoIdentitas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoIdentitas, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Penanggung Jawab</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaPenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Hubungan Keluarga</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HubunganKeluarga, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HubunganKeluarga, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pekerjaan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PekerjaanPenanggung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PekerjaanPenanggung, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AlamatPenanggung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatPenanggung, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Sebab Dirawat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SebabDirawat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SebabDirawat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Dirawat di ruangan</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DirawatDiRuangan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DirawatDiRuangan, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 control-label">Bagian</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Bagian, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bagian, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kelas Perawatan</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KelasPerawatan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KelasPerawatan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dirawat yang ke
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DirawatYangKe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DirawatYangKe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dikirim Oleh
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DikirimOleh, StaticModel.ListDikirimOleh, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DikirimOleh, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DikirimOlehKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DikirimOlehKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Prosedur Masuk RS melalui
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ProsedurMasukRSMelalui, StaticModel.ListProsedurMasukRS, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProsedurMasukRSMelalui, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Peserta BPJS
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PesertaBPJS, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PesertaBPJS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        No JKN PBI
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NoJKNPBI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoJKNPBI, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        No JKN Non PBI
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NoJKNNonPBI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoJKNNonPBI, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <label class="col-md-2 control-label">Kasus Polisi</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.KasusPolisi, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KasusPolisi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel panel-body">
                <label class="col-md-2 control-label">Sejarah Imunisasi</label>
                <div class="col-md-1">
                    <label class="checkbox checkbox-inline">
                        @Html.EditorFor(model => model.BCG, new { htmlAttributes = new { @class = "checkbox-custom" } })
                        BCG
                    </label>
                </div>
                <div class="col-md-1">
                    <label class="checkbox checkbox-inline">
                        @Html.EditorFor(model => model.DPT, new { htmlAttributes = new { @class = "checkbox-custom" } })
                        DPT
                    </label>
                </div>
                <div class="col-md-1">
                    <label class="checkbox checkbox-inline">
                        @Html.EditorFor(model => model.TPT, new { htmlAttributes = new { @class = "checkbox-custom" } })
                        TPT
                    </label>
                </div>
                <div class="col-md-1">
                    <label class="checkbox checkbox-inline">
                        @Html.EditorFor(model => model.DT, new { htmlAttributes = new { @class = "checkbox-custom" } })
                        DT
                    </label>
                </div>
                <div class="col-md-1">
                    <label class="checkbox checkbox-inline">
                        @Html.EditorFor(model => model.Polio, new { htmlAttributes = new { @class = "checkbox-custom" } })
                        Polio
                    </label>
                </div>
                <div class="col-md-1">
                    <label class="checkbox checkbox-inline">
                        @Html.EditorFor(model => model.Campak, new { htmlAttributes = new { @class = "checkbox-custom" } })
                        Campak
                    </label>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">Partisipasi KB : (Jenis Akseptor pada kartu Poliklinik)</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Masuk</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KBMasuk, StaticModel.ListSudahKBBElumKB, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KBMasuk, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Keluar</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KBKeluar, StaticModel.ListSudahKBBElumKB, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KBKeluar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Dipindahkan ke ruang</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DipindahKeRuangan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DipindahKeRuangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Kelas</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DipindahKeRuanganKelas, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DipindahKeRuanganKelas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tanggal</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DipindahKeRuanganTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.DipindahKeRuanganTanggal != null ? (Model.DipindahKeRuanganTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.DipindahKeRuanganTanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Pindah Dari ruang</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PindahanDariRuangan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PindahanDariRuangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Kelas</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PindahanDariRuanganKelas, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PindahanDariRuanganKelas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tanggal</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PindahanDariRuanganTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.PindahanDariRuanganTanggal != null ? (Model.PindahanDariRuanganTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.PindahanDariRuanganTanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-5 control-label">Tanggal Masuk</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TanggalMasuk, new { htmlAttributes = new { @class = "form-control", Value = (Model.TanggalMasuk != null ? (Model.TanggalMasuk.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.TanggalMasuk, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Jam</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TanggalMasukJam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.TanggalMasukJam != null ? Model.TanggalMasukJam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.TanggalMasukJam, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-5 control-label">Tanggal Keluar</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TanggalKeluar, new { htmlAttributes = new { @class = "form-control", Value = (Model.TanggalKeluar != null ? (Model.TanggalKeluar.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.TanggalKeluar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Jam</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.TanggalKeluarJam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.TanggalKeluarJam != null ? Model.TanggalKeluarJam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.TanggalKeluarJam, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-5">Meninggal Tanggal</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.MeninggalTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.MeninggalTanggal != null ? (Model.MeninggalTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.MeninggalTanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Jam</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.MeninggalTanggalJam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.MeninggalTanggalJam != null ? Model.MeninggalTanggalJam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.MeninggalTanggalJam, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-5 control-label">Lama Dirawat</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                @Html.EditorFor(model => model.LamaDirawat, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LamaDirawat, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Hr
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-12">Alergi Terhadap</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AlergiTerhadap, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AlergiTerhadap, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-12">Cacat Bawaan</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.CacatBawaan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CacatBawaan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-12">Resiko Jatuh</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.ResikoJatuh, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ResikoJatuh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnosa Akhir</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiagnosaAkhir, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiagnosaAkhir, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnosa Utama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiagnosaUtama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiagnosaUtama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Sekunder</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Sekunder, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sekunder, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Komplikasi</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Komplikasi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Komplikasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Sebab Kematian</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SebabKematian, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SebabKematian, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Infeksi Nosokomial</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InfeksiNosokomial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InfeksiNosokomial, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">KODE ICD-10</label>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Keadaan Keluar</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KeadaanKeluar, StaticModel.ListKeadaanKeluar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KeadaanKeluar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">Nama Operasi / Biopsi</label>
                </div>
                <div class="form-group">
                    <div id="panel_detailnamaoprasiri" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_NamaOperasi">
                        <div class="table-responsive">
                            <table id="@d_tbl_NamaOperasi" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_NamaOperasi')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Nama Operasi</th>
                                        <th>Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Operasi_List != null)
                                        {
                                            for (var i = 0; i < Model.Operasi_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Operasi_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Operasi_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.Operasi_List[i].Model.Tanggal, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.Operasi_List[i].Model.Tanggal != null ? Model.Operasi_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.Operasi_List[i].Model.NamaOperasi, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">KODE ICD-9</label>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Cara Keluar</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.CaraKeluar, StaticModel.ListCaraKeluar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CaraKeluar, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.CaraKeluarKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CaraKeluarKet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter DPJP @if (Model.Verifikasi)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DokterDPJP, Model.DokterDPJP == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterDPJP.ToString(), Text = Model.DokterDPJPNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterDPJP, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DokterDPJP)','@nameof(Model.Verifikasi)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    generalDokter("#@formName #DokterDPJP");

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }


</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.Operasi_List = null;
        }
    }
}

<div id="@d_trg_NamaOperasi" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Operasi_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Operasi_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Operasi_List[-1].Model.NamaOperasi, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Operasi_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>


</div>
