﻿@using EMRRSCB.Models
@model EMRSuratPernyataanBahwaTidakMenggunakanBPJSViewModel
@{
    var controllerName = "EMRSuratPernyataanBahwaTidakMenggunakanBPJS";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }

    };
}
<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTD_RUMAHSAKIT)
        @Html.HiddenFor(model => model.TTD_SAKSIKELUARGA)
        @Html.HiddenFor(model => model.TTD_YANGMENYATAKAN)




        <style>
            #flex {
                display: flex;
                justify-content: flex-end;
            }
        </style>


        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Bertindak Selaku :</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.BertindakSelaku, StaticModel.ListBertindakSelaku, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BertindakSelaku, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.BertindakSelakuText, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BertindakSelakuText, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Atas penderita</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AtasPenderita, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AtasPenderita, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama Pasien</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AlamatPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlamatPasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            Menyatakan tidak akan menggunakan BPJS/KIS/Asuransi apapun selama saya mendapatkan perawatan
                            dan pelayanan di Rumah Sakit Umum Bunda. Sehingga seluruh biaya administrasi ditanggung sendiri atau
                            bayar pribadi.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            Demikian surat pernyataan ini saya buat dengan sebenarya dan tidak akan menuntut pihak Rumah Sakit Umum Bunda
                            atau pihak BPJS/KIS/Asuransi apapun yang telah memberikan pelayanan kepada kami.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 pull-right">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Jembrana,
                            </label>
                            @Html.EditorFor(model => model.TglSurat, new { htmlAttributes = new { @class = "form-control", Value = (Model.TglSurat != null ? (Model.TglSurat.Value.ToString("yyyy-MM-dd")) : "" )} })
                            @Html.ValidationMessageFor(model => model.TglSurat, "", new { @class = "text-danger" })

                        </div>
                    </div>

                </div>
                <br />
                <div class="form-group">

                    <label class="col-md-2 control-label">Pihak Rumah Sakit</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PihakRumahSakit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PihakRumahSakit, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-1 pull-right">
                        <a class="btn btn-primary @(Model.TTD_RUMAHSAKIT != null ? "btn-flash" : "")" onclick="clickGambarRs()">Tanda Tangan</a>
                    </div>
                    <div class="col-md-1 pull-right">
                        <a class="btn btn-danger" onclick="ulanggambarRs()">Ulang</a>
                    </div>

                </div>
                <br />
                <div class="form-group">
                    <label class="col-md-2 control-label">Yang Menyatakan</label>


                    <div class="col-md-6">
                        @Html.EditorFor(model => model.YangMenyatakan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YangMenyatakan, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-1 pull-right">
                        <a class="btn btn-primary @(Model.TTD_YANGMENYATAKAN != null ? "btn-flash" : "")" onclick="clickGambaMenyatakan()">Tanda Tangan</a>
                    </div>
                    <div class="col-md-1 pull-right">
                        <a class="btn btn-danger" onclick="ulanggambarMenyatakan()">Ulang</a>
                    </div>

                </div>
                <br />
                <div class="form-group">

                    <label class="col-md-2 control-label">SANKSI KELUARGA</label>

                    <div class="col-md-6">
                        @Html.EditorFor(model => model.SaksiKeluarga, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SaksiKeluarga, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-1 pull-right">
                        <a class="btn btn-primary @(Model.TTD_RUMAHSAKIT != null ? "btn-flash" : "")" onclick="clickGambarSaksi()">Tanda Tangan</a>
                    </div>
                    <div class="col-md-1 pull-right">
                        <a class="btn btn-danger" onclick="ulanggambarSaksi()">Ulang</a>
                    </div>


                </div>
            </div>

            <div class="panel panel-body">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_RUMAHSAKIT)" name="IMG_@nameof(Model.TTD_RUMAHSAKIT)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_SAKSIKELUARGA)" name="IMG_@nameof(Model.TTD_SAKSIKELUARGA)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD_YANGMENYATAKAN)" name="IMG_@nameof(Model.TTD_YANGMENYATAKAN)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

<script>

    function clickGambarRs() {
        $('#IMG_TTD_RUMAHSAKIT').click()
    }

    function clickGambarSaksi() {
        $('#IMG_TTD_SAKSIKELUARGA').click()
    }

    function clickGambaMenyatakan() {
        $('#IMG_TTD_YANGMENYATAKAN').click()
    }

    function ulanggambarRs() {
        $('#IMG_@nameof(Model.TTD_RUMAHSAKIT)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD_RUMAHSAKIT').click()
    }

    function ulanggambarSaksi() {
        $('#IMG_@nameof(Model.TTD_SAKSIKELUARGA)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD_SAKSIKELUARGA').click()
    }
    function ulanggambarMenyatakan() {
        $('#IMG_@nameof(Model.TTD_YANGMENYATAKAN)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD_YANGMENYATAKAN').click()
    }


    var iGambarRs;
    var iGambarSaksi;
    var iGambarMenyatakan;
    var ximg_GambarRs = $('#IMG_@nameof(Model.TTD_RUMAHSAKIT)');
    var ximg_GambarSaksi = $('#IMG_@nameof(Model.TTD_SAKSIKELUARGA)');
    var ximg_GambarMenyatakan = $('#IMG_@nameof(Model.TTD_YANGMENYATAKAN)');

    @if(Model != null)
    {

        if (Model.TTD_RUMAHSAKIT != null)
        {
            @:ximg_GambarRs.attr('src', 'data:image/jpeg;base64,@(Model.TTD_RUMAHSAKIT)');
        }
        if (Model.TTD_SAKSIKELUARGA != null)
        {
            @:ximg_GambarSaksi.attr('src', 'data:image/jpeg;base64,@(Model.TTD_SAKSIKELUARGA)');
        }

        if (Model.TTD_YANGMENYATAKAN != null)
        {
            @:ximg_GambarMenyatakan.attr('src', 'data:image/jpeg;base64,@(Model.TTD_YANGMENYATAKAN)');
        }


    }

    $(document).ready(() => {
        iGambarRs = new iPainter_V2(ximg_GambarRs);
        iGambarSaksi = new iPainter_V2(ximg_GambarSaksi);
        iGambarMenyatakan = new iPainter_V2(ximg_GambarMenyatakan);


        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    })



    function SubmitForm(e) {
        try {
            iGambarRs.convert_V2('TTD_RUMAHSAKIT');
            iGambarSaksi.convert_V2('TTD_SAKSIKELUARGA');
            iGambarMenyatakan.convert_V2('TTD_YANGMENYATAKAN');


            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }



    generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

</script>

