﻿@using EMRRSCB.Models
@model ResepOptikViewModel
@{
    var controllerName = "Resep";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Detail", Value = "active" }
};
}

<div class="wall" ng-controller="form">

    <div class="panel panel-info">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dokter</label>
                        @Html.TextBoxFor(model => model.NamaDokter, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Jenis Lensa</label>
                        @Html.TextBoxFor(model => model.JenisLensa, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Addition</label>
                        @Html.TextBoxFor(model => model.Addition, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Pupil</label>
                        @Html.TextBoxFor(model => model.PupilDistance, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Warna Kaca</label>
                        @Html.TextBoxFor(model => model.WarnaKaca, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">OD</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Spheris</label>
                                @Html.TextBoxFor(model => model.OD_Spheris, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cylinder</label>
                                @Html.TextBoxFor(model => model.OD_Cylinder, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Prisma</label>
                                @Html.TextBoxFor(model => model.OD_Prisma, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Axis</label>
                                @Html.TextBoxFor(model => model.OD_Axis, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">OS</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Spheris</label>
                                @Html.TextBoxFor(model => model.OS_Spheris, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cylinder</label>
                                @Html.TextBoxFor(model => model.OS_Cylinder, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Prisma</label>
                                @Html.TextBoxFor(model => model.OS_Prisma, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Axis</label>
                                @Html.TextBoxFor(model => model.OS_Axis, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
