﻿@using EMRRSCB.Models
@model OrderResepViewModel
@{
    var controllerName = "OrderResep";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
    #region ==== MODAL Paket
    var target_Paket = new
    {
        t0 = $"#{nameof(Model.KodePaket)}",
        t1 = $"#{nameof(Model.NamaPaket)}",
    };
    var modalid_Paket = $"modal_{formName}_{nameof(Model.KodePaket)}";
    var modalName_Paket = "Paket";
    #endregion

    #region Detail
    var detail_barang = new OrderResepDetailViewModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    var target_inputDetail_barang = $"inputDetail{controllerName}_barang";
    #endregion

    #region ==== MODAL Barang
    var targetForm = formName;
    var target_barang = new
    {
        t0 = $"#Detail_List_-1__Model_{nameof(detail_barang.Barang_ID)}",
        t1 = $"#Detail_List_-1__Model_{nameof(detail_barang.Kode_Barang)}",
        t2 = $"#Detail_List_-1__Model_{nameof(detail_barang.Nama_Barang)}",
        t3 = $"#Detail_List_-1__Model_{nameof(detail_barang.Satuan)}",
        t4 = $"#Detail_List_-1__Model_{nameof(detail_barang.Stok)}",
        t5 = $"#Detail_List_-1__Model_{nameof(detail_barang.Harga_View)}",
        t6 = $"#Detail_List_-1__Model_{nameof(detail_barang.Jumlah_View)}",
    };
    var modalName_barang = "Barang";
    var modalid_m_barang = $"modal_{formName}_{nameof(detail_barang.Kode_Barang)}";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}

<style>
    #@table_detail_barang thead th:nth-child(1),
    #@table_detail_barang tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(2),
    #@table_detail_barang tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_barang thead th:nth-child(3),
    #@table_detail_barang tbody td:nth-child(3){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(4),
    #@table_detail_barang tbody td:nth-child(4){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(5),
    #@table_detail_barang tbody td:nth-child(5){
        width: 140px;
    }

    #@table_detail_barang thead th:nth-child(6),
    #@table_detail_barang tbody td:nth-child(6){

    }

    #@table_detail_barang thead th:nth-child(7),
    #@table_detail_barang tbody td:nth-child(7){
        width: 110px;
    }

    #@table_detail_barang thead th:nth-child(8),
    #@table_detail_barang tbody td:nth-child(8){
        width: 120px;
    }

    #@table_detail_barang thead th:nth-child(9),
    #@table_detail_barang tbody td:nth-child(9){
        width: 120px;
        display:none;
    }

    #@table_detail_barang thead th:nth-child(10),
    #@table_detail_barang tbody td:nth-child(10){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(11),
    #@table_detail_barang tbody td:nth-child(11){
        width: 120px;
    }

    #@table_detail_barang thead th:nth-child(12),
    #@table_detail_barang tbody td:nth-child(12){
        width: 120px;
    }

    #@table_detail_barang thead th:nth-child(13),
    #@table_detail_barang tbody td:nth-child(13){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(14),
    #@table_detail_barang tbody td:nth-child(14){
        width: 80px;
        text-align:center;
        display:none;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoResep, new { Value = Model.NoResep })
        @Html.HiddenFor(model => model.SectionID, new { Value = Model.SectionID })
        @Html.HiddenFor(model => model.NoRegistrasi, new { Value = Model.NoRegistrasi })
        @Html.HiddenFor(model => model.Nomor, new { Value = (Model.Nomor == null ? 1 : Model.Nomor) })
        @Html.HiddenFor(model => model.KodePaket)
        @Html.HiddenFor(model => model.Puyer, new { Value = "False" })

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-info form-horizontal">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tanggal</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = DateTime.Today.ToString("yyyy-MM-dd") } })
                                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Farmasi</label>
                            <div class="col-md-8">
                                @{
                                    var lsfarmasi = StaticModel.ListSectionFarmasi;
                                    if (lsfarmasi.FirstOrDefault(x => x.Value == "SECT0002") != null)
                                    {
                                        lsfarmasi.FirstOrDefault(x => x.Value == "SECT0002").Selected = true;
                                    }
                                }
                                @Html.DropDownListFor(model => model.Farmasi_SectionID, lsfarmasi, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Dokter</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>() {
                                    new SelectListItem(){ Text = Model.Dokter, Value = Model.DokterID, Selected = true }
                                }, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Paket</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button data-toggle="modal" data-target="#@modalid_Paket" onclick="btnmodalpaketonclick(event)"
                                                class="btn btn-success input-lookup" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                    @Html.EditorFor(model => model.NamaPaket, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", onkeypress = "paketonkeypress(event, this)" } })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.NamaPaket, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Berat</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.BeratBadan, new { @class = "form-control text-right", type = "number" })
                                    <span class="input-group-addon">Kg</span>
                                </div>
                                @Html.ValidationMessageFor(model => model.BeratBadan, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.ObatPulang) Obat Pulang
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.Cyto) Cyto
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Jumlah</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Jumlah_View, new { htmlAttributes = new { @class = "form-control text-right", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Jumlah_View, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="panel_detil_barang_@formName" class="detail" data-index-detail="@detail_barang_index">
            <div class="table-responsive">
                <table id="@table_detail_barang" class="table table-hover table-bordered">
                    <thead>
                        <tr>

                            <!-- Thead -->
                            <th>
                                <input type="checkbox" onclick="checkall(this)" />
                            </th>
                            <th class="text-center">
                                <a class="text-success-600" title="Semua Barang"
                                   data-toggle="modal" data-target="#@modalid_m_barang">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th></th>
                            <th>Id Barang</th>
                            <th>Kode Barang</th>
                            <th>Nama</th>
                            <th>Satuan</th>
                            <th>Aturan Pakai</th>
                            <th>Dosis</th>
                            <th>Qty</th>
                            <th>Harga</th>
                            <th>Jumlah</th>
                            <th>Stok</th>
                            <th>Racik</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.Detail_List != null)
                            {
                                for (var i = 0; i < Model.Detail_List.Count(); i++)
                                {
                                    <tr class="ng-scope">
                                        <!-- Check -->
                                        <td>
                                            <input type="checkbox" />
                                        </td>

                                        <!-- Delete button -->
                                        <td>
                                            <a class="text-danger-600"
                                               onclick="customremovetr(this)">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </td>

                                        <!-- Remove Status -->
                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Remove,
                                          new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
                                        </td>

                                        <!-- Barang_Id -->
                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Barang_ID, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               onblur = "checkdetailprimarykey_barang(this)",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Kode_Barang, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Nama_Barang, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Satuan, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.AturanPakai, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.TextBoxFor(model => model.Detail_List[i].Model.Dosis, new
                                       {
                                           @class = "form-control input-sm",
                                           @type = "number",
                                           onchange = "hitungjumlah(this)"
                                       })
                                        </td>

                                        <td>
                                            @Html.TextBoxFor(model => model.Detail_List[i].Model.Qty, new
                                       {
                                           @class = "form-control input-sm text-right",
                                           type = "number",
                                           Min = 1,
                                           Value = 1,
                                           onchange = "hitungjumlah(this)"
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Harga_View, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm text-right",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Jumlah_View, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm text-right",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Stok, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm text-center",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.CheckBoxFor(model => model.Detail_List[i].Model.Racik, new
                                           {
                                               onchange = "hitungjumlah(this)"
                                           })
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="panel panel-body form-horizontal mt-20">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label col-md-4">
                        Keterangan
                    </label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-1">
                    <label style="padding: 7px 20px;" class="control-label checkbox-inline">
                        <input type="checkbox" name="name" value="" /> Template
                    </label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="name" value="" />
                </div>
                <div class="col-md-8 text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $('#@formName #Farmasi_SectionID').select2().on('select2:select', function (e) {
        angular.element('#modal_frm_Resep_create_Kode_Barang').scope().filter[8] = $('#@formName #Farmasi_SectionID').val();
    });;

    angular.element('#modal_frm_Resep_create_Kode_Barang').ready(function () {
        angular.element('#modal_frm_Resep_create_Kode_Barang').scope().filter[8] = $('#@formName #Farmasi_SectionID').val();
    });

    function obatracikonchange(t) {

    }

    function btnmodalpaketonclick(e) {
        var sec = $('#@formName #Farmasi_SectionID').val();
        var doc = $('#@formName #DokterID').val();
        var scope = angular.element('#modal_frm_Resep_create_KodePaket').scope();
        scope.filter[2] = sec;
        scope.filter[3] = doc;
        scope.getdatas();
    }

    function paketonkeypress(e, t) {
        if (e.keyCode == 13) {
            e.preventDefault();
            myajax({
                url: '@Url.Action("DetailPaket")',
                data: {
                    kode: $('#KodePaket').val(),
                    section: $('#@formName #Farmasi_SectionID').val(),
                    noreg: '@Model.NoRegistrasi',
                    nomor: @Model.Nomor
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        $('#@formName #Jumlah_View').val(getcurrencyfromfloat(data.Header.Expr1));
                        $('#@formName #BeratBadan').val(data.Header.BeratBadan);
                        $('#@formName #ObatRacik')[0].checked = data.Header.Puyer || false;
                        $('#@formName #QtyRacik').val(data.Header.QtyPuyer);
                        $('#@formName #SatuanPuyer').val(data.Header.SatuanPuyer);
                        $('#@formName #Keterangan').val(data.Header.Keterangan);

                        $('#@formName #@table_detail_barang [onclick="customremovetr(this)"]').click();
                        $.each(data.Data, function (i, v) {
                            angular.element('#@formName').scope().addrowdetail({ target: '#@table_detail_barang' }, '#@target_inputDetail_barang');
                            var td = $('#@formName #@table_detail_barang tbody tr:last td');
                            $(td[3]).find('input').val(v.Barang_ID);
                            $(td[4]).find('input').val(v.Kode_Barang);
                            $(td[5]).find('input').val(v.Nama_Barang);
                            $(td[6]).find('input').val(v.Satuan_Stok);
                            $(td[7]).find('input').val(v.AturanPakai);
                            $(td[8]).find('input').val(v.Dosis);
                            $(td[9]).find('input').val(v.Qty);
                            $(td[10]).find('input').val(v.Harga_Jual_View);
                            $(td[11]).find('input').val(v.Jumlah_View);
                            $(td[12]).find('input').val(v.Qty_Stok);
                            //if (data.Header.QtyPuyer)
                            //{
                            //    $(td[13]).find('input')[0].checked = true;
                            //}
                            //$(td[13]).find('input').addClass('hidden');
                        });
                        hitunghargatotal();
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
        }
    }

    function checkdetailprimarykey_barang(_this) {
        var j_detail_input = $('#@table_detail_barang tbody td:nth-child(4) input');
        var found = 0;
        var _val = _this.value;
        for (var i = 0; i < j_detail_input.length; i++) {
            var value = j_detail_input[i];
            if (value != undefined) {
                if (value.value == _val) found++;
            }
        }
        if (found > 1) {
            alertpopup('sudah digunakan', 'warning');
            $(_this.closest('tr')).find('td:nth-child(2) a').click();
        }
        hitunghargatotal();
    }

    function customremovetr(t) {
        removetr(t);
        hitunghargatotal();
    }

    function hitungjumlah(t) {
        var tr = $($(t).closest('tr'));
        var racik = tr.find('td:nth-child(14) input')[0].checked;
        var dosis = tr.find('td:nth-child(9) input').val() || 0;
        if (racik) {
            _qty = dosis * ($('#@formName #QtyRacik').val() || 0);
            tr.find('td:nth-child(10) input').val(_qty);
        }
        var qty = tr.find('td:nth-child(10) input').val() || 0;
        var harga = getfloatfromcurrency(tr.find('td:nth-child(11) input').val()) || 0;
        var inputjumlah = tr.find('td:nth-child(12) input');
        //qty * harga
        var t = qty * harga;
        var jumlah = t;
        inputjumlah.val(getcurrencyfromfloat(jumlah));
        hitunghargatotal();
    }

    function hitunghargatotal() {
        var subtotal = 0;
        $.each($('#@table_detail_barang tbody tr td:nth-child(12) input'), function (index, value) {
            subtotal += getfloatfromcurrency(value.value) || 0;
        });
        var jumlah = subtotal;
        $('#@formName #Jumlah_View').val(getcurrencyfromfloat(jumlah));
    }

    generalDokter('#@formName #DokterID');
</script>

@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<div id="@target_inputDetail_barang" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="customremovetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>

    <!-- Barang_Id -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Barang_ID, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           onblur = "checkdetailprimarykey_barang(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Kode_Barang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Nama_Barang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Satuan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.AturanPakai, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Dosis, new
   {
       @class = "form-control input-sm",
       @type = "number",
       onchange = "hitungjumlah(this)"
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Qty, new
   {
       @class = "form-control input-sm text-right",
       type = "number",
       Min = 1,
       Value = 1,
       onchange = "hitungjumlah(this)"
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Harga_View, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-right",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Jumlah_View, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-right",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Stok, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-center",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.CheckBoxFor(model => model.Detail_List[-1].Model.Racik, new
   {
       onchange = "hitungjumlah(this)"
   })
    </div>
</div>

<!-- Modal Look Up barang -->
@Html.Partial("_LookUp_M_Barang", Model, new ViewDataDictionary {
    { "target", target_barang },
    { "modalid", modalid_m_barang },
    { "targetForm", targetForm },
    { "noreg", Model.NoRegistrasi },
    { "modalName", modalName_barang },
    { "headerisajax", true },
    { "targetTable", table_detail_barang },
    { "targetInputTable", target_inputDetail_barang },
    { "showdefaultlokasi", true },
})

<!-- Modal Look Pakate Resep -->
@Html.Partial("_LookUp_PaketResep", Model, new ViewDataDictionary {
    { "target", target_Paket },
    { "modalid", modalid_Paket },
    { "targetForm", targetForm },
    { "modalName", modalName_Paket },
    { "targetInputTable", target_inputDetail_barang },
    { "headerisajax", true }
})