﻿@using EMRRSCB.Models
@model EMRSuratPermohonanPengembalianBarangMilikPasienViewModel
@{
    var controllerName = "EMRSuratPermohonanPengembalianBarangMilikPasien";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTD)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-12">Saya yang bertanda tangan dibawah ini :</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tempat /Tanggal Lahir/ Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TempatTanggalUmur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TempatTanggalUmur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Agama</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Agama, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Agama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No Identitas/ KTP :</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.NoIdentitas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NoIdentitas, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Hubungan Pasien :</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.HubunganPasien, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HubunganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-9 control-label">
                        Dengan ini mengajukan permohonan kepada pihak manajemen Rumah Sakit untuk dapat memberikan barang milik pasien atas nama :
                    </label>
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.Saya, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Saya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-left">
                        <a class="btn btn-primary  btn-sm @(Model.TTD != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger  btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTD)" name="IMG_@nameof(Model.TTD)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>

    function clickgambar1() {
        $('#IMG_TTD').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTD)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD').click()
    }

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

   var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTD)');

    @if (Model != null)
    {
        if (Model.TTD != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTD)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTD)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTD');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


