﻿@using EMRRSCB.Models
@model EMRRujukanKeluarViewModel
@{
    var controllerName = "EMRRujukanKeluar";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDDisetujui)
        @Html.HiddenFor(model => model.TTDMengetahui)
        @Html.HiddenFor(model => model.TTDMenyerahkan)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-12">Mohon Pemeriksaan dan pengobatan serta perawatan selanjutnya untuk pasien</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">NRM</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Saya, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaUmur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SayaUmur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayaAlamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SayaAlamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-12">Dengan :</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Anamnesa</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anamnesa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Anamnesa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pemeriksaan Fisik</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanFisik, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemeriksaanFisik, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pemeriksaan Penunjang</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PemeriksaanPenunjang, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemeriksaanPenunjang, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnosa</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Diagnosa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Diagnosa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Terapi yang telah diberikan :</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Therapy, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Therapy, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Disetujui
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Disetujui, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Disetujui, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-right btn-sm @(Model.TTDDisetujui != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Mengetahui
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Mengetahui, Model.Mengetahui == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Mengetahui.ToString(), Text = Model.MengetahuiNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mengetahui, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-right btn-sm @(Model.TTDMengetahui != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Menyerahkan
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Menyerahkan, Model.Menyerahkan == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Menyerahkan.ToString(), Text = Model.MenyerahkanNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Menyerahkan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-right btn-sm @(Model.TTDMenyerahkan != null ? "btn-flash" : "")" onclick="clickgambar3()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar3()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDDisetujui)" name="IMG_@nameof(Model.TTDDisetujui)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDMengetahui)" name="IMG_@nameof(Model.TTDMengetahui)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDMenyerahkan)" name="IMG_@nameof(Model.TTDMenyerahkan)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>

    function clickgambar1() {
        $('#IMG_TTDDisetujui').click()
    }

    function clickgambar2() {
        $('#IMG_TTDMengetahui').click()
    }

    function clickgambar3() {
        $('#IMG_TTDMenyerahkan').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDDisetujui)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDDisetujui').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDMengetahui)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDMengetahui').click()
    }

    function ulanggambar3() {
        $('#IMG_@nameof(Model.TTDMenyerahkan)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDMenyerahkan').click()
    }

    generalDokter("#@formName #Mengetahui");
    generalDokter("#@formName #Menyerahkan");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDDisetujui)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDMengetahui)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTDMenyerahkan)');

    @if (Model != null)
    {
        if (Model.TTDDisetujui != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDDisetujui)');
        }
        if (Model.TTDMengetahui != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDMengetahui)');
        }
        if (Model.TTDMenyerahkan != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTDMenyerahkan)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDDisetujui)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDDisetujui');
            iGambar2.convert_V2('TTDMengetahui');
            iGambar3.convert_V2('TTDMenyerahkan');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


