﻿@using EMRRSCB.Models
@model EMRFormulirPenundaanPelayananViewModel
@{
    var controllerName = "EMRFormulirPenundaanPelayanan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }

    };
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti);
        <style>
            table, th, td {
                border: 1px solid black !important;
                border-collapse: collapse !important;
            }
        </style>

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <h2 class="col-md-12  text text-bold text-center text-uppercase">Form Penundaan Pelayanan</h2>
                </div>
                <div class="form-group">
                    <label class="col-md-12  text text-bold"> Diisi oleh perawat</label>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Nama</label>
                            @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon"> No. RM</label>
                            @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon"> Tanggal Lahir</label>
                            @Html.EditorFor(model => model.tglLahir, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tglLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon"> Jenis Kelamin</label>
                            @Html.EditorFor(model => model.JenisKelain, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.JenisKelain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Tanggal</label>
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Jam</label>
                            @Html.EditorFor(model => model.JamPukul, new { htmlAttributes = new { @class = "form-control", Value = (Model.JamPukul != null ? (Model.JamPukul.Value.ToString("HH:mm")) : "") } })
                            @Html.ValidationMessageFor(model => model.JamPukul, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="input-group-addon">Ruangan</label>
                            @Html.EditorFor(model => model.Ruangan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ruangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <h5 class="col-md-12 text text-bold text-center text-uppercase">informasi penundaan pelayanan</h5>
                </div>
                <div class="form-group">
                    <label class="col-md-12 text-bold">Jenis Penundaan Pelayanan</label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PenundaanPelayananDokter1)
                            Persetujuan Penanganan Dokter
                        </label>
                    </label>
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PenundaanPelayananDokter1)
                            Penundaan Pelayanan Perawatan
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PenundaanPelayananGizi)
                            Penundaan Pelayanan Gizi
                        </label>
                    </label>
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PenundaanPelayananTindakanOperasi)
                            Penundaan Pelayanan Perawatan Tindakan / Operasi
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PenundaanPelayananFarmasi)
                            Penundaan Pelayanan Farmasi
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PenundaanPelayananLaboratorium)
                            Penundaan Pelayanan Laobratorium
                        </label>
                    </label>
                </div>
                <hr />
                <br />
                <div class="form-group">
                    <label class="col-md-12  text text-bold">Alasan Penundaan</label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.DokterBelumDatang)
                            Dokter Belum Datang
                        </label>
                    </label>
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.DokterBerhalangan)
                            Dokter Berhalangan
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.DokterBelumDatang)
                            Fasilitas Tidak Ada
                        </label>
                    </label>
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.DokterBerhalangan)
                            Fasilitas Rusak
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KeluargaMenolak)
                            Keluarga Menolak / Masih Berunding
                        </label>
                    </label>
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PetugasBelumDatang)
                            Petugas Belum Datang
                        </label>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-6">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.LainLainBit)
                            Lain-Lain
                        </label>
                    </label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.LainLainText, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LainLainText, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <br />
                <div class="form-group">
                    <label class="col-md-12  text text-bold">Alasan Penundaan</label>
                </div>
                <hr />
                <br />
                <div class="form-group">
                    <label class="col-md-2  text text-bold">Alternatif yang ditawarkan</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.AlternatifYangDitawarkan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlternatifYangDitawarkan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2  text text-bold">Risiko / Manfaat tindakan alternative</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ManfaatTindakanAlternative, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ManfaatTindakanAlternative, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2  text text-bold">Risiko dan Manfaat Penundaan</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ManfaatPenundaan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ManfaatPenundaan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="form-group">
                    <label class="col-md-2  text text-bold">Yang Membuat Pertanyaan Pasien/</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PernyataanPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PernyataanPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2  text text-bold">Phiak Rumah Sakit</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PernyataanRs, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PernyataanRs, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }
</div>

<script>

    generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

</script>