﻿@using EMRRSCB.Models
@model EMRFormulirPencatatanPenerimaanBarangMilikPasienViewModel
@{
    var controllerName = "EMRFormulirPencatatanPenerimaanBarangMilikPasien";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Obat
    var d_tbl_Detail = $"frm_table_detailPencatatanBarang";
    int d_idx_Detail = 0;
    var d_trg_Detail = $"input_target_detailPencatatanBarang";
    if (Model != null)
    {

        if (Model.Detail_List != null)
        {
            d_idx_Detail = Model.Detail_List.Count();
        }
    }
    #endregion
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Detail thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Detail thead th:nth-child(1),
    #@d_tbl_Detail tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Detail thead th:nth-child(2),
    #@d_tbl_Detail tbody td:nth-child(2) {
        width: 30px;
        text-align: center;
    }

    #@d_tbl_Detail thead th:nth-child(3),
    #@d_tbl_Detail tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Detail thead th:nth-child(4),
    #@d_tbl_Detail tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_Detail thead th:nth-child(5),
    #@d_tbl_Detail tbody td:nth-child(5) {
        width: 150px;
    }

    #@d_tbl_Detail thead th:nth-child(6),
    #@d_tbl_Detail tbody td:nth-child(6) {
        width: 150px;
    }

    #@d_tbl_Detail thead th:nth-child(7),
    #@d_tbl_Detail tbody td:nth-child(7) {
        text-align: center;
        width: 142px;
    }

    #@d_tbl_Detail thead th:nth-child(8),
    #@d_tbl_Detail tbody td:nth-child(8) {
        display: none;
    }

    #@d_tbl_Detail thead th:nth-child(9),
    #@d_tbl_Detail tbody td:nth-child(9) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Detail thead th:nth-child(10),
    #@d_tbl_Detail tbody td:nth-child(10) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Detail thead th:nth-child(11),
    #@d_tbl_Detail tbody td:nth-child(11) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Detail thead th:nth-child(12),
    #@d_tbl_Detail tbody td:nth-child(12) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Detail thead th:nth-child(13),
    #@d_tbl_Detail tbody td:nth-child(13) {
        text-align: center;
        width: 180px;
    }

    #@d_tbl_Detail thead th:nth-child(14),
    #@d_tbl_Detail tbody td:nth-child(14) {
        text-align: center;
        width: 180px;
    }

     #@d_tbl_Detail thead th:nth-child(15),
    #@d_tbl_Detail tbody td:nth-child(15) {
        text-align: center;
        width: 180px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDPerawat)
        @Html.HiddenFor(model => model.TTDPasien)
        @Html.HiddenFor(model => model.TTDSatpam)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">NRM/Ruang Ranap/RJ</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div id="panel_detailcttpengobatanokvk" class="detail collapse in table-responsive"
                         data-index-detail="@d_idx_Detail">
                        <div class="table-responsive">
                            <table id="@d_tbl_Detail" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Detail')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Nama Barang </th>
                                        <th>Jumlah </th>
                                        <th>Kondisi Barang </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Detail_List != null)
                                        {
                                            for (var i = 0; i < Model.Detail_List.Count(); i++)
                                            {
                                                <tr>
                                                    <!-- Check -->
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <!-- Delete button -->
                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Remove Status -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Detail_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <!-- No -->
                                                    <td>
                                                        @Html.EditorFor(model => model.Detail_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.Detail_List[i].Model.Barang, new { @class = "form-control input-sm" })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.Detail_List[i].Model.Jumlah, new { @class = "form-control input-sm" })
                                                    </td>

                                                    @{
                                                        var m_3 = StaticModel.ListBaikBuruk;
                                                        var item_3 = Model.Detail_List[i].Model.Kondisi;
                                                        if (item_3 != null)
                                                        {
                                                            m_3.FirstOrDefault(x => x.Value == Model.Detail_List[i].Model.Kondisi).Selected = true;

                                                        }
                                                    }
                                                    <td>
                                                        @Html.DropDownListFor(model => model.Detail_List[i].Model.Kondisi,
                                                        m_3, new { @class = "form-control input-sm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Perawat
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Perawat, Model.Perawat == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.Perawat.ToString(), Text = Model.PerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Perawat, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary  btn-sm @(Model.TTDPerawat != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger  btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Satpam
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Satpam, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Satpam, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary btn-sm @(Model.Satpam != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pasien
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Pasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary btn-sm @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar3()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar3()">Ulang</a>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPerawat)" name="IMG_@nameof(Model.TTDPerawat)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDSatpam)" name="IMG_@nameof(Model.TTDSatpam)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script>
    function clickgambar1() {
        $('#IMG_TTDPerawat').click()
    }

    function clickgambar2() {
        $('#IMG_TTDSatpam').click()
    }

    function clickgambar3() {
        $('#IMG_TTDPasien').click()
    }


    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDPerawat)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPerawat').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDSatpam)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDSatpam').click()
    }

    function ulanggambar3() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPasien').click()
    }


    generalDokter("#@formName #Perawat");

     var iGambar1;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDPerawat)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDSatpam)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTDPasien)');

    @if (Model != null)
    {
        if (Model.TTDPerawat != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDPerawat)');
        }
        if (Model.TTDSatpam != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDSatpam)');
        }
        if (Model.TTDPasien != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
       
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPerawat)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDPerawat');
            iGambar2.convert_V2('TTDSatpam');
            iGambar3.convert_V2('TTDPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>

<script>
    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>



<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.Detail_List = null;
        }
    }
}
<div id="@d_trg_Detail" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Detail_List[-1].Model.Barang, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.Detail_List[-1].Model.Jumlah, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.Kondisi,
      StaticModel.ListBaikBuruk, new { @class = "form-control input-sm" })
    </div>

</div>



