﻿﻿@using EMRRSCB.Models
@model PasienViewModel
@{
    var controllerName = "Pasien";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatePasien(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PasienKTP, new { Value = true, @checked = true })

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="@nameof(Model.JenisKerjasamaID)">Tipe Pasien <span class="mandatory">*</span></label>
                                        @Html.DropDownListFor(model => model.JenisKerjasamaID, StaticModel.SelectListJenisKerjasama, new { @class = "form-control", onchange = "jeniskerjasama()" })
                                        @Html.ValidationMessageFor(model => model.JenisKerjasamaID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="formKerjasama">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="@nameof(Model.CustomerKerjasamaID)">Perusahaan</label>
                                        @Html.DropDownListFor(model => model.CustomerKerjasamaID, StaticModel.SelectListPerusahaan, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CustomerKerjasamaID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="@nameof(Model.NoKartu)">No Kartu</label>
                                        @Html.EditorFor(model => model.NoKartu, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NoKartu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="co-md-12">
                                            <label class="radio radio-inline">
                                                <input type="radio" checked name="typeNRM" value="0" onchange="autoNRM()" /> Auto NRM
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" name="typeNRM" value="1" onchange="autoNRM()" /> Manual NRM
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-body hidden" id="fmNRM">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="@nameof(Model.NRM)" class="">NRM <span class="mandatory">*</span></label>
                                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", onkeypress = "fmformatnrm(this, event)" } })
                                        @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>&nbsp;</label>
                                        <button type="button" onclick="checkmanualnrm()" class="btn btn-success btn-block">
                                            <i class="icon-check"></i> CHECK NRM
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="@nameof(Model.NamaPasien)" class="">Nama Pasien <span class="mandatory">*</span></label>
                                @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", onblur = "toUppercase_(this)" } })
                                @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NoIdentitas, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.NoIdentitas, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoIdentitas, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="@nameof(Model.JenisKelamin)">Gender</label>
                                        @Html.DropDownListFor(model => model.JenisKelamin, StaticModel.SelectListGender, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="@nameof(Model.AgamaID)">Agama</label>
                                        @Html.DropDownListFor(model => model.AgamaID, StaticModel.SelectListAgama, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AgamaID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="panel panel-body">

                        <div class="form-group">
                            <label for="@nameof(Model.Alamat)" class="">Alamat <span class="mandatory">*</span></label>
                            @Html.TextAreaFor(model => model.Alamat, htmlAttributes: new { @class = "form-control", })
                            @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                        </div>

                        <hr />

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Phone" class="control-label">Phone <span class="mandatory">*</span></label>
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <label for="@nameof(Model.Pekerjaan)">Pekerjaan</label>
                                    @Html.EditorFor(model => model.Pekerjaan, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Pekerjaan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="@nameof(Model.TempatLahir)" class="">Tempat Lahir</label>
                                    @Html.EditorFor(model => model.TempatLahir, new { htmlAttributes = new { @class = "form-control", onblur = "toUppercase_(this)" } })
                                    @Html.ValidationMessageFor(model => model.TempatLahir, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <label for="TglLahirDiketahui" class="control-label" style="padding-bottom: 4px;">
                                        Tgl Lahir Diketahui
                                    </label>
                                    @Html.EditorFor(model => model.TglLahir, new { htmlAttributes = new { @class = "form-control"} })
                                    @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<script>
    function autoNRM() {
        var nrm = $("input[name='typeNRM']:checked").val();
        if (nrm == "0") {
            $("#fmNRM").addClass("hidden");
        } else {
            $("#fmNRM").removeClass("hidden");
        }
    }

    function checkmanualnrm() {
        var url = '@Url.Action("check_manual_nrm", "Pasien")';
        myajax({
            url: url,
            data: {
                nrm: $('#@formName').find("#NRM").val(),
            },
            method: 'POST',
            dataType: 'JSON',
            success: function (data) {
                if (data.IsSuccess == true) {
                    alertpopup(data.Message, data.Status);
                }
                else
                {
                    alertpopup(data.Message, data.Status);
                }
            }
        });
    }

    jeniskerjasama();
    function jeniskerjasama() {
        var ker = $("#JenisKerjasamaID").val();
        if (ker == 1 || ker == 3) {
            $("#formKerjasama").hide();
        } else {
            $("#formKerjasama").show();
        }
    }


    function oncompletecreatePasien(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            alertpopup(result.Message, result.Status);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() === "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table || undefined !== undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();

                    if ($("#frm_Registrasi_create").length == 1) {
                        console.log(result.Data);
                        var nrm = $("#frm_Registrasi_create #NRM").val(result.Data.NRM);
                        $("#frm_Registrasi_create #NRM").trigger("blur");
                    }
                }
                else inputclear(formname);
            }
        } catch (ex) {
            alertpopup(xhr.responseText || 'Server Error', 'danger');
        }
    }
</script>