﻿﻿
@using iHos.MVC.Converter
@using EMRRSCB.Models
@{
    var controllerName = "Pasien";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new PasienViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NRM);
    column[1] = nameof(item.NamaPasien);
    column[2] = nameof(item.NoIdentitas);
    column[3] = nameof(item.JenisKelamin);
    column[4] = nameof(item.TglLahir);
    column[5] = nameof(item.Alamat);
    column[6] = nameof(item.Phone);
    column[8] = nameof(item.CustomerKerjasamaID);
    column[9] = nameof(item.PasienKTP);
    column[10] = nameof(item.Aktif);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        min-width : 80px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        min-width : 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 200px;
        max-width: 200px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){

    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 200px;
        max-width: 200px;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
    }

    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8){
    }

    #@tableId thead th:nth-child(9),
    #@tableId tbody td:nth-child(9){
    }

    #@tableId thead th:nth-child(10),
    #@tableId tbody td:nth-child(10){
    }

     #@tableId thead th:nth-child(11),
    #@tableId tbody td:nth-child(11){
    }

</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List","Pasien")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create")',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>

            @*<a class="btn btn-primary" data-toggle="modal" href='#modalstatuspasien'>
                    <i class="glyphicon glyphicon-edit"></i> Ubah Status Pasien
                </a>*@
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[1]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">No Identitas</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Tgl Lahir</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Alamat</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Phone</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Tipe Pasien</th>
                        <th ng-click="ordering($event,'@column[9]')" class="sorting">Pasien KTP</th>
                        <th ng-click="ordering($event,'@column[10]')" class="sorting">Aktif</th>

                    </tr>
                    <tr class="filter_list" style="display:none">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td><input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]" data-id="{{data.@column[0]}}">

                        <td class="middle text-center">
                            <a href="@Url.Action("Edit")?id={{ data.@column[0] }}" class="text-teal-600"
                               onclick="return false"
                               ng-click="edit_param({id : data.@column[0]}, '@Url.Action("Edit")')" title="Edit">
                                <i class="icon-pencil7"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td>
                            <label ng-if="data.@(column[3]) == 'M'" class="text-primary fa fa-mars"></label>
                            <label ng-if="data.@(column[3]) == 'F'" class="text-danger fa fa-venus"></label>
                            <label ng-if="data.@(column[3]) != 'F' && data.@(column[3]) != 'M'" class="text-warning genderless"></label>
                            &nbsp;
                            {{data.@(column[0])}}
                        </td>
                        <td title="{{data.@(column[1])}}">
                            <a class="text-teal-600"
                               ng-if="data.@(column[12])"
                               ng-click="detail_param({id : data.@column[0]}, '@Url.Action("PasienBermasalah")')" title="DetailStatus">
                                {{data.@(column[12])}}
                            </a>
                            {{data.@(column[1])}}
                        </td>
                        <td>{{data.@(column[2])}}</td>
                        <td>{{data.@(column[4])_View}}</td>
                        <td title="{{data.@(column[5])}}">{{data.@(column[5])}}</td>
                        <td>{{data.@(column[6])}}</td>
                        <td>{{data.@(column[7])}}</td>
                        <td>
                            <label ng-if="data.@(column[9])" class="label label-info">Ya</label>
                            <label ng-if="!data.@(column[9])" class="label label-danger">Tidak</label>
                        </td>
                        <td>
                            <label ng-if="data.@(column[10])" class="label label-info">Ya</label>
                            <label ng-if="!data.@(column[10])" class="label label-danger">Tidak</label>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>