﻿@using EMRRSCB.Models
@model EMRPermintaanPelayananKerohanianViewModel
@{
    var controllerName = "EMRPermintaanPelayananKerohanian";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }

    };
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

  @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {

        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"

    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {

        @Html.AntiForgeryToken();
        @Html.HiddenFor(model => model.NoBukti);
        @Html.HiddenFor(model => model.TTDPasien);
        @Html.HiddenFor(model => model.TTDPerawat);
        @Html.HiddenFor(model => model.TTDPetugas);


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-body">
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">Permintaan Pelayanaan Kerohanian</label>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama Pasen</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NamaPasien, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Tempat Tanggal Lahir</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.TglLahir, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">No Rm</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NRM, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Agama</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Agama, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Agama, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Permintaan Tanggal</label>
                <div class="col-md-9">

                    @Html.EditorFor(model => model.PermintaanTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.PermintaanTanggal != null ? (Model.PermintaanTanggal.Value.ToString("yyyy-MM-dd")) : "") } })

                    @Html.ValidationMessageFor(model => model.PermintaanTanggal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Permintaan Jam</label>
                <div class="col-md-9">

                    @Html.EditorFor(model => model.PermintaanJam, new { htmlAttributes = new { @class = "form-control", Value = (Model.PermintaanJam != null ? (Model.PermintaanJam.Value.ToString("HH:mm")) : "") } })

                    @Html.ValidationMessageFor(model => model.PermintaanJam, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-3">Konfirmasi Petugas Kerhoanian</label>

            </div>
            <div class="form-group">
                <label class="col-md-3">Nama Petugas Kerhoanian</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NamaPetugasKerohanian, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamaPetugasKerohanian, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Tanggal Kedatangan</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PermintaanTanggalKerohanian, new { htmlAttributes = new { @class = "form-control", Value = (Model.PermintaanTanggal != null ? (Model.PermintaanTanggal.Value.ToString("yyyy-MM-dd")) : "") } })

                    @Html.ValidationMessageFor(model => model.PermintaanTanggalKerohanian, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jam Kedatangan</label>
                <div class="col-md-9">

                    @Html.EditorFor(model => model.PermintaanJamKerohanian, new { htmlAttributes = new { @class = "form-control", Value = (Model.PermintaanJamKerohanian != null ? (Model.PermintaanJamKerohanian.Value.ToString("HH:mm")) : "") } })

                    @Html.ValidationMessageFor(model => model.PermintaanJamKerohanian, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">No Telepon / Hp</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NoTelpKerohanian, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoTelpKerohanian, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jembrana</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.TglSurat, new { htmlAttributes = new { @class = "form-control", Value = (Model.PermintaanTanggal != null ? (Model.PermintaanTanggal.Value.ToString("yyyy-MM-dd")) : "") } })

                    @Html.ValidationMessageFor(model => model.TglSurat, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />
            <br />
            <div class="form-group">
                <label class="col-md-2">
                    Tanda Tangan Perawat
                </label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TTDPerawatNama, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TTDPerawatNama, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary @(Model.TTDPerawat != null ? "btn-flash" : "")" onclick="clickGambarPerawat()">Tanda Tangan</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger" onclick="ulanggambarPerawat()">Ulang</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Tanda Tangan Peugas Kerohanian
                </label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TTTDPetugasKerohanianNama, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TTTDPetugasKerohanianNama, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary @(Model.TTDPetugas != null ? "btn-flash" : "")" onclick="clickGambarPetugas()">Tanda Tangan</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger" onclick="ulanggambarPetugas()">Ulang</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Tanda Tangan Pasien/Keluarga
                </label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TTDPasienNama, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TTDPasienNama, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickGambarPasien()">Tanda Tangan</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger" onclick="ulanggambarPasien()">Ulang</a>
                </div>
            </div>
        </div>
        <div class="panel panel-body">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                <div class="col-md-12" style="position:inherit">
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-12 text-center">
                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPerawat)" name="IMG_@nameof(Model.TTDPerawat)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />

                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPetugas)" name="IMG_@nameof(Model.TTDPetugas)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                            <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    }
</div>
<script>

    function clickGambarPerawat() {
        $('#IMG_TTDPerawat').click()

    }
    function clickGambarPetugas() {
        $('#IMG_TTDPetugas').click()


    }
    function clickGambarPasien() {
        $('#IMG_TTDPasien').click()

    }

       function ulanggambarPerawat() {
        $('#IMG_@nameof(Model.TTDPerawat)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPerawat').click()
    }
    function ulanggambarPetugas() {
        $('#IMG_@nameof(Model.TTDPetugas)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPetugas').click()
    }

    function ulanggambarPasien() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPasien').click()
    }

    var iGambarPerawat;
    var iGambarPetugas;
    var iGambarPasien;

    var ximg_GambarPerawat = $('#IMG_@nameof(Model.TTDPerawat)');
    var ximg_GambarPasien = $('#IMG_@nameof(Model.TTDPasien)');

    var ximg_GambarPetugas = $('#IMG_@nameof(Model.TTDPetugas)');


    @if(Model != null)
    {

        if (Model.TTDPasien != null)
        {
            @:ximg_GambarPasien.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
        if (Model.TTDPetugas != null)
        {
        @:ximg_GambarPetugas.attr('src', 'data:image/jpeg;base64,@(Model.TTDPetugas)');
        }
         if (Model.TTDPerawat != null)
        {
        @:ximg_GambarPerawat.attr('src', 'data:image/jpeg;base64,@(Model.TTDPerawat)');
        }

    }

    $(document).ready(() => {
        iGambarPerawat = new iPainter_V2(ximg_GambarPerawat);
        iGambarPetugas = new iPainter_V2(ximg_GambarPetugas);
        iGambarPasien = new iPainter_V2(ximg_GambarPasien);



        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    })

        function SubmitForm(e) {
        try {
            iGambarPerawat.convert_V2('TTDPerawat');
            iGambarPetugas.convert_V2('TTDPetugas');
            iGambarPasien.convert_V2('TTDPasien');

            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }
</script>