﻿@using EMRRSCB.Models
@model EMRPenolakanResusitasiViewModel
@{
    var controllerName = "EMRPenolakanResusitasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDPetugas)
        @Html.HiddenFor(model => model.TTDSaksi)
        @Html.HiddenFor(model => model.TTDPasien)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Pelaksana Tindakan
                    </label>
                    <div class="col-md-10">
                       
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Yang bertanda tangan dibawah ini</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tahun
                            </label>
                            @Html.EditorFor(model => model.UmurTahun1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UmurTahun1, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                Bulan
                            </label>
                            @Html.EditorFor(model => model.UmurBulan1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UmurBulan1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.JenisKelamin1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-2">
                        @Html.TextAreaFor(model => model.Alamat1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Alamat1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Setelah kami mendapat penjelasan dari pihak Rumah sakit tentang kondisi dan kelangsungan  hidup pasien, kami menyatakan MENOLAK untuk dilakukan tindakan Resusitasi bilang pasien dengan identitas dibawah ini mengalami henti jantung(dimana tidak ada denyut nadi) atau henti nafas(tidak ada pernapasa spontan)</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nama2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Umur</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Tahun
                            </label>
                            @Html.EditorFor(model => model.UmurTahun2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UmurTahun2, "", new { @class = "text-danger" })
                            <label class="input-group-addon">
                                Bulan
                            </label>
                            @Html.EditorFor(model => model.UmurBulan2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UmurBulan2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.JenisKelamin2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Alamat</label>
                    <div class="col-md-2">
                        @Html.TextAreaFor(model => model.Alamat2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Alamat2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Saya memahami sepenuhnya manfaat tindakan resusitasi sebagaimana telah dijelaskan kepada saya, termasuk resiko dan komplikasi yang mungkin timbul apabila tindakan tersebut tidak dilakukan kepada pasien</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Saya bertanggung jawab secara penuh atas segala akibat yang mungkin timbul sebagai akibat tidak dilakukan  tindakan tersebut</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Yang Menyatakan
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Petugas, Model.Petugas == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas.ToString(), Text = Model.PetugasNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Petugas, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDPetugas != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Saksi 1
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Saksi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saksi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDSaksi != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar2()"><i class="icon-eraser"></i>Ulang</a>
                    </div>
                </div>
                <div class="form-group hide">
                    <label class="col-md-2 control-label">
                       Yang Menyatakan
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Pasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar3()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar3()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPetugas)" name="IMG_@nameof(Model.TTDPetugas)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDSaksi)" name="IMG_@nameof(Model.TTDSaksi)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>

    function clickgambar1() {
        $('#IMG_TTDPetugas').click()
    }

    function clickgambar2() {
        $('#IMG_TTDSaksi').click()
    }

    function clickgambar3() {
        $('#IMG_TTDPasien').click()
    }


    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDPetugas)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPetugas').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDSaksi)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDSaksi').click()
    }

    function ulanggambar3() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDPasien').click()
    }

    generalDokter("#@formName #Petugas");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDPetugas)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDSaksi)');
    var ximg_Gambar3 = $('#IMG_@nameof(Model.TTDPasien)');

    @if (Model != null)
    {
        if (Model.TTDPetugas != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDPetugas)');
        }
        if (Model.TTDSaksi != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDSaksi)');
        }
        if (Model.TTDPasien != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);
        iGambar3 = new iPainter_V2(ximg_Gambar3);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPetugas)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDPetugas');
            iGambar2.convert_V2('TTDSaksi');
            iGambar3.convert_V2('TTDPasien');

            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


