﻿<div class="panel panel-default">
    <div class="panel-body">
        <form autocomplete="off" enctype="multipart/form-data" onsubmit="simpanuploadfoto()">
            <div class="form-group">
                <label for="FotoPasien" style="font-weight:bold">Kaki Kiri</label>
                <input type="file" id="KakiKiri" name="FotoPasien" accept="image/*" onchange="readURL(this,'FotoPasien_ShowKiri')" * /><br />
                <label for="FotoPasien" style="font-weight:bold">Kaki Kanan</label>
                <input type="file" id="KakiKanan" name="FotoPasien" accept="image/*" onchange="readURL(this,'FotoPasien_ShowKanan')" * /><br />
                @if (ViewBag.KakiKiri == null)
                {
                    <img id="FotoPasien_ShowKiri" src="" width="250" height="250" />
                }
                else
                {
                    <img id="FotoPasien_ShowKiri" src="data:image/jpeg;base64,@ViewBag.KakiKiri" width="250" height="250" />
                }

                @if (ViewBag.KakiKanan == null)
                { 
                    <img id="FotoPasien_ShowKanan" src="" width="250" height="250" />
                }
                else { 
                    <img id="FotoPasien_ShowKanan" src="data:image/jpeg;base64,@ViewBag.KakiKanan" width="250" height="250" />
                }
             </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </form>
    </div>
</div>

<script>
    function simpanuploadfoto() {
        var model = new FormData();
        model.append('nobutki', '@ViewBag.NoBukti');
        model.append('fileKakiKiri', $('#KakiKiri')[0].files[0]);
        model.append('fileKakiKanan', $('#KakiKanan')[0].files[0]);
        $.ajax({
            url: '@Url.Action("Create")',
            type: 'POST',
            data: model,
            contentType: false,
            processData: false,
            success: function (r) {
                var json = JSON.parse(r);
                if (!json.IsSuccess) {
                    alertpopup('Gagal', 'info');
                } else {
                    alertpopup(json.Message, 'success');
                    $('.modal').modal('hide');
                }
            }
        });

    }

    function readURL(input, img) {

        if (input != null || input != "") {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#' + img + '').attr('src', etarget.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    }
</script>
