﻿@using EMRRSCB.Models
@model EMRSuratPernyataanTelahMenerimaPelayananKerohanianViewModel
@{
    var controllerName = "EMRSuratPernyataanTelahMenerimaPelayananKerohanian";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }

    };
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoBukti);
        @Html.HiddenFor(model => model.TTDNamaPernyataan);

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <h3 class="col-md-12  text text-bold text-center text-uppercase">Surat Pernyataan Telah Menerima Pelayanan Kerohanian</h3>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Saya yang bertanda dibawah ini :</label>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label col-md-3">Tanggal:</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Nama :</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3">Alamat :</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Tempat/TglLahir/Umur:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TempatTglLahirUmur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TempatTglLahirUmur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Agama/Suku:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Agama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Agama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">No Identitas KTP/SIM:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.KTPSIM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KTPSIM, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Hubungan dengan pasien :</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.HubunganDenganPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HubunganDenganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            Dengan Ini Saya menyatakan bahwa pasien atas nama @Html.DisplayFor(model => model.NamaParagraf)
                            telah mendapatkan pelayanan kerohanian sesuai agama yang dianut
                        </p>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label class="col-md-12">
                        Yang membuat pernyataan
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NamaPernyataan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NamaPernyataan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDNamaPernyataan != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDNamaPernyataan)" name="IMG_@nameof(Model.TTDNamaPernyataan)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>


    }
</div>

<script>

      generalDokter("#@formName #Dokter");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function clickgambar1() {
        $('#IMG_TTDNamaPernyataan').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDNamaPernyataan)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDNamaPernyataan').click()
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDNamaPernyataan)');

    @if (Model != null)
    {
        if (Model.TTDNamaPernyataan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDNamaPernyataan)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDNamaPernyataan)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDNamaPernyataan');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>

