﻿
@using EMRRSCB.Models
@model HasilBacaPenunjangViewModel
@{
    var controllerName = "HasilPenunjang";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    var target = new
    {
        t0 = $"#{nameof(Model.NRM)}",
        t1 = $"#{nameof(Model.NamaPasien)}",
        t3 = $"#{nameof(Model.Alamat)}",
        t4 = $"#{nameof(Model.JenisKelamin)}"
    };
    var modalid = $"modal_{formName}_{nameof(Model.NoReg)}";
    var modalName = "Pasien";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
    new SelectListItem(){ Text = "Create", Value = "active" }
    };
}


<script type="text/javascript" src="~/Theme/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
@*<script type="text/javascript" src="~/Theme/js/pages/uploader_bootstrap.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/styling/uniform.min.js"></script>*@
@*<script type="text/javascript" src="~/Scripts/mahas/mahas-extension.js"></script>*@

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="wall" ng-controller="form">
    <form id="@formName" autocomplete="off" enctype="multipart/form-data" onsubmit="SimpanHasilOrder(this)">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Pemeriksaan)
        @Html.HiddenFor(model => model.NoBill)
        @Html.HiddenFor(model => model.NoBuktiPermintaan)
        @Html.HiddenFor(model => model.NoReg)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <style>
                /* #kvFileinputModal {
                    z-index: 999999999 !important;
                }*/

                /*.select2-dropdown {
                    z-index: 9999999999 !important;
                }*/

                .file-footer-buttons button {
                    padding: .625rem;
                    background-color: transparent;
                    border: 0;
                    line-height: 1;
                    cursor: pointer;
                    opacity: .6;
                    outline: 0;
                    transition: opacity ease-in-out .15s;
                }
            </style>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-3">NoBukti</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button id="btnautoid" class="btn btn-success" onclick="autoid(this, '@Url.Action("AutoId")', '#NoBukti')">
                                            <i class="icon-sync"></i>
                                        </button>
                                    </span>
                                    @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Tanggal</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Jam</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.ToString("HH':'mm")) : "") } })
                                @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 hide">

                        <div class="form-group">
                            <label class="control-label col-md-3">No Sample</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.SampleID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SampleID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Pemeriksa</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.PemeriksaanNama, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.PemeriksaanNama, "", new { @class = "text-danger" })
                                @*@Html.DropDownListFor(model => model.Pemeriksaan, Model.Pemeriksaan == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                        { new SelectListItem() { Value = Model.Pemeriksaan.ToString(), Text = Model.PemeriksaanNama.ToString() } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Pemeriksaan, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Penunjang</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.Id_mJenisPenunjang, Model.Id_mJenisPenunjang == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                    { new SelectListItem() { Value = Model.Id_mJenisPenunjang.ToString(), Text = Model.Id_mJenisPenunjang_Text.ToString() } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Id_mJenisPenunjang, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-3">NRM</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    @*<span class="input-group-btn">
                                            <button id="btnmerchan" onclick="openmodalRegistrasi()"
                                                    class="btn btn-success input-lookup" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>*@
                                    @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "border-radius: 0 3px 3px 0;" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @readonly = "readonly", @class = "text-center form-control" } })
                                @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Nama Pasien</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Alamat</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">
                            Klinis :
                        </label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.DiagnosaIndikasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaIndikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            Catatan Pemeriksaan/ Memo :
                        </label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PemeriksaanTambahan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanTambahan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group mt-20">
                <label class="col-lg-1 control-label">Upload File:</label>
                <div class="col-lg-11">
                    @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", @class = "file-input", @accept = "application/pdf" })
                    @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                    <span class="help-block">Jenis file yang bisa di upload hanya file <code>pdf</code> saja.</span>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_1, new { htmlAttributes = new { onchange = "Buka_Hasil_1(this)" } })
                    Hasil 1
                </label>
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_2, new { htmlAttributes = new { onchange = "Buka_Hasil_2(this)" } })
                    Hasil 2
                </label>
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_3, new { htmlAttributes = new { onchange = "Buka_Hasil_3(this)" } })
                    Hasil 3
                </label>
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_4, new { htmlAttributes = new { onchange = "Buka_Hasil_4(this)" } })
                    Hasil 4
                </label>
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_5, new { htmlAttributes = new { onchange = "Buka_Hasil_5(this)" } })
                    Hasil 5
                </label>
            </div>

            @*<div class="form-group">
                    <label class="control-label col-md-2">Template Baru</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBoxFor(model => model.TemplateBaru, new { onchange = "templatebaruonchange(this)" })
                            </span>
                            @Html.EditorFor(model => model.TemplateBaru_Nama, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.TemplateBaru_Nama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <label class="control-label col-md-1">Template</label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.Template, Model.Template == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                      { new SelectListItem() { Value = Model.Template.ToString(), Text = Model.Template_Name.ToString() } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Template, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-warning" onclick="loadtemplateonclick()">Load Template</button>
                    </div>
                </div>*@

            <div class="form-group mt-10 hidden" id="d_hasil_1">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 1</h6>
                        </div>
                        <div class="panel-body" style="padding: 0 20px 20px 20px;">
                            @Html.TextAreaFor(model => model.HasilBaca, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HasilBaca, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden" id="d_hasil_2">
                @*<div class="form-group">
                        <label class="control-label col-md-2">Template Baru</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(model => model.TemplateBaru_2, new { onchange = "templatebaruonchange_2(this)" })
                                </span>
                                @Html.EditorFor(model => model.TemplateBaru_Nama_2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.TemplateBaru_Nama_2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="control-label col-md-1">Template</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Template_2, Model.Template_2 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                          { new SelectListItem() { Value = Model.Template_2.ToString(), Text = Model.Template_Name_2.ToString() } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Template_2, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-warning" onclick="loadtemplateonclick_2()">Load Template</button>
                        </div>
                    </div>*@

                <div class="form-group mt-10">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 2</h6>
                            </div>
                            <div class="panel-body" style="padding: 0 20px 20px 20px;">
                                @Html.TextAreaFor(model => model.HasilBaca_2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HasilBaca_2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden" id="d_hasil_3">
                @*<div class="form-group">
                        <label class="control-label col-md-2">Template Baru</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(model => model.TemplateBaru_3, new { onchange = "templatebaruonchange_3(this)" })
                                </span>
                                @Html.EditorFor(model => model.TemplateBaru_Nama_3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.TemplateBaru_Nama_3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="control-label col-md-1">Template</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Template_3, Model.Template_3 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                          { new SelectListItem() { Value = Model.Template_3.ToString(), Text = Model.Template_Name_3.ToString() } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Template_3, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-warning" onclick="loadtemplateonclick_3()">Load Template</button>
                        </div>
                    </div>*@

                <div class="form-group mt-10">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 3</h6>
                            </div>
                            <div class="panel-body" style="padding: 0 20px 20px 20px;">
                                @Html.TextAreaFor(model => model.HasilBaca_3, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HasilBaca_3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="d_hasil_4" class="hidden">
                @*<div class="form-group">
                        <label class="control-label col-md-2">Template Baru</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(model => model.TemplateBaru_4, new { onchange = "templatebaruonchange_4(this)" })
                                </span>
                                @Html.EditorFor(model => model.TemplateBaru_Nama_4, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.TemplateBaru_Nama_4, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="control-label col-md-1">Template</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Template_4, Model.Template_4 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                          { new SelectListItem() { Value = Model.Template_4.ToString(), Text = Model.Template_Name_4.ToString() } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Template_4, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-warning" onclick="loadtemplateonclick_4()">Load Template</button>
                        </div>
                    </div>*@

                <div class="form-group mt-10">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 4</h6>
                            </div>
                            <div class="panel-body" style="padding: 0 20px 20px 20px;">
                                @Html.TextAreaFor(model => model.HasilBaca_4, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HasilBaca_4, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="d_hasil_5" class="hidden">
                @*<div class="form-group">
                        <label class="control-label col-md-2">Template Baru</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.CheckBoxFor(model => model.TemplateBaru_5, new { onchange = "templatebaruonchange_5(this)" })
                                </span>
                                @Html.EditorFor(model => model.TemplateBaru_Nama_5, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.TemplateBaru_Nama_5, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="control-label col-md-1">Template</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Template_5, Model.Template_5 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                          { new SelectListItem() { Value = Model.Template_5.ToString(), Text = Model.Template_Name_5.ToString() } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Template_5, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-warning" onclick="loadtemplateonclick_5()">Load Template</button>
                        </div>
                    </div>*@

                <div class="form-group mt-10">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 5</h6>
                            </div>
                            <div class="panel-body" style="padding: 0 20px 20px 20px;">
                                @Html.TextAreaFor(model => model.HasilBaca_5, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HasilBaca_5, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="text-right">
               
                    <button type="submit" class="btn btn-primary" id="btn_simpan"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                    <button type="submit" id="submitForm" class="btn hidden btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </form>
</div>


@*@Html.Partial("_LookUpPasien", Model, new ViewDataDictionary {
    { "target", target },
    { "modalid", modalid },
    { "targetForm", targetForm },
    { "modalName", modalName },
    { "headerisajax", ViewBag.IsAjaxRequest}
    })*@

<script>

     function loadtemplateonclick() {
        myajax({
            url: '@Url.Action("LoadTemplate")',
            data: { id: $('#@formName #Template option:selected').val() },
            success: function (dt) {
                if (dt.IsSuccess) {
                    CKEDITOR.instances.HasilBaca.setData(dt.Data.Template);
                    $('#@formName #Hasil_1').prop('checked',dt.Data.Hasil_1);
                    //Buka_Hasil_1($('#@formName #Hasil_1')[0]);
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

     function loadtemplateonclick_2() {
        myajax({
            url: '@Url.Action("LoadTemplate")',
            data: { id: $('#@formName #Template_2 option:selected').val() },
            success: function (dt) {
                if (dt.IsSuccess) {
                    CKEDITOR.instances.HasilBaca_2.setData(dt.Data.Template);
                    //$('#@formName #Hasil_2').prop('checked',dt.Data.Hasil_2);
                    //Buka_Hasil_2($('#@formName #Hasil_2')[0]);
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

     function loadtemplateonclick_3() {
        myajax({
            url: '@Url.Action("LoadTemplate")',
            data: { id: $('#@formName #Template_3 option:selected').val() },
            success: function (dt) {
                if (dt.IsSuccess) {
                    CKEDITOR.instances.HasilBaca_3.setData(dt.Data.Template);
                    //$('#@formName #Hasil_3').prop('checked',dt.Data.Hasil_3);
                    //Buka_Hasil_3($('#@formName #Hasil_3')[0]);
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

     function loadtemplateonclick_4() {
        myajax({
            url: '@Url.Action("LoadTemplate")',
            data: { id: $('#@formName #Template_4 option:selected').val() },
            success: function (dt) {
                if (dt.IsSuccess) {
                    CKEDITOR.instances.HasilBaca_4.setData(dt.Data.Template);
                    //$('#@formName #Hasil_4').prop('checked',dt.Data.Hasil_4);
                    //Buka_Hasil_4($('#@formName #Hasil_4')[0]);
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

     function loadtemplateonclick_5() {
        myajax({
            url: '@Url.Action("LoadTemplate")',
            data: { id: $('#@formName #Template_5 option:selected').val() },
            success: function (dt) {
                if (dt.IsSuccess) {
                    CKEDITOR.instances.HasilBaca_5.setData(dt.Data.Template);
                    //$('#@formName #Hasil_5').prop('checked', dt.Data.Hasil);
                    //Buka_Hasil_5($('#@formName #Hasil_5')[0]);
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

     function templatebaruonchange(t){
        if (t.checked) {
            $('#@formName #TemplateBaru_Nama').removeAttr('disabled');
        } else {
            $('#@formName #TemplateBaru_Nama').attr('disabled', 'disabled');
            $('#@formName #TemplateBaru_Nama').val('');
        }
    }

    function templatebaruonchange_2(t){
        if (t.checked) {
            $('#@formName #TemplateBaru_Nama_2').removeAttr('disabled');
        } else {
            $('#@formName #TemplateBaru_Nama_2').attr('disabled', 'disabled');
            $('#@formName #TemplateBaru_Nama_2').val('');
        }
    }

    function templatebaruonchange_3(t){
        if (t.checked) {
            $('#@formName #TemplateBaru_Nama_3').removeAttr('disabled');
        } else {
            $('#@formName #TemplateBaru_Nama_3').attr('disabled', 'disabled');
            $('#@formName #TemplateBaru_Nama_3').val('');
        }
    }

    function templatebaruonchange_4(t){
        if (t.checked) {
            $('#@formName #TemplateBaru_Nama_4').removeAttr('disabled');
        } else {
            $('#@formName #TemplateBaru_Nama_4').attr('disabled', 'disabled');
            $('#@formName #TemplateBaru_Nama_4').val('');
        }
    }

    function templatebaruonchange_5(t){
        if (t.checked) {
            $('#@formName #TemplateBaru_Nama_5').removeAttr('disabled');
        } else {
            $('#@formName #TemplateBaru_Nama_5').attr('disabled', 'disabled');
            $('#@formName #TemplateBaru_Nama_5').val('');
        }
    }

    function Buka_Hasil_1(t){
        if (t.checked) {
            $('#@formName #d_hasil_1').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_1').addClass('hidden');
            CKEDITOR.instances.HasilBaca.setData('');
        }
    }

     function Buka_Hasil_2(t){
        if (t.checked) {
            $('#@formName #d_hasil_2').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_2').addClass('hidden');
           CKEDITOR.instances.HasilBaca_2.setData('');
        }
    }

     function Buka_Hasil_3(t){
        if (t.checked) {
            $('#@formName #d_hasil_3').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_3').addClass('hidden');
            CKEDITOR.instances.HasilBaca_3.setData('');
        }
    }

     function Buka_Hasil_4(t){
        if (t.checked) {
            $('#@formName #d_hasil_4').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_4').addClass('hidden');
            CKEDITOR.instances.HasilBaca_4.setData('');
        }
    }

     function Buka_Hasil_5(t){
        if (t.checked) {
            $('#@formName #d_hasil_5').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_5').addClass('hidden');
            CKEDITOR.instances.HasilBaca_5.setData('');
        }
    }

    var tem = $('#Template');
    var tem2 = $('#Template_2');
    var tem3 = $('#Template_3');
    var tem4 = $('#Template_4');
    var tem5 = $('#Template_5');

    tem.select2({
            ajax: {
                url: "@Url.Action("ListTemplate", "HasilPenunjang")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Judul',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
    tem2.select2({
            ajax: {
                url: "@Url.Action("ListTemplate", "HasilPenunjang")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Judul',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
    tem3.select2({
            ajax: {
                url: "@Url.Action("ListTemplate", "HasilPenunjang")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Judul',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
    tem4.select2({
            ajax: {
                url: "@Url.Action("ListTemplate", "HasilPenunjang")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Judul',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
    tem5.select2({
            ajax: {
                url: "@Url.Action("ListTemplate", "HasilPenunjang")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Judul',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>

<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
    });
    </text>
    }
    else
    {
        @:$('#btnautoid').click();
    }

    function openmodalRegistrasi() {
        $("#@modalid").modal();
    }

    var modalTemplate = '<div class="modal-dialog modal-lg" role="document">\n' +
        '  <div class="modal-content">\n' +
        '    <div class="modal-header align-items-center">\n' +
        '      <h6 class="modal-title">{heading} <small><span class="kv-zoom-title"></span></small></h6>\n' +
        '      <div class="kv-zoom-actions btn-group">{toggleheader}{fullscreen}{borderless}{close}</div>\n' +
        '    </div>\n' +
        '    <div class="modal-body">\n' +
        '      <div class="floating-buttons btn-group"></div>\n' +
        '      <div class="kv-zoom-body file-zoom-content"></div>\n' + '{prev} {next}\n' +
        '    </div>\n' +
        '  </div>\n' +
        '</div>\n';

    var previewZoomButtonClasses = {
        toggleheader: 'btn btn-light btn-icon btn-header-toggle btn-sm',
        fullscreen: 'btn btn-light btn-icon btn-sm',
        borderless: 'btn btn-light btn-icon btn-sm',
        close: 'btn btn-light btn-icon btn-sm'
    };

    // Icons inside zoom modal classes
    var previewZoomButtonIcons = {
        prev: '<i class="icon-arrow-left32"></i>',
        next: '<i class="icon-arrow-right32"></i>',
        toggleheader: '<i class="icon-menu-open"></i>',
        fullscreen: '<i class="icon-screen-full"></i>',
        borderless: '<i class="icon-alignment-unalign"></i>',
        close: '<i class="icon-cross2 font-size-base"></i>'
    };

    var fileActionSettings = {
        zoomClass: '',
        zoomIcon: '<i class="icon-zoomin3"></i>',
        dragClass: 'p-2',
        dragIcon: '<i class="icon-three-bars"></i>',
        removeClass: '',
        removeErrorClass: 'text-danger',
        removeIcon: '<i class="icon-bin"></i>',
        indicatorNew: '<i class="icon-file-plus text-success"></i>',
        indicatorSuccess: '<i class="icon-checkmark3 file-icon-large text-success"></i>',
        indicatorError: '<i class="icon-cross2 text-danger"></i>',
        indicatorLoading: '<i class="icon-spinner2 spinner text-muted"></i>'
    };

    $('#files').fileinput({
        showUpload: false,
        browseLabel: 'Browse',
        browseIcon: '<i class="icon-file-plus mr-2"></i>',
        uploadIcon: '<i class="icon-file-upload2 mr-2"></i>',
        removeIcon: '<i class="icon-cross2 font-size-base mr-2"></i>',
        layoutTemplates: {
            icon: '<i class="icon-file-check"></i>',
            modal: modalTemplate
        },
        initialCaption: "No file selected",
        previewZoomButtonClasses: previewZoomButtonClasses,
        previewZoomButtonIcons: previewZoomButtonIcons,
        fileActionSettings: fileActionSettings
    });

    $('#kvFileinputModal').on('hidden.bs.modal', function () {
        $('body').addClass('modal-open');
        $('#kvFileinputModal').css('z-index', '0');
    });

    $(document).on('show.bs.modal', '#kvFileinputModal', function (e) {
        //console.log('works');
        $('#kvFileinputModal').css('z-index','99999999999');
    });

    CKEDITOR.replace('HasilBaca');
    CKEDITOR.replace('HasilBaca_2');
    CKEDITOR.replace('HasilBaca_3');
    CKEDITOR.replace('HasilBaca_4');
    CKEDITOR.replace('HasilBaca_5');

    //var jneis_penunjang = $('#@formName #Id_mJenisPenunjang');
    var pemeriksaan = $('#@formName #Pemeriksaan');

    @*jneis_penunjang.select2({
            ajax: {
                url: "@Url.Action("ListJenisPenunjang", "HasilPenunjang")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'SectionID',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.SectionID, text: value.SectionName } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });*@

    function SimpanHasilOrder(t) {
        //console.log(t);
        var noreg = $('#NRM').val();
        var jenis = $('#Id_mJenisPenunjang').val();
        var perik = $('#Pemeriksaan').val();

        if (noreg == "") {
            alertpopup("Data Pasien harus diisi.", "info");
            return;
        }
        //else if (jenis == null) {
        //    alertpopup("Data Jenis Penunjang harus diisi.", "info");
        //    return;
        //} else if (perik == null) {
        //    alertpopup("Data Pemeriksa harus diisi.", "info");
        //    return;
        //}
        $(t)[0]['HasilBaca'].value = CKEDITOR.instances['HasilBaca'].getData().replace(/<p>/g, '').replace(/<br\s*[\/]?>/gi, '/n').replace(/<\/p>/g, '').replace(/&nbsp/g, ' ');
        $(t)[0]['HasilBaca_2'].value = CKEDITOR.instances['HasilBaca_2'].getData().replace(/<p>/g, '').replace(/<br\s*[\/]?>/gi, '/n').replace(/<\/p>/g, '').replace(/&nbsp/g, ' ');
        $(t)[0]['HasilBaca_3'].value = CKEDITOR.instances['HasilBaca_3'].getData().replace(/<p>/g, '').replace(/<br\s*[\/]?>/gi, '/n').replace(/<\/p>/g, '').replace(/&nbsp/g, ' ');
        $(t)[0]['HasilBaca_4'].value = CKEDITOR.instances['HasilBaca_4'].getData().replace(/<p>/g, '').replace(/<br\s*[\/]?>/gi, '/n').replace(/<\/p>/g, '').replace(/&nbsp/g, ' ');
        $(t)[0]['HasilBaca_5'].value = CKEDITOR.instances['HasilBaca_5'].getData().replace(/<p>/g, '').replace(/<br\s*[\/]?>/gi, '/n').replace(/<\/p>/g, '').replace(/&nbsp/g, ' ');
        var model = new FormData($(t)[0]);
        //jQuery.each(jQuery('#files')[0].files, function (i, file) {
        //    model.append('files', file);
        //});
        $.ajax({
            url: '@Url.Action("Create", controllerName)',
            type: 'POST',
            data: model,
            contentType: false,
            processData: false,
            success: function (r) {
                var json = JSON.parse(r);
                if (!json.IsSuccess) {
                    alertpopup('Gagal', 'info');
                    $('#refresh_d_inputhasil').click();
                } else {
                    alertpopup('Data berhasil disimpan', 'success');
                    $('.modal').modal('hide');
                    $('#refresh_d_inputhasil').click();
                }
            }
        });


    }

</script>
