﻿
@using EMRRSCB.Models
@using System.Configuration;
@model HasilBacaPenunjangViewModel
@{
    var controllerName = "HasilPenunjang";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_detail";
    var targetForm = formName;

    var target = new
    {
        t0 = $"#{nameof(Model.NoReg)}",
        t1 = $"#{nameof(Model.NRM)}",
        t2 = $"#{nameof(Model.JenisKelamin)}",
        t3 = $"#{nameof(Model.NamaPasien)}",
        t4 = $"#{nameof(Model.Alamat)}"
    };
    var modalid = $"modal_{formName}_{nameof(Model.NoReg)}";
    var modalName = "Registrasi Pasien";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
    new SelectListItem(){ Text = "Create", Value = "active" }
    };
}


<script type="text/javascript" src="~/Theme/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="~/Theme/js/pages/uploader_bootstrap.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div class="wall" ng-controller="form">
    @using (Html.BeginForm("Create", "HasilPenunjang", FormMethod.Post, new { id = formName, enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Pemeriksaan)
        @Html.HiddenFor(model => model.NoBill)
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NoBuktiPermintaan)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*<style>
                    #kvFileinputModal {
                        z-index: 999999999999999999999999999999999999 !important;
                    }
                </style>*@
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-3">NoBukti</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Tanggal</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Jam</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.ToString("HH':'mm")) : "") } })
                                @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 hide">

                        <div class="form-group">
                            <label class="control-label col-md-3">No Sample</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.SampleID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SampleID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Pemeriksa</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.PemeriksaanNama, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Id_mJenisPenunjang_Text, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Penunjang</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Id_mJenisPenunjang_Text, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Id_mJenisPenunjang_Text, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-3">NRM</label>
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "border-radius: 0 3px 3px 0;" } })
                                @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @readonly = "readonly", @class = "text-center form-control" } })
                                @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Nama Pasien</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Alamat</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12">
                            Klinis :
                        </label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.DiagnosaIndikasi, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.DiagnosaIndikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            Catatan Pemeriksaan/ Memo :
                        </label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PemeriksaanTambahan, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanTambahan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <style>
                .modal {
                    overflow: scroll !important;
                }
            </style>

            <div class="form-group mt-20">
                <label class="control-label col-md-2">Upload file</label>

                <div class="col-md-10">
                    @if (Model != null)
                    {
                        if (Model.FileUpload != null)
                        {
                            for (var i = 0; i < Model.FileUpload.Count(); i++)
                            {
                                string PathHost = ConfigurationManager.AppSettings["AppUrlName"];
                                var full_file_name = Model.FileUpload[i].Model.FileName;
                                var nomor = i + 1;

                                <div class="col-lg-2 text-center">
                                    <a data-toggle="modal" data-target="#modal-show-pdf-@nomor">
                                        <div class="img-thumbnail text-center p-20">
                                            <i class="icon-file-pdf" style="font-size:50px;"></i>
                                            <br />
                                            <br />
                                            <span>
                                                @full_file_name
                                                @*File Ke-@nomor*@
                                            </span>
                                        </div>
                                    </a>
                                </div>

                                <div class="modal fade" id="modal-show-pdf-@nomor" tabindex="-1" role="dialog" aria-labelledby="modal-show-pdf-@nomor" aria-hidden="true">
                                    <div class="modal-dialog modal-full" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Open File @full_file_name</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <embed id="get-file-content_@nomor" src="~/FileManager/@Model.NRM/@Model.Id_mJenisPenunjang_Text/@full_file_name" type="application/pdf" width="100%" height="600px" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info" onclick="cetakdata_order(@nomor)">Cetak</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    }
                    @if (Model.FileUpload.Count() == 0)
                    {
                        @:Tidak ada file yang di upload.
                    }
                </div>
            </div>


            <div class="form-group">
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_1, new { htmlAttributes = new { onchange = "Buka_Hasil_1_@formName (this)" } })
                    Hasil 1
                </label>
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_2, new { htmlAttributes = new { onchange = "Buka_Hasil_2_@formName (this)" } })
                    Hasil 2
                </label>
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_3, new { htmlAttributes = new { onchange = "Buka_Hasil_3_@formName (this)" } })
                    Hasil 3
                </label>
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_4, new { htmlAttributes = new { onchange = "Buka_Hasil_4_@formName (this)" } })
                    Hasil 4
                </label>
                <label class="control-label checkbox checkbox-inline col-md-1">
                    @Html.EditorFor(model => model.Hasil_5, new { htmlAttributes = new { onchange = "Buka_Hasil_5_@formName (this)" } })
                    Hasil 5
                </label>
            </div>

            <div class="form-group mt-10 hidden" id="d_hasil_1">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 1</h6>
                        </div>
                        <div class="panel-body" style="padding: 0 20px 20px 20px;">
                            @Html.TextAreaFor(model => model.HasilBaca, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HasilBaca, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-10 hidden" id="d_hasil_2">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 2</h6>
                        </div>
                        <div class="panel-body" style="padding: 0 20px 20px 20px;">
                            @Html.TextAreaFor(model => model.HasilBaca_2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HasilBaca_2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-10 hidden" id="d_hasil_3">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 3</h6>
                        </div>
                        <div class="panel-body" style="padding: 0 20px 20px 20px;">
                            @Html.TextAreaFor(model => model.HasilBaca_3, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HasilBaca_3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-10 hidden" id="d_hasil_4">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 4</h6>
                        </div>
                        <div class="panel-body" style="padding: 0 20px 20px 20px;">
                            @Html.TextAreaFor(model => model.HasilBaca_4, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HasilBaca_4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-10 hidden" id="d_hasil_5">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h6 style="margin:0;" class="text-semibold"><i class="icon-pencil7 position-left"></i> Input Hasil Baca 5</h6>
                        </div>
                        <div class="panel-body" style="padding: 0 20px 20px 20px;">
                            @Html.TextAreaFor(model => model.HasilBaca_5, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HasilBaca_5, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="text-right">
                    <button type="submit" id="submitForm" class="btn hidden btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    <button type="button" onclick="SubmitForm(this)" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>*@
        </div>
    }

</div>

<script>


    function openmodalRegistrasi() {
        $("#@modalid").modal();
    }

    $('#kvFileinputModal').on('hidden.bs.modal', function () {
        $('body').addClass('modal-open');
        $('#kvFileinputModal').css('z-index', '0');
    });

    $(document).on('show.bs.modal', '#kvFileinputModal', function (e) {
        //console.log('works');
        $('#kvFileinputModal').css('z-index', '99999999999');
    });

    CKEDITOR.replace('HasilBaca');
    CKEDITOR.replace('HasilBaca_2');
    CKEDITOR.replace('HasilBaca_3');
    CKEDITOR.replace('HasilBaca_4');
    CKEDITOR.replace('HasilBaca_5');



    $(document).ready(function () {
        Buka_Hasil_1_@formName ($('#@formName #Hasil_1')[0]);
        Buka_Hasil_2_@formName ($('#@formName #Hasil_2')[0]);
        Buka_Hasil_3_@formName ($('#@formName #Hasil_3')[0]);
        Buka_Hasil_4_@formName ($('#@formName #Hasil_4')[0]);
        Buka_Hasil_5_@formName ($('#@formName #Hasil_5')[0]);
        @*CKEDITOR.instances.HasilBaca_1.setData('@Model.HasilBaca');
        CKEDITOR.instances.HasilBaca_2.setData('@Model.HasilBaca_2');
        CKEDITOR.instances.HasilBaca_3.setData('@Model.HasilBaca_3');
        CKEDITOR.instances.HasilBaca_4.setData('@Model.HasilBaca_4');
        CKEDITOR.instances.HasilBaca_5.setData('@Model.HasilBaca_5');*@
    });

    function Buka_Hasil_1_@formName (t) {
        if (t.checked) {
            $('#@formName #d_hasil_1').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_1').addClass('hidden');
        }
    }

     function Buka_Hasil_2_@formName (t){
        if (t.checked) {
            $('#@formName #d_hasil_2').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_2').addClass('hidden');
        }
    }

     function Buka_Hasil_3_@formName (t){
        if (t.checked) {
            $('#@formName #d_hasil_3').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_3').addClass('hidden');
        }
    }

     function Buka_Hasil_4_@formName (t){
        if (t.checked) {
            $('#@formName #d_hasil_4').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_4').addClass('hidden');
        }
    }

     function Buka_Hasil_5_@formName (t){
        if (t.checked) {
            $('#@formName #d_hasil_5').removeClass('hidden');
        } else {
            $('#@formName #d_hasil_5').addClass('hidden');
        }
    }

    var jneis_penunjang = $('#@formName #Id_mJenisPenunjang');

    jneis_penunjang.select2({
            ajax: {
                url: "@Url.Action("ListJenisPenunjang", "HasilPenunjang")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Id',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Id, text: value.JenisPenunjang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    function SubmitForm(e) {
        var noreg = $('#NoReg').val();
        var jenis = $('#Id_mJenisPenunjang').val();

        if (noreg == "") {
            alertpopup("Data Pasien harus diisi.", "info");
        } else if (jenis == null) {
            alertpopup("Data Jenis Penunjang harus diisi.", "info");
        } else {
            $('#submitForm').click();
        }
    }

    function cetakdata_order(t) {
        var dd = document.getElementById('get-file-content_'+ t);
        console.log(dd);
        var url = '';
        //var img = document.getElementById('get-file-content');
        url = dd.src;
        console.log(url);
        window.open(url).print();
    }


</script>
