﻿@using iHos.MVC.Converter
@using EMRRSCB.Models
@{

    var controllerName = "HasilPenunjang";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new HasilBacaPenunjangViewModel();
    var columnCount = 36;
    var column = new string[columnCount];
    column[1] = nameof(item.NoBukti);
    column[2] = nameof(item.HasilBaca);
    column[3] = nameof(item.Id_mJenisPenunjang);
    column[4] = nameof(item.Tanggal);
    column[5] = nameof(item.Tanggal_View);
    column[6] = nameof(item.Jam);
    column[7] = nameof(item.Jam_View);
    column[8] = nameof(item.NoReg);
    column[9] = nameof(item.NRM);
    column[10] = nameof(item.SectionID);
    column[11] = nameof(item.NamaPasien);
    column[12] = nameof(item.Alamat);
    column[13] = nameof(item.NoIdentitas);
    column[14] = nameof(item.TglLahir);
    column[15] = nameof(item.UmurThn);
    column[16] = nameof(item.UmurBln);
    column[17] = nameof(item.Pekerjaan);
    column[18] = nameof(item.JenisKelamin);
    column[19] = nameof(item.Id_mJenisPenunjang_Text);
    column[20] = nameof(item.Pemeriksaan);
    column[21] = nameof(item.PemeriksaanNama);
    column[22] = nameof(item.SampleID);
    column[23] = nameof(item.UserIDWeb);
    column[24] = nameof(item.TemplateBaru);
    column[25] = nameof(item.TemplateBaru_Nama);
    column[26] = nameof(item.Template_Name);
    column[27] = nameof(item.Template);
    column[28] = nameof(item.NoBill);
    column[29] = nameof(item.NoBuktiHasil);
    column[30] = nameof(item.NoBuktiPermintaan);
    column[31] = nameof(item.Hasil);
    column[32] = nameof(item.Tipe);
    column[33] = nameof(item.NoOrder);
    column[34] = nameof(item.DiagnosaIndikasi);
    column[35] = nameof(item.LokasiFilePDF);


    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };

}

<style>
    @*#@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 150px;
        text-align: center;
    }
    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        width:100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 120px;
        text-align: center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        width: 100px;
        text-align:center;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        width: 130px;
    }
    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        width: 150px;
    }*@

</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List", "HasilPenunjang")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            @*<a href="@Url.Action("Create","HasilPenunjang")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Create","HasilPenunjang")',
                                    header: 'Tambah',
                                    target_auto_refresh : '@tableId',
                               })"
                   class="btn btn-success btn-sm" onclick="event.preventDefault()">
                    Tambah
                    <i class="icon-plus2 position-right"></i>
                </a>*@
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a id="refresh_d_inputhasil" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[34]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[35]" ng-change="getdatas()" />
                    </div>
                    @*<div class="form-group">
                            <label>
                                <input type="checkbox" ng-model="filter[14]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                                All Periode
                            </label>
                        </div>*@
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[28]'; sorttype = 'desc';">
                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[28]')" class="sorting">No Bukti</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[8]')" class="sorting">NoReg</th>
                        <th ng-click="ordering($event,'@column[9]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[11]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[12]')" class="sorting">Alamat</th>
                        <th ng-click="ordering($event,'@column[32]')" class="sorting">Tipe</th>
                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[28]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            <input ng-model="filter[8]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[9]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[11]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            @*<select class="form-control input-xs" ng-model="filter[32]" ng-change="getdatas()">
                                    <option value="">ALL</option>
                                    <option value="RADIOLOGI">RADIOLOGI</option>
                                    <option value="USG">USG</option>
                                    <option value="CT-SCAN">CT-SCAN</option>
                                </select>*@
                        </td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="7">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        class="trdata"
                        data-infohasil="{{data.@column[31]}}"
                        data-infonomemo="{{data.@column[33]}}"
                        data-infoid="{{data.@column[28]}}"
                        data-infonobukti="{{data.@column[29]}}">

                        <td @*ng-if="data.@(column[23]) == '5e81f00b-e49d-4bd2-aca0-aee3415fb55d'"*@ class="middle text-center" style="width:150px">
                            <a href="@Url.Action("Create", "HasilPenunjang")/{{data.@column[28]}}" class=""
                               onclick="return false"
                               ng-click="edit_param({nrm : data.@column[9], nobill : data.@column[28], noreg: data.@column[8], noorder : data.@column[33], klinis : data.@column[34]}, '@Url.Action("Create", "HasilPenunjang")')" title="Tambah"
                               ng-if="data.@(column[31]) == 'Belum'">
                                <i class="icon icon-plus2" style="color:green"></i>
                            </a>

                            <a href="@Url.Action("Edit", "HasilPenunjang")/{{ data.@column[28] }}" ng-if="data.@(column[31]) == 'Sudah'"
                               onclick="return false"
                               ng-click="detail(data.@column[29], '@Url.Action("Edit", "HasilPenunjang")')" title="Info" class="">
                                <i class="icon-pencil" style="color:green"></i>
                            </a>

                            <a href="@Url.Action("Detail", "HasilPenunjang")/{{ data.@column[28] }}" ng-if="data.@(column[31]) == 'Sudah'"
                               onclick="return false"
                               ng-click="detail(data.@column[29], '@Url.Action("Detail", "HasilPenunjang")')" title="Info" class="">
                                <i class="icon-eye"></i>
                            </a>
                            <a href="@Url.Action("Delete", "HasilPenunjang")/{{ data.@column[28] }}" ng-if="data.@(column[31]) == 'Sudah'"
                               onclick="return false"
                               ng-click="delete(data.@column[29], '@Url.Action("Delete", "HasilPenunjang")')" title="Delete" class="">
                                <i class="icon-trash text-danger"></i>
                            </a>
                            <a ng-if="data.@(column[31]) == 'Sudah'" onclick="printhasilrad(this)" data-target-lokasi="{{data.@(column[35])}}" class="" title="print"><i class="icon-file-picture"></i></a>
                            <a ng-if="data.@(column[31]) == 'Sudah'" href="@Url.Action("ExportPDF", "HistoryRadiologi")?nobukti={{ data.@column[29] }}" target="_blank"
                               title="Report Ketik"
                               class="text-success">
                                <i class="icon-file-text2"></i>
                            </a>
                        </td>


                        <!-- Table Result -->
                        <td style="vertical-align:middle; background-color:bisque" ng-if="data.@(column[31]) == 'Belum'">
                            {{data.@column[28]}}
                        </td>
                        <td style="vertical-align:middle;" ng-if="data.@(column[31]) == 'Sudah'">
                            {{data.@column[28]}}
                        </td>
                        <td title="{{data.@(column[4])}}">{{data.@(column[4])_View}}</td>
                        <td title="{{data.@(column[8])}}">{{data.@(column[8])}}</td>
                        <td title="{{data.@(column[9])}}">{{data.@(column[9])}}</td>
                        <td title="{{data.@(column[11])}}">{{data.@(column[11])}}</td>
                        <td title="{{data.@(column[12])}}">{{data.@(column[12])}}</td>
                        <td title="{{data.@(column[32])}}" class="text-center">{{data.@(column[32])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<!--  Modal Delete  -->
<div id="modal_del_@controllerName" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:red">
                @*<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>*@
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <h4 class="modal-title">Anda yakin ingin menghapus data ?</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="del_file_inputpenunjang()">Ya</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>

<script>

     angular.element(document).ready(function () {
         var fromdate = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
         var todate = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
         var sc = angular.element('#@tableId').scope();
         sc.filter[34] = fromdate;
         sc.filter[35] = todate;
         //sc.filter[15] = "0";
        sc.getdatas();
     });

    function showHistoryDetail_@tableId (tthis) {
        var jtr = $(tthis).closest('.trdata');
        var id = jtr.data('infoid');
        $('#modal_detailform_history').modal();
        var url = '@Url.Action("ExportPDF_Penunjang", "OrderPenunjang")' + "?id=" + id;
        window.open(url);
        }


    var nobukti_id;
    function openmodal_delete_inputpeunjang(t) {
        var jtr = $(t).closest('.trdata');
        nobukti_id = jtr.data('infonobukti');
        $('#modal_del_@controllerName').modal();
    }

    function del_file_inputpenunjang() {
         var url = '@Html.Raw(Url.Action("Delete", controllerName, new
                      {
                        id = "@NoBukti"
                      }))';
        url = url.replace("%40NoBukti", nobukti_id);
                window.location = url;
    }

    @*@if (!String.IsNullOrEmpty(ViewBag.AlertStatus))
    {
        var alert = ViewBag.AlertStatus;
        @:alertpopup("@alert.mssg", "@alert.name");
    }*@

    function printhasilrad(tthis) {
        var path = $(tthis).data("target-lokasi");
        let text = path;
        //let result = text.substring(30).replace(/ /g, "");
        //let result = text.substring(20).replace(/ /g,"");
        let result = text.substring(20);
        $('#modalprintrad').modal();
        $('#embedmodalprintrad').attr('src', result);
    }

</script>



