﻿@using EMRRSCB.Models
@model EMRHasilPembacaanElektrokardiografiViewModel
@{
    var controllerName = "EMRHasilPembacaanElektrokardiografi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDDokterPemeriksa)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-12">1. IDENTITAS PASIEN</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaSaya, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NamaSaya, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tgl Lahir</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No RM</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">2. HASIL PEMBACAAN</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Irama</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Irama, StaticModel.ListEKGIrama, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Irama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Frekuensi</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.Frekuensi, StaticModel.ListEKGFrekuensi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Frekuensi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Frekuensi_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Frekuensi_Ket, "", new { @class = "text-danger" })
                            <label class="input-group-addon">x/menit</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Gelombang</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.Gelombang, StaticModel.ListEKGGelombang, new { @class = "form-control", onchange = "gelombang()" })
                        @Html.ValidationMessageFor(model => model.Gelombang, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Gelombang_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Gelombang_Ket, "", new { @class = "text-danger" })
                            <label class="input-group-addon">mm</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Interval PR</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.IntervalPR, StaticModel.ListEKGInterval, new { @class = "form-control", onchange = "interval()" })
                        @Html.ValidationMessageFor(model => model.IntervalPR, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            @Html.EditorFor(model => model.IntervalPR_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IntervalPR_Ket, "", new { @class = "text-danger" })
                            <label class="input-group-addon">detik</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kompleks ORS</label>
                    <label class="col-md-1 control-label">Axis</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Axis, StaticModel.ListEKGAxis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Axis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-2 control-label">Durasi</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Durasi, StaticModel.ListEKGInterval, new { @class = "form-control", onchange = "durasi()" })
                        @Html.ValidationMessageFor(model => model.Durasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Durasi_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Durasi_Ket, "", new { @class = "text-danger" })
                            <label class="input-group-addon">detik</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-2 control-label">Amplitudo</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Amplitudo, StaticModel.ListEKGAmplitudo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Amplitudo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-2 control-label">Morfologi</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Morfologi, StaticModel.ListEKGMorfologi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Morfologi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <label class="input-group-addon">Lainnya</label>
                            @Html.EditorFor(model => model.MorfologiLainnya, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MorfologiLainnya, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Segmen</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.SegmenST, StaticModel.ListEKGSegmen, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SegmenST, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Segmen_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Segmen_Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Gelombang T</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.GelombangT, StaticModel.ListEKGGelombangT, new { @class = "form-control", onchange = "gelombangt()" })
                        @Html.ValidationMessageFor(model => model.GelombangT, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.GelombangT_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GelombangT_Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Interval QT</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.IntervalQT, StaticModel.ListEKGInterval, new { @class = "form-control", onchange = "intervalqt()" })
                        @Html.ValidationMessageFor(model => model.IntervalQT, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.IntervalQT_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IntervalQT_Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Gelembung U</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.GelembungU, StaticModel.ListPositifNegatif, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GelembungU, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="col-md-5">
                        @Html.EditorFor(model => model.GelembungUKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GelembungUKet, "", new { @class = "text-danger" })
                    </div>*@
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        DokterPemeriksa
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DokterPemeriksa, Model.DokterPemeriksa == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterPemeriksa.ToString(), Text = Model.DokterPemeriksaNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterPemeriksa, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-primary btn-sm @(Model.TTDDokterPemeriksa != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDDokterPemeriksa)" name="IMG_@nameof(Model.TTDDokterPemeriksa)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>
    generalDokter("#@formName #DokterPemeriksa");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function clickgambar1() {
        $('#IMG_TTDDokterPemeriksa').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDDokterPemeriksa)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTDDokterPemeriksa').click()
    }

    var iGambar1;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDDokterPemeriksa)');

    @if (Model != null)
    {
        if (Model.TTDDokterPemeriksa != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDDokterPemeriksa)');
        }
    }

     $(document).ready(function () {
        iGambar1 = new iPainter_V2(ximg_Gambar1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDDokterPemeriksa)');
        iGambar1 = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDDokterPemeriksa');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function gelombang() {
        if ($("#Gelombang option:selected").val() == 'Normal') {
            $('#@formName #Gelombang_Ket').val('< 3');
        } else  {
            $('#@formName #Gelombang_Ket').val('');
        }
    }

    function interval() {
        var interval = $('#@formName #IntervalPR').val();
        if (interval == 'Normal') {
            $('#@formName #IntervalPR_Ket').val('0,12 - 0,20');
        } else {
            $('#@formName #IntervalPR_Ket').val('');
        }
    }

    function durasi() {
        var durasi = $('#@formName #Durasi').val();
        if (durasi == 'Normal') {
            $('#@formName #Durasi_Ket').val('0,08 - 0,10');
        } else {
            $('#@formName #Durasi_Ket').val('');
        }
    }

    function gelombangt() {
        var gelombangt = $('#@formName #GelombangT').val();
        if (gelombangt == 'Normal') {
            $('#@formName #GelombangT_Ket').val('<5 mm lead extremitas. <10 mm lead prekordial');
        } else {
            $('#@formName #GelombangT_Ket').val('');
        }
    }

    function intervalqt() {
        var intervalqt = $('#@formName #IntervalQT').val();
        if (intervalqt == 'Normal') {
            $('#@formName #IntervalQT_Ket').val('0,40-0,44');
        } else {
            $('#@formName #IntervalQT_Ket').val('');
        }
    }
</script>


