﻿@using EMRRSCB.Models
@model EMRFormPencatatanStatusFisiologisViewModel
@{
    var controllerName = "EMRFormPencatatanStatusFisiologis";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region ==== Rencana Sedasi
    var d_tbl_Fisiologis = $"frm_table_detailFisiologis";
    int d_idx_Fisiologis = 0;
    var d_trg_Fisiologis = $"input_target_detailFisiologis";
    if (Model != null)
    {

        if (Model.StatutsFisio_List != null)
        {
            d_idx_Fisiologis = Model.StatutsFisio_List.Count();
        }
    }
    #endregion

}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
    .checkbox-custom {
        margin-left: 8px !important;
        margin-top: 1px !important;
    }

    #@d_tbl_Fisiologis thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_Fisiologis thead th:nth-child(1),
    #@d_tbl_Fisiologis tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_Fisiologis thead th:nth-child(2),
    #@d_tbl_Fisiologis tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #@d_tbl_Fisiologis thead th:nth-child(3),
    #@d_tbl_Fisiologis tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_Fisiologis thead th:nth-child(4),
    #@d_tbl_Fisiologis tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_Fisiologis thead th:nth-child(5),
    #@d_tbl_Fisiologis tbody td:nth-child(5) {
        width: 170px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(6),
    #@d_tbl_Fisiologis tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(7),
    #@d_tbl_Fisiologis tbody td:nth-child(7) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(8),
    #@d_tbl_Fisiologis tbody td:nth-child(8) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(9),
    #@d_tbl_Fisiologis tbody td:nth-child(9) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(10),
    #@d_tbl_Fisiologis tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(11),
    #@d_tbl_Fisiologis tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(12),
    #@d_tbl_Fisiologis tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(13),
    #@d_tbl_Fisiologis tbody td:nth-child(13) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_Fisiologis thead th:nth-child(14),
    #@d_tbl_Fisiologis tbody td:nth-child(14) {
        text-align: center;
        width: 100px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.VerifikasiDokterOperator)
        @Html.HiddenFor(model => model.VerifikasiPerawat)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Tanggal :
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-md-1">
                        Jam :
                    </label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                        @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Diagnosa Pre OP
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiagnosaPreOp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiagnosaPreOp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Jenis Tindakan
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JenisTindakan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JenisTindakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Diagnosa Post Op
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiagnosaPostOp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiagnosaPostOp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Tekanan Darah Nadi Sebelum Anestesi
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TekananDarahNadiSebelum, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TekananDarahNadiSebelum, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-4 control-label">
                        Tekanan Darah dan selama pembedahan diukur setiap 10 menit
                    </label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.TekananDarahNadiSelama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TekananDarahNadiSelama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div id="panel_detailrencanasedasi" class="detail collapse in"
                         data-index-detail="@d_idx_Fisiologis">
                        <div class="table-responsive">
                            <table id="@d_tbl_Fisiologis" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" onclick="checkall(this)" />
                                        </th>
                                        <th class="text-center" rowspan="2">
                                            <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Fisiologis')">
                                                <i class="icon-plus2"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th>No</th>
                                        <th>Jam</th>
                                        <th>TensiSystole</th>
                                        <th>TensiDiastole</th>
                                        <th>Nadi</th>
                                        <th>Respirasi</th>
                                        <th>SoO2</th>
                                        <th>CatatanObat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.StatutsFisio_List != null)
                                        {
                                            for (var i = 0; i < Model.StatutsFisio_List.Count(); i++)
                                            {
                                                <tr>

                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>

                                                    <td>
                                                        <a class="text-danger-600"
                                                           onclick="removetr(this)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.StatutsFisio_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.StatutsFisio_List[i].Model.No, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = "readonly"
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.StatutsFisio_List[i].Model.Jam, new
                                                   {
                                                       htmlAttributes = new
                                                       {
                                                           @class = "form-control input-sm",
                                                           Value = (Model != null ? (Model.StatutsFisio_List[i].Model.Jam != null ? Model.StatutsFisio_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                       }
                                                   })
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.StatutsFisio_List[i].Model.TensiSystole, new { htmlAttributes = new { @class = "form-control input-sm", @list = "stystoletensiget" } })
                                                        <datalist id="stystoletensiget">
                                                            @Html.DropDownListFor(model => model.StatutsFisio_List[-1].Model.TensiSystoleDatalist, StaticModel.List_TD_VitalSign, new { @class = "form-control input-sm" })
                                                        </datalist>
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.StatutsFisio_List[i].Model.TensiDiastole, new { htmlAttributes = new { @class = "form-control input-sm", @list = "stystoletensiget" } })
                                                        <datalist id="stystoletensiget">
                                                            @Html.DropDownListFor(model => model.StatutsFisio_List[-1].Model.TensiDiastoleDatalist, StaticModel.List_TD_VitalSign, new { @class = "form-control input-sm" })
                                                        </datalist>
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.StatutsFisio_List[i].Model.Nadi, new { htmlAttributes = new { @class = "form-control input-sm", @list = "stystoletensiget" } })
                                                        <datalist id="stystoletensiget">
                                                            @Html.DropDownListFor(model => model.StatutsFisio_List[-1].Model.NadiDatalist, StaticModel.List_TD_VitalSign, new { @class = "form-control input-sm" })
                                                        </datalist>
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(model => model.StatutsFisio_List[i].Model.Respirasi, new { htmlAttributes = new { @class = "form-control input-sm", @list = "stystoletensiget" } })
                                                        <datalist id="stystoletensiget">
                                                            @Html.DropDownListFor(model => model.StatutsFisio_List[-1].Model.RespirasiDatalist, StaticModel.List_TD_VitalSign, new { @class = "form-control input-sm" })
                                                        </datalist>
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.StatutsFisio_List[i].Model.SoO2, new
                                                       {

                                                               @class = "form-control input-sm",
                                                       })
                                                    </td>

                                                    <td>
                                                        @Html.TextAreaFor(model => model.StatutsFisio_List[i].Model.CatatanObat, new
                                                       {

                                                               @class = "form-control input-sm",
                                                       })
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">
                        Catatan
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Catatan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter Operator @if (Model.VerifikasiDokterOperator)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DokterOperator, Model.DokterOperator == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterOperator.ToString(), Text = Model.DokterOperatorNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterOperator, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.DokterOperator)','@nameof(Model.VerifikasiDokterOperator)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Perawat @if (Model.VerifikasiPerawat)
                        {<i class="icon-checkmark-circle text-blue"></i>}
                    </label>
                    <div class="col-md-8 ">
                        @Html.DropDownListFor(model => model.Perawat, Model.Perawat == null ? new List<SelectListItem>() :
               new List<SelectListItem>() { new SelectListItem() { Value = Model.Perawat.ToString(), Text = Model.PerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Perawat, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="btn btn-success" onclick="verifikasi('@nameof(Model.Perawat)','@nameof(Model.VerifikasiPerawat)')">Verifikasi <i class="icon-checkmark position-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }


    generalDokter("#@formName #DokterOperator");
    generalDokter("#@formName #Perawat");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>

<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model != null)
        {
            Model.StatutsFisio_List = null;
        }
    }
}
<div id="@d_trg_Fisiologis" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.StatutsFisio_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.StatutsFisio_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_details(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.StatutsFisio_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.StatutsFisio_List[-1].Model.TensiSystole, new { htmlAttributes = new { @class = "form-control input-sm ", @list = "tensisistolepost" } })

        <datalist id="tensisistolepost">
            @Html.DropDownListFor(model => model.StatutsFisio_List[-1].Model.TensiSystoleDatalist,
     StaticModel.List_TD_VitalSign, new { @class = "form-control input-sm" })
        </datalist>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.StatutsFisio_List[-1].Model.TensiDiastole, new { htmlAttributes = new { @class = "form-control input-sm ", @list = "tensidiastolepost" } })

        <datalist id="tensidiastolepost">
            @Html.DropDownListFor(model => model.StatutsFisio_List[-1].Model.TensiDiastoleDatalist,
     StaticModel.List_TD_VitalSign, new { @class = "form-control input-sm" })
        </datalist>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.StatutsFisio_List[-1].Model.Nadi, new { htmlAttributes = new { @class = "form-control input-sm ", @list = "nadipost" } })

        <datalist id="nadipost">
            @Html.DropDownListFor(model => model.StatutsFisio_List[-1].Model.NadiDatalist,
     StaticModel.List_TD_VitalSign, new { @class = "form-control input-sm" })
        </datalist>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.StatutsFisio_List[-1].Model.Respirasi, new { htmlAttributes = new { @class = "form-control input-sm ", @list = "respirasipost" } })

        <datalist id="respirasipost">
            @Html.DropDownListFor(model => model.StatutsFisio_List[-1].Model.RespirasiDatalist,
     StaticModel.List_TD_VitalSign, new { @class = "form-control input-sm" })
        </datalist>
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.StatutsFisio_List[-1].Model.SoO2, new
       {

               @class = "form-control input-sm"
       })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.StatutsFisio_List[-1].Model.CatatanObat, new
       {

               @class = "form-control input-sm"
       })
    </div>
</div>