﻿@using EMRRSCB.Models
@model EMRCeklistPencegahanRisikoJatuhRendahViewModel
@{
    var controllerName = "EMRCeklistPencegahanRisikoJatuhRendah";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    .customtext {
        height: 850px;
    }

    #tablecustom tbody td:nth-child(1),
    #tablecustom thead th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    #tablecustom thead th:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(2) {
        width: 200px;
        text-align: left;
    }

    #tablecustom tbody td:nth-child(3),
    #tablecustom thead th:nth-child(3) {
        width: 200px;
        text-align: center;
    }

    #tablecustom tbody td:nth-child(4),
    #tablecustom thead th:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.NoBukti)
        @Html.HiddenFor(model => model.TTDPasien)
        @Html.HiddenFor(model => model.TTDPerawat)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Diagnosa</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Diagnosa, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">

                <div class="form-group">
                    <label class="col-md-10 text-bold">
                        LANGKAH LANGKAH PENCEGAHAN RESIKO JATUH
                    </label>
                    <label class="col-md-2 text-bold">
                        DILAKUKAN ATAU TIDAK
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">1. Anjurkan pasien untuk memakai alas kaki anti slip</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.No1, StaticModel.List_DilakukanTidakDilakukan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.No1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">2. Pastikan bahwa jalur ke kamar kecil bebas dari hambatan dan terang</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.No2, StaticModel.List_DilakukanTidakDilakukan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.No2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">3. Pastikan lorong bebas hambatan</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.No3, StaticModel.List_DilakukanTidakDilakukan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.No3, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">4. Pastikan lingkungan aman</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.No4, StaticModel.List_DilakukanTidakDilakukan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.No4, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">5. Edukasi pasien dan keluarga</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.No5, StaticModel.List_DilakukanTidakDilakukan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.No5, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">6. Mengamati lingkungan untuk kondisi berpotensi tidak aman, dan segera laporkan untuk perbaikan</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.No6, StaticModel.List_DilakukanTidakDilakukan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.No6, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">7. Informasikan dan medidik pasien dan atau anggota keluarga mengenai perawatan untuk mencegah jatuh</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.No7, StaticModel.List_DilakukanTidakDilakukan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.No7, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-10 control-label">8. Berkolaborasi dengan pasien dan keluarga untuk membutuhkan bantuan yang di butuhkan pasien</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.No8, StaticModel.List_DilakukanTidakDilakukan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.No8, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Perawat
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Perawat, Model.Perawat == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.Perawat.ToString(), Text = Model.PerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Perawat, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDPerawat != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pasien / Keluarga
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Pasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar2()">Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPerawat)" name="IMG_@nameof(Model.TTDPerawat)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_@nameof(Model.TTDPasien)" name="IMG_@nameof(Model.TTDPasien)" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>

    function clickgambar1() {
        $('#IMG_TTDPerawat').click()
    }

    function clickgambar2() {
        $('#IMG_TTDPasien').click()
    }

    function ulanggambar1() {
        $('#IMG_@nameof(Model.TTDPerawat)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD_Menyatakan').click()
    }

    function ulanggambar2() {
        $('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_TTD_Saksi1').click()
    }


    generalDokter("#@formName #Perawat");


    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    var iGambar1;
    var iGambar2;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.TTDPerawat)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDPasien)');

    @if (Model != null)
    {
        if (Model.TTDPerawat != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTDPerawat)');
        }
        if (Model.TTDPasien != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDPasien)');
        }
    }

    $(document).ready(function () {

        iGambar1 = new iPainter_V2(ximg_Gambar1);
        iGambar2 = new iPainter_V2(ximg_Gambar2);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTDPerawat)');
        iGambar = new iPainter_V2(imges);
    }



    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('TTDPerawat');
            iGambar2.convert_V2('TTDPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>


